[2018-05-18 13:34] sschneider1207 commented on #3425
We very briefly tested with the NLog adapter and didn't see any problem, but we have been side tracked by some other projects lately so we haven't had too much time to look into it.

[2018-05-18 13:58] AndreSteenbergen commented on #3327
Actually, linux ACC/ PRD and Windows DEV, windows looks all fine.

[2018-05-18 16:14] paulvanbladel opened #3456 "IS there a simple example using asp.net core with Dependency injection and actors with constructor dependencies?"
IS there a simple example using asp.net core with standard asp.net core Dependency injection and actors with constructor dependencies?

[2018-05-18 18:28] Danthar commented on #3456
No there is not. Asp.net core DI is not supported atm.

[2018-05-19 08:17] chrisjhoare commented on #3404
If you don't need remote deployment of serialized f# actors you can use the regular ActorSystem.Create to get around this.

[2018-05-21 10:57] baburajc commented on #2610
I'm also getting an Akka.Configuration.ConfigurationException while creating an actor system with Akka.Actor.ActorSystem.Create() method call.
I did some investigation and found that, by default timeout value of logger-startup-timeout  is 5 seconds and we can increase the timeout value by adding following section in app.config.
[code]

I added the same in my app.config, now we are getting the same

[2018-05-22 14:09] paulvanbladel commented on #3456
@Danthar  I'm confused, there seems to be a nuget package akk.net.DI.core.
Maybe Core is meant here like "common" for the other DI containers like autofac?

Any idea about timeframe for support for .net core?
![image](https://user-images.githubusercontent.com/4886272/40367602-213f609a-5dda-11e8-9a92-08c0d5ee1500.png)

[2018-05-22 19:31] nathvi opened #3457 "Suggested ExactlyOnceReceiveActor Class"
I know it's been stated many times that, in general, you don't want to implement exactly once messaging semantics for actors, as it incurs extra state that has to be managed. I agree, but I think there should be some out of the box solution to situations where you really DO need this functionality. I'm working on something, not sure if it makes sense. This code is not finished btw.

[code]

[2018-05-22 19:57] Aaronontheweb commented on #3457
@nathvi IMHO, we'd be open to any ideas here - so I assume that what you're working on is the _receiver_ side of the exactly once issue?

[2018-05-22 20:14] nathvi commented on #3457
@Aaronontheweb , Yes. This receiver would have to be paired with one of the  at least once delivery actors to get this functionality.

[2018-05-22 20:31] nathvi commented on #3457
As a user, I would prefer going with option 3 (wrapping existing messages in an envelope with a message ID).

[2018-05-22 20:33] Aaronontheweb commented on #3455
I think the bug here is just in Cluster.Sharding itself, so I'll see if we can recreate this locally.

[2018-05-22 20:43] Aaronontheweb commented on #3457
@nathvi yeah, I think that'd be the approach I would choose too - I'd have users explicitly opt-in to wrapping their user-defined messages inside that envelope today if they want to use `AtLeastOnceDelivery` actors with this actor base type you're building.

[2018-05-22 21:05] nathvi commented on #3457
I'm assuming that I would want to derive my ExactlyOnceRecieverActor from ReceivePersistentActor?

[2018-05-22 21:13] Aaronontheweb commented on #3457
Nah, they're kind of different tools - you don't need Akka.Persistence for this, right? Since it's all in-memory? Or do you want to persist the prior IDs you've observed? If that's the case, then this should be in Akka.Persistence somewhere.

[2018-05-22 21:18] nathvi commented on #3457
Now that I think about it, in order to give the semantics of "exactly once" you would really need to make the receiver persist, just like the AtLeastOnceDeliveryReceiveActor persists and handles faults in the actor system / CLR.

[2018-05-22 21:34] Aaronontheweb opened #3459 "SynchronizationLockException in user-defined mailboxes"
Akka.NET Version: Unknown

Found an issue reported by an end-user on StackOverflow: https://stackoverflow.com/questions/50292073/synchronizationlockexception-in-akka-net-mailboxes

They're using a custom mailbox

[code]

Configured with the following HOCON:

[code]

And initialized with the following code:

[code]

Which throws the following exception:

[code]

Need to determine why this is being

[2018-05-22 21:42] Aaronontheweb commented on #3267
Same issue reported by @object in Gitter today. Reproduction sample: https://github.com/pmbanka/akkling-lifecycle-repro

I'm on the case.

[2018-05-22 21:43] Aaronontheweb commented on #3267
Only occurs when the following setting is active:

[code]
[code]

[2018-05-22 21:51] Aaronontheweb commented on #3267
Issue is that we don't treat `ActorRefs.NoSender` / `null` properly when we're printing out debug messages for `UnhandledMessage` - I'm going to apply the same fixes we use for `DeadLetter` logging to this.

[2018-05-22 21:55] Aaronontheweb opened #3460 "Fixe Akka.NET Debug Symbol NuGet feed"
Can't download symbols from https://nuget.smbsrc.net, so going to need to look into what we should be doing instead.

[2018-05-23 05:59] Horusiath commented on #3457
@nathvi the code you've presented is not self-explanatory. Could you describe your approach a bit?

[2018-05-23 13:40] #3267 closed

[2018-05-23 13:49] nathvi commented on #3457
@Horusiath , yeah, I'm going to try and modify it a bit.

[2018-05-23 14:26] Sam13 opened #3462 "NullReferenceException when using stash with persistent actor"
Akka.Net version: 1.3.7, platform: Windows, .NET 4.6.1

When trying to use the the stash (`IWithUnboundedStash`) on an actor which derives from `AtLeastOnceDeliveryReceiveActor` or `ReceivePersistentActor` a `NullReferenceException` is thrown after calling `Stash.UnstashAll()`.
When deriving from `ReceiveActor` the stash works.

`System.NullReferenceException HResult=0x80004003 Message=Object refe

[2018-05-23 16:53] Horusiath commented on #3462
@Sam13 in your example you're implementing `IWithUnboundedStash` however, you're not implementing a Stash property (it's commented). Is this right?

[2018-05-23 16:54] Aaronontheweb commented on #3462
@Horusiath I don't think the actor would be able to compile if that were the case unless the interface was already implemented on an underlying base class.

[2018-05-23 18:45] sdanyliv opened #3463 "[Question] How to choose correct source for grabbing data from external providers."
At first i’m really expressed with your library and i have plans to use it widely in our system, especially streaming. But something hides from me when i’m digging documentation and samples. And possibly you will show me the best way how to do that with Akka.Net.

1. Push model: We have websocket connection to some source which pushes data. So we receive messages when source deceides to send data.

[2018-05-23 19:17] nathvi commented on #3457
and by a bit, I mean I have no idea when I can work on this again.

[2018-05-23 22:00] IvanAntipov opened #3465 "Akka.Persistence.Fsharp doesn work with FSharp.Core 4.3.4"
My project:
F#
FSharp.Core 4.3.4
net471
Akka.Persistence.Fsharp 1.3.7

I copied example from
[https://github.com/akkadotnet/akka.net/blob/3f924fda8d6ca55c5af90a710d23be8ce36d5c7a/src/examples/PersistenceExample.FsApi/Program.fs]
[code]
Method spawnPersist throws exception

I fixed it with my own implementation of spawnPersist
[code]
So, no Expression transformation needed with FSharp.Core 4.3.4 an

[2018-05-23 22:16] #3437 closed

[2018-05-23 22:39] Aaronontheweb commented on #3296
Ok, got this one fixed....

[code]

The above is __not a supported use case for the `/` operator in Akka.NET__. The correct syntax here is:

[code]

In the end, it was end-user error all along.

Now, this _is_ supported:

[code]

Because we're concatenating an `ActorPath` onto an `Address` to form a full, absolute `RootActorPath`. Works differently than the `/` operator on `ActorPath`, which is de

[2018-05-23 22:39] #3296 closed

[2018-05-24 08:36] Sam13 commented on #3462
@Horusiath The stash property is already implemented by the persistence base class. I'd just left the interface there - when you comment / uncomment some stuff you can "convert" it to a non persistent actor in which the stash works...

[2018-05-24 09:32] Danthar commented on #3296
Since this has costed quite abit of time. Might be prudent to better clarify this in the docs ?

[2018-05-24 17:29] #3420 closed

[2018-05-24 17:29] #3450 closed

[2018-05-24 17:30] Aaronontheweb commented on #3296
Yeah... we should mention this somewhere. It'd kind of miscellaneous, but it should be spelled out in the literature somewhere.

[2018-05-24 18:28] hirzraimund commented on #3205
I had the same problem and you are right, the existing update statement does only an insert. The easies solution which works on any SQL database is to delete the entries in metadata with the same where clause used for deleting the journal entries. This fix is implemented in my pull request.

[2018-05-25 08:12] Blind-Striker commented on #3348
@Aaronontheweb Apparently it was our fault. You can close this issue

[2018-05-25 08:35] Danthar commented on #3348
After that epic opening post. Please don't leave us in suspense :P What was the solution ?

[2018-05-25 11:09] Blind-Striker commented on #3348
Well, actually I don't know. Our Web and API applications were entering cluster as a client role. We have moved client role a Nancy Self-hosted application and dockerize it. We removed Akka references from our Web and API applications, now they sending messages via HTTP to the new self-hosted application. And everything is working fine not a single problem for weeks. And our cluster have more node

[2018-05-25 11:13] jarlrasm opened #3471 "SqlCommands with connections are not garbagecollected, just disposed."
`Akka.Persistence.Sql.Common.Journal.SqlJournal` is using a single `CancellationToken` for all db-operations, that is only disposed on shutdown, if I understand the code correcly. This indirectly keeps references to all `SqlCommands`, which again have references to connections and so on, preventing GC. I believe this can be fixed with creating a new `CancellationTokenSource` with `CreateLinkedToke

[2018-05-25 11:39] Horusiath commented on #3471
@jarlrasm If I remember correctly, the idea was to interrupt all in-progress commands, when the journal is going to die.

[2018-05-25 11:43] ErikOlufson opened #3472 "Reorder ChangeState(ProcessingCommands()) and OnReplaySuccess() inside Eventsourced.Recovery.cs"
Hi guys,

I was wondering if it would be smart to change the order inside Eventsourced.Recovery.cs.

When changing the EventsourcedState and the message is RecoverySuccess it would be nice to reorder OnReplaySuccess() and ChangeState(ProcessingCommands()).

Right now:
[code]

Reordered:
[code]

If this would be done it is possible to check variables like IsRecovering inside the overriden OnReplayS

[2018-05-25 13:31] Aaronontheweb commented on #3348
@Blind-Striker thanks for the write-up - sorry to hear about this trouble with Akka.NET and IIS. Sounds like you went through a lot of trouble to try to get the two to play nicely. I'd like us to look into a way to make this experience better - hope you don't mind if we follow up with you with questions in the future!

[2018-05-25 15:51] Blind-Striker commented on #3348
@Aaronontheweb, Of Course, we always up to the help.

[2018-05-25 20:24] Aaronontheweb opened #3473 "Akka.Streams: Add option to automatically discard frame-length header"
Version 1.3.7

Might be convenient to strip the N-byte header we append when using framelength encoding automatically when using the built-in framing mechanisms in Akka.Streams. Our behavior matches what is done on the JVM today, so I'd pass in an optional flag to configure this.

[2018-05-26 08:11] Danthar commented on #3456
Thats is, as u surmised, just a supporting package for building akka.di integrations on top of. It contains nothing more then a few base classes.

We have no timeframe for supporting DI as it is implemented in .netcore

[2018-05-26 08:11] #3456 closed

[2018-05-26 08:19] Danthar commented on #3463
Well i guess it boils down to, build a Source for your specific sources ?

Supporting backpressure on a websocket connection will be tricky, because if its a true push model, and there is no way to send a signal back (in traditional connection types, you can simply block or not-ack the message). So it might not be possible to achieve backpressure in that scenario. But im not an expert on websocket

[2018-05-26 08:26] Danthar commented on #3448
There are multiple ways to achieve this. It depends on your use case which solution best fits.

- Use persistence to do Store And Forward type of processing
- Use a seperate persistent queuing system that acts as a persistent buffer between nodes (aka, put a servicebus between your nodes.)
- Build a custom atleastonce delivery implementation which will automatically retry sending the message to yo

[2018-05-26 08:27] #3418 closed

[2018-05-26 11:16] Blind-Striker commented on #3348
@Aaronontheweb After we moved our client role to a self-hosted application, we have adapted our notification client libraries to work with HTTP instead of actor.tell. Because of the http responses was not important for us, we design this library as fire and forget style. Like ;

[code]
Then we removed Akka references from our Web and API applications and replace old client libray with new one.  We

[2018-05-29 16:56] Horusiath commented on #2291
@AndreSteenbergen have you tried `await actorSystem.Terminate()`?

[2018-05-30 12:29] stijnherreman commented on #3454
Finally found time to continue investigating this issue. Service Fabric turns out to be irrelevant here.

The problem does not occur with the following config:

[code]

The problem does occur with the following config:

[code]

Actual config contains a `public-hostname` but it doesn't matter to reproduce this issue.

Looking again at the log message, the problem might be related to IPv6. Below is

[2018-05-30 13:13] Aaronontheweb commented on #3454
Heh, so it looks like something in Service Fabric is continuously opening connections on that port somewhere... Weird.

First question though: Akka.Remote still delivers and receives traffic correctly in this scenario, right? It's just that new ports are being opened and closed?

And yes, please feel free to send me that data privately to my Gitter handle or you can email me - aaron AT petabridge

[2018-05-30 14:09] #3459 closed

[2018-05-30 15:05] Aaronontheweb commented on #3454
Not sure what the best way to do that would be - since we don't want to get into the habit of accidentally ignoring a valid inbound request from another node. But yeah, sounds like an environment issue.

I assume in Service Fabric there's a concept of a private port that isn't load-balanced? Would that work?

[2018-05-30 15:15] #3454 closed, assigned to Aaronontheweb

[2018-05-30 15:40] Aaronontheweb commented on #3454
Happy to help

[2018-05-31 15:21] Aaronontheweb commented on #3327
Alrighty, ran DotNetty v0.4.8 continuously for close to 48 hours. No memory issues et al to speak off. Looks like it's good to go for v1.3.8 and should resolve this issue. Closing the ticket.

[2018-05-31 15:21] #3327 closed

[2018-05-31 16:43] #1544 closed

[2018-05-31 19:18] connelhooley commented on #3200
@Aaronontheweb is there a time frame for when this will be fixed? Or can you point me in the right direction for providing a fix myself? I'm not very familiar with how Akka.NET works internally so some steer on where to start would be helpful.

[2018-05-31 19:40] Aaronontheweb commented on #3200
@connelhooley I don't have a timeframe for when I'll be personally looking into it, but if you can take a stab at it we'd really appreciate it! I'd start by looking at the `TestActorRef` infrastructure itself: https://github.com/akkadotnet/akka.net/blob/dev/src/core/Akka.TestKit/TestActorRef.cs

And some other helpful guidelines for contributing to Akka.NET can be found here: http://getakka.net/co

[2018-05-31 19:47] object commented on #1544
Fantastic, thanks guys!

[2018-05-31 19:57] Aaronontheweb commented on #1544
@object happy to do it - should be rolled into the latest nightlies tonight

[2018-05-31 19:59] object commented on #1544
Perfect timing for us!

[2018-06-01 19:24] virenderkverma opened #3478 "How to redirect a request based on rules"
I have 3 servers AAA, BBB, CCC hosted web.api when API called from a client I want the process some special parameterized request into a specific server for example if the request contains parameter like AA then process into AAA, and BB then process into BBB and if DDD then process into any server based on round robin or least workload.

And return a response to the client.

How it possible to ach

[2018-06-04 06:06] beachwalker commented on #2378
Still interested too.

[2018-06-04 13:50] Aaronontheweb commented on #2378
No idea why I haven't commented on this sooner.

Running the latest `dev` branch sources on .NET Core 1.1 on my local development machine (Quadcore Intel I7 - machine is about 5.5 years old:)

[code]

Middle value on that table is the number of messages per second.

[2018-06-04 13:58] Aaronontheweb commented on #2378
Here's the numbers for the same hardware, running .NET 4.6.1:

ProcessorCount:                    8
ClockSpeed:                        0 MHZ
Actor Count:                       16
Messages sent/received per client: 20000  (2e4)
Is Server GC:                      True

Num clients, Total [msg], Msgs/sec, Total [ms]
         1,   20000,     46083,     434.37
         5,  100000,     59917,    1669.46

[2018-06-04 14:38] Aaronontheweb commented on #2378
Just for kicks, here's the .NET Core 2.1 numbers - same hardware as the rest:

ProcessorCount:                    8
ClockSpeed:                        0 MHZ
Actor Count:                       16
Messages sent/received per client: 20000  (2e4)
Is Server GC:                      True

Num clients, Total [msg], Msgs/sec, Total [ms]
         1,   20000,     44248,     452.49
         5,  100000,     6

[2018-06-04 15:02] voltcode commented on #2378
@Aaronontheweb

Assuming this using Wire serializer and DotNetty? If so, seems like despite planned improvements, 100k is still far away? Do you have any config tips or plans on how to achieve better throughput? What was the CPU utilization in your tests?

[2018-06-04 16:41] Aaronontheweb commented on #2378
@voltcode this is just using the defaults (no Hyperion,) but we are using DotNetty. I also think we're using the plain-old `string` serializer in these benchmarks too, so we don't have any JSON.NET overhead. The system spikes at about 90% CPU utilization on this machine when I run these benchmarks. On my custom-built AMD Ryzen machine at home I get about 100-110k msg / s.

But you're unlikely to a

[2018-06-05 12:53] marcpiechura opened #3484 "Port Akka.Streams operator CombineMaterialized"
The operator is an addition to the normal `Combine` operator, it allows to combine sources which have different materialized values, i.e. `Source<int, NotUsed>` with `Source<int, Task>` .

The corresponding PR from Akka can be found [here](https://github.com/akka/akka/pull/23809) , the changes to `akka-stream/src/main/scala/akka/stream/javadsl/Source.scala` can be ignored.

The actual implementati

[2018-06-05 15:47] Aaronontheweb opened #3485 "Akka.Persistence.Query doc fix"
Current docs say that Akka.Persistence.Query is experimental: https://getakka.net/articles/persistence/persistence-query.html - this is no longer true. We can remove that warning.

[2018-06-05 15:49] Aaronontheweb opened #3486 "Akka.Cluster documentation: leader election algorithm"
https://getakka.net/articles/clustering/cluster-overview.html#leader-election

Not true. Uses a sorted order to determine which available node with the highest sorted host + port is the current leader of the cluster. Need to change this to make it accurate.

[2018-06-05 16:21] kennethito commented on #3465
I noticed the same thing when fsharp was being updated for .net core. https://github.com/akkadotnet/akka.net/issues/2826#issuecomment-375804430 .  If I remember right, when I changed the test project to be netcoreapp2.0 tests would fail on the same error when spawning actors.

The related link in my comment has one possible way to deal with the issue.

[2018-06-05 17:00] Horusiath opened #3487 "Automate boilerplate code creation with postbuild tools like Fody"
One of the advantages, Scala offers, is the case class syntax, which gives things like copying and structural equality for free. We don't have anything like that out of the box in the C# compiler, so we relied on R# for that. This has however a number of issues:

1. Resharper equality/hash code generation doesn't take collection contents into account.
2. Once a record is changed, it's up to develo

[2018-06-05 17:15] Cephei commented on #3456
Wish I had found this issue yesterday. Spent all day racking my brain trying to get Akka to work nicely with autofac / aspnet core. Would love to see this supported.

[2018-06-05 17:22] anton-pt opened #3488 "WatchTermination Task returns too soon when stream is run with a MergeHub sink"
Akka.NET version: 1.3.8 running on .NET Core on a Mac.

When running the following code, I'd expect the `waitToFinish` `Task` to complete only after the all the elements in the stream have reached the `Sink`. However, the `Task` completes immediately after stream materialisation.

[code]

**Actual output**

[code]

**Expected output**

[code]

[2018-06-05 17:42] vasily-kirichenko commented on #3488
There is (implicit) buffer (of size 16 by default) between your source and sink, try something like `Enumerable.Range(1, 20)` or set `.Buffer(0)` (or WithBuffer, I don’t remember).

So, you are watching the source, which happily pushes 3 elements into the buffer and terminates.
Stream back pressured, but there are buffers between stages.

[2018-06-05 18:17] paulvanbladel commented on #3456
@Cephei join the club :) I spent almost a whole week.

[2018-06-05 18:29] anton-pt commented on #3488
Looks like you are right about the cause but not the solution.

[code]

This produces the output:
[code]

A buffer of leads to no output - it seems the stream crashes.

[2018-06-05 18:34] vasily-kirichenko commented on #3488
Try `MergeHub.Source<int>(perProducerBufferSize: 1)`

[2018-06-05 18:38] anton-pt commented on #3488
That helps but it seems that there is still a buffer size of 4 somewhere:

[code]

[2018-06-05 18:40] marcpiechura commented on #3488
@anton-pt try to remove the '.Buffer' calls

[2018-06-05 18:43] anton-pt commented on #3488
Yup, that's helped... nearly there ;-)

[code]

produces the output:

[code]

[2018-06-05 18:47] marcpiechura commented on #3488
You will never get the termination in the last line, what happens is that the source emits the last item and then signals completion downstream, the WatchTermination receives the signal and completes the task even if the last elements are still in flight.
So termination doesn’t signal if the complete stream is done, only the part that is upstream.
If you want to wait to the end you need to wait fo

[2018-06-05 19:07] marcpiechura commented on #3488
The problem is that you’re calling MergeHub.Source only once and than reuse the materialzed sink for many sources, so the task produced by the call would only work for one source but not for the others which can be attached at any point in time later.

Maybe you could explain what you’re trying to archive and based on that we mind find a solution that works. Also, for discussions like that it woul

[2018-06-05 19:43] anton-pt commented on #3488
Having thought about it more carefully, the behaviour with `MergeHub.Source(1)` makes perfect sense for my application. I'll close the issue.

[2018-06-05 19:43] #3488 closed

[2018-06-05 20:56] AndreSteenbergen commented on #1409
I am having the exact same issue in latest Akka. Something is going wrong in the CrawlerService. I've updated all messages to MsgPack, except all unknown objects. I don't know the reason yet, but I see this message being serialized:  Akka.Actor.Status+Failure. There is an exception in that object, I guess that's the Exception not being able to get Serialized.

[2018-06-05 21:36] AndreSteenbergen opened #3490 "JSonconverter can't deserialize Akka.Actor.Status.Failure"
Akka 1.3.8
.Net Core 2.0

Create an object of type Akka.Actor.Status.Failure and serialize using JsonConverter. It will trhrow an exception about JObject not being to cast to JValue

This is probably caused by the Exception.

[2018-06-05 21:41] Aaronontheweb commented on #3490
@AndreSteenbergen any idea what the underlying exception was?

[2018-06-05 22:00] AndreSteenbergen commented on #3490
In my case it was Task.Cancelled Exception

[2018-06-05 22:04] marcpiechura opened #3491 "Add Stale bot"
Tutorial and example config with all options can be found here:
 https://github.com/probot/stale

[2018-06-05 22:21] Aaronontheweb commented on #3490
Ok, that shouldn't be the end of the world. This should be easy enough to reproduce. Happened over an Akka.Remote connection between two .NET Core 2.0 nodes?

[2018-06-05 22:31] marcpiechura opened #3492 "Improvements for the docs"
- [ ] add section to the contribution guidelines which explains how one can add code examples via docfx
- [ ] update the build so that the document samples are build automatically
- [ ] create additional doc sample projects / files for the different sections if neccassary
- [ ] create issues for porting the code examples into the corresponding doc sample projects

[2018-06-06 06:09] AndreSteenbergen commented on #3490
Yes, in a webcrawler project modified from the examples

[2018-06-06 06:10] AndreSteenbergen commented on #3490
Bug report is faulted, the deserialization gives errors, I don't know which part is at fault.

[2018-06-06 16:28] #3484 closed

[2018-06-07 00:03] Cephei commented on #3456
@paulvanbladel I've been playing around with this setup. Perhaps it may help you some:

### Startup.cs
[code]
### abstract ActorFactory with a static dictionary of lazy actor IActorRef
[code]
### autofac can create the `CaptureActorFactory`
This is a `poor-mans DI`. Register all your related actor funcs. Setup properties to easily resolve them.
[code]
### inject your custom factory for your actors

[2018-06-07 06:32] paulvanbladel commented on #3456
@Cephei
Daniel, Amazing !
Thank you so much for sharing

[2018-06-07 07:40] basbossink opened #3493 "Change AssertEqual signature of ITestKitAssertions to use Expression<Func<T,T,bool>> iso plain Func<T,T,bool>."
- Akka.Net version dev
- any platform
- no reproduction steps this in an enhancement.

To be able to generate a nicer message when implementing the:

            void AssertEqual<T>(T expected, T actual, Func<T,T,bool> comparer, string format = "", params object[] args);

method of the `ITestKitAssertions` interface, change the signature to:

            void AssertEqual<T>(T expected, T actual, E

[2018-06-07 18:35] sschneider1207 commented on #3425
I was finally able to test a bit more with NLog, unfortunately it looks like the adapter just doesn't work very much so we won't be able to use it.  Every message logged through `Context.GetLogger....` throws format exceptions and only logs `{0}`.

[2018-06-07 18:36] Cephei opened #3495 "WhenTerminated never completes?"
Using the latest Akka.net release on OSX with dotnet core 2.1, I'm unable to ever get the WhenTerminated task to complete.

I'm quite new to Akka and have tried using `CoordinatedShutdown.Get(...).Run()` and `ActorSystem.Terminate()`. Neither seems to actually fulfill the `WhenTerminated` future. What is the proper way to shutdown the system and wait for completion?

[2018-06-07 18:39] Aaronontheweb commented on #3425
@sschneider1207 how out of date is that adapter?

[2018-06-07 18:43] sschneider1207 commented on #3425
The NLog adapter?  I tried with the most recent version, 1.3.1

[2018-06-07 18:44] Aaronontheweb commented on #3425
And it really doesn't log anything? Is it throwing format exceptions because you were using Serilog-format strings from before?

[2018-06-07 18:46] Aaronontheweb commented on #3495
@Cephei that call _should_ work, but it doesn't on .NET Core 2.1? What all are you running inside your application? Is there anything that blocks inside a `PostStop` method on one of your actors? Did it work before you upgraded to 2.1?

[2018-06-07 18:52] sschneider1207 commented on #3425
I hadn't used NLog before, but based on [their wiki](https://github.com/nlog/NLog/wiki/How-to-use-structured-logging) basic format strings from serilog should still work with it.

My test log was:
[code]

That threw a FormatException and logged `{0}`

I very briefly stepped through to see what the adapter was doing to see if I could fix it and I noticed the `NLogLogger` class creates a `LogEventIn

[2018-06-07 19:13] Cephei commented on #3495
Just started learning akka.net. I've got a few singleton actors. One is a router from config. No messages have been sent. No PostStop methods implemented.

[2018-06-07 19:18] Cephei commented on #3495
[code]
[code]
The application just hangs, `awaiting` the WhenTerminated task.

[2018-06-07 19:54] Cephei commented on #3495
I just tried this with disabling all actors. Only creating an ActorSystem instance with `ActorSystem.Create("cs")`. No configuration supplied; no remoting. Still not receiving termination.

[2018-06-07 20:31] Cephei commented on #3495
Anyone wondering what I was seeing was that running your application with `dotnet run`, then issuing a `ctrl+c` does not exit the clr process. If you execute your app with `dotnet <proj.dll>` then `ctrl+c`, the process will completely exit. I still don't have clear understanding why.

[2018-06-07 22:54] Cephei commented on #3456
Just a small update:
### 1. Ensure your aspnet `ApplicationContainer` does not dispose of your `ActorSystem`.
[code]

### 2. Make your abstract ActorFactoryBase only create your defaults once. You will likely have multiple factories that implement this; thus the ctor will call CreateDefaults multiple times.
[code]

[2018-06-08 17:51] leo12chandu commented on #3417
Hi, I have put together a test application to reproduce this issue if it makes it easier. A zipped project can be found at the below location.

[ClusterClientMsgDrop.zip](https://github.com/akkadotnet/akka.net/files/2085464/ClusterClientMsgDrop.zip)

**Instructions to reproduce**:-
1) Run the SPGMI.ErrorChecks project. (It will run a cluster node with pool of actors running in that app.)
2) Run th

[2018-06-08 18:44] leo12chandu opened #3496 "Alternatives to ClusterClient"
When creating a new issue, please make sure the following information is part of your issue description. (if applicable). Thank You!

- Which Akka.Net version you are using
1.3.4
- On which platform you are using Akka.Net
VS2017/ Windows 7
- A list of steps to reproduce the issue. Or an gist or github repo which can be easily used to reproduce your case.

Are there any alternative approaches to Cl

[2018-06-08 20:21] Danthar commented on #3425
@sschneider1207 So yeah. Correct, this particular logging format wont work with NLOG. This is because NLOG does not support semantic logging formats.

So you need to this instead:

[code]

[2018-06-08 20:49] Aaronontheweb commented on #3413
`ClusterDaemon` is shutdown here, when the `Cluster` plugin itself is shut down:

https://github.com/akkadotnet/akka.net/blob/11985622b0e4748d1be5742b6ac4109d4c18a228/src/core/Akka.Cluster/Cluster.cs#L524-L538

We know that this line is successfully called because we see the following appear in the logs:

[code]

We know this is an issue because

[code]

Appears immediately afterwards. The `wait-s

[2018-06-09 00:07] Aaronontheweb commented on #2575
BTW, some updates on this.

Had some reports from users with versions of Akka.Cluster as recent as 1.3.7 that port exhaustion was an ongoing issue still, including one this week. The [Akka.NET v1.3.8 release includes an upgrade to DotNetty v0.4.8](https://github.com/akkadotnet/akka.net/releases/tag/v1.3.8), which has fixes for cleaning up sockets upon channel shutdown. Reports I've had from end-us

[2018-06-09 06:57] Horusiath opened #3498 "Akka.Streams.IO TcpStage deadlocks on server binding"
It turned out, that in some cases TCP stage from Akka.Streams can hang infinitely - this is related to the fact that `TaskCompletionSource<T>.TrySetResult` and family is [blocking operation](https://stackoverflow.com/questions/39296587/in-which-case-does-taskcompletionsource-setresult-run-the-continuation-synchro?rq=1) which causes [this line](https://github.com/akkadotnet/akka.net/blob/11985622b0

[2018-06-09 14:36] RFlipper opened #3500 "Can not parse an ActorPath: /user/Processing-actor"
I'm trying to use At Least Once Delivery pattern with Akka Remoting.
It works well if I use IActorRef in the _Deliver_ method, but fails if I use ActorSelection.

- Which Akka.Net version you are using
1.3.8
- On which platform you are using Akka.Net
.Net Framework  4.6.1
- A list of steps to reproduce the issue. Or an gist or github repo which can be easily used to reproduce your case.

[code]

S

[2018-06-10 10:51] ismaelhamed commented on #3472
Since `OnReplaySuccess` is invoked after the `RecoverySuccess` has been received, I think it is safe to assume that recovering is done at that point.

[2018-06-11 13:52] sschneider1207 commented on #3425
I did try that and it works however that flattens the log message and does not add any of the format parameters are log properties like Serilog does, so it isn't usable for us.

[2018-06-11 17:55] #3498 closed

[2018-06-11 18:46] snakefoot commented on #3425
@Danthar NLog 4.5 supports Serilog Message Templates. Created PR: https://github.com/AkkaNetContrib/Akka.Logger.NLog/pull/36

[2018-06-12 08:51] chrisalexander opened #3502 "Static log initialisation errors if first log message is in async callback"
Hello, first of all apologies for a reasonably vague issue. I noticed this in production and am still working through reproducing it on my machine, but I thought it might be helpful to get it out there early to see if anyone has more expertise in this area and can advise.

Akka.Net version: v1.3.8
Platform: C#; .NET 4.6.1; Windows 10 / 7

I have an actor which initialises a logger as per usual:

[2018-06-12 09:54] Danthar commented on #3425
@sschneider1207 i understand that. But then, wasn't the goal to verify if the memory leak occurs in nlog as well ?

@snakefoot thanx. Ill take a look.

[2018-06-12 10:12] jebbench commented on #2834
I found I had to turn off the "Use mirrors" advanced option under "Edit VCS settings" in TeamCity to avoid "HEAD is not an object" errors.

![image](https://user-images.githubusercontent.com/1029732/41284481-4f3747da-6e31-11e8-8d47-f6f8c22cd398.png)

[2018-06-12 12:41] sschneider1207 commented on #3425
You're correct, I didn't make it that far in testing NLog once I noticed the log messages wouldn't work.  I'll update this once I've been able to more thoroughly try it out.

[2018-06-13 10:28] chrisalexander commented on #3502
Thanks Aaron. To first address your questions:

1. The error occurs when the message is being processed, specifically once the Ask<T> has completed and the ContinueWith is invoked. Actor starts fine.
2. I believe I was able to get 100% hit rate on it, but due to upstream reasons, had trouble with repro on my machine.

I haven't had a chance to build the above pseudocode yet, I suspect this will re

[2018-06-13 14:22] DaKaLKa opened #3506 "DotNetty Remote Transport Issues with .NET Core 2.1"
I have a test application with 1 seed node and two service nodes.
After migrating to .NET Core 2.1, I have some  "Can't join seed-node" issues using Akka.net 1.3.6 / 1.3.8.  The software is build and executed in docker with official Microsoft .NET Core 2.1 Images (microsoft/dotnet:2.1-sdk and microsoft/dotnet:2.1-runtime). Sometimes the nodes get connected without problems, sometimes I have the "c

[2018-06-13 17:42] Danthar commented on #3492
Doesn't that already work? Or is that a regression ?

[2018-06-13 17:56] Aaronontheweb commented on #3506
Technically, everything we do should be working on .NET Core 2.1 since .NET Standard 1.6 can be consumed upstream. We'll investigate. Might be a DotNetty issue since v0.4.8 started using some of the unsafe APIs.

[2018-06-13 21:16] sean-gilliam commented on #2893
Closing this issue since work is currently being done to target the projects to netstandard2.0. See #3452

[2018-06-13 21:16] #2893 closed

[2018-06-13 21:21] sean-gilliam commented on #2822
Closing this issue since the current F# API uses FSharp.Core v4.2.3.

https://github.com/akkadotnet/akka.net/blob/master/src/core/Akka.FSharp/Akka.FSharp.fsproj

[2018-06-13 21:21] #2822 closed

[2018-06-13 22:11] sean-gilliam commented on #1541
Closing the issue since the PR discussion in #1542 provided stats that proved within the margin of error.

[2018-06-13 22:11] #1541 closed

[2018-06-14 01:44] hhko opened #3507 "When .NET Framework 4.7.1 and 4.7.2, some references of Akka.Remote NuGet are broken"
I am using Visual Studio 2017(Version 15.7.2).
I have testest Akka.Remote NuGet(Version 1.3.0 ~ 1.3.8) on .NET Framework 4.7.1 and 4.7.2 as pictured below.

![referencesbroken_472](https://user-images.githubusercontent.com/12065137/41387045-c6640160-6fbf-11e8-834f-42c5397ff13b.png)

[2018-06-14 17:44] Aaronontheweb commented on #3054
Closing this - moved the issue to https://github.com/akkadotnet/HOCON/issues/48

[2018-06-14 17:44] #3054 closed

[2018-06-14 17:47] Aaronontheweb commented on #3244
Moved to https://github.com/akkadotnet/HOCON/issues/49

[2018-06-14 17:47] #3244 closed

[2018-06-14 17:56] Aaronontheweb commented on #2700
Moved to https://github.com/akkadotnet/HOCON/issues/50

[2018-06-14 17:56] #2700 closed

[2018-06-14 19:09] sean-gilliam commented on #543
Moved issue to AkkaNetContrib/Home#24

[2018-06-14 19:09] #543 closed

[2018-06-14 20:14] sean-gilliam commented on #1198
Moved issue to AkkaNetContrib/Home#25

[2018-06-14 20:14] #1198 closed

[2018-06-14 20:17] sean-gilliam commented on #1017
Moved issue to AkkaNetContrib/Home#26

[2018-06-14 20:17] #1017 closed

[2018-06-14 20:56] Aaronontheweb commented on #3417
I've been able to reproduce the result that not all of these messages get processed successfully via the `ClusterClient`  when working with larger batch sizes of messages.

I haven't dug into the code yet, but I have a couple of theories on what is going on here...

[2018-06-14 21:02] marcpiechura commented on #3371
V1.4 branch is up on myget so you could grab StreamRefs from there.

https://www.myget.org/F/akkadotnet-v14/api/v3/index.json

Feel free to reopen the issue or ask in gitter chat if you’ve further questions.

[2018-06-14 21:02] #3371 closed

[2018-06-14 21:07] leo12chandu commented on #3417
Ah. Thanks for looking. You don't think there is such a thing as flushing the socket in the distributedPubSubMediator or something, do you? Assuming ClusterClient uses DistributedPubSub

[2018-06-14 21:23] Aaronontheweb commented on #3417
I found the issue - problem is that the default buffer size allowed by the `ClusterClient` can only contain 1000 messages.

https://github.com/akkadotnet/akka.net/blob/6f32f6a772e917e1abfed6efeb05234bf5feeac4/src/contrib/cluster/Akka.Cluster.Tools/Client/reference.conf#L77-L83

I was able to bump this value up to 10000 via the following C# code:

[code]

And that fixed the issue. What's happening

[2018-06-14 22:28] Aaronontheweb commented on #3417
Here's some code I came up with to help delay the sending of any initial messages until the `ClusterClient` is able to connect with at least one receptionist the very first time, from the samples' `ExecuteBatch` function:

[code]
I was able to successfully send thousands of messages using this without changing the buffer size. However, I still noticed some dropped messages when I tried sending 20,

[2018-06-14 22:34] Aaronontheweb commented on #3417
For future reference, both of these logging statements should probably be warnings so it's easier for developers to understand why their messages aren't being delivered:

https://github.com/akkadotnet/akka.net/blob/dev/src/contrib/cluster/Akka.Cluster.Tools/Client/ClusterClient.cs#L471

https://github.com/akkadotnet/akka.net/blob/dev/src/contrib/cluster/Akka.Cluster.Tools/Client/ClusterClient.cs#L

[2018-06-15 13:50] leo12chandu commented on #3417
Thanks a ton for looking into this and coming up with solutions!!! The solution with increasing the buffer size alone works wonderfully (although a buffer size of 20,000 fails but not a biggie). However, the delay until cluster client finds atleast one receptionist is not working for me. And the code I tried is below.

**Not working:-**
[code]

**Working:-**
`var settings = ClusterClientSettings.C

[2018-06-15 14:35] Aaronontheweb commented on #3417
@leo12chandu the 10000 buffer size limit is a hard-coded constraint built into the `ClusterClient` itself. I know the JVM has this limit too. It seems arbitrary to me though.

I'll keep digging into this issue and see why the code for waiting until a receptionist is available didn't work...

[2018-06-15 17:17] sean-gilliam commented on #2784
Closing this issue since it appears to have been resolved. Feel free to re-open it if that's not the case.

[2018-06-15 17:17] #2784 closed

[2018-06-15 17:29] sean-gilliam commented on #2982
Under the old site, it was under the Introduction header so it should probably go there in the current documentation as well.

[2018-06-15 19:18] sean-gilliam commented on #1277
This issue hasn't had any activity in 3 years and the POC from 2 years ago was closed. Closing this issue.

[2018-06-15 19:18] #1277 closed

[2018-06-17 14:34] IrvinDominin opened #3515 "Akka .NET message delivered twice"
In out cluster we have five nodes composite of:

- 2 seed nodes (backend)
- 1 worker
- 2 webapi on IIS

I'm using Akka.Persistence.SQL with AtLeastOnceDelivery.

The cluster is joined, up and running; but sometimes (I hate to tell this, but I can't find the exact reason) the message is sent twice in the same moment (seconds).

Here is my IIS config:
[code]
inside the global.asax we create a new ro

[2018-06-18 05:15] alexvy86 commented on #2924
Hey @ivansams, that project that I was working on is not in a public repo and I can't share it just like htat but I can certainly extract the pieces that will be relevant to you and share those. I'll try to get to that done in the next couple of days :)

[2018-06-18 06:16] ivansams commented on #2924
That would be fantastic, thank you!

[2018-06-18 19:07] Danthar commented on #3515
Are you by change receiving an undelivered logmessage at the same time as well ? Because that would indicate that the ALOD is doing what it supposed to be doing (?). Namely, redelivering when it detects an issue. (either via timeout, or restart due to child actor crash)

[2018-06-18 20:12] sschneider1207 commented on #3425
I tested some more with NLog, and I noticed a similar problem as well as a potential reason.  The NLog elasticsearch sink was making batch index requests each containing a single log instead of actually batching them up.  This caused log messages to build up in memory as they were getting created faster than it could ship them.

I'm not very familiar with NLog but I suspect the sink is not suppose

[2018-06-18 20:43] snakefoot commented on #3425
@sschneider1207 You can use `AsyncTargetWrapper` or `<targets async="true">` and NLog will do batching for you,

[2018-06-19 05:21] alexvy86 commented on #2924
@ivansams here you go. I didn't test after a significant clean up and simplification (and I refined the approach a bit, so a couple minor details of my comments above won't apply anymore) but I'm pretty confident the ideas you need are there:
- Create a custom logger actor (`MicrosoftExtensionsLogger`) and tell Akka to use that instead of its default logger (with the `akka.config` file). The actor

[2018-06-19 13:12] sschneider1207 commented on #3425
Worked as expected once I added the wrapper.  It looks like there is no memory leak here, the logger just can not keep up with how many messages we're sending it.  I double checked with Serilog that that is the issue.

Besides tweeking batch settings on the log sinks themselves, is there anything that can be configured for this in Akka itself?  Perhaps something like additional logger actors or be

[2018-06-19 15:22] snakefoot commented on #2924
Regarding NLog and Azure Web Apps. Then the following targets should support logging in the Azure-world:

https://github.com/NLog/NLog/wiki/Trace-target
https://www.nuget.org/packages/Microsoft.ApplicationInsights.NLogTarget/

[2018-06-19 15:35] sean-gilliam commented on #2371
Hopefully, you've found a solution to your problem. Generally questions should be directed to our gitter chat room https://gitter.im/akkadotnet/akka.net.
Issues are usually reserved for actual bugs. Closing this issue.

[2018-06-19 15:35] #2371 closed

[2018-06-19 15:49] sean-gilliam commented on #2289
Hopefully, you've found a solution to your problem. Generally questions should be directed to our gitter chat room https://gitter.im/akkadotnet/akka.net.
Issues are usually reserved for actual bugs. Closing this issue.

[2018-06-19 15:49] #2289 closed

[2018-06-19 15:51] #744 closed

[2018-06-19 15:59] sean-gilliam commented on #1685
Hopefully, you've found a solution to your problem. Generally questions should be directed to our gitter chat room https://gitter.im/akkadotnet/akka.net.
Issues are usually reserved for actual bugs. Closing this issue.

[2018-06-19 15:59] #1685 closed

[2018-06-19 16:20] alexvy86 commented on #2924
To complement @snakefoot's comment, NLog's Trace target will work for .NET Framework apps but last time I checked it doesn't work with .NET Core, since `System.Diagnostics.Trace` [is not implemented there](https://github.com/aspnet/Logging/issues/676#issuecomment-318991449). I haven't tried the `Microsoft.ApplicationInsights.NLogTarget` so can't say for sure about that one... I assume it correctly

[2018-06-19 16:55] snakefoot commented on #2924
The NLog TraceTarget works on NetCore

Sent from my Samsung device

-------- Original message --------
From: Alex Villarreal <notifications@github.com>
Date: 19/06/2018 18:20 (GMT+01:00)
To: "akkadotnet/akka.net" <akka.net@noreply.github.com>
Cc: Rolf Kristensen <sweaty1@hotmail.com>, Mention <mention@noreply.github.com>
Subject: Re: [akkadotnet/akka.net] How to pass parameters to custom logger?

[2018-06-20 06:24] Horusiath opened #3517 "Akka.Streams - port Flow.ask stage"
[Flow.ask](https://doc.akka.io/docs/akka/2.5/stream/operators/Source-or-Flow/ask.html) is another kind of interop stage between streams and actors.

[2018-06-21 13:36] sschneider1207 commented on #3425
Another quick question, is there any way to configure the logger to discard logs once a backlog reaches a certain length?

[2018-06-21 14:16] snakefoot commented on #3425
Both NLog and Serilog can perform discard in their async-wrapper when overflow occurs.

Sent from my Samsung device

-------- Original message --------
From: Sam Schneider <notifications@github.com>
Date: 21/06/2018 15:36 (GMT+01:00)
To: "akkadotnet/akka.net" <akka.net@noreply.github.com>
Cc: Rolf Kristensen <sweaty1@hotmail.com>, Mention <mention@noreply.github.com>
Subject: Re: [akkadotnet/akka.

[2018-06-21 14:38] sschneider1207 commented on #3425
I don't think the logs are getting that far, they are getting backed up in
the logging actors mailbox

On Thu, Jun 21, 2018, 10:16 AM Rolf Kristensen <notifications@github.com>
wrote:

[2018-06-21 20:36] leo12chandu commented on #3417
I think I found another issue with the ClusterClient dropping messages when the actors are performing some blocking operations for a second like database call. To reproduce this, you can use the same test application I put together above except, in the BatchActor.cs, add Thread.Sleep(1000) to mimic the database call. Now follow the same instructions as above. You will see out of 1000 messages sent

[2018-06-21 21:14] Danthar commented on #3417
Please dont use thread.sleep to mimic "work"  its not representative. At all.
Use Task.Delay. As database actions utilize actual IO, So work is rescheduled. Possibly on the same thread. In a async/await TPL world. Thread.Sleep is like a nuke. It gets the job done, but there will be lots of side effects.

In this case any task scheduled to run on that Thread will be blocked.

[2018-06-22 01:41] Aaronontheweb commented on #3424
Sending in a PR that will address this as part of the v1.4.0 release.

[2018-06-22 02:33] Aaronontheweb commented on #3502
@chrisalexander thanks Chris - I'll give this a stab next week and see if I can reproduce the issue. Provided that it's as straightforward as it sounds here, should be able to get it into the 1.3.9 release (which I expect we'll push in the next week or so.)

[2018-06-22 02:46] Aaronontheweb commented on #3417
@Danthar in the case @leo12chandu is describing, it's probably ok. Sounds like the `ClusterClient`'s contact stopped sending heartbeats and that's why the messages were dropped - could happen if the actor was doing complex processing of some kind.

[2018-06-22 13:31] chrisalexander commented on #3502
Thanks, please let me know if you run into issues reproducing it, I will see if I can get it again

[2018-06-22 14:56] xlegalles commented on #3506
It may be also valid for Windows as our implementation does not work anymore since we moved to .NET Core 2.1. We still need to investigate but the problem is exactly the same: remote actors cannot join anymore. We tested both in Docker and out of container.

[2018-06-22 16:30] object opened #3522 "Huge number of "Forwarding request for shard" and "Resolve of path sequence XXX failed" messages"
I am trying to make sense of our debug logs flooded with these messages. I checked our system activities for 3 hours and here are some data:

Within 3 hours:
- created 240 aggregate roots (actors that use cluster sharding)
- these roots received not more than 4000 messages
the log contains:
- "Forwarding request for shard" 11.6M (11.6 million entries, ca. 1000 entries per second!) - this line is f

[2018-06-22 17:58] Aaronontheweb commented on #3522
@object got a theory here, since in Gitter chat you mentioned that this occurs when `remember-entities` is on - do you know if these logs occur after / around a re-balancing operation of any kind?

[2018-06-22 18:18] object commented on #3522
@Aaronontheweb they might though nothing indicates they did. Both our Stage and Test environments had 2 nodes in that role when this happened, with split brain resolver (keep majority) and remember-entities turned on. During the observation time there were no deployments on these servers, neither I can see that services were restarted, so in principle there shouldn't be relocations of shards. But

[2018-06-22 18:31] object commented on #3522
Hmm, I also see that message "Received gossip status" is only written in logs in our Test environment. So we _might_ have different log filtering in Test and Stage.

[2018-06-22 18:34] Aaronontheweb commented on #3522
@object my guess is that you're running with `DEBUG` turned on in test but not in staging. This issue probably occurs in both environments, but you probably run with an `INFO` setting in Stage which is what most production users do.

[2018-06-22 18:35] Aaronontheweb commented on #3522
That's a great piece of information - thank you. Narrows down the search area big time.

[2018-06-22 18:39] object commented on #3522
@Aaronontheweb Must be so. So let's forget about our Stage environment, it's Test where we reproduce the problem.

[2018-06-22 18:40] object commented on #3522
I will edit the issue to remove information about different environments, it's misleading.

[2018-06-22 21:01] sean-gilliam commented on #2991
Closed by #3388

[2018-06-22 21:01] #2991 closed

[2018-06-22 21:03] sean-gilliam commented on #2979
Closed by #3388

[2018-06-22 21:03] #2979 closed

[2018-06-22 21:04] sean-gilliam commented on #2990
Closed by #3388

[2018-06-22 21:04] #2990 closed

[2018-06-22 21:19] Aaronontheweb commented on #3522
A single node that hosts shards? Or a single node that communicates with the shards hosted elsewhere?

I.E. are these logs coming from a shard region or a shard region proxy, if you're using a mix of both?

[2018-06-22 21:21] leo12chandu commented on #3417
I think I may have found another situation where ClusterClient is dropping messages. When the message size is large both on the receiving and sending side, it drops after processing certain messages. I've removed the Thread.Sleep(). Instead the changes I made with the tool now are

1) In the MainWindowViewModel.cs, I've added a LargeString property and set it as shown below. This is on the sending

[2018-06-22 21:57] object commented on #3522
Single node that hosts shards. The logs are coming from a shard region.

[2018-06-23 11:15] hiwjcn opened #3523 "akka.net and system.runtime both contain system.serializeattribute"
akka.net and system.runtime both contain system.serializeattribute

version:
.net core 2.0
akka 1.3.8

here is the screen shot:
![http://hiwjcn.qiniudn.com/TIM%E6%88%AA%E5%9B%BE20180623190332.png](http://hiwjcn.qiniudn.com/TIM%E6%88%AA%E5%9B%BE20180623190332.png)
if can't see the pic,direct to http://hiwjcn.qiniudn.com/TIM%E6%88%AA%E5%9B%BE20180623190332.png

[2018-06-24 16:19] Aaronontheweb commented on #3523
@hiwjcn yes, these are polyfills from the pre-.NET Standard 2.0 days. In order to target .NET Standard 1.6 we had to add them back since the `SerializableAttribute` wasn't part of the .NET Standard library.

They reversed that decision in .NET Standard 2.0.

We're in the process of moving Akka.NET onto .NET Standard 2.0 as part of our v1.4.0 release and we'll go through and remove these once that'

[2018-06-24 16:19] Aaronontheweb commented on #3523
cc @Danthar you're still working on this, right?

[2018-06-25 01:33] hiwjcn commented on #3523
@Aaronontheweb thanks for ur patient help

[2018-06-25 06:00] Danthar commented on #3523
@Aaronontheweb Yup

[2018-06-25 10:28] ivansams commented on #2924
Hi @alexvy86 thank you so much for the code, I was successful in implementing it into my project. The only problem is that the logger that is returned from `Akka.Event.Logging.GetLogger(Context);` is `Akka.Event.BusLogging`, not the `WindowsExtensionsLogger`.

My config file contains the following hocon:

            loggers = [ "FooProject.Actors.Logging.MicrosoftExtensionsLogger, FooProject.Acto

[2018-06-25 11:08] MichaelMayrhofer opened #3525 "Cannot test actor with dispatcher "akka.synchronized-dispatcher""
**Environment:**
- Akka: V1.3.8
- Akka.TestKit: V1.3.8
- Win7
- .NET Framework 4.6.1
- NUnit 3.8.1

My program creates actors with dispatcher "akka.synchronized-dispatcher" `Props.Create(factoryExpression).WithDispatcher("akka.synchronized-dispatcher")`.  In the app.config I add the HOCON configuration:
`<akka>
    <hocon>
      <![CDATA[
        akka
        {
                synchronized-dispatc

[2018-06-25 11:39] Horusiath commented on #3525
@MichaelMayrhofer `TestKit`s have their own constructors with parameter overloads, where you can provide custom HOCON configuration.

[2018-06-25 14:09] Aaronontheweb opened #3526 "Akka.Persistence.MemorySnapshotStore: System.InvalidOperation exception"
Version: Akka.NET v1.3.8

Error should be relatively easy to find:

[code]

[2018-06-25 15:38] Aaronontheweb commented on #3526
Found the issue and fixed it here: https://github.com/akkadotnet/akka.net/pull/3527

[2018-06-25 16:12] xlegalles commented on #3506
Forget my comment: it was not related to AKKA. So it means that we are able to use AKKA.Net with 2.1 under Windows.

[2018-06-26 07:42] IrvinDominin commented on #3515
@Danthar thanks, is pretty strange it happens sometimes more or less in the same second. The situation is the following:

1. one IIS send a message, and persist it
2. a worker take the message in order to handle it
3. 5 min are not passed, but the message is sent again

ok this is ALOD, but I think that it must be sent only when the redeliver fires, and can be an issue in my code?

[2018-06-26 10:15] JTrotta opened #3528 "Update to 1.3.8 - Cluster does not work anymore"
After update to 1.3.8 cannot create the cluster.

- Which Akka.Net version: **1.38**
- On which platform you are using Akka.Net: **Windows & Linux**
- A list of steps to reproduce the issue:
Using 1.3.6 I was able to create a cluster with Hyperion serializer. After update to 1.3.8 (and the update of all related libraries), I got this error:
`[WARNING][26/06/2018 09:11:59][Thread 0008][[akka://ENNI

[2018-06-26 11:58] Aaronontheweb commented on #3528
@JTrotta could you share your HOCON configuration? The only big change in 1.3.7 or 1.3.8 that might be at the root of this is the upgrade to DotNetty v0.4.8. Are all nodes running the same version of Akka.NET?

[2018-06-26 12:54] JTrotta commented on #3528
@Aaronontheweb Hello,
of course nodes are identical. Hocon is the same I used with 1.3.6:
akka {
	loglevel = DEBUG
	loggers =["Akka.Logger.NLog.NLogLogger, Akka.Logger.NLog"]
	actor {
	   provider = cluster
	   serializers {
		   akka-pubsub = "Akka.Cluster.Tools.PublishSubscribe.Serialization.DistributedPubSubMessageSerializer, Akka.Cluster.Tools"
		   hyperion = "Akka.Serialization.HyperionSeria

[2018-06-26 13:44] JTrotta commented on #3528
Yes, I got the above errors.

[2018-06-26 14:29] Aaronontheweb commented on #3423
Longer version of the steps for fixing this: https://blogs.msdn.microsoft.com/africaapps/2013/06/07/how-to-serve-static-json-files-from-a-windows-azure-website/

[2018-06-26 14:30] Aaronontheweb commented on #3423
Trying this out on another project where we use a similar DocFx setup to Akka.NET

[2018-06-26 16:40] Aaronontheweb commented on #3423
Also going to need to enable a specific DocFx step in order to get this working: https://github.com/dotnet/docfx/issues/2679#issuecomment-383953842

[2018-06-26 16:40] Aaronontheweb commented on #3423
(that step produces the index.json)

[2018-06-26 16:50] Danthar commented on #3515
Some feedback on your code. In the ClusterSend. Your whole cluster subscribe and handling the memberup messages, using become, and stashing, seems unnecessary, since your not checking cluster state anywhere.
As in, you will be processing 'TheMessage' anyway.

But other then that. Im not seeing much wrong with it. Is it option for you to update to a newer version of Akka.net and test again ?

[2018-06-27 18:19] Aaronontheweb commented on #3472
@ismaelhamed so this is a non-issue then?

[2018-06-27 18:27] Aaronontheweb opened #3529 "Akka.Cluster.Sharding should automatically reference Akka.Cluster.DData configuration"
Version: 1.3.8

Ran into the following issue in a cluster when `akka.cluster.sharding.state-store-mode=ddata`

[code]

The serializer with ID 12 is one of the two DData serializers:

https://github.com/akkadotnet/akka.net/blob/41c116d2a3d280481e584401608ec848dc147632/src/contrib/cluster/Akka.DistributedData/reference.conf#L88-L101

Looks like the reason why this is occurring is because the `ActorS

[2018-06-27 19:37] Aaronontheweb commented on #3529
Actually.... @Horusiath, if all nodes are running with `akka.cluster.sharding.state-store-mode=ddata` the serializer IDs will be loaded automatically once the `DistributedData` plugin is called, right? So couldn't this issue only occur if _some_ nodes were running with  `akka.cluster.sharding.state-store-mode=ddata` but not others?

[2018-06-27 21:48] Aaronontheweb commented on #3529
So it looks like we actually do load things correctly right now - this issue was probably caused by nodes having different `akka.cluster.sharding.state-store-mode` configurations.

[2018-06-27 22:08] Aaronontheweb commented on #3529
Yeah, we already do this here:

https://github.com/akkadotnet/akka.net/blob/37eeb37f54a575a4a92fc63305d6358fa07688d8/src/contrib/cluster/Akka.Cluster.Sharding/ClusterSharding.cs#L248-L255

[2018-06-27 22:08] Aaronontheweb commented on #3529
The cause of this issue must be, then, one node that isn't even running `ClusterSharding` at all trying to communicate with other nodes in the cluster.

[2018-06-27 23:02] alexvy86 commented on #2924
Did you use the same code I did for `MicrosoftExtensionsLogger`? Its constructor accesses the `LoggerFactoryManager` (`_loggerFactory = LoggerFactoryManager.LoggerFactoryInstance;`), and in `Program.cs` I set it before creating the Actor System: `LoggerFactoryManager.LoggerFactoryInstance = container.GetService<ILoggerFactory>();`.

Regarding `ActorSystem.Create` knowing which class to use as logg

[2018-06-28 14:41] JTrotta commented on #3528
Do you have any news?
May I help you in such a way?
Thank you.

[2018-06-28 14:55] Aaronontheweb commented on #3528
Not at the moment - running clusters on .NET Core and .NET Framework with v1.3.8 and I'm not running into any issues at all, so I'm inclined to think this is a configuration issue on your end possibly. I'd like to take a look at the Hyperion bits some but we haven't had any reports about that being an issue either.

[2018-06-28 16:11] #3529 closed

[2018-06-28 19:39] gemr142388 commented on #3415
@Aaronontheweb It is working with DotNetty v0.4.8?

[2018-06-28 20:01] Aaronontheweb commented on #3415
Yes, this is working now with Akka.NET v1.3.8 which uses DotNetty v0.4.8.

[2018-06-29 11:55] JTrotta commented on #3528
Is, in your opininion, this part of Hocon correct ?:
`                                    actor {
                                       provider = cluster
		                               serializers {
			                               akka-pubsub = "Akka.Cluster.Tools.PublishSubscribe.Serialization.DistributedPubSubMessageSerializer, Akka.Cluster.Tools"

[2018-06-29 12:38] JTrotta commented on #3528
Solved.
Weird problem, even though everything correct compiled and working, dotnetty now needs the library System.Runtime.CompilerServices.Unsafe, I did not copy to the remote machine.
Sorry for the waste time.

[2018-06-29 12:38] #3528 closed

[2018-06-29 12:55] #3526 closed

[2018-06-30 02:15] Aaronontheweb opened #3533 "Formally deprecate / hide Akka.Persistence.TestKit package"
So this is probably my fault for doing too much work on not enough sleep, but I was pulling my hair out trying to figure out why https://www.nuget.org/packages/Akka.Persistence.TestKit/ doesn't support Akka.NET 1.3*, .NET Core, etc...

And the reason is because we cleaned up the name a while back and renamed this package to the Akka.Persistence.TCK: https://www.nuget.org/packages/Akka.Persistence.

[2018-06-30 18:39] Cephei commented on #3523
Is there any temporary solution to this? Shall I just use `DataContract` and place `DataMember` on all fields?

[2018-06-30 19:53] Aaronontheweb commented on #3523
Other than recompiling Akka.NET in your own fork without those polyfills, no - or don't use the `Serializable` attribute like you suggested. There are some other work-arounds suggested here: https://github.com/akkadotnet/akka.net/issues/3161

We'll have this fixed in the v1.4 release but there's nothing we can do between now and then given that this requires a platform change (i.e. we have to move

[2018-06-30 19:57] Cephei commented on #3523
Much appreciated @Aaronontheweb. Looking forward to 1.4 / Standard 2.0!

[2018-07-01 19:40] annymsMthd commented on #2027
We are starting to use OpenTracing with Jaeger in our k8s cluster with some akka .net projects. This would be a big win to try to get going.

[2018-07-01 19:46] annymsMthd commented on #3506
We are currently running a 1.3.8 cluster with .net core 2.1 in k8s with only a few minor issues.

[2018-07-02 07:40] Lutando commented on #3506
@annymsMthd  what were those minor issues?

[2018-07-02 11:49] cwe1ss commented on #2027
There's a pretty stable version of [OpenTracing's C# API](https://www.nuget.org/packages/OpenTracing/) now.

However, even though I'm one of the authors of that library, I'd still recommend you look at .NET's `DiagnosticSource/Activity` types first for library/framework instrumentation. They are only roughly based on OpenTracing and they don't have as many features, but those types are built into

[2018-07-03 01:57] annymsMthd commented on #3506
Sometimes we have a node that starts kicking out other nodes after we deploy even though it's not leader. It just starts marking nodes as down and even though they restart it just targets them again and marks them. When we reset the node that is doing the marking everything works. We only see this when we deploy though so it isn't a show stopper.

[2018-07-03 07:07] Lutando commented on #3506
We have a similar behavior. Might be worth investigating.

[2018-07-03 13:09] Danthar commented on #3533
de-list it

[2018-07-03 23:50] carlosrpereira opened #3534 "Seed node couldn't join another seed nodes"
We are facing a situation where a node is unable to join cluster. We have two seed nodes 10.0.0.4 and 10.0.0.5. The node 10.0.0.4 starts and works normally but node 10.0.0.5 does not join the cluster. Both servers are on the same LAN.

From node 10.0.0.5

[code]

Network connectivity is ok:
[code]
Testing port 10000 ...
[code]

Seed 10.0.0.4 is active and working other nodes:
[code]

Akka configur

[2018-07-04 13:32] BlueManiac commented on #3050
Has any work been done on better integration with Microsoft.Extensions.Logging? It's quite the hazzle to set it up right now as you can't seem to be able pass a logger instance to akka directly currently. Passing parameters do not seem to be possible either.

[2018-07-04 14:07] Horusiath commented on #3050
@BlueManiac you can set your own logger and pass it using HOCON configuration:

[code]

[2018-07-05 14:36] BlueManiac commented on #3050
@Horusiath Yes, I know, i'm currently using the serilog logger adapter there. I would like to pass a custom logger there instead that isn't passed in some static variable somewhere that you seem to be required to use right now. (the serilog akka logger uses serilog's static Log.Logger property)

[2018-07-05 21:13] sean-gilliam opened #3537 "Remove duplicate Akka.Streams config from doc site"
There are two references in the doc site displaying the same Akka.Streams reference.conf config file.

1. Streams > Configuration
2. Configurations > Akka.Streams

To keep with the theme, we should remove the first reference.

[2018-07-06 00:51] pshrosbree commented on #3050
I'd advise against using `Microsoft.Extensions.DependencyInjection`. It is an implementation of the [Conforming Container](http://blog.ploeh.dk/2014/05/19/conforming-container/) anti-pattern. Mark Seeman wrote about `Microsoft.Extensions.DependencyInjection` in [Feedback on ASP.NET vNext Dependency Injection](http://blog.ploeh.dk/2014/05/26/feedback-on-aspnet-vnext-dependency-injection/). While th

[2018-07-06 06:14] arturosevilla opened #3538 "Akka.Persistence.Sqlite Fails to DeleteMessages When Processing High Traffic of Messages"
When receiving lots of messages as part of a AtLeastOnceDelivery pattern we sometimes get (but consistently) the following exception:

[code]

This happens on a .NET 4.6 environment.

The class that handles the messages works similarly to the following code:

[code]

You can notice that the general behavior is that the journal is used, however after a certain amount of messages a snapshot is creat

[2018-07-09 06:48] erikzhang opened #3543 "Restarting not supported for connection actors"
[code]

[2018-07-09 07:11] Horusiath commented on #3543
@erikzhang would you care to actually elaborate on your problem?

[2018-07-09 07:37] erikzhang commented on #3543
I'm using the TCP Driver described in documentation. http://getakka.net/articles/networking/io.html
But sometimes the error log shown above appears on the console.
It seems that the system is attempting to restart the TCP connection actor. But this is supposed to be unexpected, isn't it?

[2018-07-10 14:58] DAREAS opened #3544 "Error in start application on CentOs system"
Dears. Good afternoon.

   I have an application using .net core 2.1, Akka 1.3.8 and Akka.remote 1.3.8 deployed on CentOs system.
But when executing dotnet run return the following error "Remoting system has been terminated abruptly. Attempting to shut down transports".

   I need help.

   Follow my Akka configuration.

   "akka {
                                                actor {

[2018-07-10 15:42] stefanobianco opened #3545 "Hocon Configuration"
Hello,

I'm trying to merge 2 Akka config files. My purpose is to find any missing keys from the first file and add them to the second file.
I tried to use "WithFallback" method, but it preserve in the cache of the config and it doesn't save merged content in the Root.

Any ideas?

I'm using Akka.dll v4.0.30319 (.NET)

Thank you for your support

[2018-07-10 17:07] Aaronontheweb commented on #3544
@DAREAS So does this error occur on startup or when you attempt to connect to another Akka.Remote system?

[2018-07-10 18:18] #3485 closed

[2018-07-10 19:02] #3433 closed

[2018-07-10 19:35] DAREAS commented on #3544
@Aaronontheweb on startup

[2018-07-10 19:37] DAREAS commented on #3544
@Aaronontheweb this is a inner message
System.AggregateException: One or more errors occurred. (One or more errors occurred. (Exception has been thrown by the target of an invocation.)) ---> System.AggregateException: One or more errors occurred. (Exception has been thrown by the target of an invocation.) ---> System.Reflection.TargetInvocationException: Exception has been thrown by the target of

[2018-07-10 19:44] Aaronontheweb commented on #3544
[code]

Sure looks like you have a bad configuration of some kind - double check if anything numeric is quoted et al.

[2018-07-10 20:50] jalchr opened #3546 "Only one usage of each socket address is normally permitted"
This is still an issue #2626

Sometimes, the asp.net application gets hanged in a 'restart loop', until manually killing the process with following log:
[code]
Any suggested work around to avoid this ?

This is using latest v1.3.8

[2018-07-11 05:34] Horusiath commented on #3546
How are you assigning ports for your actor systems? Are they dynamically assigned?

[2018-07-11 06:09] jalchr commented on #3546
No ... in the configuration I have the port 16,666 assigned to it.
Good to mention that "Disable overlapped recycling" is set to true, but somehow another instance is created before the previous one gets completely disposed !

[2018-07-11 06:15] jalchr commented on #3546
@Horusiath Isn't there a retry mechanism when binding to a port ?
The application should not throw when starting and waiting for the port to become available

[2018-07-12 08:26] VladimirLuzhin opened #3547 "Problem with ActorSelection().ResolveOne(TimeSpan timeout)"
- **Version Akka.NET v1.3.8**
- **Version Akka.TestKit.NUnit3 v1.3.2**
- **Version NUnit v3.10.1**
- **Platform Windows 10**

I have an actor of the following kind:

[code]

When testing this actor, I expect that I will have a child actor.
I'm writing the next test to check this situation (using the NUnit framework):

[code]
I expect that within a second I will receive the child actor on the speci

[2018-07-12 18:46] DAREAS commented on #3544
@Aaronontheweb. Good Afternoon.

   I resolved the problem. Thanks for your help.
My execution of the system doesn't find the appsettings file, because of this the actor system cannot start.

  More one, thanks for the help and I'm sorry for my English.

[2018-07-12 18:46] #3544 closed

[2018-07-12 19:38] leo12chandu commented on #3417
@Aaronontheweb - Any luck reproducing this?

[2018-07-13 07:38] Ralf1108 commented on #3547
Could it be that your assumption "I expect that within a second I will receive the child actor" is not reflected in code?

As I understand your code the following happens:

1. Advise actor system to create an actor -> this returns only an actor ref. The real actor might not yet be created. This is done in the background... because think about if the actor should be created on another machine. The

[2018-07-13 07:42] Horusiath commented on #3547
[code]

The problem here is that when you're telling `UserBeingOnline`, you're triggering an asynchronous action - a message has been send to `branchUserActor`, but it may not have been served right away. In the meantime you're calling resolve one, which tells actor system to find a child of `branchUserActor` - a child, which is not yet there, since the parent didn't handle the message yet.

[2018-07-13 08:43] Martinay opened #3548 "Error joining node without ClusterClient to cluster with ClusterClient registered"
Hello,

i'm using Akka.Cluster 1.3.8 on Windows. I was trying to connect a cluster node to an akka cluster and got the following error:
`[WARNING][7/13/2018 8:29:02 AM][Thread 0010][[akka://ActorSystem/system/endpointManager/reliableEndpointWriter-akka.tcp%3A%2F%2FActorSystem%40127.0.0.1%3A50000-1#1559459487]] Association with remote system akka.tcp://ActorSystem@127.0.0.1:50000 has failed; addres

[2018-07-13 08:44] Ralf1108 commented on #3547
Good to know that there is already a method for it :-)

[2018-07-13 08:48] VladimirLuzhin commented on #3547
Thank you for your responses @Ralf1108, @Horusiath. You really helped me.

[2018-07-13 08:49] #3547 closed

[2018-07-16 12:11] Danthar opened #3552 "TestProbe.ExpectNoMsg does not respect Within block timeout"
- Akka 1.3.8
- Windows

Using NUnit3 Testkit (v 1.3.8)

Im getting strange behavior for `TestProbe.ExpectNoMsg()` when used inside a Within block. It seems like it does not properly respect the timeout window of the `Within `block. But instead using the **single-expect-default** testkit setting. Thus causing the `Within `block to go past its timeout. Workaround is to manually set the timeout `Test

[2018-07-17 18:53] Aaronontheweb commented on #3417
@leo12chandu so I made the changes you suggested and ran everything using the latest Akka.NET 1.3.9 nightlies.

One solution made it to completion (9000) and another was missing about ~50 messages. The repro solution is currently running Akka.NET v1.3.3 so I'd recommend upgrading to at least Akka.NET v1.3.8.

[2018-07-17 19:02] Aaronontheweb commented on #3417
So I've run this several times now and I always make it to completion. I think the ~50 missing on that one run may have been an issue with me copying the result set from the repro app too early.

Try upgrading to at least Akka.NET v1.3.8, and failing that, try the [Akka.NET Nightly builds for 1.3.9](http://getakka.net/community/getting-access-to-nightly-builds.html) - I think whatever was causing

[2018-07-17 19:05] leo12chandu commented on #3417
Interesting, Let me try updating it to 1.3.8 and also with 1.3.9 and try both the Large message issue and blocking operation issue.

You didn't happen to increase the number of messages on TCP port to avoid port exhaustion or anything like that have you?

[2018-07-17 19:12] Aaronontheweb commented on #3417
We upgraded the version of DotNetty we're using in 1.3.8, but we also have made some bugfixes to `DistributedPubSub` in Akka.NET v1.3.5 which may have also contributed to fixing this issue: https://github.com/akkadotnet/akka.net/blob/dev/RELEASE_NOTES.md#135-february-21-2018

[2018-07-17 20:12] Aaronontheweb commented on #3548
Ah, this is just a configuration issue.

You need to specify _which roles in the cluster host the `ClusterClientReceptionist`_, which you can do via `akka.cluster.client.receptionist.role` setting described here:

http://getakka.net/articles/clustering/cluster-client.html#configuration

If you do that, the `ClusterClientReceptionist` won't try to contact the other nodes that aren't attempting to h

[2018-07-17 20:12] #3548 closed

[2018-07-17 20:37] Martinay commented on #3548
Thank you for The clarification

[2018-07-17 21:32] leo12chandu commented on #3417
That is really weird. I've updated and tried both 1.3.8 as well as 1.3.9 nightly build, and I am able to reproduce dropped messages in both the blocking call case as well as large messages case. Here is the complete code with the large message and blocking call implemented. (without packages and bin/debug to reduce message sizes)
[SPGMI.ErrorChecksBlockingCall.zip](https://github.com/akkadotnet/ak

[2018-07-19 06:00] hiwjcn commented on #3523
@Aaronontheweb haha can't wait for the version 1.4,can i have the release scheduler?

[2018-07-19 16:47] Cephei commented on #3506
Experiencing the same issue. Net core 2.1 on Linux. The problem is random ; restating often works

[2018-07-23 13:28] eaba opened #3556 "Handling skipped ordering number in eventjournal"
- AKKA.Net 1.3.8, Akka.Persistence.SqlServer 1.3.7, Akka.Persistence 1.3.7
- Aspnet Core Windows Service

If I started and stopped the Windows Service a few times, I see that the Message gets to the Actor but never get persisted and the event is never called. Looking at the the EventJournal table, I see something in this line:
`1,2,3,4,5,109,110,111` with the ordering column
 once this happens the

[2018-07-24 07:22] Horusiath commented on #3556
@eaba persistence actors will try to recover from events stored in the journal (and from snapshots). For that all events in journal are expected to have a monotonically increasing (always by 1) sequence number.

This is very important for consistency of actor's state - if actor finds that after event with sequence nr. `x`, the next one have seqNr `x+2` (meaning `x+1` is missing), this means that e

[2018-07-24 11:53] eaba commented on #3556
The sequence number is correct in my own case......the missing ordering number indicates a failure in trying to persist the message since ordering number is auto-incremented by the database

I think this failure in persisting the message is what is causing the issue......I cant see much detail in the log.
I see something like this also: 1,2,3,4,5,6,1000,1009,1010....look at the big difference but

[2018-07-24 16:04] ismaelhamed commented on #3545
Something like this would work:

[code]

Note that in this case, any key in `resource.conf` will take precedence.

[2018-07-25 14:02] eaba commented on #3556
[code]
Just experienced same right now and as always, Actor stops processing messages.....

[2018-07-25 14:10] eaba commented on #3556
Without dropping tables, the Actor has started processes messages after some minutes but prior messages are lost.
Considering am consuming message from Azure Service Bus, is there a way for one to check the state of an Actor before messaging it?

[2018-07-25 17:01] eaba commented on #3556
I will go with that line.
How can I log better details? Below is how I do logging currently:
`: AtLeastOnceDeliveryReceiveActor, ILogReceive
`loggers = ["Akka.Logger.NLog.NLogLogger, Akka.Logger.NLog"]

[2018-07-26 08:13] Horusiath commented on #3556
The most basic logging setting is `akka.loglevel = DEBUG` (it's INFO by default). Nonetheless if actor fails due to any exception, it should be logged on ERROR level.

[2018-07-26 11:37] eaba commented on #3556
Okay, I will be closing this issue....there are many sides to the story, as I have discovered: when the system becomes sluggish(slow in opening applications) this happens.

[2018-07-26 11:37] #3556 closed

[2018-07-29 07:46] tangkhaiphuong opened #3557 "Maintaining & Documentation: There is any visualize tool to manage all actors, message of any system for new member join team?"
I tried to apply Akka.NET for the new project. By building up an infrastructure actor framework with code first.
In case project work and many members join the team and apply pattern base on Akka.NET for code first due project don't have more time to pre-design first.
One time, when my boss asks me to review all how many actors, what roles, and how many messages are used. How each kind of actor pe

[2018-07-30 20:26] aventurella commented on #2497
So then there is really no point in listing additional seed nodes for the first/primary/seed-seed  seed node. Since that node has to be up before starting the other seeds. If that primary node goes down, you couldn't simply restart it as it would come up, but it would join itself, and the rest of the cluster would not see it.

So effectively all the seed nodes in the cluster probably should have a

[2018-07-30 20:34] Aaronontheweb commented on #2497
No. The _very first time the cluster forms_ the first seed node in the seed node list _must be up_ in order for the cluster to form, in order to avoid the split brain scenario I described above. After that the order doesn't matter at all.

Best rules of thumb for this, IMHO, is to eliminate moving parts from your seed node strategy:

1. Use something like [Lighthouse](https://github.com/petabridge

[2018-07-31 15:49] Aaronontheweb commented on #3557
@tangkhaiphuong sorry for the delay! Someone did write a `Graphviz` tool for Akka.NET a while back but I don't think that project has been updated in years. In the meantime, you can use [Petabridge.Cmd](https://cmd.petabridge.com/)'s `actor hierarchy` command - which will give you a text dump of the actor hierarchy: https://cmd.petabridge.com/articles/commands/actor-commands.html#actor-hierarchy

[2018-08-01 16:55] Aaronontheweb commented on #3538
This is a confirmed bug; wrote a reproduction spec for it here: https://github.com/Aaronontheweb/Akka.Persistence.Sqlite-concurrency-repro/

Long story short, with the way SQLite's file-locking mechanism works it's not possible to run both the SQLite snapshotstore __and__ journal at the same time without running into a file locking issue. If I need to write or delete a snapshot at the same time th

[2018-08-02 08:20] VladimirLuzhin opened #3562 "How to work with BackoffSupervisor"
- Version Akka.NET v1.3.8
- Platform Windows 10

I'm trying to understand out how the **BackoffSupervisor** should work. This is my test application.
[code]
In this implementation, if one **Child** actor falls, then all three **childs** actors fall. I need to restart only the actor who fell. Somebody can tell?

Thank you in advance for your answers.

[2018-08-02 09:46] Danthar commented on #3562
In this case, its because your child is actually a router. The backoffsupervisor has no knowledge about this. It only works with the child props you feed it. So when it detects that the message it tried to send to its child failed. it restarts the child and tries again.
Because your child is actually a Router, the default behavior of a router when it fails, is to restart all its children.

If you

[2018-08-03 00:57] VladimirLuzhin commented on #3562
@Danthar thank you for answer.

[2018-08-03 00:57] #3562 closed

[2018-08-03 14:36] mayorovp opened #3563 "BidiFlow.AtopMat method has wrong return type"
version: current
platforms: all

https://github.com/akkadotnet/akka.net/blob/dev/src/core/Akka.Streams/Dsl/BidiFlow.cs#L281

Current signature:
BidiFlow<..., TMat> BidiFlow<..., TMat>.AtopMat(BidiFlow<..., TMat2>, Func<TMat, TMat2, TMat3> combine)

combine's result is TMat3, but it is used as TMat

[2018-08-04 12:08] marcpiechura commented on #3563
@mayorovp good catch! Might want to fix it and send a PR?

[2018-08-04 19:17] zbynek001 opened #3564 "GetOrElse NullReferenceException"
looks like there is possibility of `NullReferenceException` inside `GetOrElse` extension method, in case `obj` is null

https://github.com/akkadotnet/akka.net/blob/9d5bc4c4ba2884f05dbebb18500418446e753116/src/core/Akka/Util/Internal/Extensions.cs#L147

Did run into it when accessing `ClusterReadView.Self`.

Is that a bug? If so, I can prepare PR

[2018-08-07 01:42] SeanKilleen opened #3566 "`Sender.Path` incorrectly identified as `deadLetters` after upgrading from Akka 1.0.8 --> 1.3.8"
Hi all,

### Background

As part of an Akka intro talk I've got a sample app that writes out to a `ConsoleWriterActor`. The console writer actor is part of a demo, and uses `Sender.Path` in the console output to show where the message came from.

I was prepping a new demo and realized the console was outputting that the `Sender.Path` was `deadLetters`, which seemed odd. I checked my older app and

[2018-08-07 01:51] SeanKilleen commented on #3566
Working to narrow it down. Will revert & try baby steps to see where it goes wrong.

[2018-08-07 02:03] SeanKilleen commented on #3566
OK, I seem to have narrowed the repro steps down.

✅ Open the project as-is. Behavior verified.
✅ Update target frameworks from `4.5` to `4.6.1`. Still works as expected.
❓ Update Akka 1.0.8 --> 1.3.8 Project fails at runtime due to missing Akka.Remote update.
❌ Update Akka.Remote and associated dependencies. Behavior begins at this point.

[2018-08-07 02:29] SeanKilleen commented on #3566
OK, I think this is actually expected behavior.

The issue is that I'm sending the message from my app itself, not from an actor within the actor system.

* The prior behavior shows `Sender.Path` as `akka://all-systems/`, which seems like an early placeholder.
* The current behavior shows `Sender.Path` as `akka://ElasticSystem/deadLetters`.

This makes sense. It's coming from within my actor syste

[2018-08-07 02:29] #3566 closed

[2018-08-07 15:04] fdbeirao opened #3567 "Not receiving Terminated messages"
I am running akka.net version **1.3.8** installed from nuget, in [**Linqpad 5.31.00**](https://www.linqpad.net/)

I have two actors. A parent and a child. The child is supposed to crash due to its dangerous work. After the parent spawns the child, I use `Context.Watch()` to receive a `Terminated` message when the child actor stops/dies.

When the child actor dies due to a crash/exception, the pare

[2018-08-07 16:56] Horusiath commented on #3567
@fdbeirao when actor crashes due to exception, it's restarted by default but it doesn't terminate. Termination happens when actor is permanently removed. If you want, you may configure parent's SupervisionStrategy to react with `Directive.Stop` on children exceptions, on which you want to terminate them instead of restarting.

[2018-08-07 17:10] fdbeirao commented on #3567
@Horusiath thank you for your answer. I guess I must be misinterpreting the `Props.WithSupervisorStrategy(Akka.Actor.SupervisorStrategy.StoppingStrategy)`..

Okay I see what I did wrong.. I applied the `.WithSupervisorStrategy(Akka.Actor.SupervisorStrategy.StoppingStrategy)` to the props of the **child**. I should have applied it to the props of the **parent** instead. I just tested it, and indeed

[2018-08-07 17:10] #3567 closed

[2018-08-08 18:59] Aaronontheweb commented on #3564
@zbynek001 yeah, looks like a bug.

[2018-08-08 18:59] Aaronontheweb commented on #3564
Should add a spec to validate that this can't happen anymore once we patch it too

[2018-08-14 23:50] matkoch commented on #2848
We are still getting this: https://teamcity.jetbrains.com/viewLog.html?buildId=1559648&buildTypeId=matkoch_NukeBuild_Nuke&tab=buildLog

Build script is invoked like here: https://github.com/nuke-build/nuke/blob/develop/build.ps1

Could you reopen, or should I create a new issue?

[2018-08-15 12:48] Horusiath commented on #3517
Done by #3539 as part of future release v1.4.

[2018-08-15 12:48] #3517 closed

[2018-08-15 12:49] #3116 closed

[2018-08-19 16:19] alexvy86 opened #3571 "Wrong exception handled when starting loggers?"
I'm using Akka.Net 1.3.8 on Windows (Azure App Service in particular).

I encountered an issue with an application using a custom logger (`MyProject.ActorsApp.MicrosoftExtensionsLogger`) that ran fine locally, but crashed when deployed to Azure App Service because of a timeout when starting the custom logger (stack trace at the bottom for reference). I was able to fix the issue by increasing the `

[2018-08-20 13:36] Aaronontheweb commented on #3571
Yes, it's designed to happen that way. Logging is considered to be critical instrumentation to the system since we're kind of flying blind without it. If that instrumentation can't launch, then the program is fundamentally misconfigured and shouldn't be able to start without it.

That being said, the error thrown should be clear - should be a `LoggerInitializationException`.

[2018-08-20 14:06] alexvy86 commented on #3571
Thanks @Aaronontheweb. I'll try to submit a PR sometime in the next.couple of days to ensure `LoggerInitializationException` is the one that propagates, if no one is working on it already. Let me know in case it's not needed.

[2018-08-20 14:11] Aaronontheweb commented on #3571
Go for it! PRs are welcome.

[2018-08-22 06:01] erikzhang opened #3572 "An asynchronous socket operation is already in progress using this SocketAsyncEventArgs instance."
I'm using the TCP Driver described in documentation. http://getakka.net/articles/networking/io.html

But sometimes the following error log shown on the console:

[code]

[2018-08-22 06:09] Horusiath commented on #3572
@erikzhang could you provide any more information? Maybe scenario, which reproduces an issue?

[2018-08-22 06:15] erikzhang commented on #3572
This is hard to reproduce. However, the program may work for a few days and may crush due to this problem.

[2018-08-22 06:33] Lutando opened #3573 "Possible issue with MultiNodeTestRunner on Unix environments"
when running this in a net452 environment this does not happen, this only seems to happen on *nix (in my case OSX)

when running:

`dotnet run --project Akka.MultiNodeTestRunner.csproj -f netcoreapp1.1 "/Users/*/Workspace/Akka/akka.net/src/core/Akka.Cluster.Tests.MultiNode/bin/Debug/netcoreapp1.1/Akka.Cluster.Tests.MultiNode.dll" -Dmultinode.enable-filesink=on`

I get:
[code]
I am not particularly

[2018-08-23 11:42] ef-computas opened #3576 "Clearify documentation on how to correctly implement Akka.Persistence.Journal.AsyncWriteJournal.WriteMessagesAsync"
Akka.Net version : 1.3.8

My organization is developing a bigtable persistence plugin for akka.net, https://github.com/hafslundnett/hn-akka-persistence-bigtable. There are some parts of the documentation of Akka.Persistence.Journal.AsyncWriteJournal.WriteMessagesAsync that are not entirely clear in our opinion:

1. From the documentation of Akka.Persistence.Journal.AsyncWriteJournal.WriteMessagesA

[2018-08-27 08:56] moerwald commented on #3537
https://github.com/akkadotnet/akka.net/pull/3581

[2018-08-27 09:28] moerwald commented on #3491
https://github.com/akkadotnet/akka.net/pull/3581

[2018-08-28 13:15] robvangeloven opened #3583 "Actorsystem not stopping"
When using Akka.Net on .Net Core 2.1 Actorsystem shutdown either via Terminate or CoordinatedShutdown never completes.

Log for CoordinatedShutdown:
[DEBUG][28-Aug-18 13:08:25][Thread 0001][EventStream(TestActorSystem)] Logger log1-DefaultLogger [DefaultLogger] started
[DEBUG][28-Aug-18 13:08:25][Thread 0001][EventStream(TestActorSystem)] StandardOutLogger being removed
[DEBUG][28-Aug-18 13:08:25]

[2018-08-28 13:38] pmbanka commented on #3522
I found the root cause of this particular problem. It was a bug in our message extractor - it was routing messages based on their hash code. It was doing this both for our messages AND Akka messages as well, like `ShardRegion.StartEntity`. Once I added special handling for `ShardRegion.StartEntity`, the problem disappeared.

There is also a question I have about the Akka messages - the code exampl

[2018-08-28 15:18] zbynek001 commented on #3522
in case the `message ` is `StartEntity` or your shard message, you should return `EntityId`.
In all other cases you should return `null`

[2018-08-28 15:28] pmbanka commented on #3522
@zbynek001 I may be wrong, but it looks like returning null will result with NRE (at least when used with `HashCodeMessageExtractor`).

Here, `EntityId` will assing null to `id`
https://github.com/akkadotnet/akka.net/blob/41c116d2a3d280481e584401608ec848dc147632/src/contrib/cluster/Akka.Cluster.Sharding/ClusterSharding.cs#L98

and here it will explode
https://github.com/akkadotnet/akka.net/blob/41

[2018-08-28 15:34] y4k commented on #2331
Encountered the same issue with NUnit and parameterized tests. A combinatorial test with 3 parameters producing 40 individual tests. Running with ReSharper test runner in VisualStudio. The first 5-6 tests pass while the remainder fail (except the odd one). MSTest explorer results in the same problem.

`Akka.Configuration.ConfigurationException : Logger [Akka.TestKit.TestEventListener, Akka.TestKit

[2018-08-28 16:27] zbynek001 commented on #3522
What I send above was about message extractors in general, not about specifics like `HashCodeMessageExtractor`

But anyway, in case of `HashCodeMessageExtractor`

- ShardRegion will try to extract `EntityId`
- Only when it's not null it'll try to get `ShardId`

so the code you referenced should not be executed in that scenario

[2018-08-29 12:33] pmbanka commented on #3522
Ah, that makes sense! Thanks for the clarification :)

[2018-08-29 17:45] Aaronontheweb commented on #3522
So, can I close this?

[2018-08-29 18:13] object commented on #3522
Let's wait for status from @pmbanka. We had some problems today, but I guess he should have an update on the issue soon.

[2018-08-30 15:54] pmbanka commented on #3522
@Aaronontheweb I digged into it today and I realised that
1. There was indeed an issue in our extractor
2. BUT fixing the issue did not make the problem go away - I was wrong with that point.

I managed to create a reasonably small repro that shows the issue we encounter - the code is here https://github.com/pmbanka/akka-shards-spam-repro

Repro steps and later findings are all in Readme.txt.

[2018-08-30 16:13] zbynek001 commented on #3522
you have there an issue with `ShardId` extracting.
It should also process `ShardRegion.StartEntity` messages and transform `EntityId` same way as from your objects.
This is required for remember-entities feature.

[2018-08-30 18:20] zbynek001 commented on #3522
actually, looking at it again, there are more potential issues.
First, to clarify something:

what is your expected EntityId?
looking at the code, there will be only one entity "the_one_and_only". Meaning all messages will go to one actor with `EntityId` = "the_one_and_only".
But then the `ShardId` will be wrong, because it'll return different values for the same `EntityId`. That's not supported

[2018-08-30 18:36] pmbanka commented on #3522
@zbynek001 It is quite possible that I don't understand something fundamental here :)

I was under the impression that an `entityId` does not need to be globally unique per cluster, and it only needs to be unique per particular shard. I thought a pair of `shardId * entityId` has to be globally unique in order to identify an actor. Is this assumption wrong?

The first extractor produces pairs of sh

[2018-08-31 19:44] pjvds commented on #3170
With the latest releases I'm able to run this test without any problem. 👍

[2018-08-31 23:33] magnodeveloper commented on #681
It's 3.5 years later and still Akka core library brings in a reference to Newtonsoft.  Is this going to be addressed?

[2018-09-01 10:55] #3170 closed

[2018-09-02 09:34] ismaelhamed opened #3584 "Shouldn't the TotalInstances property of ClusterRouterGroupSettings limit the number of routees available?"
Given the following code:

[code]
I was expecting `totalInstances` to limit the number of available workers for this router to 5, even though there are 10 workers total available. Otherwise I don't get the purpose of that property.

[2018-09-02 19:04] hectorcaban opened #3585 "DistributedPubSub error on remote noteds/cluster"
I am using Akka.Cluster.Tools, Version=1.3.9.0
any time I put this line
 var mediator = DistributedPubSub.Get(SystemActors.ActorSystem).Mediator;

I start getting this error

2018-09-02 01:20:25.174 -05:00 [Warning] Association with remote system "akka.tcp://LifecycleOneProxy@0.0.0.0:49735" has failed; address is now gated for 5000 ms. Reason is: ["Akka.Remote.EndpointDisassociatedException: Disas

[2018-09-02 19:52] Horusiath commented on #3585
This error message that at least two of your actor systems have dissassociated and can no longer communicate with each other. My guess would be that you haven't set a DistributedPubSub serializers configuration on all of the nodes.

[2018-09-02 19:58] hectorcaban commented on #3585
I was just about to do that. I will let you know.. Thanks !

[2018-09-02 21:09] hectorcaban commented on #3585
Fixed.. Thanks !

[2018-09-03 13:47] danielab commented on #3455
Version: Akka.Cluster.Sharding 1.3.8-beta66
(Akka.Net Version: 1.3.8)

We are using persistence with BigTable (https://github.com/hafslundnett/hn-akka-persistence-bigtable)
Split-brain-resolver : active-strategy : keep-majority

I think we got a similar error:
[code]
We are running with 8 nodes (akka-seed-0 to akka-seed-7), where akka-seed-0 and akka-seed-1 are seed nodes.

It seems the error occu

[2018-09-03 14:04] zbynek001 commented on #3455
looks like the same issue as https://github.com/akkadotnet/akka.net/issues/3204

[2018-09-04 14:38] ef-computas commented on #3204
@zbynek001 How should one use Serialization.SerializeWithTransport on the plugin side to solve this issue?

If I do something like:

[code]
on the plugin side, this will not correctly serialize any IActorRef properties in message.Payload because Akka.Serialization.Serialization.SerializedActorPath is only used to serialize IPersistentRepresentation.Sender in Akka.Persistence.Serialization.Persiste

[2018-09-04 18:37] object commented on #3522
Reply from @Horusiath: "in general entities are globally identified by shardId * entityId pair, but if remember-entities option is used, you must be able to infer shardId based on entityId alone (don't ask me why, lightbend team decided to do it this way)"

[2018-09-04 18:46] leo12chandu opened #3587 "Hyperion .NET Core to .NET Full framework"
When creating a new issue, please make sure the following information is part of your issue description. (if applicable). Thank You!

- Which Akka.Net version you are using
1.3.8
- On which platform you are using Akka.Net
Windows, VS2017
- A list of steps to reproduce the issue. Or an gist or github repo which can be easily used to reproduce your case.
When we have akka.net app that is hosted in .

[2018-09-05 09:05] Ulimo commented on #2575
Hi, Im running Akka Cluster 1.3.8, and I just experienced port exhaustion.
I recieved this event: A request to allocate an ephemeral port number from the global TCP port space has failed due to all such ports being in use.

Followed by:
TCP/IP failed to establish an outgoing connection because the selected local endpoint was recently used to connect to the same remote endpoint. This error typicall

[2018-09-05 14:28] Aaronontheweb commented on #2575
Thanks @Ulimo - I shelved an idea for being able to definitively test whether or not this is an issue because I thought our most recent DotNetty upgrade had resolved it, but given your bug report it appears that this is not the case. We'll begin looking back into it.

[2018-09-05 14:32] Aaronontheweb commented on #3583
@robvangeloven so the `Task` returned by `CoordinatedShutdown` never completes? Is that what you mean?

[2018-09-05 14:41] Aaronontheweb commented on #3584
Yes, it should limit the number of routees available.

[2018-09-05 17:48] robvangeloven commented on #3583
Hi,

Yes. The task never finishes. I was going to write a unit test for it but
time constraints mean I haven't been able to yet

On Wed, Sep 5, 2018, 17:33 Aaron Stannard <notifications@github.com> wrote:

[2018-09-05 18:26] #3564 closed

[2018-09-06 03:12] #3537 closed

[2018-09-06 05:45] moerwald opened #3588 "DeviceGroupSpec.cs DeviceGroup_actor_must_be_able_to_collect_temperatures_from_all_active_devices is incomplete"
The test case DeviceGroup_actor_must_be_able_to_collect_temperatures_from_all_active_devices has one open "TODO" -> "// TODO: compare temperatures dictionary" -> Add the approp. checks.

[2018-09-06 15:27] anthonyhawes opened #3590 "Persistence SqlJournal events written out of sequence"
Akka.Net 1.3.9 on Windows (Full .NET Framework)

Using SQL based journals, under load multiple events for the same actor can be written to the database out of sequence.
Processing a command message which persists multiple events via separate calls to Persist. These can potentially be batched up into the same call to WriteMessagesAsync. Each AtomicWrite is then processed in a separate (potentially

[2018-09-07 07:48] ismaelhamed commented on #3584
@Aaronontheweb Seems like the wildcard in the `WorkersPath` above is not resolved by the router, so internally it only counts as one routee. If I change this line:
[code]
 with an explicit array of paths, then it behaves correctly.

[2018-09-07 12:19] pmbanka commented on #3522
Hah, so I looked into it again today and I realised the problem is indeed with our extractor code, not with Akka :)

Our extractor uses GetHashCode, which I just learned [produces different results for same strings across different AppDomains (so, different runs of application as well)](https://blogs.msdn.microsoft.com/ericlippert/2011/02/28/guidelines-and-rules-for-gethashcode/). Akka's implement

[2018-09-07 12:41] object commented on #3522
Wow! Well done, Pawel. Actually I knew that GetHashCode is not deterministic across domains (there was a Twitter thread about it a year ago or so) but wouldn't that think about it in the context Akka clustering. I am pretty sure we are not only who hit this problem.

[2018-09-07 12:45] Aaronontheweb commented on #3522
Glad you worked that out. Made this mistake myself before in my own applications - it's one of those "gotchas" that I think you can only really learn by being burned by it once. The hash code randomization serves a purpose (security - prevents people from being able to predict the hash of a specific value in advance for any given .NET process) but that lack of consistency makes it useless for dist

[2018-09-07 12:45] #3522 closed

[2018-09-07 18:43] #3571 closed

[2018-09-07 18:59] Aaronontheweb commented on #3590
Hi @anthonyhawes

I'm not convinced you're correct here. Do you have a reproduction example or some data that indicates that this is an issue?

https://github.com/akkadotnet/akka.net/blob/75b1333a37dcbd8f0a8db46d39e27a6659c17b98/src/contrib/persistence/Akka.Persistence.Sql.Common/Journal/SqlJournal.cs#L135-L198

I don't have time to go through the entire code base now, but the way this code works

[2018-09-08 13:11] anthonyhawes commented on #3590
Hi @Aaronontheweb, I don't have a simple code snippet that easily reproduces the behaviour (concurrency issues being what they are), but I am seeing this happen several times a day in production. It only started happening when we introduced code that made multiple calls to Persist when processing a single command message, much like the example in the documentation (http://getakka.net/articles/pers

[2018-09-10 16:39] Aaronontheweb commented on #3506
Based on some of the quality issues we've had with DotNetty recently, I've been exploring a replacement for it built on Akka.Streams.

But that is a ways off still. In the short run, I'll look more closely at the .NET Core 2.1 issues you all have been reporting. Strong chance it's something fucked up with the runtime itself and DotNetty has to patch around it in order to get it to work. Wouldn't b

[2018-09-10 18:33] mmisztal1980 commented on #3506
@Aaronontheweb I've examined my hocon multiple times (hocon below is the final configuration) and to be honest I don't see anything wrong with it. (keep in mind that it's been a while).

[code]

[code]

I've performed connectivity check between:
- core-cluster-svc & core-cluster-svc1
- core-cluster-svc & core-cluster-svc2

The checks have been completed via telnet:

I've attached to the running co

[2018-09-10 18:48] alexsandro-xpt commented on #3506
@annymsMthd and @Lutando Are you have a code demo to test it?. I will run it under Kubernetes.

[2018-09-11 07:30] vasily-kirichenko opened #3592 "build.ps1 fails behind a proxy"
[code]

[2018-09-11 14:28] danielab commented on #3204
Erik (ef-computas) and I solved this by adding the external address for the local node to the SerializeWithTransport method (in our journal and snapshotstore persistence implementation). The address parameter will only be used if the ActorPath's Address does not have Host and Port value, meaning the ActorPath is local (ref method ToStringWithAddress in ActorPath). We retrieved the protocol (akka.t

[2018-09-11 16:51] #3590 closed

[2018-09-12 05:27] Horusiath commented on #3590
@anthonyhawes before we'll fix this issue, the easiest workaround (hopefully working) would be to persist multiple events at once: `Persist` method has overloads, that allow you to store more than one event in a single call.

[2018-09-12 16:05] zbynek001 commented on #3204
We're using custom persistence provider and custom serialization, also for internal akka sharding events, so we were able to hack around this issue.

Right now we're using something along these lines:

[code]

[2018-09-12 18:03] anthonyhawes commented on #3590
@Horusiath Thanks for the suggestion. I've already tried that and also calling Persist for the second event from inside the callback to the first. Both workarounds solve the out of order problem, but surface a different problem with persistence query events by tag where some of the events don't appear in the query stream. I am nearly finished writing a (bare bones) persistence plugin for PostgreSQ

[2018-09-12 20:27] mmisztal1980 commented on #3506
@Aaronontheweb

I've set `akka.remote.dot-netty.tcp.log-transport = true` and set the overall logging level to `DEBUG`.

Here's the output I've captured:
[log.txt](https://github.com/akkadotnet/akka.net/files/2376739/log.txt)

[code]

Hope that helps a bit.

[2018-09-12 20:30] Aaronontheweb commented on #3506
@mmisztal1980

[code]

Sure looks like DotNetty catching fire under the covers. Problem with their reference counting system...

[2018-09-12 20:31] Aaronontheweb commented on #3506
So I'll need to investigate why this happens on .NET Core 2.1 but not elsewhere (AFAIK) - I'll begin an investigation and I'm going to upgrade this issue to "confirmed bug."

[2018-09-12 20:33] Aaronontheweb commented on #3506
This is also neither a Windows or Linux-specific issue. Appears to be both runtimes.

[2018-09-13 19:10] netclectic opened #3594 "SSL Configuration Fails Unless Fully Configured"
When setting up SSL configuration I have to set valid path, password and flags properties even when enable-ssl is set to false.

- Which Akka.Net version you are using
  * 1.3.9

- On which platform you are using Akka.Net
  * .Net Framework 4.7.2 on Windows 10 x64

- A list of steps to reproduce the issue. Or an gist or github repo which can be easily used to reproduce your case.

  * a node confi

[2018-09-13 22:56] mmisztal1980 commented on #3473
@Aaronontheweb I can have a look at this. Can you point me to the location in the code?

[2018-09-13 22:58] mmisztal1980 commented on #3423
@Aaronontheweb  I can have a look at this. Where are the search bar & the index.json located in code?

[2018-09-13 23:27] mmisztal1980 commented on #3423
I've forked & cloned the docs site repo. However I've run into this:

[code]

Can anyone advise how to get past that? Unfortunately grunt is not my speciality (I'm more of a gulp/webpack person).

[2018-09-13 23:32] mmisztal1980 commented on #3423
Also, I seem to be unable to locate the docfx.json to add the `ExtractSearchIndex` postprocessor...

[2018-09-14 10:40] anthonyhawes commented on #3590
It looks like it's the way PostgreSQL handles concurrency. Because lots of transactions are in flight it results in auto increment values being generated as normal, but other transactions with later auto increment values are committed first.

[2018-09-14 17:36] sean-gilliam commented on #3423
The old documentation repo located at (https://github.com/akkadotnet/getakka.net) has been abandoned and is only there for legacy / information purposes.
It was a pain to work with, used a for pay 3rd party theme, and was in desperate need of a facelift.

So we ported everything over to using DocFx and is now located in our main repo (https://github.com/akkadotnet/akka.net/tree/dev/docs).
That's w

[2018-09-14 19:57] mmisztal1980 commented on #3423
@sean-gilliam can you tell me how do I run the site locally to test the fix? Is this a static site served from IIS?

[2018-09-14 19:58] Aaronontheweb commented on #3423
If you clone the main repo, just need to run `serve-docs.cmd` and that will build the website. Make sure you run `build.cmd buildrelease` first so the binaries are up to date.

[2018-09-16 11:57] marcpiechura commented on #3563
@mmisztal1980 yup, thanks for the reminder.

Closed via https://github.com/akkadotnet/akka.net/pull/3595

[2018-09-16 11:57] #3563 closed

[2018-09-18 00:52] #3423 closed

[2018-09-18 08:49] Gradi commented on #1267
Is there any news about DI support in akka-remote?

[2018-09-18 15:28] bibekdw opened #3597 "Router not terminated when broadcasting PoisonPill if there is an Exception in routee which is handled using supervisorstrategy"
Hi,

When one of the routee throws exception, my actor is not receiving Terminated message for the router being death watched even after broadcasting PoisonPill to the router. The exception is handled with supervisorstrategy with Resume Directive. If I don't throw the exception and handle with try catch in routee, router Terminated message is received just fine. Am I missing something here?

- usi

[2018-09-19 11:57] jonhoare commented on #3534
Is this still an issue for you?

We have almost identical issues running our system in docker.
Our setup is,
1x Seed Node (Lighthouse)
2x App1 Applications (Identical Docker Images/Versions)
2x App2 Applications (Identical Docker Images/Versions)
2x App3 Applications (Identical Docker Images/Versions)

Sometimes all apps will connect and join the cluster correctly using the Lighthouse Seed Node. H

[2018-09-19 12:45] Horusiath commented on #3534
@jonhoare are you starting all of these nodes at the same time? If so, maybe just give seed node a headstart and let it get up before trying to join it?

[2018-09-19 14:19] jonhoare commented on #3534
@Horusiath Thanks for the heads up.

We have had our lighthouse application up and running for around 45 minutes now, and have just recycled the pods (we are using kubernetes) that were not connected. Some of these pods were able to connect successfully, but a couple of others still are not.

We get the following warning message in our application pod that is failing to join the Lighthouse seed no

[2018-09-20 17:38] Haukinger commented on #1642
Any news here? It would be great if we could configure some udp-broadcast-plugin and make instances of our app discover each other and start/join a cluster without seed nodes.

[2018-09-20 18:02] JTrotta commented on #1642
I realized it by myself. But it would be wonderful to have this feature native.

[2018-09-20 18:03] Aaronontheweb commented on #1642
Why is this necessary? What's wrong with having seed nodes?

[2018-09-20 18:17] JTrotta commented on #1642
Because in addition to the cluster node machines, you need to have seeds nodes machine active. Moreover if you implement the seed node inside the cluster nodes you need to have that machine active before others. In my opinion, the best cluster is composed by parithetic nodes.

[2018-09-20 20:43] Haukinger commented on #1642
I think it strongly depends on the usage scenario. If you run your cluster in a data center or amazon cloud or something like that, you have no problem setting up seed nodes and preconfiguring everything.

But if you have an app running on multiple machines on a lan (office/campus) and have the cluster as secondary feature built into the app (think ncrunch) to distribute work to other machines run

[2018-09-21 19:14] eaba commented on #3556
After a long while I came to find out that the is was due to this:
[code]
This caused the Actors to shutdown! It is recommended that default Serializer should not be used for akka.persistence

[2018-09-22 07:54] mika76 commented on #3435
Udp documentation is sorely lacking I must say - just trying to figure out how to start it is a test of google skillz - I know it's nice to ask others to fill in documentation blanks, but I'm not sure how people are supposed to just figure these things out and THEN write the docs - shouldn't the original developer at least put something down? They of course know how they designed it...

[2018-09-22 17:11] ianhorton opened #3598 "Cluster not forming on Kubernetes"
Hi,

We have witnessed some interesting behavior when we have tried to get a cluster to form in Kubernetes. From our experiments, we have only been able to get Akka.NET 1.3.8, built with .NET Core 2.0 to successfully form a cluster inside K8s. We tried locally in Minikube and on our K8s cluster in GCP and we saw similar results.

I put a repo together where you can find a bunch of different combin

[2018-09-22 17:29] #3598 closed

[2018-09-22 17:35] ianhorton commented on #3506
I saw this issue in K8s, I put together a repo with some net/akka versions that have will not form a cluster happily. https://gitlab.com/ian.horton.vibe/akka-cluster-issue/

[2018-09-22 17:38] ianhorton commented on #3598
duplicate of -> https://github.com/akkadotnet/akka.net/issues/3506

[2018-09-22 20:03] Aaronontheweb commented on #3506
Thanks for sending this.. I'm trying to imagine what change we could have introduced in v1.3.9 that could have caused this, but only on Linux

Sent from my iPhone

[2018-09-22 21:49] Aaronontheweb commented on #3506
I'm convinced that part of the solution to this problem relies in solving https://github.com/akkadotnet/akka.net/issues/3573 - we've had issues in the past with .NET Core on Linux demonstrating different behavior than it does on Windows and outside of a few built-in specs we have inside the Akka.Remote.Tests and Akka.Cluster.Tests libraries, we don't do much in the way of automated End2End testing

[2018-09-25 18:13] Aaronontheweb opened #3599 "Props methods for propagating and setting IActorProducer are pretty weird"
Akka.NET Version: v1.3.9

This is how we set the `ActorProducer` inside `Props` today when we're using dependency injection:

https://github.com/akkadotnet/akka.net/blob/3c6115eb99960cf496a4ec56e565a0d34f0c991b/src/core/Akka/Actor/Props.cs#L292-L298

It's indirect, and we repeat this process of using reflection on the input type to figure out if we should use a custom `ActorProducer` whenever some

[2018-09-25 21:21] pshrosbree commented on #3128
https://github.com/akkadotnet/akka.net/pull/3601

[2018-09-26 12:04] mmisztal1980 commented on #3506
Just wondering if there have been any new developments in this area? I need to do some work in Akka.NET vs .net core, so should I wait or should I roll back to .net core 2.0 runtime?

[2018-09-27 04:22] mzelecom opened #3602 "how to set delimiter in TcpEchoService.Server example"
hi
i need to set delimiter "\n" for tcp server .
i used TcpEchoService.Server example
i searched for it and found this line .
Framing.Delimiter(
                        ByteString.FromString("\n"),
                        maximumFrameLength: 256,
                        allowTruncation: true))

but i dont know where to add this.
please help
thanks

[2018-09-27 14:51] Aaronontheweb commented on #3506
Safest course of action would be to do a rollback until we get to the bottom of what's going on. I'm fighting for every spare minute I have here to work on this but I'm not in a position to offer a fix-by date.

[2018-09-27 20:01] aventurella opened #3603 "Starting multiple actor services inside Docker"
In out development environment, we are using the docker image:

`microsoft/dotnet`

With this image launched, we shell into it and begin starting our various seed nodes/services. We do not need to connect externally, AKA host -> docker. We are just doing some testing.   However, in this setup when we start everything up (2 seed nodes and a few other services) after a few seconds services become un

[2018-09-27 22:27] Aaronontheweb commented on #3506
Guess it's a good thing we target .NET Standard then :p

[2018-09-27 22:53] pshrosbree commented on #3506
Not on Linux its not.
😉

Regards,
Peter

________________________________
From: Aaron Stannard <notifications@github.com>
Sent: Thursday, September 27, 2018 3:27 PM
To: akkadotnet/akka.net
Cc: Peter Shrosbree; Comment
Subject: Re: [akkadotnet/akka.net] DotNetty Remote Transport Issues with .NET Core 2.1 (#3506)

Guess it's a good thing we target .NET Standard then :p

—
You are receiving this beca

[2018-09-28 11:48] AndreSteenbergen opened #3604 "MergeSorted Graphstage: Compare function check int againt -1 instead of < 0"
From Source:

[code]

[2018-09-28 16:52] aventurella commented on #3534
I have the same issue when running inside docker.

In my simple setup, if I run 1x seed node, my other services seem to connect just fine. When I introduce a second seed node however, things become very unstable. as @carlosrpereira  did, I can also, from the `Seed #2` both ping AND telnet to `Seed #1`, but `Seed #2` will not connect to `Seed #1`:

[code]

So, again, pinging `172.23.0.2` from `Seed

[2018-09-28 17:12] JTrotta commented on #1642
@Aaronontheweb it seems you are not convinced, or do not agree at all ?

[2018-09-28 17:30] Aaronontheweb commented on #1642
Not convinced either way. It's something I'd probably want to kick the
tires on myself before I formed a stronger opinion about it. So I'll leave
the current status as "thinking it over" :p
ᐧ

On Fri, Sep 28, 2018 at 12:12 PM Gerardo <notifications@github.com> wrote:

--

Aaron Stannard / CTO
aaron@petabridge.com / (424) 248-5485

[image: Petabridge, LLC] <http://petabridge.com/>

Petabridge, LLC

[2018-09-28 17:30] Aaronontheweb commented on #1642
Not convinced either way. It's something I'd probably want to kick the tires on myself before I formed a stronger opinion about it. So I'll leave the current status as "thinking it over" :p

[2018-09-28 19:05] connelhooley commented on #3200
Finally has some free time to look at this :) I think I can see why the error is happening.

We appear to his this line when the parent tries to supervise the child:

[2018-09-28 21:21] connelhooley commented on #3200
OK so I think I have a workaround and suggested fix.

If you take the following line in my gist:

[code]

And replace it with:

[code]

The code works correctly. For now I'm happy to use with this workaround in my project. A fix though could be to add additional overloads to the TestKitBase like this for example:

[code]

Notice the use of `.Ref`.

Although I guess it's worrying that the Ref prope

[2018-09-29 18:03] Rizzen commented on #3500
Encountered same issue.
I believe that issue can be easily fixed with combination of Anchor Path and PathString. I'll provide PR with possible solution.

[2018-10-01 16:53] aventurella commented on #3603
See #3534

[2018-10-01 16:53] #3603 closed

[2018-10-02 13:47] Aaronontheweb commented on #3500
Yeah, the idea behind this is that the delivery needs to be targeted at an `ActorPath` in order for paths to be persisted and recovered correctly in the future. `IActorRef`s can't be persisted and re-hydrated this way since each `IActorRef` is stamped with a unique ID that changes whenever an actor is stopped / restarted.

Using an `ActorSelection` instead of an `ActorPath` shouldn't be a big deal

[2018-10-02 14:40] Aaronontheweb commented on #3597
Thanks @bibekdw - I'll be looking into this

[2018-10-02 14:41] Aaronontheweb commented on #3533
@Danthar sounds good - I'll go that route then.

[2018-10-02 14:54] Aaronontheweb opened #3608 "Sample Cleanup: have Akka.Cluster.Sharding sample run on multiple nodes"
We should change
https://github.com/akkadotnet/akka.net/tree/dev/src/examples/Cluster/ClusterSharding/ClusterSharding.Node to have it actually run on multiple nodes instead of just a single node, since that's more illustrative of real-world behavior than the single-node mode it uses right now.

Looks like that can be configured via the SQLite database, but it'd be easier to just discard that and h

[2018-10-02 15:18] Rizzen commented on #3500
Sure, but current behavior a little confusing, I believe it's better to fix it some way.

[2018-10-02 15:42] #3557 closed

[2018-10-02 16:06] Haukinger opened #3610 "Is a Dynamic-Referee-Split Brain Resolver viable?"
I desire a split brain resolver that will always shut down all clusters but one in case of a network partition (like `KeepReferee`) , but does not depend on the presence of a single node (like `KeepOldest`). And I'd prefer to have your input before I start coding and come across an insurmountable problem later on.

My idea is to have a referee that is moved to another node if the current referee n

[2018-10-02 19:37] Aaronontheweb commented on #3610
So you're just looking for a way to figure out how to move the referee around... But the hitch is, the referee MUST LEAVE THE CLUSTER CLEANLY or the entire cluster goes offline?

[2018-10-03 05:56] Horusiath opened #3611 "Hocon: add method for automatically filling objects with values from config."
In most cases, when we are creating a HOCON configuration, internally we are still mapping it on immutable settings objects. In that case mapping HOCON key=value pairs to class properties is a manual work... and a lot of boilerplate.

The idea here is to provide some sort of method on top of `Config` class, that will be able to build desired object automatically, i.e:

[code]

The idea for the alg

[2018-10-03 09:34] Haukinger commented on #3610
I think, the whole cluster going down is less of a problem for me than the cluster doing the wrong thing undetected (splitting into two independent clusters). I can always fall back to local processing while rebooting a new cluster, but I want a cluster that I can trust that it's the only cluster.

[2018-10-03 13:01] pshrosbree commented on #3611
I wonder if an interface based approach might not be more flexible. The basic idea is that you define an interface, point it to a `Config`, and an immutable type is generated that implements the interface.

The basic implementation would leverage the field types currently in `Config`, but be extensible by registering parsers, understanding collections and reusing previously defined interfaces. Map

[2018-10-03 17:43] Horusiath commented on #3611
@pshrosbree what is the value added of the interface here? We'd need to create dynamic proxies for a concrete implementation. Also with your approach I don't really see any place where validation logic could be placed.

[2018-10-03 23:12] Aaronontheweb commented on #3597
You have indeed found something odd here.... Modified your gist some.

https://gist.github.com/Aaronontheweb/15fd90ff517027c6e4d7c00e4a87fc80

[code]

Router only kills off 22 of its routees with the `Broadcast(PoisonPill.Instance)`... I'm going to tweak the sample a bit more and see what's up.

[2018-10-03 23:15] Aaronontheweb commented on #3597
I wonder if some of the code that we was proposed in this PR might shed a clue on this... Definitely appears to be related to the `Directive.Resume`: https://github.com/akkadotnet/akka.net/pull/2433

[2018-10-03 23:17] Aaronontheweb commented on #3597
Oh wow.... In the case of restarting the actor none of the routees were killed off.

[2018-10-03 23:41] Aaronontheweb commented on #3611
This is YAGNI, IMHO. Unless you're writing your own custom HOCON values and consuming those inside custom settings classes, I don't see any value in adding this to the framework.

[2018-10-03 23:46] Aaronontheweb commented on #3610
just use keep majority then. The minority side of the split brain will down itself automatically.

https://github.com/akkadotnet/akka.net/blob/83b13f00fbc2b31a7b60163e2318fd997ebb72db/src/core/Akka.Cluster/SplitBrainResolver.cs#L130-L144

[2018-10-03 23:48] Aaronontheweb commented on #3610
Worth bearing in mind, when you look at the split brain resolver code: if there are two partitions, there are two leaders. Both leaders run this code. If the leader on the "losing" side of the partition determines that it's on the loser, it downs itself and everyone on the same side as it.

Hence why it's a split brain resolver - preserves the winning partition and kills the loser. All of them do

[2018-10-03 23:51] Aaronontheweb commented on #3597
Ah, I know why that is:

Routee --> Router --> Consumer --> Coordinator is the structure of the hierarchy in this sample. The error escalates ALL THE WAY to the Coordinator from an individual routee.

The supervision decision being issued here is at the level of the Coordinator --> Consumer. When I use `Directive.Restart`, the Coordinator kills off the old instance of its router and re-creates it.

[2018-10-03 23:52] Aaronontheweb commented on #3500
@Rizzen I'm agreeing with you

[2018-10-04 00:06] Aaronontheweb commented on #3611
Sorry, my last reply was too dismissive - here's what I should have said:

"I'm not convinced the juice is worth the squeeze here, but I'd love to hear some arguments why we should add this. Right now I view this as just another thing that we'd need to QA, maintain, and debug and not something that would add a lot of value to the framework.

However, if the goal is to make it easier to integrate H

[2018-10-04 00:33] Aaronontheweb commented on #3611
@pshrosbree I'd be up for putting this as an additional package in the HOCON repository, since we're trying to move most of that stuff out of this repo in the first place.

Among other reasons, to allow for more changes like this to be made without affecting the "big infrastructure" parts of the core actor library itself.

[2018-10-04 09:12] Haukinger commented on #3610
This certainly helps, but I'm unsure because of this in the docs:

To me that reads: _two different parts of the cluster may both think they are the larger part and both stay alive_.

The referee avoids this risk but adds dependency on a single node. If we could reliably move the referee, we can have both (no risk of not downing a partition that should be downed  and not being dependent on one nod

[2018-10-04 11:42] Horusiath commented on #3610
@Haukinger equally probable scenario could be that given cluster of 10 nodes, you'll hit with network split 2/8 while the referee is on the smaller part. In that case you'll arbitrarily kill most of the cluster (and in result probably the entire cluster will go down as well, since remaining 2 nodes will now have to serve requests, that were split onto 10 nodes so far).

[2018-10-09 17:37] #3604 closed

[2018-10-09 18:05] Aaronontheweb commented on #3573
I'm on it! Want to use this to help sniff out #3506

[2018-10-09 20:02] Aaronontheweb opened #3615 "Rewrite MultiNodeTestRunner as .NET Core tool"
Having done this recently for NBench: https://github.com/petabridge/NBench/pull/240/

I think that it'd be an end-user experience improvement to leverage .NET Core's built-in tooling for the MNTR. We can go down the global tool route or use a downloadable package. But what I like about this idea is that it makes it possible for us to target the `.csproj` file used for the multi-node project rather

[2018-10-09 20:57] Aaronontheweb commented on #3506
[code]

From just running our `RemotePingPong` benchmark on .NET Core 2.0 on Linux with `dotnet run --project RemotePingPong.csproj --framework netcoreapp2.0`

[2018-10-09 21:05] Aaronontheweb commented on #3506
Deleted my previous comment - turns out that was definitely not the latest sources. It was the `master` branch from about a year ago 👍...

[2018-10-09 21:09] Aaronontheweb commented on #3506
As fate would have it... Same issue with DotNetty using the v1.3.8 sources, using Ubuntu 16.04 via the Windows sub-system.

[code]

[2018-10-09 21:10] Aaronontheweb commented on #3506
Going to give that another full rebuild locally here though on the off-chance that something was cached from an earlier build.

[2018-10-09 23:32] Aaronontheweb commented on #3506
Investigating this issue in more detail by spinning up a WebCrawler cluster in `docker-compose` with Akka.NET v1.3.9 installed.

Cluster formed just fine with .NET Core 1.1 Lighthouse (Akka.NET v1.3.4) and .NET Core 2.0 Web / Tracker / Crawler nodes (v1.3.9.)

Cluster formed just fine with .NET Core 2.1 Lighthouse (Akka.NET v1.3.9) and .NET Core 2.0 Web / Tracker / Crawler nodes (v1.3.9.)

[2018-10-09 23:38] Aaronontheweb commented on #3506
I'll be updating those projects tonight with some repro instructions you can use, but so far it looks like my Docker environment on Linux (using whatever the default OS is on the .NET Core images, same as @ianhorton's K8s example.)

I'm going to try to get your K8s example running too, but I had some issues with MiniKube on my office computer. I'll try at home on my Ryzen machine tonight.

[2018-10-10 00:15] mmisztal1980 commented on #3506
As far as I recall, my sample uses the 2.1 version of the web project.

[2018-10-10 11:41] ianhorton commented on #3506
minikube version 0.28.0 is the latest version I can get working consistently. I generally find deleting the folder at \Users\<CurrentUserName>\.minikube is necessary as well...

[2018-10-11 11:20] kaffepanna opened #3617 "HOCON substitution from environment variables"
Are there any plans on supporting environment-variable substitution in Akka.Config and also the conditional substitution syntax `${?` For example:

[code]

[2018-10-11 13:35] psandler commented on #1267
I second @Gradi question.  Asked on gitter but no response yet.

[2018-10-11 19:18] Aaronontheweb commented on #1267
This is a scenario we're unlikely to support. Remote deployment isn't used all that often as-is today, let alone in combination with DI. If you _really need_ to do this, you can do it yourself by using the remote fan-out pattern: remotely deploy a parent who then locally deploys a child using the `Context.DI.Props` method.

[2018-10-14 20:31] NielsHoogeveen opened #3620 "StreamRef deserialization doesn't work for serializers without manifest"
In Akka 1.4 beta 4, when trying to deserialize a message with an associated serializer that does not have a string manifest (Hyperion, Newtonsoft), the serializer crashes in Akka.Streams/Serialization/StreamRefSerializer.cs at:
158                    var type = Type.GetType(manifest, throwOnError: true);

The reason is manifest == null.

Removing the if condition at line 214 - 219 seems to solve t

[2018-10-14 20:41] Horusiath commented on #3620
The problem is not on the serializer side (it's there for a reason), but rather on deserializer - see: https://github.com/akkadotnet/akka.net/blob/v1.4/src/core/Akka.Streams/Serialization/StreamRefSerializer.cs#L156

In `DeserializeSequenceOnNext` we should check for `IncludeManifest` as well - if it's false, it should be safe to use `FromBinary` with type param equal null. Therefore `Type.GetType

[2018-10-14 20:42] NielsHoogeveen opened #3621 "StreamRef subscription time out does not get canceled after handshake"
In Akka 1.4 beta 4, when using stream refs, the stream receives a timeout after as much time as is defined in  stream.materializer.stream-ref.subscription-timeout. The OnSubscribeHandshake message is never received and as a result the CancelTimer(SubscriptionTimeoutKey) call (line 630 of Akka.Streams/Dsl/StreamRefs.cs) is never made. As a result the stream can only last as long as the subscription

[2018-10-15 06:47] Horusiath commented on #3620
EDIT: for deserialization, we probably should use [Serialization.Deserialize](https://github.com/akkadotnet/akka.net/blob/39d0d0037db0b8d990453836a8bb589bf1cd1805/src/core/Akka/Serialization/Serialization.cs#L203) method, which does exactly what we need.

[2018-10-16 16:30] Aaronontheweb opened #3624 "Akka.Cluster bug: nodes stuck during "reincarnation" process"
Akka.NET v1.3.8 and later.

Issue is thus: in a 20 node cluster, where all nodes have static addresses, if 10 nodes are suddenly rebooted (i.e. all running on the same host machine) they should go through the "reincarnation" process Akka.Cluster uses to automatically down the old incarnation and mark the new one as up.

However, according to the logs I've attached - it's possible that _not all_ of

[2018-10-16 19:02] #2706 closed

[2018-10-16 21:01] Aaronontheweb commented on #3597
Oh man, yeah, that looks like another bug. Thanks for reporting that too.

[2018-10-16 21:48] Aaronontheweb opened #3626 "Akka.Actor: Inconsistent application of SupervisorStrategy on Pool routers"
Version: 1.3.9

Splitting up the bug that was reported here from its original issue: https://github.com/akkadotnet/akka.net/issues/3597#issuecomment-426872642

[2018-10-18 02:00] Aaronontheweb commented on #3597
I was finally able to reproduce this in a spec. So the suspend / resume semantics work fine up and down the food chain (tested that) when done in sequence, but if I _interleave_ normal messages and ones that produce failures in routee children together this causes the issue you described here to appear.

Makes me think this might be an issue with concurrent access to the pool router's `ChildContai

[2018-10-19 05:30] Aaronontheweb commented on #2706
@Ky7m did you close this because you think the issue is resolved? Just asking!

[2018-10-19 05:47] Ky7m commented on #2706
@Aaronontheweb, I am still not sure about this implementation, but it was open for more than 1 year :) so I decided to close it.

[2018-10-23 19:35] erlis commented on #1919
Hi all,

I have the same need. This question is pretty old and now we have streams and I've been reading.. a lot. But the question I have, and I cannot find it, is this: Given an Actor model, where my consumer is way slower than the producer, how can I add backpressure? I've read the documentation for streams, the integration part looks like will contain the answer to my question, but after readin

[2018-10-23 19:56] Aaronontheweb commented on #3597
I'm going to keep looking into this some, but just as an FYI @bibekdw - there's a reasonable chance I'm going to mark this as "won't fix." It's _old_ code and this the first time it's been reported. If the fix looks like it's going to be invasive or expensive, I might have to do that simply because the economics of the change aren't all that good. Just want to set that expectation now in case that

[2018-10-23 19:57] Aaronontheweb commented on #3624
Turns out this was a configuration issue - inconsistent configuration. No issue here.

[2018-10-23 19:57] #3624 closed

[2018-10-24 02:27] yongjiema opened #3630 "Too many open files error"
The issue is related to neo-project/neo#413

- Version: v1.3.8
- Platform: Ubuntu 16.04-x64
- Reproduction: Try to connection a IP which cannot be connected via TCP repeatedly, the error will be occurred later

[2018-10-24 11:43] to11mtm opened #3632 "Akka.Remote: No Support for Using Installed Certificate with Thumbprint"
The Dotnetty Transport currently only supports using certificates specified by file and password. Being able to use an installed certificate specified by Thumprint allows deployments in scenarios where an organization does not wish to have these files/passwords visible.

I've created a [pull request](https://github.com/akkadotnet/akka.net/pull/3629) that adds this capability.

[2018-10-24 20:15] Aaronontheweb commented on #3506
Comment from the DotNetty project lead:

[2018-10-24 20:48] Aaronontheweb commented on #3506
Yeah, this sure smells like the problem:

https://github.com/Azure/DotNetty/pull/413

[2018-10-24 20:48] Aaronontheweb commented on #3506
Doesn't mean I don't want to still finish investigating the issue on the MNTR, but sounds a lot like what's been reported.

[2018-10-24 20:52] Aaronontheweb commented on #3506
This too https://github.com/Azure/DotNetty/issues/422

[2018-10-24 21:09] mmisztal1980 commented on #3506
@ianhorton @Aaronontheweb you guys might wish to try out Kubernetes support that comes along with Docker for Windows. IMHO it's a more stable experience than the minikube one

[2018-10-25 16:33] #3630 closed

[2018-10-25 19:14] Aaronontheweb commented on #3632
closed via #3629

[2018-10-25 19:14] #3632 closed

[2018-10-25 19:16] Aaronontheweb commented on #3594
yes, that sounds right to me - can we setup a reproduction spec for this? Because if what you're saying is true then Akka.Remote should always be catching fire whenever anyone uses it without explicitly setting up SSL, no?

[2018-10-26 08:06] Horusiath commented on #1919
@erlis by design actor-actor communication is designed to be one-way best-effort (which means no confirmations, no redelivieries and no backpressure). The reason for this was that it's the most low-level primitive with the lowest cost. You can build any other communication mechanic on top of it.

Using bounded mailbox is not a good way to introduce backpressure (if I remember correctly, once mailb

[2018-10-26 08:48] netclectic commented on #3594
No, only if they've explicitly setup **invalid** SSL but regardless of whether 'enable-ssl' is true or false.

I haven't revisited this since I first reported it, I'll have a look and see if I can produce a spec.

[2018-10-26 15:34] netclectic opened #3635 "Debug Logging of GossipStatus"
- Which Akka.Net version you are using
1.3.9

- On which platform you are using Akka.Net
Windows 10 64Bit

When I have loglevel set to DEBUG, but with actor and cluster debug options set to off, I still continuously receive some cluster gossip debug log messages, like:

[code]

The GossipStatus message repeats every second or so, from each node in the cluster, while the others are just at startup

[2018-11-01 19:37] Aaronontheweb commented on #3635
This is definitely a bug, and there's an opportunity for a massive user experience improvement here too. Going to get this patched before we push 1.3.10.

[2018-11-01 21:34] Aaronontheweb commented on #3506
@ianhorton I was able to get your reproduction samples up and running on K8s using Docker for Windows and yep, I can reproduce the problem locally using the Windows Subsystem for Linux. This is very helpful. Thank you!

[2018-11-02 09:31] heyixiaoran opened #3640 "routee node can‘t receive all message"
- Akka.Net 1.3.9
- netcoreapp2.1
- repo ：https://github.com/heyixiaoran/AkkaTest

I set a seed node (Server1) and two client node (Client1 and Client2). Then send a message from Client1 to Client2. But now Client2 only can receive dual messages （2，4，6)

The routee node count is 2. Why is not 1?
 If i set nr-of-members =1 .Client2 can not receive any messages.

![image](https://user-images.githubus

[2018-11-02 11:05] AndreSteenbergen commented on #3273
Can this still be an issue? I am on 1.3.9, and I am seeing this as well. Actorsystem running for about an hour (on 1 system) and it just seems to stop nodes as well.

[2018-11-02 13:35] #3635 closed

[2018-11-02 17:06] Aaronontheweb commented on #3640
Duplicate of https://github.com/akkadotnet/akka.net/issues/3506

Workaround for the time being is to downgrade off of .NET Core 2.1 until we can get DotNetty patched. Being actively worked on right now.

[2018-11-02 18:00] Aaronontheweb commented on #3273
This might still be an issue - mind submitting some information about your runtime environment @AndreSteenbergen ? It'd be helpful to know if it's Linux-specific or not.

[2018-11-02 22:47] bibekdw commented on #3597
Understood

[2018-11-03 04:54] AndreSteenbergen commented on #3273
Can it be connected with gossip messages? I have let my cluster sit overnight without giving any tasks. I see this in the logs:

1. [ERROR][11/3/18 4:52:07 AM][Thread 0006][[akka://claxe/system/endpointManager/reliableEndpointWriter-akka.tcp%3A%2F%2Fclaxe%4010.0.0.30%3A4060-2/endpointWriter#1261779370]] AssociationError [akka.tcp://claxe@10.0.0.30:4062] <- akka.tcp://claxe@10.0.0.30:4060: Error [W

[2018-11-03 05:02] AndreSteenbergen commented on #3273
If it is of any help, I migrated from Azure to a VPS the dotnet version is 2.0.9. Because of the dotnet core 2.1 issue. Can this also be a dotnetty thing?

[2018-11-03 07:19] AndreSteenbergen commented on #3273
Could it be my own deserializer? Not reading to the end?

[code]

[2018-11-05 09:42] NielsHoogeveen commented on #3621
Is there anything I can do, to make this a confirmed bug?

[2018-11-05 10:01] Horusiath commented on #3621
Sorry @NielsHoogeveen , I'll pick up this issue as soon as I'll got a second of spare time.

[2018-11-06 09:50] heyixiaoran commented on #3640
@Aaronontheweb  I think it's my conf  error.   Probably the other messages received by the other routee actor. But I don't know how to config to make it work well.

[2018-11-06 09:53] Aaronontheweb commented on #3506
Received this error message when re-running this sample on the latest DotNetty (v0.6.0):

[code]

So `Failed to associate with tcp://cluster-system@cluster-seed-netcore21-akka139-1.cluster-seed-netcore21-akka139:2550 ---> DotNetty.Transport.Channels.ConnectException: LogError connecting to 10.1.0.6:2550 ---> System.Net.Sockets.SocketException: Transport endpoint is not connected` is a new one for

[2018-11-07 03:14] nekenk1 commented on #383
+1

[2018-11-07 06:55] Aaronontheweb commented on #383
So we support this inside [Phobos, Petabridge's Enterprise DevOps Suite for Akka.NET](https://phobos.petabridge.com/): https://phobos.petabridge.com/articles/monitoring/configuration.html

If you set enable the `phobos.monitoring.monitor-mailbox-depth = on` we record these metrics and emit them automatically to whatever monitoring back-end you've configured.

I should note here that Phobos is a co

[2018-11-07 06:55] #383 closed

[2018-11-07 06:59] Aaronontheweb commented on #383
If you want to access this data yourself in Akka.NET today, there's a way to do it but it requires getting access to some of the "internal," yet publicly exposed APIs:

[code]

I think that should allow you to get access to the number, but note that on really high throughput actors this will may have a performance impact as I believe accessing the `Count` locks the underlying queue temporarily. In

[2018-11-07 07:06] Aaronontheweb commented on #3506
My theory on this error is that we have a concurrency bug happening somewhere inside the DotNetty stack.

This error message:

[code]

Seems to indicate to me that we're trying to use a `Socket` object before the connection has actually had an opportunity to complete successfully. Whatever they did to fix the "synchronous socket connect" issue after DotNetty v0.4.8 may have introduced this problem

[2018-11-07 07:08] nekenk1 commented on #383
Thanks I will try that, we don't manage millions of events per second but we do load the machine heavily with other processes that can consume a lot of CPU...

[2018-11-07 07:09] Aaronontheweb commented on #3506
Previous statement made based on the content of the error message and some inferences I've made based on the PRs I looked over on the DotNetty repo.

I'll pull down the DotNetty test suite and see if I can take a crack at it there.

[2018-11-10 10:05] IrvinDominin opened #3645 "Akka .NET tcp port issue"
In our cluster we have five nodes composite of:
- 2 seed nodes (backend)
- 1 worker
- 2 webapi on IIS

I'm using Akka.Persistence.SQL with AtLeastOnceDelivery.

The cluster is joined, up and running; but often I see this in my worker console:
![image](https://user-images.githubusercontent.com/1533624/48300134-4d8daf00-e4d8-11e8-8eb6-a4b037ff35f3.png)

This point me out to the IIS ip.

Here is my I

[2018-11-10 19:08] acds commented on #2750
@Horusiath Any word on this...

[2018-11-11 19:45] Horusiath commented on #2750
@acds I've made some initial progress on [this branch](https://github.com/Horusiath/akka.net/tree/akka-io-tls), but speaking mildly .NET API for SSL is bad. Since this feature had limited number of people waiting for it, I parked it until we got higher priority tasks first.

[2018-11-12 07:47] acds commented on #2750
@Horusiath thanks for the update. Thanks hope the gets prioritized at some point.

I’m figuring I “may” be able to put an Akka.net steam as a byte reader on top of a .net SSLStream...?

Any recommendations ?

[2018-11-12 08:20] Horusiath commented on #2750
TLS support is solved more on an actor level - the scala source code is not much of a help here, since JVM API is totally different from .NET when it comes to SSL. However there's another project ported from JVM to .NET called DotNetty, which has its implementation of [TlsHandler](https://github.com/Azure/DotNetty/blob/797629ac1b62f96c03fc2c2ed5c5f19a3cb1522b/src/DotNetty.Handlers/Tls/TlsHandler.c

[2018-11-12 13:37] peirens-bart opened #3646 "InvalidAssociationException is lost in the task pipe line"
Akka version: 1.3.10
Akka.Remote: 1.3.10
.Net frm : 4.6.1
App type: wpf

I'm trying to use akka for updating a wpf application that is using prism.
[code]
I never get into any exception, wath is something expected since task is none blocking, but I expect to go in failure of the pipeto if there is no actor on the other side of the selction.
in the output window i see

[WARNING][12/11/2018 13:31:02

[2018-11-13 14:53] Aaronontheweb commented on #3506
So I think this was the change that caused the error message to become different between DotNetty v0.4.8 and v0.6.0 https://github.com/Azure/DotNetty/pull/413

If I were to translate that `SocketException` into something we understand in the Windows universe, based on  [Windows Socket Error codes](https://docs.microsoft.com/en-us/windows/desktop/WinSock/windows-sockets-error-codes-2), looks to me

[2018-11-14 05:32] boekabart commented on #3617
I think the plans described in #3050 would implement that (by allowing you to use Hocon as *a*, not *the* source of all truth.)

[2018-11-14 05:32] boekabart commented on #3093
Any update on this, @Aaronontheweb ? We've recently started doing dotnet core style applications, and would love to use HOCON not just for Akka but for everything, but in the MS.Extensions.Configuration way, and we wondering if we should pick up creating a ConfigurationProvider for this, or depend on/wait for this to happen here or in #3050 .

[2018-11-14 14:59] vncoelho opened #3648 "TCP sessions are timeout and showing problems to reestablish messages between them"
It is a very strange situation, some nodes still connect and send some messages, but some types of messages do not arrive and are kind of discarded.

This mostly happen when a node looses connection and tries to get back to the "cluster"

We have the following logs that may be usefull:

[code]

Object  Terminated was invoked before, closing all connections.
[code]

Then, as described, nodes strugg

[2018-11-14 16:13] vncoelho commented on #3543
I found you here, @erikzhang....aehauehauea

@Horusiath, It is also described here #3648, I did not see this one before opening. Sorry if it is kind of duplicated.
There are some additional descriptions there.

[2018-11-14 22:33] Aaronontheweb commented on #3648
@vncoelho what version of .NET Core are you running on?

[2018-11-15 00:04] vncoelho commented on #3648
@Aaronontheweb, first of all, thanks for your professionalism, quick response and attention with our issue.

I fell more comfortable with c++ programming...I do know much about .NET configuration.
The config files are:
https://github.com/neo-project/neo/blob/master/neo/neo.csproj
https://github.com/neo-project/neo-cli/blob/master/neo-cli/neo-cli.csproj

[code]

[2018-11-15 00:07] Aaronontheweb commented on #3648
Looks like net core 2.0

Sent from my iPhone

[2018-11-15 08:57] heyixiaoran opened #3650 "shard send message error"
I'm a newer and my english is not good. So some docs can not understand very clear.
Now I try to use shard to send message from sender to receiver. But some error happened. I don't know how to do. Please help me to use shard. tks.

question:
Why seed-node must be one ? before I set three.  error.

repo: https://github.com/heyixiaoran/AkkaTest.git   . test2 branch

sender:
![1](https://user-images.

[2018-11-15 13:45] Horusiath commented on #3648
From the stack trace it looks like the source of the exception is `Neo.Network.P2P.LocalNode` constructor.. It's not a part of Akka.NET. What does this class is supposed to do?

[2018-11-15 13:49] Horusiath commented on #3650
@heyixiaoran from the error message (*Cannot find serializer with id [9]...*) it looks like one of your nodes has DistributedPubSub initialized (it's serializer ID is 9), while other has not.

[2018-11-15 14:35] heyixiaoran commented on #3650
@Horusiath the  serializer part in config are both same. How to make it correct?

[2018-11-15 15:02] vncoelho commented on #3648
Hi @Horusiath,

I think you are right.
Through another investigation a problem was noticed when a socket connection was being made:

[code]

This SendTo was the source of the problem when reconnecting.

I think it is not a problem related to Akka .Net.
It should be something related to this Socket not closing the session in the right manner during the last operation.

Maybe let's close this issue,

[2018-11-15 15:59] Horusiath commented on #3650
`DistributedPubSub` extends config with its own serializer when the plugin is initialized. This means, that somewhere in your code you have called `DistributedPubSub.Get` on one node but not on the other. If I remember correctly, `DistributedPubSub` is also a transitive dependency for ClusterClient plugin: so if you don't use `DistributedPubSub` directly but you use cluster client, the same rule a

[2018-11-15 16:01] Horusiath commented on #3648
@vncoelho sure, if you think it's not akka related, feel free to close it. You can always reopen it at any time if it'll turn out otherwise.

[2018-11-15 17:19] #3648 closed

[2018-11-15 19:58] Aaronontheweb opened #3652 "Improvement: add way of excluding certain files from being tagged by AddCopyrightHeaders script"
We should update this script: https://github.com/akkadotnet/akka.net/blob/dev/tools/AddCopyrightHeaderToSourceFiles.ps1

To support some kind of "ignore" flag that causes us not to touch files that are included in the Akka.NET source code, but shouldn't be slapped with this particular header. For instance, the `AsycContext` stuff we use for testing `Task` integration in Akka.NET: https://github.co

[2018-11-15 22:05] Aaronontheweb commented on #3093
@boekabart this is finished - HOCON v1.0.0 and HOCON.Extensions.Configuration is now live on NuGet https://www.nuget.org/packages/Hocon/1.0.0

[2018-11-15 22:05] #3093 closed

[2018-11-16 01:49] heyixiaoran commented on #3650
as Aaronontheweb reply

 you'll want to add this to your HOCON configuration at the time you create your ActorSystem:
`
var actorSystem = ActorSystem.Create("clusterNodes", config
                .WithFallback(ClusterClientReceptionist.DefaultConfig())
                .WithFallback(DistributedPubSub.DefaultConfig()));
`

serializer 9 is DistributedPubSub

[2018-11-16 02:10] #3650 closed

[2018-11-16 03:39] yongjiema commented on #3648
@vncoelho Looks like the problem is the LocalNode actor is failed to restart due to it violate the singleton rule.

[2018-11-16 18:45] aventurella commented on #3534
Following up to see if anyone has gotten Akka.Net to successfully run inside docker. If I run a demo setup outside of docker  (1 Lighthouse, 3 Services) everything works great. When I run them all inside a single container, bound to `localhost` inside the container Cluster seed node `akka.tcp://Cluster@localhost:4053`, some services join the cluster, others do not.

[2018-11-16 18:56] jonhoare commented on #3534
@aventurella I do have this working in Docker as mentioned above, however we do notice that our apps occasionally fail to connect to lighthouse or they disconnect and are unable to reconnect again.

For us, we believe this is to do with an open bug with the dotnetty package used by Akka.net which causes this when running Akka.net using dotnetcore2.1+.

[https://github.com/akkadotnet/akka.net/issue

[2018-11-16 20:35] sean-gilliam commented on #3621
Closed via #3649

[2018-11-16 20:35] #3621 closed

[2018-11-16 20:36] sean-gilliam commented on #3620
Closed via #3649

[2018-11-16 20:36] #3620 closed

[2018-11-16 20:42] #3602 closed, assigned to nobody

[2018-11-16 20:45] sean-gilliam commented on #3545
Hopefully, you've found a solution to your problem. Generally questions should be directed to our gitter chat room gitter.im/akkadotnet/akka.net.
Issues are usually reserved for actual bugs. Closing this issue.

[2018-11-16 20:45] #3545 closed

[2018-11-16 20:49] aventurella commented on #3534
Oh definitely, I'll gladly downgrade to give that a try, where did you grab the DotNetty 2.0 image from? I'm looking here:

https://github.com/dotnet/dotnet-docker
https://hub.docker.com/r/microsoft/dotnet/

But only see 2.1

[2018-11-16 20:51] sean-gilliam commented on #3463
Hopefully, you've found a solution to your problem. Generally questions should be directed to our gitter chat room gitter.im/akkadotnet/akka.net.
Issues are usually reserved for actual bugs. Closing this issue.

[2018-11-16 20:51] #3463 closed

[2018-11-16 20:51] aventurella commented on #3534
I can just make my own image:

https://www.microsoft.com/net/download/linux-package-manager/debian9/runtime-2.0.9

[2018-11-16 21:02] Aaronontheweb commented on #3645
Is this issue happening only when a node restarts?

[2018-11-16 21:07] jonhoare commented on #3534
I mean I am still using the petabridge lighthouse docker image, but I had to ensure my Akka projects were only using dotnet 2.0 packages and my docker image is using Microsoft/dotnet:2.0.9-runtime.

[2018-11-18 12:20] aloker opened #3654 "PersistentFSM: Data passed to AndThen is not the latest version"
Akka version: 1.3.10
Platform : .NET Core 2.1/Windows

When defining a side effect in PersistentFSM, the data object passed to the AndThen callback is NOT the version returned from ApplyEvent.

Consider this actor. When it receives a `Command`, it updates the state data (`Data`) by applying the `CommandReceived` event and uses the AndThen function to reply the current `Data` to the sender.
[code]

[2018-11-18 19:10] JTrotta opened #3656 "Mono and AKKA last versions crash"
Got a new strange error using both Mono e Akka.net last versions, during clustering.
The scenario is:
1) Server 1 and Server 2 are identical, they use the same AKKA version, both use Hyperion.
2) server 1 starts and creates the cluster. It works.
3) server 2 starts, found server 1, join the cluster.  Crash.
The crash seems to be very serious here:
**wrong maximal instruction length of instruction

[2018-11-19 08:42] heyixiaoran commented on #3640
Sorry. I forgot to set role

[2018-11-19 08:42] #3640 closed

[2018-11-20 06:59] senzacionale opened #3657 "Akka.Persistence.Redis"
i am having problem that connection between akka and redis is lost over the time.  I am using
Akka.Persistence.Redis  Is it oossible on connection lost reconnect connection?

[2018-11-20 13:34] JTrotta commented on #3656
Just for your info, falling back to MONO 5.14 cluster works.
So MONO 5.16 it's not compatible with AKKA.

[2018-11-21 18:38] Aaronontheweb commented on #3534
This is a duplicate of #3506 - it's the same issue. Network stack on .NET Core 2.1 introduced a regression on Linux. Working with the DotNetty team to get to the bottom of it.

[2018-11-21 18:41] Aaronontheweb commented on #3534
That's an interesting piece of information... Quick question, does your CentOS environment default to IPv4 or IPv6? A possibility that @stormhub raised in the DotNetty chat room is that the issue could be related to DNS resolution on IPv6 not being fully supported on Linux. We've run into that issue before in the past with Mono and with even bare metal work on Linux distributions.

Unless I'm read

[2018-11-22 10:09] shauryapatel27 commented on #3608
Hey, according to what I understand, I just need to change this particular piece of code.

public void Join()
        {
            _dbHelper.InitializeNodesTable();

            var members = _dbHelper.GetClusterMembers().ToImmutableList();
            if (members.Any())
            {
                _cluster.JoinSeedNodes(members);
                _dbHelper.AddClusterMember(_cluster.SelfAddress)

[2018-11-22 17:02] shauryapatel27 commented on #3608
If there is not deadline on this then yes I want to try to take this one

[2018-11-22 18:06] Aaronontheweb commented on #3617
This is already implemented as part of the stand-alone HOCON library, which will be integrated into Akka.NET in v1.4.0

[2018-11-22 18:06] #3617 closed

[2018-11-22 19:44] Aaronontheweb commented on #3506
Created a real sample to try to reproduce this using DotNetty only: https://github.com/Aaronontheweb/DotNettyRepro

I can get it to work on .NET Core 2.1 and .NET Core 2.0, so I'm going to need to take a look at our remoting code and see if there's something we need to change in the architecture of the `DotNettyTransport` itself.

[2018-11-22 20:15] Aaronontheweb commented on #3506
Tested one theory just now, which is that DNS enumeration changed between .NET Core 2.0 and 2.1 - anecdotally this doesn't appear to be the case: https://github.com/Aaronontheweb/DotNettyRepro/pull/2

[2018-11-22 20:35] pedroyan opened #3658 "Actor still receiving messages from mediator after termination"
**Akka.Net Version:** 1.3.9
**Platform:** Windows 10 - Microsoft Service Fabric

According to the docs:

https://getakka.net/articles/clustering/distributed-publish-subscribe.html

But after terminating the subscriber actor, messages published to the subscribed topic keep being redirected to the subscriber's dead letters.
Demo: https://github.com/pedroyan/MediatorBug

[2018-11-22 20:59] Aaronontheweb commented on #3506
Here we go

[code]

[2018-11-22 21:03] Aaronontheweb commented on #3506
And lo and behold, it looks like .NET Core itself is experiencing random failures with their DNS system on Linux... As recently as two weeks ago https://github.com/dotnet/coreclr/issues/20924

And

https://github.com/dotnet/corefx/issues/28051

And

https://github.com/dotnet/corefx/issues/15640

[2018-11-22 21:38] Aaronontheweb commented on #3506
And there were some major changes to the `Dns` class introduced into .NET Core 2.1: https://github.com/dotnet/corefx/pull/26850

[2018-11-22 21:52] Aaronontheweb commented on #3506
This PR, on the other hand, directly affected the Linux DNS resolution code in .NET Core 2.1: https://github.com/dotnet/corefx/pull/26926

[2018-11-22 22:04] Aaronontheweb commented on #3506
https://github.com/dotnet/corefx/issues/32611 - another culprit....

[2018-11-22 22:52] Aaronontheweb commented on #3506
So there were some configuration bugs in @ianhorton's sample that caused the solution to reproduce failures continuously for .NET Core 2.1 - namely the K8s YAML files had the wrong port numbers and `ActorSystem` names for everything except .NET Core 2.0 / Akka.NET v1.3.8. I fixed those and I can now get a cluster to form just fine on .NET Core 2.1.

However, I am seeing issues similar to what @ann

[2018-11-22 22:54] Aaronontheweb commented on #3506
Just to clarify this - means that the cluster's automatic reconnection code handled this on its own. No human intervention required.

[2018-11-22 23:19] mmisztal1980 commented on #3506
I'll follow up with my **.net core 2.1** sample tomorrow and verify if there is a config issue.
Thanks @Aaronontheweb

[2018-11-23 00:46] mmisztal1980 commented on #3506
I've re-examined my config, found 2 issues. Having fixed them, the cluster was formed.

[code]

[2018-11-23 07:47] AndreSteenbergen commented on #3506
One question though... Is this with dotnetty updated to 0.6? Or are newer versions automatically using 0.6?

[2018-11-23 09:01] ianhorton commented on #3506
Thanks @Aaronontheweb, apologies for my poorly configured example.

[2018-11-23 17:32] Aaronontheweb commented on #3506
@AndreSteenbergen ah, my reproduction fix was with v0.4.8. We're still going to upgrade to v0.6.0.

[2018-11-23 17:33] Aaronontheweb commented on #3506
@ianhorton I really appreciated your sample - gave me an opportunity to really explore the issue in-depth. Glad it was a configuration issue and not something much more seriously wrong with the .NET networking stack.

[2018-11-23 20:47] to11mtm commented on #3538
I think this issue has been fixed in the newer Microsoft.Data.SQLite package.

When I run the repro with the provided package version I get errors.

If I upgrade the Microsoft.Data.SQLite package to 2.1.0, I don't see any issues running the repro.

If I use System.Data.SQLite And shim out a Persistence provider for it based off the existing SQLite provider, I don't get any errors.

System.Data.SQL

[2018-11-24 03:41] Aaronontheweb commented on #3538
Go for it

Sent from my iPhone

[2018-11-26 01:17] nekenk1 opened #3659 "Add scheduling capabilities on top of routers"
Hi,

I'm trying to implement task management by leveraging the router and clustering capabilities of akka.net.

**The problem:**
Each task settings is a message. At a certain point of time: x tasks are requested to run, only a subset of them are actually running. The logic to prioritize the tasks is completely custom. The system can even decide to cancel some tasks if some higher priorities arrive

[2018-11-26 18:54] Aaronontheweb commented on #3506
Ok, so a bit more work with @ianhorton's example over the weekend and I have a theory as to what is going on here:

Seed node:

[code]
   Failed node:

[code]

These DNS failures introduced on POSIX systems in .NET Core 2.1 are easy to reproduce, hence why those issues I linked to earlier are open on the CoreFX repo. However, what I suspect is happening is that at least one of the nodes in @ianhor

[2018-11-26 23:09] M-Sakr commented on #3456
@Cephei
I still did not get your solution, i want to pass the repository to actor ctor, i'm struggling with that.

[2018-11-27 02:51] acds opened #3661 "HttpClient raises random.occasional IO:Exceptions in ContinueWith block"
Akka.net 1.3.10 .Net Core 2.1 AspNetCore 2.1.1

Have actors raising HttpClient requests on a 3rd party API. Results are JSON that are sent as messages to the Actor.

Model is based 100% on the Petabridge  Image Downloader examples.

These exception are 100% Radom.

[code]
I also notice that I get the same issues when make HttpClient requests data outbound to other API's following the same model an

[2018-11-27 04:36] Aaronontheweb commented on #3661
What are the exceptions exactly?

[2018-11-27 05:47] acds commented on #3661
there are three inbound:

1:
[code]
2:
[code]

3:
[code]

and three outbound ones:
1:
[code]
2:
[code]

3:
[code]

[2018-11-27 06:47] Aaronontheweb commented on #3661
So these are basic HTTP errors - nothing to do with Actors

Sent from my iPhone

[2018-11-27 07:02] acds commented on #3661
I'm guessing given a little research there since I'm running hit sin the context of a .AspNetCore API sever I need to use a combination of the [IHttpClientFactory](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/http-requests?view=aspnetcore-2.1) service (in startup.cs) if I can work out how to make that Akka.net compatible,

Possibly also use of [Microsoft.AspNet.WebApi.Client](https://

[2018-11-27 17:36] #3393 closed

[2018-11-27 23:43] Aaronontheweb opened #3663 "Enhancement: add ability to retrieve subscriber / topic stats from DistributedPubSubMediator"
I'm thinking it'd be nice to add a metadata querying capability similar to what we have for Cluster.Sharding https://petabridge.com/blog/cluster-sharding-technical-overview-akkadotnet/#getting-shard-metadata for DistributedPubSub.

I'd like the ability to query:

* All topics and the total number of subscribers on the current node for each - can currently get the topics by sending the mediator a m

[2018-11-28 01:18] acds commented on #3661
I switched over to use HttpClientFactory...and still get issues. This is brand new to .Net Core 2.1 and apparently v robust, so I'm ginseng there are some interesting interaction going on with the async stuff ...?

[2018-11-28 05:47] AndreSteenbergen commented on #3506
@Aaronontheweb have you upgraded dotnetty? I am on a linux vps, when running net core 2.0 and nuget akka 1.3.10, I get a few unexplainable errors every now and then, ranging from Akka PDU issues to not deserializing contracts. The problems have disappeared since I upgraded to dotnetty 0.6. I don't know if this will help in any way, just thought it might be worth a mention ...

[2018-11-28 11:05] ctrlaltdan opened #3664 "Cluster sharding deserialization issue"
After using cluster sharding for a while in our CI environment we occasionally see the following errors (which prevent the cluster from functioning)

[code]

We're unable to reproduce this error consistently however it appears to happen during a release. It's our assumption that one or many of our pods may become unavailable during the release before the sharding event journal is written to in a g

[2018-11-28 23:07] jtmueller commented on #3402
@Aaronontheweb Yes, the same stack trace. I'm now getting it in 1.3.10 in a different project that I just updated from Akka 1.2.3. `spawnObj` appears to be completely unusable unless I stick to Akka 1.2.3.

at Akka.FSharp.Linq.toExpression[Actor](Expression f)
at Akka.FSharp.Spawn.spawnObjOpt[a](IActorRefFactory actorFactory, String name, FSharpExpr`1 f, FSharpList`1 options)

I can't share this p

[2018-11-29 00:42] jtmueller commented on #3402
It might be relevant that my project is targeting .NET 4.5.2. However, I tried retargeting it to 4.6.1 and reinstalling all the nuget packages, but it didn't make any difference.

[2018-11-29 07:43] AndreSteenbergen commented on #3273
Is this related?

This is on a lighthouse instance, it's unlikely any of the messages from the actorsystem gets send to that instance.

[code]

Later in the logs I see these kind of messages. To me it looks like a stream of data where one hick-up results in errors later in the stream. As these errors are quite contstant after a while. When I restart lighthouse, the errors seem to stop (for a while

[2018-11-29 09:47] ondrejpialek opened #3665 "Snapshot Store breaks and never recovers if an error occurs during its initialization"
Using `Akka` 1.3.9 and `Akka.Persistence.SqlServer` 1.3.7.

There is an issue with the Snapshot Store plugin that if there is a failure during its initialization it will not attempt to reinitialize and will remain in a broken state until the Actor System is restarted.

We have noticed the following sequence of events twice in production already:

- The DB connectivity is lost
- Snapshot Store fail

[2018-11-30 21:56] Aaronontheweb commented on #3506
@AndreSteenbergen it looks like the DotNetty upgrade to v0.6.0 has resolved most of the issues. DNS problems still show up every now and then but otherwise we're good. I'll get my PR resolved ASAP so we can roll this into a v1.3.11 update.

[2018-12-01 06:31] JTrotta commented on #3656
Any news/info about this problem?
If not, in my opinion it should be stated that MONO is compatible up to 5.14

[2018-12-02 12:07] chrisjhoare commented on #3402
Just opened a pull request which I appears to fix this. I'm not super familiar with this area and don't use expressions for actors myself, but at the very least you might be able to make use of the forked code yourself.

[2018-12-04 03:38] JTrotta commented on #1642
@mithril52 uses Zookeeper, somebody else uses Etcd. It would be very nice to integrate those  cluster stores to discover an Akka cluster.

[2018-12-04 06:43] Horusiath commented on #1642
@mithril52 @JTrotta I've created a project for a generic service discovery mechanism, called [Akka.Cluster.Discovery](https://github.com/Horusiath/Akka.Cluster.Discovery). So far it only implements Consul-based service discovery (also allows consul to act as cluster health check service). Unfortunately I haven't got time to implement other providers.

[2018-12-04 06:59] JTrotta commented on #1642
@Horusiath Great news. I could add Etcd and UDP features, if you like.

[2018-12-04 08:00] Horusiath commented on #1642
@JTrotta sure, contributions are always welcome ;)

[2018-12-04 14:06] mithril52 commented on #1642
@Horusiath that sounds great. I’ll take a look and see if I might be able to contribute with adding ZooKeeper to the mix

[2018-12-04 21:09] senzacionale commented on #3506
@mmisztal1980 can you please post fixed config file and what was wrong. I am having same provblem.

Thank you

[2018-12-05 05:45] Aaronontheweb commented on #3506
@senzacionale upgrading to DotNetty v0.6.0 should solve the problem. I'm working on getting this out in Akka.NET v1.3.11 but thanks to some really annoying byte-rot in the .NET Core ecosystem, I'm having to do a bit of yak-shaving to get our test suite to play nicely with it. Watch this repository for updates.

[2018-12-05 06:46] coinpennant commented on #3506
@mmisztal1980 what are you using. Maybe I also need to change :)

[2018-12-05 13:14] AndreSteenbergen commented on #3506
@Aaronontheweb I can confirm an upgrade to dotnetty 0.6 and akka.net 1.3.10, works well on linux (Ubuntu 16.04 LTS) in combination with net core 2.1. This combo with netcore 2.0 gave me some Akka PDU issues and protobuf issues. I have been running about 24 hours now, without any issues regarding missed frames, connectivity errors or whatsoever.

[2018-12-05 17:35] senzacionale opened #3669 "'akka.actor.provider' is not a valid type name : 'Akka.Cluster.ClusterActorRefProvider, Akka.Cluster'"
I am using latest version of Akka.net and try to use cluste with hocon

My config file:

[code]

but I am always receiving this error

I found this code:
https://www.codefactor.io/repository/github/akkadotnet/akka.net/source/dev/src/core/Akka/Actor/Settings.cs

Looks like cluster is supported but why this message then?

[2018-12-05 18:11] #3669 closed

[2018-12-05 18:17] senzacionale commented on #3669
Missing DLL in the project

[2018-12-07 19:20] acds opened #3670 "If ActorPublisher/Subscriber are to be deprecated what is the recommend approach?"
Per:
https://getakka.net/articles/streams/integration.html#implementing-reactive-streams-publisher-or-subscriber

What is the recommended approach?

One tends to want to wrap a source resource up in an Actor (say to call a REST API that returns batches of results) and pipe those results into a stream, but have back pressure to only get the next batch when down steam can handle them.

The WebCrawle

[2018-12-14 18:04] Aaronontheweb commented on #3402
Looks like @chrisjhoare's PR addresses this. Will be releasing that fix as part of 1.3.11, which we're going to be releasing shortly.

[2018-12-14 19:15] Arkatufus opened #3672 "Probable memory leak caused by excessive HOCON configuration instantiation"
Akka.Persistence.Tests failed with ran out of memory error on low spec machines with limited RAM, probably caused because HOCON objects were not disposed on each test call.

[2018-12-14 20:11] Aaronontheweb commented on #3402
closed via #3667

[2018-12-14 20:11] #3402 closed

[2018-12-14 21:37] Aaronontheweb commented on #3664
Thanks @ctrlaltdan - we'll take a look at this. That's extremely annoying that you have to do a re-dump of all of that data. We'll fix that.

[2018-12-14 21:41] Aaronontheweb opened #3673 "Add Akka.Streams tutorial showing how to model custom sources and sinks"
We should add a tutorial to our documentation which explains and shows how to create custom streaming components, beginning with sinks and sources.

[2018-12-15 09:07] Horusiath commented on #3664
@ctrlaltdan do you even need to use Akka.Persistence here? There's an alternative mode which utilized Akka.DistributedData for sharding. The only downside is that it doesn't let you use remember-entities option (yet).

You can set it up with `akka.cluster.sharding.state-store-mode = ddata`.

[2018-12-16 23:42] Aaronontheweb commented on #3506
Resolved via #3633

[2018-12-16 23:42] #3506 closed

[2018-12-17 15:47] #3658 closed

[2018-12-18 01:38] snekbaev opened #3679 "Akka.IO and Azure WebApp connectivity issue"
Hi,

1.3.10
Azure WebApp + VM. Network has Azure's VPN connection in-between.

Original issue: remoting doesn't work properly with Azure WebApps. I've reported that on Gitter. In a nutshell: when target is up and source is connecting it goes through and stays that way until connection is interrupted, for example, if I manually restart the Azure WebApp it tries to connect again, but this time once

[2018-12-18 03:51] Aaronontheweb commented on #3679
@snekbaev yeah, this sound right - Azure's PaaS environments have, for reasons that are inexplicable, have been unable to adopt IPv6 for years.

If you want to adjust the API for making the IPFamily configurable, similar to how we do it for Akka.Remote, I'm sure we'd be open to supporting that.

[2018-12-18 09:27] ctrlaltdan commented on #3664
@Horusiath Yeah I'll give that a go when we schedule some time to upgrade our projects to the `1.3.11` release. We are using Akka.Persistence for saving our own state but we have no requirement to use remember-entities. Thanks for the tip.

Do you have any documentation weighing up the pros/cons of these two options. I'm pretty sold on avoiding SQL Server/external storage where possible. Would be

[2018-12-20 00:43] snekbaev commented on #3679
#3684
That's what I came up with within a day.

- address family configuration is scoped to **TCP** and **outgoing connection** only. UDP version seems to be a bit more complicated and has socket creation in more places, skipped that for now. Didn't modify the listening socket because currently it assumes the address family from the endpoint directly. Which means current implementation is differen

[2018-12-20 06:35] angrybug opened #3685 "SqlReadJournal.EventsByPersistenceId does not stream new PersistenceId"
Akka.Net 1.3.11
All platform

SqlReadJournal.EventsByPersistenceId doesn't return new persistence IDs

See https://github.com/akkadotnet/akka.net/blob/dev/src/contrib/persistence/Akka.Persistence.Sql.Common/Journal/SqlJournal.cs#L137

Doesn't look like persistenceIds gets populated with anything.

Just wanted to make a note of it - I might get around to fixing it later.

[2018-12-20 06:53] Horusiath commented on #3685
@angrybug `EventsByPersistenceId` only give you PIDs known to the current moment. If you want to have continuous stream of all PIDs (both existing and newly created ones), use `AllEventsByPersistenceId`.

[2018-12-20 14:58] angrybug commented on #3685
I did a search for AllEventsByPersistenceId in the source code - doesn't exist.

Do you mean the difference between: EventsByPersistenceId and CurrentEventsByPersistenceId

[2018-12-20 15:03] Horusiath commented on #3685
Yes, you're right @angrybug . My mistake. This may be a sign of a bug in our code.

[2018-12-20 16:07] angrybug commented on #3685
False alarm.  Was trying to work out how the unit tests are passing.

It looks to be deliberate behaviour.  Just had another look at this. It turns out EventsByPersistenceIdPublisher uses a timer to trigger the new events to be published.  https://github.com/akkadotnet/akka.net/blob/dev/src/contrib/persistence/Akka.Persistence.Query.Sql/EventsByPersistenceIdPublisher.cs#L147

The HashSet at SqlJou

[2018-12-20 16:07] #3685 closed

[2018-12-21 02:25] Lyynx92 opened #3687 "ClusteredPoolRouter, No actor producer specified"
Attempting to create a clustered round robin pool to fan out remote workers, running into an issue whenever the deployment is attempted I get this error.

[code]

I've tried both a Hocon configured cluster aware pool router as well as in code.

[code]

[code]

I've reproduced this on three bare bones dotnet-core 2.1 Console applications (1 seed, 1 deployer and 1 target), all running Akka.Cluster 1

[2018-12-23 00:11] acds commented on #3673
This would be very welcome! I've exhaustively reviewed all the documentation and googled for over a week, and see Java/Scala examples but non specifically for Akka.net.

This seems more important now as one is rhetorically to avoid using the Publisher/Subscriber Actors - given the advertised intent to deprecate them, and figure one needs a new mindset that is changing to wrap ones head around, wit

[2018-12-23 00:17] acds commented on #3661
Suspect this is Akka.Net unrelated and was due to a macOS environment running out sockets.

Per Microsoft one is supposed to increase the number of [available sockets](https://docs.microsoft.com/en-us/dotnet/core/macos-prerequisites?tabs=netcore2x#increase-the-maximum-open-file-limit-net-core-versions-before-net-core-sdk-202) per Microsoft Recommendations.

[2018-12-23 00:17] #3661 closed

[2018-12-25 07:08] erikzhang commented on #3572
It appears again.

[code]

[2018-12-26 11:06] Isuama opened #3689 "Actor Persistent to local path"
As I've seen by the docs, by default actor is persisted into memory. Is there a way to persist data into a given path without using DBs(Mongo, SQL ..).
I've seen Other languages are using some sort of configuration like,
akka.persistence.journal.plugin = "akka.persistence.journal.leveldb"
akka.persistence.snapshot-store.plugin = "akka.persistence.snapshot-store.local"

Does .NET has something like

[2018-12-28 22:02] psandler opened #3691 "ReceiveAsync and AroundReceive Don't Work Together"
I'm not sure this hasn't been reported before, as I see it is referenced in the following article:

https://havret.io/akka-entity-framework-core

I find AroundReceive to be incredibly useful, and being able to use it with Actors that make async calls seems pretty important.

Quick repro in case the problem isn't clear from the article:

    class Program
    {
        static void Main(string[] arg

[2019-01-09 03:32] DoubleCouponDay opened #3694 "Will an exception thrown in the constructor of an actor be caught by the supervisor?"
I noticed when I throw a custom exception in an actor's constructor, the supervising strategy is not fetched. How can I gain this kind of supervision / logging?

[2019-01-10 09:31] saxenashubham commented on #3523
@Aaronontheweb when can we expect the release of v1.4?

[2019-01-10 15:24] Aaronontheweb commented on #3694
@DoubleCouponDay do you mean the supervision strategy of the parent actor? That should be what intercepts the exception.

[2019-01-10 22:37] DoubleCouponDay commented on #3694
@Aaronontheweb Yes this is the supervision strategy concept I am referring to. It does not seem to be used at all when it crashes. I considered using a logging sink in hopes that such problems are handled there. Would this be a step in the right direction?

[2019-01-11 00:40] DoubleCouponDay commented on #3694
supervising actor: https://pastebin.com/ZJEKQvZv
subordinate actor: https://pastebin.com/2rfgeVtR

it will crash in subordinate actor line 44. When a break point is placed in supervising actor line 71, it will not be hit under this scenario.

[2019-01-11 09:50] ismaelhamed commented on #3694
@DoubleCouponDay this does definitely work:

[code]

[2019-01-12 15:48] IrvinDominin commented on #3645
@Aaronontheweb  I have to check it asap; I add two more informations, sometimes I see a huge number of members like:
![image](https://user-images.githubusercontent.com/1533624/51075257-6b6ac200-1689-11e9-9342-988c287d081f.png)

but they are 9...

And if i stop a backend service and start it again it isn't joining the cluster, i close it in this way when you close my console app with Topshelf:
[cod

[2019-01-12 15:56] Aaronontheweb commented on #3645
If the node gets stuck in a joining state, might be because:

1. The node starts on a different address each time - this will definitely happen if you are bound to port zero - and the previous incarnation of that node didn't leave the cluster cleanly. Run await CoordinatedShutdown.Run instead of ActorSystem.Terminate to fix that.
2. The port is already in use from a previous instance, in which cas

[2019-01-12 16:13] IrvinDominin commented on #3645
Ok, on non seed node I use 0 port, I see that the Coordinated shutdown is fired automatically: https://getakka.net/articles/actors/coordinated-shutdown.html#invoking-coordinatedshutdownrun-on-process-exit

Can you pleaes guide me in the correct way? Also what is the correct way on the IIS setup?

[2019-01-12 16:21] Aaronontheweb commented on #3645
CoordinatedShutdown on process exit can get intercepted inside Topshelf - need to run it manually inside the service stop method and let the Task it returns complete all the way.

Sent from my iPhone

[2019-01-12 18:34] Aaronontheweb commented on #3645
Same deal inside global.asax - need to block exit until CoordinatedShutdown runs to completion.

I'd also enable weakly up members too - it's a HOCON setting and it needs to be enabled on all members. It will help.

Sent from my iPhone

[2019-01-12 21:33] IrvinDominin commented on #3645
So with the code in the starting issue I'm destroying the whole actorsystem 🤯 rigth? I'll work on this asap and on the hokon config

[2019-01-12 23:15] Aaronontheweb commented on #3645
Correct - CoordinatedShutdown will destroy the ActorSystem

Sent from my iPhone

[2019-01-13 07:39] IrvinDominin commented on #3645
Ok, but with CoordinatedShutdown the node leaves the cluster in a clean way, and it stili works and can reenter rigth? With terminate it's completely destroyed and must be restarted?

[2019-01-13 07:40] IrvinDominin commented on #3645
Currently when I deploy (front-end or worker) I restart the whole system, can the inconsistence be cause of the not clean shutdown?

[2019-01-13 07:40] IrvinDominin commented on #3645
Currently when I deploy (front-end or worker) I restart the whole system, can the inconsistence be cause of the not clean shutdown?

[2019-01-14 02:40] DoubleCouponDay commented on #3694
Thank you!

[2019-01-15 14:20] #3694 closed

[2019-01-15 22:00] igormcoelho opened #3696 "MultiNodeTestRunner not working on Linux / dotnet"
When creating a new issue, please make sure the following information is part of your issue description. (if applicable). Thank You!

- Which Akka.Net version you are using
1.3.10
- On which platform you are using Akka.Net
Linux / dotnet 2.2
- A list of steps to reproduce the issue. Or an gist or github repo which can be easily used to reproduce your case.

This error was discussed here: https://g

[2019-01-15 22:03] igormcoelho commented on #3696
Perhaps related to https://github.com/akkadotnet/akka.net/issues/3573

[2019-01-15 22:03] igormcoelho commented on #3615
Perhaps related to: https://github.com/akkadotnet/akka.net/issues/3696

[2019-01-17 11:21] ptjhuang opened #3697 "CurrentEventsByTag does not return more than a 100 events"
Akka.Net 1.3.11
.NET Core Windows
Call SqlReadJournal.CurrentEventsByTag with empty an event log throws ArgumentException: To offset must be a positive number

Test Case: https://gist.github.com/ptjhuang/fc44fa9ca80e87fe7835f71e06aa40da

Looked at the Scala version and it looks different.  Is this a bug?

[Scala version](https://github.com/akka/akka/blob/master/akka-persistence-query/src/main/scal

[2019-01-19 10:47] ismaelhamed commented on #3697
LIMIT for CurrentEventsByTag is controlled by the `query.journal.sql.max-buffer-size` option --which is 100 by default. See line [#85](https://github.com/akka/akka/blob/b52795331089f1ec7d4cd4134171a6f0ef96486e/akka-persistence-query/src/main/scala/akka/persistence/query/journal/leveldb/EventsByTagPublisher.scala#L85).

Any differences with the Scala version might be worth looking at, in case they

[2019-01-20 11:43] Aaronontheweb opened #3700 "Akka.TestKit: Within block doesn't appear to affect ReceiveN"
Version: Akka.NET v1.3.11

Reproduction:

[code]

The `probe1.ReceiveN` call should succeed after 6 seconds. Fails after 3 instead.

[2019-01-20 17:18] Horusiath commented on #3697
`CurrentEventsByTag` should return all events, then complete the stream, once it reached the end. MaxBufferSize only describes the size of the batched, in which we internally poll for the data from the database.

[2019-01-20 17:52] ismaelhamed commented on #3697
In the current implementation `CurrentEventsByTag` will poll the database only once, hence why the `query.journal.sql.max-buffer-size` acts as a limit here. **Potential bug** then?

[2019-01-25 03:47] #3672 closed

[2019-01-25 16:57] sean-gilliam commented on #3424
Closed via #3520

[2019-01-25 16:57] #3424 closed

[2019-02-07 07:16] joonhwan opened #3710 "DistributedPubSub SendOneMessageToEachGroup issue after any subscriber becomes unrecheable"
-  Akka.Net Version: 1.3.11
- Windows 7 / .NET Framework 4.6.x
- Detailed Description follows

I pushed test code onto https://github.com/joonhwan/akka.net-distribute-pubsub-test

The solution contains following console programs.

 - Seed

 - JobRequester (Console Pseudo Job Requester. any alphabet string will be sent to  all Job Handler, any numeric string will be sent to a Single Job Handler)

-

[2019-02-07 17:05] Aaronontheweb opened #3711 "CoordinatedShutdown should run automatically upon SIGTERM in .NET Core"
Verison: Akka.NET v1.3.11

When I originally implemented `CoordinatedShutdown`, I left this little "TODO" in the source because .NET Standard 1.6 didn't expose an easy way for me to hook into process shutdown events, so I thought at least:

https://github.com/akkadotnet/akka.net/blob/dev/src/core/Akka/Actor/CoordinatedShutdown.cs#L682

Found this issue while working on https://github.com/petabridg

[2019-02-08 03:16] GoodGoodJM opened #3717 "Become doesn't work in Task.ContinueWith"
Verison: Akka.NET v1.3.11
Platform: Window 7

I want change actor's behaviour when other actor's `Ask`. Please see below code.

[code]

I call `become` when call in `ContinueWith(OnFindGameRoom)`, but actor looks like doesn't changed.
After invoking `become`, UserActor continues to handle `OnReceive`.

become method cannot use in `ContinueWith`?

[2019-02-08 04:27] GoodGoodJM commented on #3717
I find the cause.

Below code is implemention of `UntypedActor@Become`.
[code]

When user call `Context` property in async operation, it's throw `NotSupportedException`.

[code]

Then, how can i use `become` method in async operation at right way?

Should I capture the current context in the Async operation?

[2019-02-08 12:33] superboyiii commented on #3648
@yongjiema Could you explain more detail about this situation? One exchange also met this problem after running neo-cli2.9.4 for several weeks.

[2019-02-08 17:27] Horusiath commented on #3717
@GoodGoodJM when you're running a task on side lane (like in case of methods such as `Ask` or `Task.Run`, you're giving up the safety features of your actors, as they no longer track the execution of task continuations. That means that you introduce a risk of race conditions to fields and variables used by both your actor and invoked task.

This also means that the code executed in your continuati

[2019-02-11 02:48] GoodGoodJM commented on #3717
@Horusiath
Following your advice, I be able to correct the problem by modifying `Ask+Task` to `Tell+Receive`. Thank you.

But I'm faced with a new problem.

I cannot tell to self at end of async operation, because Self is also part of `ActorBase.Context`

[code]

How can i know end of async operation with result in this situation?

[2019-02-11 06:38] Horusiath commented on #3717
Again, don't use state-mutating operations inside `ContinueWith`: as I've mentioned, when you're using ContinueWith, you'll be processing potentially multiple messages in parallel. Example:

In Akka.NET and other actor frameworks with dynamic behaviors this can be solved by sending the result of the task as a message back to an actor.

[code]

[2019-02-11 10:47] #3717 closed

[2019-02-15 02:47] yongjiema commented on #3648
@superboyiii https://github.com/neo-project/neo/blob/master/neo/Network/P2P/LocalNode.cs#L54, The error is happening while any error is occurred in LocalNode as Akka try to recreate it but violate the singleton rule.

[2019-02-15 04:05] Aaronontheweb commented on #3648
I'd need to look at the source, but this seems like something we can fix

Sent from my iPhone

[2019-02-18 10:54] AndreSteenbergen commented on #3273
Just upgraded to .net core 2.2 on ubuntu 16.04. This issue came back. It is the Lighthouse service node which throws these messages. I have configured my lighthouse system to not create custom actor. So I don't really understand what is going on.

[2019-02-18 11:03] Aaronontheweb commented on #3273
I need to upgrade the lighthouse image - has to do with the old Akka.NET version running on it.

Sent from my iPhone

[2019-02-18 13:29] AndreSteenbergen commented on #3273
Could this be an issue? I have set a max frame size of 256K
[code]

[2019-02-18 14:09] Aaronontheweb commented on #3273
Nah, it's old DotNetty code. Just need to update the dependencies and rebuild the image.

Sent from my iPhone

[2019-02-18 14:11] AndreSteenbergen commented on #3273
I am not using LightHouse from docker, I compiled one myself. I run native on linux, without docker.

[2019-02-18 14:38] Aaronontheweb commented on #3273
What version of Akka.NET are you running on Lighthouse?

Sent from my iPhone

[2019-02-18 14:46] AndreSteenbergen commented on #3273
1.3.11

Verzonden vanaf mijn Windows 10-apparaat

Van: Aaron Stannard
Verzonden: maandag 18 februari 2019 15:39
Aan: akkadotnet/akka.net
CC: AndreSteenbergen; Mention
Onderwerp: Re: [akkadotnet/akka.net] Akka.Remote.EndpointException: Error whiledecoding incoming Akka PDU (#3273)

What version of Akka.NET are you running on Lighthouse?

Sent from my iPhone

—
You are receiving this because you wer

[2019-02-18 15:50] Aaronontheweb opened #3721 "Akka.Persistence.Sql.Common: DeleteMessages when journal is empty causes duplicate key SQL exception"
Version: Akka.NET v1.3.11

Use case: when using an `AtLeastOnceDeliveryActor`, I'm not using the journal at all - but I do save snapshots of my `AtLeastOnceDelivery` state regularly.

When I receive a `SaveSnapshotSuccess` message, I call:

[code]

Out of a force of habit from my other actors that use Akka.Persistence.

The `DeleteMessages` call in this case causes a `SqlException` to be raised in

[2019-02-18 16:38] Aaronontheweb commented on #3273
That defeats my theory then

Sent from my iPhone

[2019-02-18 16:49] ismaelhamed commented on #3721
GH-3468

[2019-02-18 17:48] Aaronontheweb commented on #3721
@ismaelhamed good to know - I'll go back and review that PR again

[2019-02-26 11:12] stijnherreman opened #3723 "FSM: exception in LogTermination changes stopEvent.Reason to Shutdown"
When stopping an FSM with `return Stop(new Failure(null))`, at first sight it seems to work. But this actually causes an exception in `LogTermination(Reason reason)` at https://github.com/akkadotnet/akka.net/blob/41c116d2a3d280481e584401608ec848dc147632/src/core/Akka/Actor/FSM.cs#L1353

Later on in `OnTermination`, the type of `stopEvent.Reason` will be `Shutdown` instead of `Failure`.

I'd expect

[2019-02-26 21:42] Aaronontheweb opened #3724 "Akka: serialize-messages barfs on built-in Akka.Cluster / Akka.Remote types"
Version: Akka.NET v1.3.11
Issue:

When `akka.actor.serialize-messages = on`, built-in Akka.Cluster and (possibly) Akka.Remote get serialized with JSON.NET (the default `object` serializer) instead of their specific serializer registrations, and thus this exception gets thrown:

[code]

Reproduction from @Dan-Albrecht: https://github.com/Dan-Albrecht/AkkaRepro

Suspect that the issue is that the un

[2019-02-26 22:00] Aaronontheweb commented on #3724
You know what... The issue here might be that some of the internal messages we pass around, internally, inside the `Gossip` system aren't inherently serializable AND they aren't meant to be sent across the network either. In which case, we need to mark those messages with [`INoSerializationVerificationNeeded`](https://getakka.net/api/Akka.Actor.INoSerializationVerificationNeeded.html)

[2019-02-27 19:15] jdsartori commented on #3492
Can someone who has done this successfully give me a quick list of the steps you did?
I will then follow the steps and write it all up.

Thanks!
-jds

[2019-02-27 22:09] Aaronontheweb commented on #3414
The issue is that the `PersistentShardCoordinator` doesn’t save or recover its state in the correct order - the `ShardHomeAllocated` messages that are tripping the exception during recovery should only be persisted after a `ShardRegionRegistered` message (shards belong to shard regions.)

Three possible causes of this:

1. There’s a fair bit of async code inside the `PersistentShardCoordinator` I’

[2019-02-27 22:49] Aaronontheweb commented on #3414
Manually verified the output of this spec:

https://github.com/akkadotnet/akka.net/blob/e15b935b59e739220f28cb197bb191211e912bd4/src/contrib/cluster/Akka.Cluster.Sharding.Tests/ClusterShardingMessageSerializerSpec.cs#L54-L78

Can vouch for its accuracy - the sharding serializer appears to be working correctly.

[2019-02-27 22:54] Aaronontheweb commented on #3664
This issue and #3414 are definitely the same bug.

[2019-02-27 23:25] Aaronontheweb commented on #3414
This is probably the issue https://github.com/akkadotnet/akka.net/issues/3204

Going to create some reproduction specs and then see where things go.

[2019-02-28 02:58] Aaronontheweb commented on #3414
Working on a fun reproduction of this using an actual integration test against SQL Server spun up via `docker-compose` https://github.com/Aaronontheweb/AkkaClusterSharding3414Repro

[2019-02-28 19:43] jdsartori commented on #3378
@MostafaTrade If you don't mind, I am going to take a stab at porting over the DI Core file.

[2019-03-06 14:33] mwpro commented on #2535
I think, that I've encountered similar issue. I'm running a Akka.NET cluster on Kubernetes with Cluster Receptionist and a second application running Cluster Client. After I deploy a new version of cluster application (it's important that since we're using K8s, the nodes are started on random IP/port), the cluster receptionist happens to return contact points to old nodes that already left the clu

[2019-03-07 17:15] Aaronontheweb commented on #2640
Pretty sure this issue and the problems we were having on #3668 are related. Going to be reproing it and looking into it.

[2019-03-07 18:28] #3292 closed

[2019-03-07 22:35] spankr commented on #3292
Woot!

[2019-03-08 19:14] izavala opened #3732 "The Storage Plugins page looks to have broken code under the Journals section."
The _Persistance, Storage plugins_ page looks to have a broken section of code in the configurations example. The block of code shown does not look complete and it seems to be missing the actual configuration code.

[`Storage plugins page `](https://getakka.net/articles/persistence/storage-plugins.html
)

![screenshot 2](https://user-images.githubusercontent.com/46451831/54050015-c7daf100-41a3-11e

[2019-03-08 22:04] AndreSteenbergen opened #3733 "Routees serialization issue"
In a cluster on Akka 1.3.11 I have remotely deployed some actors. Right now I need to know the number routees from one of the routees. But when I call the following code:

[code]

I do get the A written on screen, but right after that message I get the following JsonDeserialization Error:
[code]

[2019-03-08 22:51] Aaronontheweb commented on #2640
Took @Ralf1108's reproduction code and turned it into this so I could run DotMemory profiling on it.

Looks like a leak in the HOCON tokenizer: https://github.com/Aaronontheweb/Akka.NET264BugRepro

![image](https://user-images.githubusercontent.com/326939/54060447-552d3e00-41c2-11e9-8dec-7b411676aca6.png)

[2019-03-09 01:45] sean-gilliam commented on #3732
Nice catch. It looks like some line numbers got shifted around for both the Journals and Snapshot store examples. Looks like shifted by 5 lines. That page can be found here https://github.com/akkadotnet/akka.net/blob/dev/docs/articles/persistence/storage-plugins.md

The journals section looks like it should be changed to ../../../src/core/Akka.Persistence/persistence.conf#L201-L207

and the snapsh

[2019-03-10 21:36] AndreSteenbergen commented on #3273
Issue resolved (I think) .... I Checked out LightHouse from the webcrawler example, with petabridge 0.4 something. Which is packed with Akka.Cluster 1.3.10, not 1.3.11. No build errors, because Cluster was part of the project. So I had a Cluster version mismatch ..... Sorry ..

[2019-03-11 16:23] Aaronontheweb commented on #3733
hi @AndreSteenbergen - thanks for reporting this - we'll look into reproducing it ASAP.

[2019-03-11 20:07] Aaronontheweb commented on #2751
@optiks since I never replied to this - no, this is correct. If we're visualizing concurrent access to a queue, I can't force Thread A to jump the line ahead of Thread B when processing the mailbox down to the nanosecond / microsecond level 100% of the time because thread B might already be beginning processing of the most recently passed user-land message, which is how a race condition like this

[2019-03-11 22:39] Aaronontheweb commented on #2640
So I've conclusively found the issue; it's still an issue in Akka.NET v1.3.11; and my research shows that @Ralf1108's original theory on its origins is correct - all of the `ForkJoinDispatcher` instances in Akka.Persistence, Akka.Remote, and Akka.Cluster are not being shut down correctly.

The root cause is this function call;

https://github.com/akkadotnet/akka.net/blob/4f0fbb8c806faef752036a6446

[2019-03-11 23:10] Aaronontheweb commented on #2640
I also think, based on the data from DotMemory, there might be some memory issues with `CoordinatedShutdown`  and closures going over the local `ActorSystem` but I'm not 100% certain. Going to look into it next after I get the dispatcher situation sorted and I'll likely open a new issue for that altogether.

[2019-03-11 23:20] Aaronontheweb commented on #3697
close via #3698

[2019-03-11 23:20] #3697 closed

[2019-03-12 14:55] Aaronontheweb opened #3735 "CoordinatedShutdown Memory Leak"
Version: Akka.NET v1.3.11

Based on the investigation I did for issue #2640, I found that while the lion's share of leaked memory came from the `ForkJoinExecutor` and `PinnedDispatcher`s not being shutdown correctly as a result of an `IScheduler` bug, there was also a small amount of memory leaked as a result of some of the closures over the `ActorSystem` used inside the `CoordinatedShutdown` clas

[2019-03-12 14:56] #2640 closed

[2019-03-12 15:00] Aaronontheweb commented on #2640
Closed via #3734

[2019-03-12 21:40] izavala opened #3736 "Akka.Persistence recovery-event-timeout does not change"
When setting up the specifications for akka.persistance to have a different recovery-event-timeout. It seem to remain on a 30s time out even after changing this in the configuration to something smaller such as 2s.

- Using Akka 1.3.11
- Windows 10

Github project:
On the unit testing, I try to configure akka.persistence to have the following:

`recovery-event-timeout = 2s`
`circuit-breaker.reset-

[2019-03-13 00:52] Aaronontheweb commented on #3205
closed via #3468

[2019-03-13 00:52] #3205 closed

[2019-03-13 00:53] Aaronontheweb commented on #3721
closed via #3468

[2019-03-13 00:53] #3721 closed

[2019-03-14 10:38] raskolnikoov commented on #3238
Where can I find ClusterPoolSettings? I dont find it in Akka.Cluster, Akka.Cluster.Tools nuget packages.

[2019-03-14 22:27] Aaronontheweb commented on #3238
@raskolnikoov it's in the `Akka.Cluster.Routing` package:

https://getakka.net/api/Akka.Cluster.Routing.ClusterRouterPool.html
https://getakka.net/api/Akka.Cluster.Routing.ClusterRouterPoolSettings.html