[2015-08-31 15:11] Aaronontheweb commented on #1284
@michaelsync we have two different XUnit packages:

http://www.nuget.org/packages/Akka.TestKit.Xunit/ - supports up to 1.9.2
http://www.nuget.org/packages/Akka.TestKit.Xunit2/ - supports 2.0.0 and later

[2015-08-31 15:11] #1284 closed

[2015-08-31 15:11] Aaronontheweb commented on #1282
Didn't have debug logging turned on? ;p

[2015-08-31 15:43] rogeralsing commented on #1285
cc @Horusiath is this a result of the JObject hack?

[2015-08-31 19:13] alex-kondrashov commented on #60
there is ActorSystemSpec.cs already in repository.  However ActorSystemSpec.scala is slightly different. Should ActorSystemSpec.cs be merged/overwritten according to scala*s version or left as it is?

[2015-08-31 19:16] alex-kondrashov commented on #1283
Can I help on this one? seems to be easy to start with.

[2015-08-31 19:33] Dim0N22 commented on #1283
I've found only [one line](https://github.com/akkadotnet/akka.net/blob/dev/src/core/Akka/Actor/Inbox.Actor.cs#L52) with string concatenation in entire solution.
Everything else looks fine to me.

[2015-08-31 21:12] rogeralsing commented on #1283
Ill see what sources i find, i see some log posts coming in with no message templates in elastic search

[2015-08-31 21:13] rogeralsing commented on #1283
@Dim0N22 did you also check the other log levels or only Debug?

[2015-08-31 21:36] Dim0N22 commented on #1283
@rogeralsing I've checked all log levels.
Double checked it with regexp, nothing found. Maybe I missed something?

[2015-08-31 21:56] Aaronontheweb commented on #1105
cc @akkadotnet/contributors this PR is increasing in urgency - it's really tough to tell what's happening with some of the "racier" specs inside the MultiNodeTest suite right now. Can someone take this?

[2015-08-31 21:57] alex-kondrashov commented on #1283
I've found couple of places [like this](https://github.com/akkadotnet/akka.net/blob/928ff2b3b23457ea1e4e1d9f0819fca945506a1b/src/core/Akka.Remote.TestKit/MultiNodeSpec.cs#L606)
but I'm not sure if it's relevant.

[2015-08-31 22:56] Aaronontheweb commented on #1285
Time to add a unit test for this.

[2015-08-31 23:35] michaelsync commented on #1284
Thanks Aaron!

[2015-09-01 00:01] michaelsync opened #1289 "How to intercept the message between actors"
Hello,

Is there any way to intercept the message between actors (even on remote or cluster)? I like to add the correlation id or unique identifier or some logic after sending the message and before receiving that message from other actor.

[2015-09-01 00:04] Aaronontheweb commented on #1289
Parent Proxy Pattern, which you'll be learning about in our training tomorrow :p

[2015-09-01 10:53] schatekar commented on #1105
I have done teamcity integration of custom build scripts before. It is not difficult. I can give it a try but I am middle of making a multinode test pass. I am actually blocked on that.

The only challenge on this one could be that teamcity expects the messages to be written to standard output. In our case the message are coming from multiple child processes so not sure if teamcity would pick that

[2015-09-01 15:17] Aaronontheweb commented on #1105
The main MN test runner writes to standard out on behalf of all children.

On Tue, Sep 1, 2015 at 3:53 AM, Suhas Chatekar <notifications@github.com>
wrote:

--
Aaron Stannard,
Santa Monica, CA
p: 858-245-0314
e: aaron@aaronstannard.com
t: @Aaronontheweb
w: http://www.aaronstannard.com/
w: http://captainobvio.us/

[2015-09-01 19:32] #1275 closed

[2015-09-02 03:30] michaelsync commented on #1289
Hi Aaron,

Thanks! ;-)

If I use Parent Proxy Pattern then I will have to create a proxy for every message passing.

What I am looking for is something similar to AroundRecieved method that is triggered before receiving the message.

Here is an example. (I am just typing the code here (not in VS) so there might be some typo but hope you got what I meant. ;-) )

*Messages*

[code]

*Actors*

[code]

[2015-09-02 04:13] michaelsync commented on #1289
Sorry. Stephen found the solution. Yes. We can just use AroundReceive

public class ActorBase{

  public void override AroundReceive(MessageBase msg){
        //Before
        // .....

       var return = base.AroundReceive(r, message);

        //After
        //...

     return return;
  }

}

[2015-09-02 04:13] #1289 closed

[2015-09-02 07:09] Horusiath commented on #1289
Be very cautious with `AroundReceive` - remember:

[2015-09-03 04:40] michaelsync commented on #1281
If you guys are not clear what I am trying to do, feel free to let me know. I can try rephrasing it again. Thanks!

[2015-09-03 08:07] rogeralsing commented on #1283
@alex-kondrashov that is absolutely relevant. all dynamic content should be injected through the template. otherwise we can not extract the value using semantic logging

[2015-09-03 13:20] Danthar commented on #1281
The error you are getting is from Autofac (?). Even though you are using named dependencies. You are matching those in type. And since there are 2 IActorRef type parameters in your constructor Autofac gets confused because it does not know which of the 2 parameters you are targetting with your ResolvedParameter construct.

Now.. your example might be just that... an example. However it seems like

[2015-09-03 14:15] raymens opened #1290 "InvalidActorNameException upon actor restart"
A while back we noticed some processes weren't being executed anymore in our application. Upon some investigation we noticed that several actors had crashed, which happens from time to time, but this time the actors couldn't be restarted due to a `InvalidActorNameException`.

This has happened once within a few months. I'm not sure if this is an akka.net issue or a bad implementation on our side.

[2015-09-03 15:48] sadprofessor opened #1291 "Multiple active result sets exception"
we occasionally see an exception coming from SQL akka persistence moaning about multiple active result sets not being supported. Might it need enabling?

	`System.Data.dll!System.Data.SqlClient.SqlInternalConnectionTds.ValidateConnectionForExecute(System.Data.SqlClient.SqlCommand command)	Unknown
 	System.Data.dll!System.Data.SqlClient.SqlConnection.ValidateConnectionForExecute(string method, Syst

[2015-09-03 17:20] Aaronontheweb commented on #1249
Assigning this to @GeertVL once he accepts my invite to @akkadotnet/contributors

[2015-09-04 06:52] Horusiath commented on #1291
@sadprofessor isn't MutlipleActiveResultSets something, that you can simply enable through connection string params?

[2015-09-04 10:44] alexkool opened #1292 "Unable to use await while message processing"
Scheme:
`System -> MasterActor -> ChildrenActors.`

We pass `MsgReqBalance` message `MaserActor` in foreach loop we trying to `Ask<MsgRespBalance>(new MsgReqBalance())` all children and get blanace from all children. If we try to use `awat` we will fall while getting `Context` in `MasterActor`

so. This code raise an error `There is no active ActorContext, this is most likely due to use of async o

[2015-09-04 10:47] alexkool commented on #1292
I found the another way :)
before using `await` I save the sender:
`var sender = Context.Sender;`

and then:
[code]
So. We can use `await` in this way! all tests are passes)

[2015-09-04 13:03] Horusiath commented on #1292
Using `async/await` and `Ask` between the actors is generaly a strong anti-pattern: it results in suboptimal performance and introduces races (just like in your case). Not mentioning that `Parallel.Invoke` will actually actively block your actor untill all of the messages will arrive.

[2015-09-04 16:24] alexkool commented on #1292
thanks for a comment!
*suboptimal and are obsoleted* sorry, I dont know that
If u can, please write a sample.
Regards!

[2015-09-04 18:09] Caldas commented on #1292
From what I learned the correct way to use Async with Akka is using .PipeTo.

There is a sample of how to use it on Akka Samples project @ github

-----Mensagem Original-----
De: "alexkool" <notifications@github.com>
Enviada em: ‎04/‎09/‎2015 13:24
Para: "akkadotnet/akka.net" <akka.net@noreply.github.com>
Assunto: Re: [akka.net] Unable to use await while message processing (#1292)

thanks for a co

[2015-09-04 18:17] rogeralsing commented on #1292
The main issue here is how async is used.
Async await does work in actors, if you use ReceiveActor and make the receive handler async.
Receive<foo>(async msg => ....)

In your example here, you use async void. Never ever use async void in any code, akka or normal code.
The only valid usecase for async void is async event handlers due to legacy reasons.

That being said, what others say here is cor

[2015-09-04 18:43] Caldas commented on #1292
I recommend take a look also at https://petabridge.com/blog/akkadotnet-async-actors-using-pipeto/

-----Mensagem Original-----
De: "Roger Johansson" notifications@github.com
Enviada em: ‎04/‎09/‎2015 15:17
Para: "akkadotnet/akka.net" akka.net@noreply.github.com
Assunto: Re: [akka.net] Unable to use await while message processing (#1292)

The main issue here is how async is used.
Async await does w

[2015-09-04 20:50] schatekar commented on #1105
@Aaronontheweb I have managed to run the build on my TC project. One of the multinode tests is failing and I see the following on TC output - tells which tests is failing. So I am slightly confused as to what is it that we want changed?

![image](https://cloud.githubusercontent.com/assets/998799/9694261/df7e6432-534e-11e5-97de-c09ccbe3574e.png)

[2015-09-04 20:59] Aaronontheweb commented on #1105
@schatekar that's not a multi-node spec - need that type of failure message for a full-blown multi-node test.

[2015-09-04 21:35] GraemeBradbury commented on #1196
Would appreciate any feedback on what everyone sees as a minimum usable state for the tool?

It's not so much a tool as a generated html page instead of the .json file containing the `TestRunTree`.
So for each spec a timeline is generated like bellow.

![capture](https://cloud.githubusercontent.com/assets/93497/9694635/75ca07d6-5352-11e5-8a78-098e34f3ab60.PNG)

The event colours are done by taking

[2015-09-04 23:23] Aaronontheweb commented on #1196
I would use both - never know what someone might do with the .json file. But I think this looks AMAZING.

[2015-09-05 04:01] KadekM commented on #1196
That looks great!

[2015-09-05 08:28] GeertVL commented on #1078
Is this still open?

[2015-09-06 12:22] Horusiath commented on #1292
Below is slightly changed version, that is fully async:

[code]

Now, each time you want to collect balance from the children in fully async fashion, you'd just create a `BalanceCounter` actor and send `MsgReqBalance` to it:

[code]

[2015-09-06 20:22] alexkool commented on #1292
thanks so much!

[2015-09-07 06:02] rogeralsing opened #1296 "Port EventBusUnsubscribers"
In JVM Akka, there is a `EventBusUnsubscribers` (https://github.com/akka/akka/blob/master/akka-actor/src/main/scala/akka/event/EventBusUnsubscribers.scala)
Which deals with unsubscription from the eventstream for terminated actors.
We don't have that, so if an actor subscribes and then terminates, it will still be registered as a subscriber on the eventstream, thus propagating messages to deadlett

[2015-09-07 06:16] #1292 closed

[2015-09-07 06:21] rogeralsing commented on #1290
We need some way to reproduce this.

This specific line in the stacktrace looks suspicious to me:

[code]

Was `null` passed as a message somewhere?

[2015-09-07 07:16] raymens commented on #1290
That's probably the F# `unit` we send to some actors. Like the implementation in #1285. These actors are called using the scheduler.

[2015-09-07 09:21] sadprofessor commented on #1291
@Horusiath Yes apparently you can. If the persistence code mandates it though it might be best to hardcode it? We started to see this as soon as we had more than one persistent actor.

[2015-09-07 09:37] Horusiath commented on #1291
This is not strictly a bug from akka itself - this problem may occur, once multiple persistent actors connected to the same journal will try to read/write to it at the same time. But we could actually create some log message warning about this behavior.

[2015-09-08 18:35] rogeralsing opened #1300 "Throw exception when Type.GetType returns null"
Related to #1286

There are plenty of places in our codebase where we use `Type.GetType(typename)` and don't handle null results.

Here is a scan for `Type.GetType(`, some do handle null results correctly, e.g. either throw configuration exceptions or log warnings.
But in some cases, there is no handling for this. e.g. Akka.IO.DNS `Activator.CreateInstance(Type.GetType(Settings.ProviderObjectName)

[2015-09-08 18:37] #1279 closed

[2015-09-09 05:25] KadekM opened #1301 "Imprecise Resizer"
There seems to be issue with Resizer, not resizing properly (resizing too much?).

It can be observed with on this test.
https://github.com/akkadotnet/akka.net/blob/dev/src/core/Akka.Remote.Tests.MultiNode/RemoteRoundRobinSpec.cs#L169

which is failing our builds, hence I will comment it out until we resolve this issue.

[2015-09-09 06:58] rogeralsing commented on #1301
Do the tests use any of the Test Resizers?
I have reviewed the `DefaultResizer` side by side with the scala code today and they are identical. so the problem should not be in that class.

[2015-09-09 07:15] KadekM commented on #1301
My test is using my own test resizer... I don't know internals, and I had only tested it lightly, but at step where it should have resize by one, it resized by one, but several times (several Resize() messages?)... so maybe code that uses the resizer is wrong ? ResizablePoolCell ?

I am sorry to have raised issue with such sparse info, I will update it as soon as I get to do more testing, right no

[2015-09-09 07:31] rogeralsing commented on #1301
This is the code that sends the Resize message:

[code]

if we are seeing multiple Resize messages, then the criteria for sending it must be bugged.
The code here looks correct though, I've compared it to the Scala version.
But the problem should be located somewhere in this pipeline.

[2015-09-09 07:36] rogeralsing commented on #1301
Possibly related:

[code]

The scala code uses:

[code]
Which just sets the value of the existing instance.

This could possibly have some unexpected effect in low level threading code, if one thread still sees the old instance. not sure but even if the above code works, we should not recreate objects if we can re-use the existing instance.

[2015-09-09 07:53] KadekM commented on #1301
I changed that, did not help though. Here is the log (with that change)`, maybe it helps a little to see what's going on (it's from this loop https://github.com/KadekM/akka.net/blob/c5539b21522f3a2ce94ebc9c914d73ebb6d93e85/src/core/Akka.Remote.Tests.MultiNode/RemoteRoundRobinSpec.cs#L189-L197) with additional logging added to loop and ResizablePoolCell...

[code]

[2015-09-09 08:10] rogeralsing commented on #1277
I have done some PoC'ing with this:
[code]

That will let you do things like:

[code]

Which I think looks pretty clean.
Too bad you need to put () after poison pill though, otherwise it get ambiguous with the existing type PoisonPill.
But other than that, it looks like it would work w/o breaking anything else.

[2015-09-09 08:31] rogeralsing commented on #1301
[code]

its the two lines below the comment that should not occur, right?
since there is no more messages sent to the router and thus it should be impossible for the resizer to be activated?

Can you add some code to this method:

[code]

That would help us to see what messages are causing the resize

[2015-09-09 08:40] KadekM commented on #1301
What you wrote is correct. Will do and submit post it then.

[2015-09-09 08:50] KadekM commented on #1301
@rogeralsing
[code]

[2015-09-09 09:07] rogeralsing commented on #1301
Ah, I think I know what is wrong, jvm Akka has two different piplelines for messages, one for system messages and one for user messages.
We have only one method Post which handles both cases. thus we are receiving system messages such as supervise and watch here.

[code]

if we ignore system messages in the post method, I think this would solve the problem with multiple Resizes

[2015-09-09 09:10] KadekM commented on #1301
Wonderful! Seems to work on my machine. Will submit PR to see what buildserver has to say.

[2015-09-09 13:17] #1301 closed

[2015-09-10 21:55] AlanGRutter opened #1307 "Round Robin Router Pool restarting all child actors"
In my application I have defined a round-robin-pool router with 50 instances of an actor. I am deliberately throwing an exception in my child actor when it receives a message as part of trying to learn how the child actors are restarted by the router.

I am using the default router supervisor strategy (which I believe is One-for-one) but I am seeing the PostStop function of my actors called 50 tim

[2015-09-11 06:18] rogeralsing commented on #1307
If I recall correctly, the default behavior for routers is to escalate only. Not the same as the "normal" default strategy.
Thus, router escalates to parent, router is restarted and recreates all its children

[2015-09-12 09:21] KadekM opened #1309 "Incorrect(?) Async CircuitBreaker + tests"
I believe our CircuitBreaker async impl is not correct - this is our current interface
[code]
while scala has
[code]

They are using call by name - as it makes sense, since Future starts instantly when instantiated... and passing already-running-future into circuit breaker would not make sense, since what can we circuit break then?

So I believe our current imlementation does not really make sense

[2015-09-12 10:12] KadekM opened #1311 "Flaky RemoteRoundRobinSpec"
It still seems to be failing (but less often? I'm not sure), so until we find issue & resolve it we should probably comment failing test out.

[2015-09-13 05:03] AlanGRutter commented on #1307
Roger,
Sorry ,so I'm confused by the documentation. In the section on Supervision withing the Routers section - it states

I am not throwing the exception in the router, but in one of its routees. According to the above doc reference, it should be managed by the router using a OneForOneStrategy and only the child that dies should get restarted.

[2015-09-13 05:37] rogeralsing commented on #1307
Ok sorry about that, the docs are out of date in that case.

the same esalate behavior exists in JVM Akka

[code]

Im marking this as a bug for the documentation

[2015-09-13 05:45] rogeralsing commented on #1307
https://github.com/akkadotnet/getakka.net/blob/master/src/docs/working-with-actors/Routers.md

That section is not correct and needs to be updated.

[2015-09-13 19:08] rogeralsing opened #1312 "Stashing broken for messages overriding Equals operators"
See https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/akkadotnet-user-list/FQz0ITYtd4E/xye6J9muCgAJ

In short. if a message overrides equals semantics, e.g. F# types, or custom c# types, or even built in types such as String will throw an exception if you try to stash two different messages with the same content, as they are both "equal".

The test should ofcourse check for

[2015-09-13 19:11] rogeralsing commented on #1312
See https://github.com/akkadotnet/akka.net/blob/dev/src/core/Akka/Actor/Stash/Internal/AbstractStash.cs#L67

[2015-09-14 08:38] rogeralsing commented on #1309
Merged.

[2015-09-14 08:38] #1309 closed

[2015-09-14 09:13] KadekM commented on #1311
I will look into this upcoming weekend.

[2015-09-14 09:31] rogeralsing commented on #1307
I've updated this

[2015-09-14 09:31] #1307 closed

[2015-09-14 09:33] rogeralsing commented on #1285
Is this really a serialization bug? the example above does not use remoting and no serialization

[2015-09-14 18:08] raymens commented on #1285
Are these valid tests to use?

[code]

[2015-09-14 19:34] rogeralsing commented on #1285
@raymens looks good to me

[2015-09-14 20:25] Horusiath opened #1313 "Target Akka.NET for .NET versions 4.0 and 3.5"
This subject appears in discussions from time to time, so I think we should have some general thread for that. It seems that most interested group of people are Xamarin/Unity3D programmers ;) .
### .NET 4.0

I've made short investigation (read: I've successfully compiled core Akka.dll) for .NET 4.0. Some notes:
1. System.Collections.Immutable is missing - this could be fixed using [Rackspace.Colle

[2015-09-14 20:32] rogeralsing commented on #1313
If Unity3D is the thing we are targeting here, shouldnt we just wait for them to migrate to CoreCLR or whatever their latest strategy is?

[2015-09-14 20:43] jweimann commented on #1313
The Unity3D roadmap has the .Net update still in the "research" area.  It could a year or more before it actually comes out.  The method for doing async stuff in Unity is also quite a bit different, as mentioned above there's no Task, and I've never seen anyone use the ThreadPool in a Unity project either.  It's all done via their Coroutine system so that it works across all the different device p

[2015-09-15 07:29] rogeralsing commented on #1313
Making Akka.NET work w/o any threading support feels a bit far fetched. even if we make a scheduler that can run actors on Unity Coroutines, we would still need Akka.Remote and the underlying transport lib to also run w/o tasks/threads etc.

[2015-09-15 17:44] #1196 closed

[2015-09-15 18:58] Aaronontheweb opened #1314 "Add multi-node test runner output as a build artifact in TeamCity"
Related to #1196

Need to be able to expose the output generated by the multi-node test runner as a build artifact so it can be viewed when you drill into a TeamCity build. Might require some work in the FAKE script.

[2015-09-15 19:08] Aaronontheweb commented on #1313
@rogeralsing might be possible - those are just dispatcher implementations.

Truth of the matter is though, managing a build for all of these .NET targets with different BCL dependencies and lots of `#ifdef` macros is going to be an epic pain in the ass. Given how much other stuff we have going on in the main repository, I am not supportive of doing this inside the main project at this time.

My r

[2015-09-15 20:43] Aaronontheweb commented on #1285
Can you send in a PR with that spec?

[2015-09-16 12:41] dkoontz commented on #1313
For anyone considering doing the Unity3d support, here is work done to make Task & friends available in Unity's mono: http://spicypixel.com/developer/concurrency-kit/

[2015-09-17 07:50] raymens commented on #1285
sure

[2015-09-17 08:59] rogeralsing opened #1318 "Resolve<T> ???"
I found this bit of code today:

[code]

Whats the purpose of the `Resolve` class?
This is subject to race conditions.
If you set a static resolver in one test, and another test set it to something else, if they execute in parallel, things will end badly.

Global shared mutable state in a concurrency library :-1:

[2015-09-17 16:11] Aaronontheweb commented on #1318
Where is this in the actual library? Link please!

[2015-09-17 16:52] rogeralsing commented on #1318
The above code is from the RemotingSpec.cs
Resolve is part of Akka.dll

[2015-09-18 05:26] stefansedich commented on #1110
Just an update on this, turns out there was an issue with the sockets and reuse: https://github.com/mono/mono/pull/2047 this has been merged in.

I am still out of action for about a month but as soon as everything has settled I will look into getting these builds running again.

[2015-09-18 06:49] kantora opened #1321 "Deployer doesn't work with config fallbacks"
I am using configs stack (system has modules and every module has it's own default config, that are stacked in application).

I've found out that if one part of akka.actor.deployment is defined in one config (for one actor path) and second is defined in another (for other actor path) - only the one on the top will be used (the second one is ignored).

[2015-09-20 02:15] KadekM commented on #1311
There are still issues with RemoteRoundRobinSpec - even with one test commented out, it sometimes fails, although rarely... but fails :-1:

[2015-09-21 18:52] TeaDrivenDev commented on #1313
I would also be very interested in .NET 4.0 support for a rather "boring" reason - we write WPF enterprise desktop software and can only use what we can be certain will run on client machines at the various customers. Currently the only definitive guarantee we have is 4.0.

I have a few places where I'd hope to improve things a lot with Akka.NET; that route is currently blocked until we can move u

[2015-09-21 19:01] rogeralsing commented on #1313
Welcome to the dark side @TeaDrivenDev

It should be noted though that pre .NET 4.5, the threadpool was a lot worse than it is now.
There are probably some differences in flowing async state. but other than that, I dont think there is much preventing us to run on 4.0.

[2015-09-21 21:18] JulienFiaffe commented on #1281
I don't know if this issue is still relevant but I found a fix for your problem. Given the code you gave, you can do the following:

[code]

I used the name of the parameter for the check. I am not familiar with AutoFac but it looks like it fixes the issue. Nevertheless I think this solution can be quite dangerous, especially if you rename the parameters.

I asked myself the same question regardin

[2015-09-22 07:51] Horusiath opened #1325 "Implement comparability in value-based data types"
Right now we have a problem with using some of the Akka.NET data types, like `IActorRef`, as keys in our AVL-based maps - including all `IImmutableMap<,>`, `IImmutableSet<>` and F# `Map` implementations. All of them requires, that key type is implementing `IComparable<TKey>` interface in order to place key-value properly in tree structure.

For this reason, we should implement `IComparable` interf

[2015-09-22 15:04] adamhathcock commented on #992
Updated again to beta 7.

Need to get a Net Core version of Wire and Helios to really dive deeper.

[2015-09-22 18:54] raymens opened #1326 "F# null bug unit test does not pass"
The test `actor that accepts _ will receive unit message` located in `/src/core/Akka.FSharp.Tests/ApiTests.fs` does not pass.

The test just hangs forever (or whatever the default timeout is) without the timeout.

[code]

Related issue #1285 and PR #1317

[2015-09-24 10:09] sadprofessor opened #1327 "SQL Persistence new transaction failure"
JournalDbEngine:InsertInTransactionAsync

The call to create a new transaction in the using block can fail with

    A first chance exception of type 'System.Data.SqlClient.SqlException' occurred in System.Data.dll

    Additional information: New transaction is not allowed because there are other threads running in the session.

[2015-09-24 10:11] sadprofessor opened #1328 "SQL Persistence no transaction on command"
SqlServerJournal:ReadHighestSequenceNrAsync

This quite often throws:

    BeginExecuteReader requires the command to have a transaction when the connection assigned to the command is in a pending local transaction.  The Transaction property of the command has not been initialized.

[2015-09-24 10:12] sadprofessor opened #1329 "EventSourced null ref exception in AroundPreRestart"
Sometimes when a persistent actor restarts you find a null ref on the stash in EventSrouced.Lifecycle:AroundPreRetstart which throws out

[2015-09-24 21:40] Neftedollar opened #1330 "Xamarin Android/iOS"
Hi. can I use Akka.net with xamarin for Android or Xamarin for iOS?

[2015-09-24 22:16] Aaronontheweb commented on #1312
@rogeralsing is this now fixed?

[2015-09-25 07:43] halcwb opened #1331 "Akka.Fsharp Newtonsoft System.TypeLoadException"
Using a clean install (via nuget) of Akka.Fsharp, an exception is thrown with the following code:

	#load "Scripts/load-project.fsx"

	open Akka.FSharp

	let system = System.create "akka" (Configuration.load())

resulting in:

	Binding session to 'C:\Program Files (x86)\Microsoft Visual Studio 12.0\Blend\Newtonsoft.Json.dll'...
	System.Reflection.TargetInvocationException: Exception has been throw

[2015-09-25 08:04] Horusiath commented on #1331
For some reason, you've loaded Newtonsoft.Json package in version 4.5, while the current one used by Akka.NET is >=7.0.

[2015-09-25 08:43] halcwb commented on #1331
I have the right package installed in the project file, only the wrong Newtonsoft dll is used:

Binding session to 'C:\Program Files (x86)\Microsoft Visual Studio 12.0\Blend\Newtonsoft.Json.dll'.

So, that's the problem. Any ideas how to avoid binding to the wrong assembly?

[2015-09-25 08:55] Horusiath commented on #1331
You can add following snipped to configuration/runtime/assemblyBinding section:

[code]
where 7.0.1 is an actually installed version of Newtonsoft.Json.

[2015-09-25 09:00] halcwb commented on #1331
Thanks!

[2015-09-25 09:00] #1331 closed

[2015-09-25 15:57] ashshak commented on #1327
Just to add, I have noticed theses issues as well, and they started occurring after I made two actors persistent; it worked smoothly for one PersistentActor in the journal.

[2015-09-25 16:08] Aaronontheweb commented on #1327
Sounds like an issue with concurrency around the SQL Driver. We should probably add a spec to the Akka.Persistence.TestKit that tests for multiple actors writing to the journal, writing snapshots, recovering, and etc concurrently. I've noticed similar issues myself when recovering concurrently across multiple actors.

[2015-09-25 18:55] Aaronontheweb commented on #1314
I'll take this issue on - looks like I need to adjust some things with FAKE to make this easier

[2015-09-25 19:04] Horusiath commented on #1327
This seems to be the result of using single connection per journal combined with async ADO.NET methods utilization. This couldn't be discovered in original implementation, as JDBC doesn't offer async processing. As I understand the problem only occur when we try to do multiple writes, before the previous transaction ends.

Maybe the solution for that would be to introduce the state machine for sql

[2015-09-25 22:38] evertmulder opened #1332 "Akka.Cluster.Routing.ClusterRouterGroupSettings Mono Linux issue"
When creating a cluster router in code the following code works perfectly on windows but fails when running under linux mono
[code]
Running under mono in windows I get the expected OK 1, running under Linux I get
[code]
Tested on Rasbian Linux and Ubuntu 12.04.
Used Akka.Cluster.1.0.5.86-beta

[2015-09-25 22:43] Aaronontheweb commented on #1332
leading slashes for the win here

[2015-09-25 22:44] Aaronontheweb commented on #1332
In more detail - "/user/blocklist" is a valid absolute path on Linux. It's a valid relative path on Windows.

Hmmm.... We need to make this workable with Linux... Let me take a look at ClusterRouterGroupSettings.

[2015-09-25 23:11] Aaronontheweb commented on #1325
I think this is a good idea.

For `IActorRef` at least, the underlying `ActorPath` implements `IComparable<ActorPath>` - we could just have the `IComparable<IActorRef>` implementation call down to that.

[2015-09-25 23:36] #1246 closed

[2015-09-26 00:13] #1314 closed

[2015-09-26 06:12] rogeralsing commented on #1325
Agree, with IActorRef, just compare the underlying path.

As for Roslyn, do you mean we should make a plugin to roslyn that runs when we compile`?
OR that we make a tool that just walks through all interfaces and implement that parts for us. and we just run it once to do this?

[2015-09-28 08:42] rogeralsing opened #1334 "Akka.IO frequent GC's"
This might very well be a non issue.
But I'll bring it up anyway.

When running Akka.IO, just listening for connections.
There are a lot of GC hits going on, see image:
![gcpauses](https://cloud.githubusercontent.com/assets/647031/10131006/39b0c69e-65cd-11e5-8ab4-e508121451b0.png)

Those GC ticks does not occur when running e.g. an Akka.Cluster or any other modules.
I only see this when enabling a

[2015-09-28 14:35] annymsMthd commented on #1334
I've noticed this using Akka.IO as well
On Mon, Sep 28, 2015 at 1:42 AM Roger Johansson <notifications@github.com>
wrote:

[2015-09-29 00:00] evertmulder commented on #1332
Looking at the Akka Jvm implementation http://doc.akka.io/docs/akka/snapshot/scala/cluster-usage.html for example /user/actor in the Akka world is relative. If we run akka on windows or linux should not change this.

The code in /src/core/Akka/Actor/Address.cs
if(Uri.IsWellFormedUriString(addr, UriKind.Absolute) || (!Uri.IsWellFormedUriString(addr, UriKind.Relative)

Is most likely the cause. Perh

[2015-09-29 04:18] willieferguson commented on #1334
I could not replicate this in my environment. Are you using the TCP driver and just binding, i.e are you just doing this:

[code]

The selection loop currently allocates 2 collections for each iteration of the loop, which is the most likely  cause. Reusing the collections should solve the issue. I will run more tests.

[2015-09-29 04:56] rogeralsing commented on #1334
Here is the code that I found it in:
https://github.com/rogeralsing/AkkaFsMud/blob/master/FSharpMud/TcpServer.fs#L79

its possible to DL the entire example and just start it and the behavior will be visible after a few sec.
You dont need to connect with anything, its the listener that causes it.

[2015-09-29 06:25] willieferguson commented on #1334
This issue is resolved in the dev branch, although I'm not sure why. Will dig deeper.

[2015-09-29 11:41] isurakka opened #1335 "Underlying socket is not closed if Akka.IO TCP connection timeouts"
Running [this code](https://gist.github.com/isurakka/c81cef0e23e5754c4a7e) for 7-14 minutes on my computer causes you to run out of sockets.

The problem appears to be in `TcpConnection` or `SocketChannel`. Looks like `TcpConnection` checks if `SocketChannel` is open by calling `IsOpen` but it returns false even if the socket is bound therefore the socket is never closed.

[2015-09-29 16:45] #1257 closed

[2015-09-29 19:28] Aaronontheweb opened #1337 "MultiNode Test Run Visualizer: improve time resolution"
Make it easier to view the full timeline for the specs themselves by removing / changing the display of the built-in runner messages, which far in the past.

[2015-09-29 19:33] #1088 closed

[2015-09-30 05:10] rogeralsing commented on #1321
I'll take a look at this

[2015-09-30 05:11] rogeralsing commented on #1312
yes

[2015-09-30 05:11] #1312 closed

[2015-09-30 11:13] maxim-s commented on #1325
I can try to implement it

[2015-09-30 11:53] rogeralsing commented on #1325
IActorRef (+impls) and Props are good candidates, and maybe also `IDecider`, `Deploy`, `RouterConfig` + subclasses of those should have this support.
@Aaronontheweb @Horusiath any other types that also needs this?

[2015-09-30 20:48] evertmulder commented on #1332
Ok, found a solution that work both on windows and Linux and also handles the weird behavior when using a hashtag in the Url.

This works:
[code]
This does not work, "/user/actor" is resolved as absolute path on Linux (mono)
[code]
This does not work, "/user/actor#123" is resolved as absolute path by c# dotnet windows (but work on Linux)
[code]

This does not work, "/user/actor" is resolved as abs

[2015-10-01 10:59] maxim-s commented on #1325
It seems like
interface ```IActorRef``` (impls) already has ```IComparable<TKey>``` implementation
and it's possible to use it as a key for AVL-based maps

[2015-10-01 12:44] rogeralsing commented on #1325
This is what we get when trying to create an F# Set of IActorRef:

![actorrefset](https://cloud.githubusercontent.com/assets/647031/10220882/cfe453a4-684a-11e5-9425-aab103969a77.png)

[2015-10-01 12:47] rogeralsing commented on #1325
It's strange, because as @maxim-s  says, it does implement the interface
Does it have to implement a non generic version of the interface too for F#?
Or [CustomEquality] / [CustomComparison] attributes?

[code]

[2015-10-01 13:07] maxim-s commented on #1325
Yes, for c# looks like it works fine
![image](https://cloud.githubusercontent.com/assets/3223067/10221329/c56d7c98-685e-11e5-9e95-40d869f5b9cc.png)

[2015-10-01 17:44] Horusiath commented on #1325
The reason is lack of `IComparable` interface implementation for `IActorRef`. F# requires a genericless variant.

[2015-10-02 16:17] d--g opened #1343 "Unable to use Ask() extension method with cluster round-robin-group router"
I am not able to use the Ask extension method targeted at a cluster round-robin-group router? E.g.

`var testRouter = Context.System.ActorOf(Props.Empty.WithRouter(FromConfig.Instance), "testrouter");
var result = await testRouter.Ask<string>("SampleMessage", TimeSpan.FromSeconds(5));`

I am currently getting. **'Akka.Routing.RoutedActorRef' does not contain a definition for 'Ask'**

Hocon config

[2015-10-02 16:20] Horusiath commented on #1343
@d--g `Ask` is an extension method, which can be found in Akka.Actor namespace.

[2015-10-02 16:33] d--g commented on #1343
@Horusiath, thanks for the response. I have the namespace in the `using Akka.Actor;` and I am able to see the extension method through intellisense. My code also compiles without an issue. The issue comes when I hit the line at run time.

[2015-10-02 19:09] Aaronontheweb opened #1345 "MultiNodeSpecs: add millisecond time resolution to log messages"
Per-second messages are too coarse, i.e.

[code]

Should add MS time resolution to this

[2015-10-02 19:53] JeffCyr opened #1346 "Misusage of TaskContinuationOptions.AttachedToParent can cause unexpected behavior"
I have seen multiple usage of TaskContinuationOptions.AttachedToParent while exploring the codebase and I think it can be harmful in some cases.

Take this for example:
[code]

In the code above, specifying AttachedToParent has nothing to do with `taskToPipe`, what it really does is attaching to the currently executing Task (if the task was not scheduled with DenyChildAttach options). The flag doe

[2015-10-02 20:22] Aaronontheweb commented on #1346
@JeffCyr thanks for pointing this out - going to run an experiment with this real quick. I put the flags on there when we had an issue with Akka.Remote where a detached child task wasn't being processed in a manner consistent with the expected handshake procedure

[2015-10-02 20:24] Aaronontheweb commented on #1346
That was a long time ago though - back in early 2014.

[2015-10-02 21:19] Aaronontheweb commented on #1343
Looking into it - going to write a spec for it at least.

[2015-10-03 06:43] rogeralsing commented on #1343
http://stackoverflow.com/questions/17023523/a-does-not-contain-a-definition-forb-and-no-extension-method-b-accepting

I'm not confident that the descrption of the problem is correct here.
The actual error message _is_ a compile time message.
And it shows when the extension method is applied to the wrong type.

[2015-10-03 06:50] rogeralsing commented on #1283
Thanks for all the help guys!

[2015-10-03 06:50] #1283 closed

[2015-10-03 19:13] alex-kondrashov commented on #1300
If nobody works on this one - I am taking it up.

[2015-10-03 19:35] rogeralsing commented on #1300
Go for it :+1:

[2015-10-04 15:32] vasily-kirichenko opened #1352 "Cluster: remote node drops a message"
Server code:
[code]
Server config:
[code]
Client code:
[code]
Client config:
[code]
Client log:
[code]
Server log:
[code]
Full solution here https://github.com/vasily-kirichenko/AkkaNetTest

[2015-10-04 17:08] #1325 closed

[2015-10-04 17:10] rogeralsing commented on #1352
The error is the mixed use of **"localhost"** and **"127.0.0.1"**
Change to use the same everywhere to fix the problem

[2015-10-04 17:14] rogeralsing commented on #1352
cc @akkadotnet/developers should we make a hardcoded hack to check if the default address and the dropped message are of "localhost" vs "127.0.0.1" and log a more descriptive error.?

It's a hack sure, but we see the same error over and over (myself included).
The cause isnt really "Unknown" here, at least we could make that better and write something like "The incoming address 127.0.0.1 does not

[2015-10-04 17:29] takemyoxygen commented on #957
No decision made so far?
I'm one of those "enterprise" devs who has to use signed assemblies. If there's no chance that signed version of the package will be added, we'll probably build and sign it locally ourselves.

[2015-10-04 19:04] vasily-kirichenko commented on #1352
I think actors should be reachable by both "akka.tcp://ActorSystem1@1.2.3.4:5333" and "akka.tcp://ActorSystem1@a.host.name:5333" addresses, simultaneously.

[2015-10-04 19:04] vasily-kirichenko commented on #1352
And yes, my issue is fixed by using "localhost" everywhere, thanks!

[2015-10-04 19:04] #1352 closed

[2015-10-04 20:22] rogeralsing commented on #1321
I've added a test for this scenario, are your configurations chained with `WithFallback` ?
Can you provide a minimal example that reproduce the issue?

see #1353 for more info

[2015-10-05 05:46] maxim-s commented on #1296
I can try to do it

[2015-10-05 06:23] rogeralsing commented on #1291
@Horusiath is this still the case? or was it fixed by the connection per query fix?

[2015-10-05 06:27] Horusiath commented on #1291
I've added a log message (on WARNING level) if no *MultipleActiveResutSets* flag was set. But this is part of the persistence SQL queries PR.

[2015-10-05 06:35] rogeralsing commented on #1352
Ref #1186

[2015-10-05 06:40] rogeralsing commented on #1198
After some research on this, I wonder if Zookeeper is a good fit?
Zookeeper is CP, and a service discovery (seednode discovery in our case) really should be AP, right?

See https://tech.knewton.com/blog/2014/12/eureka-shouldnt-use-zookeeper-service-discovery/

[2015-10-05 06:46] rogeralsing opened #1354 "Nuget'ify HOCON"
As our plan is to extract HOCON from this repo to it's own library, (progress here https://github.com/akkadotnet/HOCON) we need to set up build scripts and Nuget'ify it.

Any help here would be welcome.

[2015-10-05 10:10] vasily-kirichenko opened #1355 "Cluster over LAN: bad request-replay performance"
Server:
[code]
config:
[code]
Client:
[code]
config:
[code]
Messages:
[code]
Full code here: https://github.com/vasily-kirichenko/AkkaNetTest

Server output:
[code]
Client output:
[code]

[2015-10-05 10:12] vasily-kirichenko commented on #1355
If I comment `mb.Sender() <! Response.Added (x + y)` on server and `let! _msg = mb.Receive()` on client (turning the whole thing to one-way message passing flow), server receives messages at about 3K msg/sec, which is also very, very low.

[2015-10-05 12:24] rogeralsing commented on #1355
[code]

You are doing full roundtrips for each message here, request response style.
327 msg/sec ofc sound extremely bad, so I am not defending that in any way.

But the nature of actors is to be asynchronous, so a more idiomatic implementation would be to send messages w/o waiting for response and just handle the response separately.
That would greatly improve performance.

[2015-10-05 12:25] rogeralsing commented on #1355
We will investigate this further and see what is the cause of this.

[2015-10-05 12:46] alexpantyukhin commented on #1354
I will do this.

[2015-10-05 12:55] rogeralsing commented on #1354
:+1:

[2015-10-05 12:57] rogeralsing commented on #1355
I have tried the above example and I can verify that the throughput is bad even on localhost, ca 1000 msg/s on loopback

According to the profiler, the problem seems to be in Helios.. cc @Aaronontheweb
![helios](https://cloud.githubusercontent.com/assets/647031/10280936/20c1ca4e-6b71-11e5-9e68-a629ab17eed8.png)

(This is running the official bits in Akka.NET 1.0.4)

[2015-10-05 13:05] rogeralsing opened #1356 "Implement DotNetty Transport"
Netty has been ported to .NET by MS and we are aiming to replace the current transport with a new transport built ontop of DotNetty.
https://github.com/Azure/DotNetty

Given the problems shown in #1355 and issues relating to message order I think we should step up our efforts on this one.

[edit] marking this critical as 300 msg/sec is simply not acceptable

[2015-10-05 13:18] rogeralsing commented on #1356
We could build this as a stand alone PoC under up for grabs, just to get some effort going here.

[2015-10-05 13:24] rogeralsing commented on #1356
Added a fork of DotNetty here https://github.com/akkadotnet/DotNetty, incase MS drops the effort, we can continue it here.

[2015-10-05 13:29] d--g commented on #1343
@rogeralsing, @Aaronontheweb, Thank you for reviewing and proving out via the Specs that the Ask extension method works with a clustered router as expected.

The code is executed within a NancyFX async Get[] request. I think the issue is as mentioned a compiler issue due to the nature of the compilation of these methods.

[2015-10-05 13:29] #1343 closed

[2015-10-05 14:10] rogeralsing opened #1357 "AkkaIOTransport broken"
The AkkaIOTransport is broken is several ways.

1. Since the introduction of max frame size exceptions, the IO Transport does not read those settings and thus fails to send any messages
2. Connection back to the calling system seems to fail

I have tried this on the Chat examples in the main repo.

cc @willieferguson

[2015-10-05 14:15] vasily-kirichenko commented on #1355
Yes, I profiled it too and found that Helios was the bottleneck.

And yes, async communications is obviously faster and better, but as I wrote, even it is about 3K msg/second.

[2015-10-05 14:33] vasily-kirichenko commented on #1355
I wrote an equivalent Scala code here https://github.com/vasily-kirichenko/AkkaScalaTest and it processes 2800 RPC requests per second (locally). I will test it via LAN tomorrow.

[2015-10-05 16:19] Muraad commented on #1355
If the profiler shows ```System.ni.dll``` this probably means "object creation". There is a new ```INode``` created on every send via ```NodeBuilder.BuildNode()```. I think that´s why the perfomance is bad even on localhost. The VS2015 profiler (snapshot) shows the number of objects for a given type somewhere, you will probably see lots of ```Node``` objects.

[2015-10-05 16:30] rogeralsing commented on #1357
The reason the connection is not established in my case is that for some reason the remote system decides to resolve my "127.0.0.1" to "192.168.0.1" and tries to respond back to the resolved address.
If I just hack that part of the code to use 127.0.0.1 it does connect and the built in Chat example works fine.

I've also tried the same code in Akka.Cluster, where it _almost_ works, it does connect

[2015-10-05 16:39] skotzko commented on #1111
Closing this per convo w/ @Aaronontheweb . Issue appears to be expected behavior re: reachability.

[2015-10-05 16:39] #1111 closed

[2015-10-05 16:43] skotzko commented on #1052
Closing as this was previously fixed in #1147.

[2015-10-05 16:43] #1052 closed

[2015-10-05 16:46] skotzko commented on #1248
@GeertVL go for it!

[2015-10-05 16:48] skotzko commented on #748
@Aaronontheweb please check up on this per our convo this AM

[2015-10-05 16:54] Horusiath opened #1359 "Akka.Cluster problem on seed node rejoin"
From @christiansparre:

This is the error: "Association to [akka.tcp://clustertest@127.0.0.1:7000] having UID [443331660] is irrecoverably failed. UID is now quarantined and all messages to this UID will be delivered to dead letters. Remote actorsystem must be restarted to recover from this situation."

[2015-10-05 16:54] Muraad commented on #1355
The deeper problem is that UnstreamedConnectionBase´s ```protected override void SendInternal(byte[] buffer, int index, int length, INode destination)``` needs an ```INode```. It is not used by ```TcpConnection``` and ```UdpConnection``` only uses the node to get an endpoint via ```destination.ToEndPoint()```

[2015-10-05 19:21] Aaronontheweb commented on #1359
I need more info on this, but sounds like working-as-intended to me. If the leader was shutdown but never DOWNED from the cluster, it won't be able to rejoin.

So questions for @christiansparre

1. Was `akka.cluster.auto-down` turned on or was the leader manually downed when it was shutdown? Or neither?
2. How was the seed node able to contact the non-seed nodes if it was downed? Configuration cha

[2015-10-05 19:26] rogeralsing commented on #1359
If the leader comes online as a new system, restarted, with a new UID, it should not be considered the same system, no?
Even the error message says that restarting should be enough to fix the problem **"Remote actorsystem must be restarted to recover from this situation"**

I'll make some Scala examples to test out our Cluster/Remoting behaviors

[2015-10-05 19:29] Aaronontheweb commented on #1359
Correct, but how can it join a non-seed node if it was downed?

[2015-10-05 19:55] rogeralsing commented on #1359
If both seed nodes are shut down, and one of them are brought back online. how can that not even know about the other non seed nodes?
The old workers knew about the two original seed nodes, with their old UID's., the newly started seednode will have a different UID.

This _should_ result in two separate clusters, no?

[2015-10-05 20:03] Aaronontheweb commented on #1359
Exactly - that's why I'm asking. Need the rest of that information before we can classify this as a bug or not.

[2015-10-05 20:04] rogeralsing commented on #1359
Tried this in Scala and as I said in the above post, the restarted seednode does not join the old cluster as none of the nodes sees eachother.
The old nodes knows about the two dead seed nodes and their UIDs.
And the new seednode does not know about the old nodes.
They are not even trying to communicate.

If in Akka.NET the old nodes are trying to communicate back to the restarted node, then there

[2015-10-05 20:08] rogeralsing commented on #1359
This could also just be a logging problem, I assume the nodes in scala will still communicate back to the new node as they have no idea of knowing what UID the new node have, but there is nothing visible that it was rejected, it might just be that we log that interaction.

[2015-10-05 20:18] christiansparre commented on #1359
@Aaronontheweb

1. I have auto-down-unreachable-after = 10s
2. I'm not sure I understand, when starting one of the seed nodes the error come on one of the non-seed nodes so my guess is that the non-seed node saw the seed node but did not recognize the UID. We made no config change.

We saw the problem in a system on our test environment and I decided to make a simple console app i could start with

[2015-10-05 21:47] Aaronontheweb commented on #1359
Never use auto-down. You will end up with split brains 100% of the time you use it.

[2015-10-05 21:54] Aaronontheweb commented on #1359
No, you have to be able to issue a `Down` command from one of the available nodes to remove it from cluster membership.

Think of it this way: killing a process that's in the cluster is treated as a temporary failure, and the cluster's consensus algorithm depends on unanimous consent. If a node goes `Unreachable`, it's expected to return at some point unless it's explicitly marked as `Down` by one

[2015-10-05 21:56] Aaronontheweb commented on #1355
@Muraad thanks for the detailed analysis - I'm off to go write a perfview benchmark for this.

[2015-10-05 22:12] ondrelogin opened #1361 "Having Actor's Children not destroyed more discoverable"
I attended the Petabridge Akka.net October 1st training and one issue that popped up was how difficult to know that there was a way to not have to recreate Children Actors if the Parent died.  The current way is to override PreRestart and don't call base.PreRestart.  Which isn't descriptive and/or discoverable.

Possible Solutions/Recommendations
- Add new property: `protected virtual bool ShouldD

[2015-10-06 05:37] numo16 commented on #1057
I'll take a look at this one.

[2015-10-06 07:32] christiansparre commented on #1359
Ok, I think I understand the reasoning. Do you have any examples of how to achieve the "Down'ing" of members? For one how do you handle this during deployment? Do you specifically down members as part of the deployment steps?

[2015-10-06 07:37] Horusiath commented on #1359
I think, that no matter what, we should at least provide some friendlier message for user informing about what actually happened and what is possible reason of the problem.

[2015-10-06 07:46] christiansparre commented on #1359
I my test I have ```auto-down-unreachable-after = off```. When I terminate a non-seed node we also see the above message when starting that node again. However it is allowed to join after a while. It also works for a seed-node but, when all the seed-nodes terminate then we have the problem and end up with two separate clusters. Are there any suggestions to handling this situation when you loose al

[2015-10-06 09:36] rogeralsing commented on #1359
I'm verifying this against the Scala bits.
In Scala, when **auto down is set to off**, the restarted seed node is accepted back into the cluster.
While if **auto down is set to on**, the restarted seed node is **not** accepted back into the cluster.

This was also verified by Konrad/Typesafe

[2015-10-06 09:59] ktoso commented on #1359
Not so fast @rogeralsing, as I mentioned on the chat - I missed from your question that all seed-nodes are down at some point in time which changes the story here.

Since all seed-nodes went down, and then come back up again yet there is no node that knows about the worker nodes - i.e. there is a time when no seed node is alive, to relay the information about the previous cluster. Then yes, in thi

[2015-10-06 10:57] rogeralsing commented on #1359
I am definitely seeing the restarted seed node coming back into the cluster.

starting the entire cluster, 2 seed nodes, one worker node
cluster is formed
I kill seed 1 and seed 2
Waiting 1 min
Restarting seed 1
seed 1 is now accepted back into the cluster

worker
https://gist.github.com/rogeralsing/12dbe4745f5837f90940

seed
https://gist.github.com/rogeralsing/1affb84c004682c206d8

This is a scre

[2015-10-06 12:20] patriknw commented on #1359
how do you observe "seed 2 is now accepted back into the cluster"?

[2015-10-06 12:22] patriknw commented on #1359
being able to send a message with

    context.system.actorSelection("akka.tcp://ClusterSystem@127.0.0.1:8090/user/dummy").tell("hello", self)

doesn't mean that it is part of the cluster

[2015-10-06 13:24] rogeralsing commented on #1359
It sends messages to the worker.
The output is from the worker showing messages from the seed.

Skickat från min iPhone

[2015-10-06 13:26] rogeralsing commented on #1359
Oh, my bad.
So cluster gossip would be a more correct way then (?)

Skickat från min iPhone

[2015-10-06 14:33] Aaronontheweb commented on #1359
@rogeralsing can we close this then?

@Horusiath users need is monitoring for this, because you have to reconstruct the gossip status messages over time to get a clear picture of what happened. It's like a combination of several log messages across multiple nodes in the cluster.

[2015-10-06 14:34] rogeralsing commented on #1359
@Aaronontheweb yes, but I think our log message is wrong(ish)
*"Remote actorsystem must be restarted to recover from this situation."* will not solve the problem

[2015-10-06 14:36] Aaronontheweb commented on #1356
I'm working on implementing the missing pieces in DotNetty to make it wire-compatible with Helios - mostly a bunch of decoding stuff. Should take me another 12-16 hours worth of work (depending on how quickly I can get the testing infrastructure ported correctly)

[2015-10-06 14:43] vasily-kirichenko commented on #1355
Updated: Scala version can do 4500 req-rep per second between consoles on same machine and 920 req-rep / s via 1Gbit LAN.

[2015-10-06 15:02] #1332 closed

[2015-10-06 15:02] Aaronontheweb commented on #1332
Thanks for fixing this @evertmulder !

[2015-10-06 17:49] sean-gilliam commented on #1352
Since the localhost vs 127.0.01 is a special case and the error message is a little opaque for that case, i don't see the harm in the hack you propose @rogeralsing . Maybe clarify it further in the documentation under Remoting.

[2015-10-07 06:10] emilingerslev commented on #1359
Investigating this issue I found that a cluster that loses one or more node (that then becomes unreachable) the cluster seems not too accept any new nodes before all node are reachable again.

This means if you have more than two seed nodes, and two of them goes missing if fx they crash, the cluster will only accept the the newly started seed nodes when both are up. This is of cause only true when

[2015-10-07 08:02] patriknw commented on #1359
Yes, works as designed.

[2015-10-07 09:48] Horusiath commented on #1198
@rogeralsing  Zookeeper is centralized configuration server. I think that having hard consistency is desired for this case. However it's also possible to work in read-only mode which is more AP oriented - there is interesting discussion about that in comments section of article, you've linked.

[2015-10-07 12:56] adamhathcock commented on #992
Another issue:  Type.GetType() (e.g. used for loading a logging actor) only works for the current executing assembly.  Need to redo this.

Hopefully https://github.com/akkadotnet/akka.net/issues/1263 is still on the cards (soon :) )

[2015-10-07 13:57] rogeralsing commented on #992
@adamhathcock huh, Type.GetType does not accept fully qualified type names ?

[2015-10-07 14:07] adamhathcock commented on #992
Under DNX, there aren't necessarily Assemblies and no AppDomains.  From my understanding, the static Assembly methods only really works for the current project.  Certain Assembly methods just don't work either.  I'm guessing Type.GetType(string) under DNX only will find types in the current (or maybe just the entry) project.

To find all loaded types, usage of ILibraryManager (https://github.com/a

[2015-10-07 14:09] davzucky commented on #797
@rogeralsing
I tried to look at the debug branch you are referencing, however it doesn't exist anymore [https://github.com/rogeralsing/akka.net/tree/mono-trheadpool](https://github.com/rogeralsing/akka.net/tree/mono-trheadpool).
do you still need help ?

[2015-10-07 14:43] adamhathcock commented on #1263
Any movement or ideas on this?  I'm willing to help from the xproj conversion side.

Basically not much will have to change if the target is still "net45" as opposed to "dnx451" etc.  Of course, the tooling in Visual Studio changes a bit.  Beta 7 required a new install.  Maybe beta 8 will as well.

I guess that might be an argument to wait a bit more then :)

[2015-10-07 17:56] nvivo commented on #992
2 cents here...

I remember seeing some explanation on a community standup about this. It seems the task of locating assemblies was moved out of the runtime into DNX, because it may need to locate a package in another folder or compile from source. In the end, assemblies still exist at runtime, but the runtime acts more as "read only". Type.GetType probably sees whatever was passed by DNX, but doe

[2015-10-07 18:04] adamhathcock commented on #992
The logger I tested definitely was in an assembly that was used.  It just wasn't in the entry assembly.  Type.GetType didn't work for anything in that assembly (in my watch window) but it did for the entry assembly.  I stopped there knowing several of the Assembly.Get* methods (Entry, Executing) don't work but GetCurrent does work.

I guess I need to test it further.  In my own code, I don't load

[2015-10-07 18:46] nvivo commented on #992
If you're adding a logger as usual, putting the assembly side by side in the same folder, it won't be loaded automatically by .NET. Only explicit dependencies are loaded, that is, the ones the compiler adds to the IL manifest. If I'm not mistaken (may be wrong here), even today, csc filters out from the manifest references you have but don't actually use.

So, DNX won't load them automatically jus

[2015-10-07 18:52] adamhathcock commented on #992
This is an explicit dependency.  The second assembly has code being used by the entry assembly.  It ought to show in ILibraryManager but Type.GetType didn't work.

I'll do some more explicit testing tomorrow my time and get back to you.

[2015-10-07 21:18] elbaloo commented on #1233
Link isn't or doesn't seem to be broken anymore.

[2015-10-07 21:23] elbaloo commented on #872
This seems to be already fixed by #1005.

[2015-10-08 00:19] Aaronontheweb opened #1365 "Write specs to verify Akka.Remote untrusted mode and trusted actorselection paths"
# Enable untrusted mode for full security of server managed actors, prevents
    # system messages to be send by clients, e.g. messages like 'Create',
    # 'Suspend', 'Resume', 'Terminate', 'Supervise', 'Link' etc.
    untrusted-mode = off

    # When 'untrusted-mode=on' inbound actor selections are by default discarded.
    # Actors with paths defined in this white list are granted permission to

[2015-10-08 02:24] rogeralsing commented on #1233
Thanks

[2015-10-08 02:24] #1233 closed

[2015-10-08 02:30] #872 closed

[2015-10-08 06:23] rogeralsing commented on #1334
as this is fixed (unknown why) but still, I will close this

[2015-10-08 06:23] #1334 closed

[2015-10-08 07:03] willieferguson commented on #1357
There are some issues I'm aware of in the IO Transport implementation, e.g. framing. Will look into these.

[2015-10-08 08:50] emilingerslev commented on #1359
@patriknw Alright. Good to know. Then I agree with @Aaronontheweb and @rogeralsing that the only thing that could be improved here seems to be the log message.

[2015-10-08 10:11] adamhathcock commented on #992
I did a test repo: https://github.com/adamhathcock/dnx-test/blob/master/src/ConsoleApp1/Program.cs

Type.GetType doesn't work.  If I get the Assembly object, Assembly.GetType doesn't work.  If I do Assembly.GetTypes then the type is in the list.

[2015-10-08 10:17] adamhathcock commented on #992
Just realized I did something.  Assembly.GetType(string) does work.  Type.GetType(string) doesn't

[2015-10-08 14:52] njimenez commented on #1161
I am going to take a crack at this problem.
The way I understand it is that we would like to run the tests twice, each time with a different transport.
As of now, the tests are hard coded to use a configuration that specifies or defaults to helios. In order to allow the tests to change configuration, the test would need to figure out which transport we want to use in each run. Since we can't pass

[2015-10-08 14:55] willieferguson commented on #1161
There is an ousting bug #1357 for the akka-io transport. I will send a PR with a fix soon.

[2015-10-08 15:55] rogeralsing commented on #1359
I'm closing this one

[2015-10-08 15:55] #1359 closed

[2015-10-08 15:56] maxim-s commented on #758
I'll do it

[2015-10-08 18:22] rogeralsing commented on #1296
Merged, closing

[2015-10-08 18:22] #1296 closed

[2015-10-08 19:21] #1192 closed

[2015-10-09 14:34] rogeralsing opened #1369 "VS.NET HOCON intellisense"
The current user experience with HOCON is pretty bad, there is no way to verify if your HOCON config is valid.
I would like to see a VS.NET plugin that gives us intellisense for Akka.NET HOCON configs.

There are a few options to consider.

1. We could make such plugin know about all the standard Akka.NET modules, e.g. Akka Actor, Akka.Remote, Akka.Cluster etc., So that intellisense take all the m

[2015-10-09 14:43] rogeralsing opened #1370 "Invent HOCON Schema"
As an addition to #1369, it would be nice to have schema validation for HOCON files.
I think that would be fairly easy to accomplish too.

Assume we have some HOCON
[code]

We could probably describe this using a schema like this:

[code]

then we can simply traverse both trees of HOCON and when we find a scalar value, we check if it is compatible with the type described in the same node in the sc

[2015-10-09 14:47] rogeralsing commented on #1369
Duplicate of #723

[2015-10-11 03:11] njimenez commented on #1161
I have the tests running with Helios and AkkaIO in separate runs. Now I need you to point me to where I can find a good configuration for AkkaIO. So that I can start adding the config where needed.

[2015-10-11 10:22] tintoy commented on #1370
Just out of curiosity, would the design you have in mind be able to cope with something like [this](https://github.com/tintoy/akkadotnet-cluster-test/blob/master/AkkaDotNetClusterTest/App.config)?

Technically there are 3 "akka" nodes in the file (something that seems to be valid HOCON as far as I can tell) but they all have the same schema definition.

[2015-10-11 12:45] rogeralsing opened #1372 "Slow to switch between debug and release builds"
I think this could have started with the Paket PR.
Switching between build modes comes with an 2 minutes freeze in VS.NET (not always, but often)

[2015-10-11 14:31] rogeralsing commented on #1355
I've profiled this quite a bit today.
Here are some offending methods/lines of code in random order.
(not mutually exclusive some of them call each other, thus sum > 100%)

34.2 % (dedicated thread pool)

       public override AckAndMessage DecodeMessage(ByteString raw, RemoteActorRefProvider provider, Address localAddress)

endpoint.cs
29.4 %

	private void Writing(object message
	..
		if (!Writ

[2015-10-11 14:32] rogeralsing commented on #1355
![remotepingponglocalhost](https://cloud.githubusercontent.com/assets/647031/10417257/95bcb890-7035-11e5-9da0-f1af892bb546.png)

I've ported the ping pong benchmark to run on Akka.Remote.

[2015-10-12 09:05] willieferguson commented on #1334
The high number of allocations which causes the Gen 1 collections is in Socket.Select.

Changeset 4af2cfbcaafa33ea04a1a8b1aa6486e78bd6f821 changes the behavior of the select loop to wait for 1ms, which has caused the number of allocations to drop.

Ultimately we'll have to move away from Socket.Select. I'm investigating alternatives, but the most obvious choice it to move to async sockets (with So

[2015-10-12 09:13] rogeralsing commented on #1334
:+1:

[2015-10-12 09:24] rogeralsing commented on #758
This one have been merged, closing.

(correct me if Im wrong)

[2015-10-12 09:24] #758 closed

[2015-10-12 10:02] maxim-s commented on #1096
I can do it

[2015-10-12 11:00] #1357 closed

[2015-10-12 11:09] willieferguson commented on #1161
Should we not have some generic way to run a test with multiple configurations? I was looking at using something like a 'Theory' in xunit. E.g.

[code]

The above will then run each fact twice - with diffirent configurations.

[2015-10-12 11:33] Aaronontheweb commented on #1334
Go with the most absolutely lightweight option -'SocketSsyncEventArgs'. No reason to add any dependent assemblies.

[2015-10-12 11:52] Aaronontheweb commented on #1372
Revert the Paket PR if that's the issue then - the problems it solves are pretty trivial compared to interrupting a developer's flow for two whole minutes.

[2015-10-12 12:01] rogeralsing commented on #1372
According to @Horusiath this have been a problem since pre- Paket.
I will try to revert locally later and see if it solves the problem

[2015-10-12 13:22] rogeralsing opened #1375 "Deployer does not support wildcards"
Java Akka supprts wildcards in deployments:

[code]

There are two issues in Akka.NET here.

1. HOCON parser crashes on this.
2. We do not handle wildcards in the deployer even if we manage to get the wildcard into the path.

[2015-10-12 14:26] Aaronontheweb commented on #1375
Are you sure that your syntax is correct here? Because this code has worked for months in WebCrawler: https://github.com/petabridge/akkadotnet-code-samples/blob/master/Cluster.WebCrawler/src/WebCrawler.Service/App.config#L38

[code]

[2015-10-12 14:29] rogeralsing commented on #1375
The syntax is from a Scala example, I will check it out if it is just an hocon parsing issue then

[2015-10-12 14:49] Aaronontheweb commented on #1375
:+1:

[2015-10-12 14:59] jenspettersson commented on #1375
I was the one asking about this in gitter group and the syntax @Aaronontheweb shows works nice.

However, trying to prefix the wildcard, like this `"/api/prefix-*/coordinators"` doesn't seem to work, but that's probably not supposed to work?

[2015-10-12 15:48] rogeralsing commented on #1375
There seems to be some problem with wildcards at toplevel elements.

`"/foo/*"` works fine, `"/*"` throws all over the place.
I'll dig into this

[2015-10-12 16:08] rogeralsing commented on #1375
Given that there is an actor called "remoteactor":

This works
[code]

This doesnt

[code]

But this does:

[code]

So it seems like if both parent and child are registered for deployment, both of them must match up.

[2015-10-12 16:30] DavidHoerster commented on #1224
I have a branch ready to submit via a pull request.  The only thing I can't figure out is if the solution has a test suite for it.  I thought there used to be one, but maybe I'm wrong on that.  Just have to beef up the readme.md and the PR will be submitted.

[2015-10-12 17:38] rogeralsing commented on #1375
The problem exists in WildcardTree.cs.

I'm really not sure why it was designed the way it is.
it is a tree that holds a root node that then forks out for each `/element` found, and then every sub level branches out ontop of that.

The problem is when there is one `/*` and one `/remoteactor` , both matches the actor name "remoteactor", by design it walks the most specfic path, that is "/remoteacto

[2015-10-12 18:49] rogeralsing opened #1376 "EventStreamUnsubscriber and RemoteDeploymentWatcher are created under `/user`"
I've noticed that the two new actors EventStreamUnsubscriber and RemoteDeploymentWatcher are created under user space, they should be created in system space.

It should not be more than a change from `ActorOf` to `SystemActorOf`
I noticed that they both interfere with deployment configs as they are matched by deploy wildcards.

cc @maxim-s

[2015-10-12 18:52] rogeralsing commented on #1375
This seems to be by design, our code matches the Scala code.
I'm going to give it a try on the JVM too to see if it actually behaves this way too just to make sure.

[2015-10-13 07:07] MECLab commented on #1160
Hey team, is anyone working on this? I'm happy to take it as well as help out with some xml docs. These would be a good way to get involved and learn the code base at the some time.

[2015-10-13 07:29] rogeralsing commented on #1160
@MECLab go for it if you want :+1:

[2015-10-13 07:30] rogeralsing commented on #1375
Some of the problems I've seen here is related to #1376 , as one of the new actors there was affected by the deployment wildcards.

[2015-10-13 10:31] #1376 closed

[2015-10-13 10:31] rogeralsing commented on #1375
I'm closing this as "by design" as this is how JVM Akka does it.
(#1376 has been fixed)

[2015-10-13 10:31] #1375 closed

[2015-10-13 17:17] njimenez commented on #1161
It sounds like a good idea but unfortunately, I don't think we can apply Theories to constructors, AFAIK.
Also if one wanted to only run tests for a particular transport, they would have to comment out the theories they don't want to run; as opposed to just doing build.cmd helios, or build.cmd akkaio.

[2015-10-13 20:32] derrickcrowne commented on #1355
We saw a big clustering performance hit when upgrading from 1.0.3 to 1.0.4/1.0.5. Currently running 1.0.3 in production again because that gave us the best performance. Our production servers are doing 10k requests/minute from our web nodes into the cluster which has 20ms response time on 1.0.3, but it was reaching 700ms on 1.0.4.

[2015-10-14 00:51] rogeralsing commented on #1355
@derrickcrowne that is great feedback, we will try to pinpoint what can cause that effect in the commits between 1.0.3 and 1.0.4, thanks!

[2015-10-14 00:54] rogeralsing commented on #1355
@derrickcrowne btw. have you evaluated how the current dev branch here works out for you?

[2015-10-14 01:11] derrickcrowne commented on #1355
The last version we tried was 1.0.5.75-beta about 5 weeks ago, which still had the performance issue. We have since set up some better load testing for our test environment, but have been busy with other non-akka parts of our application, so haven't really got a chance to test out any newer versions.

[2015-10-14 01:27] rogeralsing commented on #1355
cc @akkadotnet/developers
I've made a list of the commits made from 1.0.3 to 1.0.4 and listed the ones that I think could be potential offenders:
These are commits made to the core Akka.NET codebase.
Other commits are related to F#/Persistence etc.

https://github.com/akkadotnet/akka.net/pull/1176/files
https://github.com/akkadotnet/akka.net/pull/1154/files
https://github.com/akkadotnet/akka.net/c

[2015-10-14 16:03] Aaronontheweb commented on #1355
@rogeralsing don't forget the `ThreadStatic` changes we made to the serializer with embedding the transport information

[2015-10-14 16:04] Aaronontheweb commented on #1355
https://github.com/Aaronontheweb/akka.net/commit/ecbc17daacc7777888752f1d665c4517a380d967

[2015-10-14 19:20] #1337 closed

[2015-10-14 21:09] Aaronontheweb commented on #1355
@akkadotnet/contributors pretty sure the degradation in performance 1.0.3 -> 1.0.4 is unrelated to Helios 1.4.1, which was introduced in that release. Here's the full changeset for 1.4.1, which is mostly just a bugfix:

https://github.com/helios-io/helios/pull/53/files

[2015-10-14 22:10] Aaronontheweb commented on #1356
Took a while, but DotNetty should be wire-compatible with Helios now: https://github.com/Azure/DotNetty/pull/40

Keep an eye on that PR.

[2015-10-14 22:20] Aaronontheweb commented on #1165
Renewed interest in this - would make debugging Akka.Cluster and Akka.Remote much less frustrating

[2015-10-15 04:46] rogeralsing commented on #1355
As @derrickcrowne said, they are using Helios 1.4.1 for both Akka.NET 1.0.3 and 1.0.4, so we can rule out Helios for this.

The issue must be somewhere in those 7-ish commits.
So its at least a limited scope on what we have to dig through.
Akka.IO was another thing introduced during this time, right? so I'm thinking maybe interference somehow, e.g. IO polls sockets and for some reason affects the

[2015-10-15 09:21] maxim-s commented on #1096
I've checked [FSM](https://github.com/akka/akka/tree/master/akka-persistence/src/main/scala/akka/persistence/fsm) Akka.Persistence and [FSM](https://github.com/akka/akka/blob/master/akka-actor/src/main/scala/akka/actor/FSM.scala) for Akka.Actor also we already have [FSM](https://github.com/akkadotnet/akka.net/blob/dev/src/core/Akka/Actor/FSM.cs) for Akka.Actor and looks like scala implementation h

[2015-10-15 14:20] Horusiath commented on #1096
@maxim-s if it's possible to not duplicate code, that would be great. Since C# doesn't offer traits like scala does, the implementation should probably rely on composition.

[2015-10-21 00:31] michaelsync opened #1384 "Inheriting OneForOneStrategy/AllForOneStrategy"
Both OneForOneStrategy and AllForOneStrategy have the comment saying that it can't be inherited. Could someone explain me why we can't do that? If it can't really be inherited then should both classes be marked as sealed classes? Thanks!

[code]

[2015-10-21 08:35] Horusiath commented on #1384
Once, before 1.0 they were sealed classes. Now, they can be inherited, but the old comment remained.

[2015-10-21 10:20] michaelsync commented on #1384
haha. :) Thanks for the confirmation!

[2015-10-21 10:21] #1384 closed

[2015-10-21 10:32] michaelsync opened #1385 "How to create a child actor in unit test without invoking multi-threading stuffs?"
According to these two articles, we can write the unit tests in single-threaded model by using ActorOfAsTestActorRef instead of ActorOf<CalculatorActor>.

http://blog.canberger.se/2014/10/introducing-testkit-for-akkanet.html
http://blog.canberger.se/2014/10/integration-testing-using-akkanets.html

Is it possible to create a child actor in single-thread mode?

[2015-10-21 20:40] jjguzzardo opened #1386 "Message Between Two Cluster Nodes Fails And Raises Unhandled Exception"
When I attempt to send a message from an actor on one node to a router on another node, I get an exception regarding serialization that says invalid cast between Newtonsoft.Json.Linq.JObject and Newtonsoft.Json.Linq.JValue.  The cluster is healthy before the message is sent because I can see heartbeat messages going back and forth but the message fails to get sent with the exception cited above.

[2015-10-22 06:43] michaelsync opened #1387 "Accessing ChildRestartStats from Decider"
Is there any way to access the ChildRestartStats from the customer decider?

Basically, I like to use the different directive based on max retry. (E.g. Escalate after max retry. ) In ProcessFailture, we can use failedChildStats.RequestRestartPermission(,) to check whether we reach the max attempts or not.

I look at this code. I think we can easily pass the failedChildStats instead of Child to Han

[2015-10-23 12:28] Horusiath commented on #1385
@michaelsync I'm guessing, that you're trying to bind TestKit monitored mailbox to child actors, right? This is usually solved as part of actor's dependency design, where `TestActor` can be passed as message sender, which should get the response or as message field.

PS: For the future, please don't use github issue tracker as a Q&A site. It's used for bug and features reporting. For questions, I

[2015-10-24 00:28] michaelsync commented on #1385
sure. I will ask about it again in gitter.

[2015-10-24 07:56] Horusiath commented on #1386
I've tracked down the problem. Reason for this behaviour is that your `StockWorker` type definition is not known to all communicating parties. To fix it you could define it in the shared assembly.

Besides, you may encounter problems with `public string Payload { get; }` signature in message type, as it seems that Newtonsoft.Json in version 7 (which is an actual one) seems not to be able to deseri

[2015-10-24 12:01] takemyoxygen opened #1390 "Messages not sent to a remote actor don't become dead letters."
I was debugging dead letters in Akka.net and discovered that when a message is supposed to be sent to a remote actor and for some reason it's not sent (e.g. connection can't be established), the message is not sent to `DeadLetters`. I've found two reasons:
1. On `PostStop`, `EndpointWriter` sends content of `_prioBuffer` and `_buffer` to `_system.DeadLetters`, but it sends instances of `LinkedList

[2015-10-24 15:53] Horusiath commented on #1390
@takemyoxygen Thanks. It would be great if you'd like to submit PR for this one.

[2015-10-24 20:04] jjguzzardo commented on #1386
Yes!  This did fix the issue for me.  Thank you!  I see what the issue was.  I was thinking Client/Server and since my client is a member of the cluster, as that is the only way to talk from a client to a sever right now, I didn't think to include the server based actors in my client code.  Since all nodes in a cluster are peer to peer, client/server was the wrong way for me to think about this an

[2015-10-26 08:19] Horusiath commented on #1390
Closed by #1391

[2015-10-26 08:19] #1390 closed

[2015-10-28 01:32] donamk commented on #1224
Akka.DI.SimpleInjector would be awesome. :+1:

[2015-10-28 22:16] Zetanova opened #1392 "Event Data Versioning"
If an event type is moved to an other assembly or renamed because of versioning,
there is no possibility to replace the payloadTypeString or custom resolve the type
loaded from the Akka.Persistent.Journal.

[2015-10-29 08:08] Horusiath commented on #1392
From our talk it looks like this kind of behavior could result in infinite error loop inside event adapter. This should be resolved.

Few notes:

- Moving type definition from one assembly to another is basically indistinguishable from changing it's type, so this should never be made once event has been persisted.
- In general using default Akka.NET message serializer for events is a very bad idea

[2015-10-29 09:36] Danthar commented on #1392
A few thoughts from my part:

- I agree with the infinite error loop bug. That should be solved.
- I disagree with the byte[] solution

The Akka.Persistent.Journal is an EventSourcing system. Being such a system it should adhere to the tenets defined by such a system. In regards to applying versioning inside an eventsourced system there are plenty of articles available. Just google for 'eventsourc

[2015-10-29 10:55] Zetanova commented on #1392
all Serializer have some kind of feature to override/replace types. In very rude versioning, you tag the type with a int version (attribute or property) and save it in the metadata. If there is some version change of the type, the developer can move the type to an other namesace, assembly or copy+rename the type MyEventV4 and increace the current version of MyEvent to 5 and make the modification o

[2015-10-29 15:52] maxim-s commented on #1096
Hello @Horusiath ,
I hope you are fine. I've tried to implement this issue in different ways.  I tried to extract common things into separate class and to do it by composition instead of inheritance, but I had dome problems with it, and decided to do separately. So as  result I've got a problem with persist untyped events and restore their  state by events. What do you think if I will persist even

[2015-11-02 19:07] Horusiath opened #1395 "Add Become and BecomeStacked to ReceivePersistentActor"
It looks like `ReceivePersistentActor` is missing implementation of `Become` and `BecomeStacked` equivalent of the `ReceiveActor`. It should be implemented as well and work only on command receiver part of the persistent actor.

[2015-11-02 19:07] Aaronontheweb commented on #1395
awesome - glad to see this. I wanted some clarification around how `Become` works with the RPA and this helps me understand what the current behavior is.

[2015-11-03 09:41] #1107 closed

[2015-11-03 09:42] Horusiath commented on #1107
Closed by #1151 and #1306

[2015-11-03 13:06] Zetanova opened #1397 "PersistenceExtension - CreatePlugin in race condition"
PersistenceExtension.SnapshotStoreFor() is creating the plugin with the help of Lazy<PluginHolder>.
But is not using the LazyThreadSafetyMode.ExecutionAndPublication Flag to lock the initializion Thread.

The Plugin SnapshotStore.sql-server will fail with Cause:
Akka.Actor.InvalidActorNameException: Actor name "akka.persistence.snapshot-store.sql-server" is not unique!

All Lazy<> Helper that init

[2015-11-03 15:35] christopherbahr commented on #957
Another +1 from a dev who needs to use signed assemblies.

[2015-11-03 18:19] Zetanova opened #1398 "Akka.Persistence.Sql.Common.Journal - JournalDbEngine Not Thread Safe"
LinkedList.Remove() is not Thread safe and will Fail with a NullReferenceException under load.

[2015-11-03 21:44] Aaronontheweb opened #1399 "FAKE Build - unable to push NuGet packages to nightly or production NuGet feeds"
Since #1362 we've not been able to push any NuGet packages to our nightly MyGet feed, because the FAKE script for publishing packages wasn't updated to handle the switch from NuGet to Paket.

See relevant build errors in the log here:

http://petabridge-ci.cloudapp.net/viewLog.html?buildId=2551&buildTypeId=AkkaNet_AkkaNetUnstableNightlyBuilds&tab=buildLog#_focus=10680&guest=1

[2015-11-03 21:59] Horusiath opened #1400 "Stashing - problems with storing similar messages."
Some time ago we seemed to fix problem with error "Cannot stash the same message twice" ocurring when we appended two messages having custom equality by changing it on reference equality instead. This however doesn't solve the problem, as sometimes we may want to stash the "referentialy" the same message twice, like in case of singleton messages or strings.

[2015-11-04 07:07] Horusiath opened #1402 "Akka.Persistence - update code base to akka JVM v2.4"
Since our akka persistence module has been ported, some changes occurred on the JVM side of it. One of them is introduction of `AtomicWrite` and `ReplayFilter`. Associated with them are abilities to replay corrupted events emitted by overlapping writers and to reject events before they are stored.

**[EDIT: 2016.02.11]**

List of changes, that probably needs to be included:

- `Persist` on sequenc

[2015-11-04 08:55] Horusiath commented on #1398
The problem lies in the PendingOperations list of journal engine, which is mutated from async tasks themselves, causing race conditions. This part should be redesigned - journal engine state mutations should not be shared or occur inside tasks.

[2015-11-04 09:28] Horusiath commented on #1399
@Zetanova reported, that there are some problems with getting .pdb files for nightly builds. Could this be related?

[2015-11-04 12:02] Horusiath opened #1403 "Persistent actor receives duplicated events after restart during recovery"
We have some sign, that actor can receive duplicated events, if it restarts during recovery. What's wrong here, is that we have a request for replay events send to journal from actor incarnation A1. Once journal starts to replay events, actor may crash and get restarted for some reason. New incarnation of the actor (let's call it A2) will again send replay request. In result it may receive some of

[2015-11-04 14:51] patriknw commented on #1403
That could be a bug (also in Akka). For the writes we have this instanceId to detect such things, see for example here: https://github.com/akka/akka/blob/release-2.3/akka-persistence/src/main/scala/akka/persistence/Eventsourced.scala#L119

but that is not done for the replay.

Have you migrated to Akka 2.4? There we have less of this trouble in 2.4 because we unconditionally stop the actor when th

[2015-11-04 14:55] ktoso commented on #1403
(a bit more details on how 2.4 deals with this here: https://github.com/akka/akka/issues/18850#issuecomment-153721647 )

[2015-11-04 14:56] patriknw commented on #1403
right, it's handled in 2.4: https://github.com/akka/akka/blob/master/akka-persistence/src/main/scala/akka/persistence/Eventsourced.scala#L487

[2015-11-04 16:49] Aaronontheweb commented on #1400
Hmmmm.... Does the `Stash` store the `Envelope` itself?

[2015-11-04 22:23] CreepyGnome opened #1405 "Akka.net ActorSystem.AwaitTermination triggers DeathWatchNotification when no messages are sent on .NET 4.5.2"
This message is written to the console in the simplest of Akka.net sample applications.

This is the very simple code, where all you do is create an actor, but you NEVER send any messages.

    using System;
    using Akka.Actor;
    namespace AkkaNetTest {
        class Program {
            static void Main(string[] args) {
                ActorSystem testActorSystem = ActorSystem.Create("TestAc

[2015-11-04 22:37] CreepyGnome commented on #1405
In case it matters since I have VS 2015 installed as well .NET 4.6 is installed... could be incompatibility with 4.5.2 or 4.6 that isn't accounted for in Akka.net yet.

[2015-11-04 23:07] Zetanova opened #1406 "Akka.Persistence.SqlServer CS_PID is a HASH and not unique"
The Tables are generated with a CS_PID Hash Column and index by it.
The QueryBuilder is selecting the JournalEvents only by this HASH and not by there PersistentId.

All Components in following assemblies are not checking of Invalid PersistentId
Akka.Persistence.SqlServer
Akka.Persistence.Sql.Common
Akka.Persistence

And so an PersistentActor will get EventMessage from an other PersistentId.

[2015-11-04 23:29] Aaronontheweb commented on #1405
@CreepyGnome you're calling `testActorSystem.Shutdown();` - this shuts down the `ActorSystem`. This kills off all of the actors, including the built-in system ones - so `DeathWatchNotification`s are fired as part of the shutdown and cleanup process. In this case the message you're seeing the the `/user` guardian actor shutting itself down, which doesn't get delivered because it's shutting down.

N

[2015-11-04 23:29] #1405 closed

[2015-11-05 01:22] CreepyGnome commented on #1405
I am not sure I understand, I am new to Akka and trying to learn how to use it. When going through your bootcamp or other peoples samples that work for them, I ALWAYS get this on my box and it is freaking annoying as hell.

From a user/developer perspective I should not be getting any messages on my console from Akka about anything unless I write them to the console myself, or I tell Akka I want i

[2015-11-05 01:43] Aaronontheweb commented on #1405
This is what you have in the default configuration options

[code]

Turn this to `akka.log-dead-letters-during-shutdown = off` if you don't want to see them.

That's because these are system messages that Akka uses to control the actor hierarchy. You didn't send them, but when you called `ActorSystem.Shutdown` then a series of `Stop` commands are automatically sent down the entire hierarchy so eve

[2015-11-05 03:33] johlrich commented on #1400
`Stash` does store `Envelope`, yes. I did some digging and this is what I came up with:

I think the problem here is with Akka the `actorCell.currentMessage` mentioned in `stash()` is already an `Envelope`. So it's checking reference equality against Envelopes, not message contents (essentially preventing a user from calling stash more than once in the same receive and saving the same `Envelope` t

[2015-11-05 07:25] Horusiath commented on #1406
CS_PID is unique for SqlServer implementation of the journal. Associated issue: akkadotnet/Akka.Persistence.SqlServer/#8

[2015-11-05 07:31] Horusiath commented on #1398
The problem is existence of `PendingOperations` list itself - it's not necessary for us. Actually what we might want to do is to cleanup all pending database tasks once we are stoping/restarting the journal - for this we need only one shared cancellation token source that will be used for all database calls and canceled at `PostStop` journal method.

[2015-11-05 07:37] Horusiath commented on #1399
Reason behind that is, that we are still using nuget package manager for publishing packages. This should be replaced with FAKE [Paket.push](http://fsharp.github.io/FAKE/apidocs/fake-paket.html) command. F# project scaffold does it by default - example [here](https://github.com/Horusiath/Akkling/blob/master/build.fsx#L142).

[2015-11-05 08:07] rogeralsing commented on #1400
@johlrich is correct. we should refactor the core to keep the current envelope. it should be pretty straight forward to do this.

[2015-11-05 13:14] rogeralsing commented on #1096
Has this one been merged?

[2015-11-05 13:24] Horusiath commented on #1096
Yes, PR #1394. This can be closed.

[2015-11-05 14:27] #1096 closed

[2015-11-05 15:32] CreepyGnome commented on #1405
@Aaronontheweb I think the bug is in the DEFAULT behavior then that you ship with then.

There is a bug here. I mean if you are upsetting a user, or worse yet a potential user, about something going on with your product then there is a bug. How you want to define the bug shouldn't matter and you should write it off and just close it out and try to walk away.

As no amount of googling or stackoverf

[2015-11-05 15:52] CreepyGnome commented on #1405
@Aaronontheweb also you providing a JSON looking string doesn't help me change the settings, I have been googling and reading your documentation however I can't find any way to programmatically change any of the akka configuration settings programmatically. I see how to use the app.config in a non-standard .NET way, and I don't see any exposed properties or methods for setting things on your Confi

[2015-11-05 16:57] Horusiath commented on #1386
@jjguzzardo

You could communicate with cluster from actor systems not being part of cluster using something called ClusterClient, which is part of Akka.Cluster.Tools - unfortunately it's not released yet (it's in the final phases before pre-release version).

Another option is to communicate using Akka.IO - but in this case you'll need to handle messages directly from byte buffers.

[2015-11-05 16:57] #1386 closed

[2015-11-05 16:59] #1385 closed

[2015-11-05 17:26] rogeralsing commented on #1405
The defaults are taken straight from the JVM Akka default configuration.
This is one of the key foundations that was set early on during the project that we should follow JVM Akka as closely as possible.
The same goes for the ability to set configuration settings via code, we have ported the JVM Akka configuration module and that is what we are sticking to.
There are good reasons why we follow JVM

[2015-11-05 17:35] Aaronontheweb commented on #1354
How's this going?

[2015-11-05 17:48] rogeralsing commented on #1400
I've verified this, there is a 20%+ perf loss in the delivery pipeline if we change `Envelope` from `struct` to `class`

[2015-11-05 17:55] rogeralsing commented on #1361
cc, @akkadotnet/developers
Should we do anything about this?
Imo it drifts away from the JVM API without that much benefit. I do get the issue raised by the OP but maybe this should be handled by better documentation and examples?

[2015-11-05 17:58] rogeralsing commented on #1326
@Horusiath is this one resolved by the removal of the Json hack?

[2015-11-05 17:58] CreepyGnome commented on #1405
@rogeralsing So you are saying that because the Java one did it wrong the .NET one should too? So do I have to get the Java version to fix it before you guys will fix it? So the .NET version is 100% the same as the Java version with no changes? I mean I didn't see lower case method names or other Java specific things.

Yeah typically when projects have been ported from other languages to .NET they

[2015-11-05 17:59] rogeralsing commented on #1321
I'm unable to replicate this one, anyone? @akkadotnet/developers
Close?

[2015-11-05 17:59] Horusiath commented on #1361
I'm not great fan of increasing API complexity in this case. First of all, it's very rare behavior (personally I've never seen need for this) and second, it can be already handled using existing API - just needs a better description.

[2015-11-05 18:14] rogeralsing commented on #1249
cc @maxim-s open for grabs if you want

[2015-11-05 18:14] rogeralsing commented on #1248
cc @maxim-s open for grabs if you want

[2015-11-06 03:23] maxim-s commented on #1248
I can try to do it

[2015-11-07 11:30] ghost opened #1409 "NewtonSoft 7.0 Error using latest Akka and Cluster"
Trying to dissect the example WebCrawler into a more concise project to make it easier to understand for me however I'm running into an issue where when sending a message to a router (crawler instance) it gives me the following exception;

[code]

Akka 1.0.4, NewtonSoft Json 7.0. Does not seem to happen when I run the WebCrawler example, I must be doing something wrong somewhere.

This is my Crawl

[2015-11-07 17:29] Horusiath commented on #1409
This is problem with Json.NET not being able to serialize/deserialize your message. My guess is that something is wrong with `StartCrawlMessage` or `Website` types. What are their schemas?

[2015-11-07 17:31] Levia- commented on #1409
Thank you for your response.
[code]

Not actually using the Website class here (atleast, not for sending across)

[2015-11-08 12:34] Zetanova opened #1410 "ActorTaskScheduler QueueTask for LongRunning"
Some external Sources are lazy initializing background threads with the LongRunning Task hint.
Like with RX Subject on the first OnNext()
With the current ActorTaskScheduler behavior the actor will lock at Line64 TryExecuteTask(task);
The deault behavir of the TaskPoolScheduler would be to start a detached explicit Thread for this Task.

[2015-11-09 06:37] Horusiath opened #1411 "SupervisorStrategy is not applied once child throws an exception"
We found an issue, that in some cases when actor throws an exception, a supervisor strategy is not applied for some reason. In the following example, once `FakeActor` receives a message and throws an excepton, stopping strategy is not applied and actor restarts instead of stopping, causing recursive failures.

[code]

[2015-11-09 08:23] rogeralsing commented on #1411
To me it looks like the supervision strategy is not applied as you pass it to the actor that throws the exception, the supervision strategy needs to be applied to the parent actor, not the failing actor itself.
Or am I minsunderstanding the example?

[2015-11-09 09:05] AlexeyRokhin opened #1412 "PingPong benchmark on multicore machines"
PingPong benchmark should be run with Server Garbage Collector on computers with several CPU.
I run benchmark on server with 4 AMD Operon (48 cores total).

Default configuration (Workstation GC):
![gc workstation](https://cloud.githubusercontent.com/assets/4499122/11029434/f9aa6006-86d7-11e5-912e-5d8a48c1f1d2.png)

Server GC (gcServer element with enabled="true" was added to runtime section):
![g

[2015-11-09 09:15] rogeralsing commented on #1412
Thanks! thats very valuable information, I have wondered this myself why the PingPong example behaves badly on some upscale computers.
127 mil messages per sec is fantastic!

[2015-11-09 22:00] Zetanova commented on #1410
The Cancled Check is missing at line65
if (task.IsFaulted || task.IsCanceled)
      Rethrow(task, null);

[2015-11-10 08:42] Horusiath opened #1414 "Create Serializer compatibility test kit"
This is old idea of creating test suite for user defined serializers to be possibly used as Akka.NET default serializers. List of things the tests should cover:

- Support for surrogates (for `IActorRef` serialization/deserialization).
  - Support for surrogates inside generic collections - right now JSON.NET is not able to correctly deserialize i.e. `IDictionary<TSurrogated, TVal>` where `TSurrog

[2015-11-10 13:30] rogeralsing commented on #1414
* It needs to be context aware, so that surrogates can be resolved using the active actor system.

I'll fill in more if I come up with more requirements :-)

[2015-11-11 04:46] TheRealMattHoffman commented on #816
and the answer is?

[2015-11-11 12:48] Danthar commented on #816
@TheRealMattHoffman by wrapping the ActorSystem in a using clause. He immediately disposes his actor-system.

Check out http://getakka.net/docs/deployment-scenarios/ASP%20NET for the correct way of using an ActorSystem in ASP.Net

[2015-11-11 17:48] thelegendofando commented on #1050
This works for me:

[code]

[2015-11-12 17:56] Aaronontheweb opened #1416 "Create ReceiveActor implementation of AtLeastOnceDeliveryActor base class"
It would be really helpful to be able to use typed `Receive<T>` with the `AtLeastOnceDeliveryActor` base class within Akka.Persistence - as of right now all we have is the untyped implementation.

[2015-11-12 18:20] Aaronontheweb commented on #1050
@thelegendofando oh snap, it's just that you need to add the `role` prefix first?

[2015-11-12 20:46] Danthar commented on #1411
Closing this issue. As it is resolved.

[2015-11-12 20:46] #1411 closed

[2015-11-12 20:47] Danthar commented on #1410
Can you confirm this bug with a Test/Spec ?
After which, you are most welcome to do a PR for this :)

[2015-11-12 20:48] Danthar commented on #1406
Closing this issue to prevent further discussion here. For more comments or discussion: please refer to the issue mentioned by @Horusiath

[2015-11-12 20:48] #1406 closed

[2015-11-12 20:49] Danthar commented on #1403
Closing this issue: A PR was merged

[2015-11-12 20:49] #1403 closed

[2015-11-12 20:51] Danthar commented on #1398
Closing this issue: A PR was merged

[2015-11-12 20:51] #1398 closed

[2015-11-12 20:51] Danthar commented on #1397
Closing this issue: A PR was merged

[2015-11-12 20:51] #1397 closed

[2015-11-12 20:52] Danthar commented on #1395
Closing this issue: A PR was merged

[2015-11-12 20:52] #1395 closed

[2015-11-12 20:55] Danthar commented on #1392
I now better understand what @Zetanova wants. Im not adverse to it. Having more options in this field is not a bad thing. No idea what it would currently take code-wise to achieve this though.

[2015-11-12 21:01] Danthar commented on #1387
@michaelsync Have you perhaps gotten an answer via gitter chat (or otherwise) to this question? If not please direct your questions there, or otherwise post them on StackOverflow. You have a much higher chance to get an answer there.

We wish to keep the issue's log free of user questions, since its a bad place to ask them anyway. And between managing the real issues, questions like these fall bet

[2015-11-12 21:02] Danthar commented on #1369
Closing since its a duplicate

[2015-11-12 21:02] #1369 closed

[2015-11-12 21:08] Danthar commented on #1318
Whats the status on this one ?

[2015-11-12 21:11] Danthar commented on #1291
Close: PR was merged

[2015-11-12 21:11] #1291 closed

[2015-11-12 21:12] Danthar commented on #1290
Whats the status on this issue?

[2015-11-12 21:13] Danthar commented on #1285
Closed: See #1326 for further discussion

[2015-11-12 21:13] #1285 closed

[2015-11-12 21:13] #1281 closed

[2015-11-12 22:26] skotzko opened #1417 "TestScheduler + CallingThreadDispatcher dependency"
Currently, to use `Advance` / `AdvanceTo` and manipulate virtual time in tests via the `TestScheduler`, actors have to be created and explicitly configured to use the `CallingThreadDispatcher`. This can be seen in the [`TestScheduler.Tests`](https://github.com/akkadotnet/akka.net/blob/dev/src/core/Akka.TestKit.Tests/TestSchedulerTests.cs#L23).

Can we either document this better in the code, or do

[2015-11-12 22:39] thelegendofando commented on #1050
Yep :)

[2015-11-12 22:44] Aaronontheweb commented on #1050
Welp - I'm an idiot. We can close this out.

[2015-11-12 22:44] #1050 closed

[2015-11-13 08:42] Horusiath commented on #1416
On the JVM it's realized as trait, which allows for multiple inheritance - at-least-once-delivery semantics can be applied for any kind of actor, either persistent or not.

Since we don't have traits/multi-inheritance in C#, I think that this functionality should be resolved through composition: maybe we should create something like `AtLeastOnceDeliverySemantic` class that can be used as a regular

[2015-11-13 08:51] rogeralsing commented on #1400
Stupid question from me maybe but do we need to do any sort of comparison at all?
cant we just have a `bool CurrentMessageIsStashed` in actor cell which starts out as false, and once you call `Stash` then you can not call stash again for that message.
We only need to guarantee we are not stashing the same message multiple times, right?

[2015-11-13 09:16] Danthar commented on #496
Closing this issue, Since a PR was merged

[2015-11-13 09:16] #496 closed

[2015-11-13 09:47] rogeralsing opened #1419 "Replace Akka.NET hocon impl with Akka.Hocon nuget"
We do have a nuget package for our extracted Hocon lib.
We should hook this up with the Akka.NET project so that Akka core uses this package instead.

One important thing is that we need to be backwards compatible as the config section points back to the Akka.dll in existing user code:

[code]

Other than that, I _think_ it should be pretty straight forward.

[2015-11-13 13:31] johlrich commented on #1400
@rogeralsing Hmm. When things like `HandleFailed` and `HandleCompelteTask` are executed and replace the `CurrentMessage`, does that happen in a way that would prevent stashing a legitimate message in the same cycle?

BTW, How was the 20% loss mentioned before measured?

[2015-11-13 14:10] caioproiete opened #1420 "Any plans on supporting .NET Core?"
Hello,

Is there's any plans on start adding support for .NET Core at this point?

[2015-11-13 14:18] rogeralsing commented on #1400
@johlrich `HandleFailed` is called when a parent actor is supervising a child, all system messages are processed synchronously just like every other message, so when `HandleFailed` is invoked, there is no other message processing going on in the parent actor at that time.

`HandleCompleteTask` should not be a problem, as the async await support prevents the actor from processing any other user mes

[2015-11-13 14:20] rogeralsing commented on #1420
Hi.

No, not at the moment, .NET Core is far too much of a moving target right now, we will get back to this in the future once things stabilize.

[2015-11-13 14:21] #1370 closed

[2015-11-13 14:53] caioproiete commented on #1420
Thanks @rogeralsing.

I'd be keen to help with that. If/when there's any interest in starting a parallel branch.

[2015-11-13 14:53] #1420 closed

[2015-11-13 15:16] johlrich commented on #1400
@rogeralsing I was wondering what you used to measure the performance loss from the `struct` to `class` change you mentioned previously. Was this done through the `PingPong` benchmark or maybe some other measurement?

[2015-11-13 17:09] wilsonch0 commented on #647
@Aaronontheweb @sean-gilliam @skotzko  I sent Andrew email a few days ago about my possibly helping with documentation.

Aaron said above to identify targets one could first look at: "The compiler warnings thrown by SandCastle on API doc generation. They call out the areas where documentation doesn't exist period - not even GhostDoc."

Here is what I think I did: I built the SandCastle docs, extra

[2015-11-13 20:03] sean-gilliam commented on #647
@wilsonch0 I'm glad someone else is looking at this other than me :) Just a few notes:

- The classes within the "Proto" namespace come from the Google Protocol Buffer stuff, Since these classes are autogenerated, I don't think we really need to document them.

- Running Sandcastle and parsing the output is a good start, but there are cases we're it falls short, i.e. ```/// <param name="member"></

[2015-11-14 07:48] rogeralsing commented on #1318
IMO this needs to be redesigned, we can not have tests that run in parallel over global mutable state.
The only thing that prevents this from crashing right now is that all tests assign the same type of value to the mutable field.

[2015-11-14 08:07] rogeralsing commented on #1354
This one is completed

[2015-11-14 08:07] #1354 closed

[2015-11-14 12:24] sadprofessor opened #1421 "Add ability to query cancelled scheduled items in TestScheduler"
Will be useful for testing that actors correctly cancel scheduled messages under specific scenarios.

[2015-11-14 20:15] sadprofessor commented on #1417
Just to clarify technically you don't need to use the CallingThreadDispatcher to use the TestScheduler. What you do need it for is if you're testing that an actor schedules something when receiving a message. If you don't use it in that case the test becomes non deterministic - you may ask the scheduler to advance time before the actor being tested has scheduled the item.

I did try and make it mo

[2015-11-15 03:11] akoshelev opened #1423 "Akka.Logger.Serilog logger - 'Thread' and 'LogSource' template properties are not available"
Hi there,

It seems that Serilog logger for Akka.net does not allow to use 'Thread' and 'LogSource' in message template. When Serilog is configured to use these properties:
[code]
then, instead of displaying real Thread id in place of (```{Thread}```) and actor path in place of (```LogSource```), it outputs something like this
[code]
I've created a simple project to demonstrate this issue https://

[2015-11-15 11:07] alexpantyukhin commented on #1419
I already do it.

[2015-11-16 18:24] Aaronontheweb commented on #1416
@Horusiath that's an idea... Have you and @maxim-s discussed this?

[2015-11-16 18:43] maxim-s opened #1426 "Race condition with Akka.Persistence FSM"
Looks like we have a race condition with Akka.Persistence FSMs:

http://petabridge-ci.cloudapp.net/viewLog.html?tab=buildLog&logTab=tree&filter=debug&expand=all&buildId=2672#_focus=13023&guest=1

[2015-11-16 19:37] Aaronontheweb commented on #1426
Thanks @maxim-s !

[2015-11-16 19:49] Aaronontheweb commented on #1318
@rogeralsing this is from the `IndirectActorProducer` stuff, right?

[2015-11-17 02:01] akoshelev opened #1428 "Clean up files not used in project"
Hi,

I just realized there is a couple of files, possibly leftovers after refactoring, that could be deleted as they're not referenced from project file.

**Akka**
[code]

May I delete them as unused files?

[2015-11-17 04:22] Aaronontheweb commented on #1428
Yes, looks like someone goofed when cleaning up those folders - virtually everything inside the Akka/Util root folder is no longer actually referenced by any projects in the solution. All of those files were moved to the relevant internals sub-folder. Please send along a PR to delete them.

[2015-11-17 12:35] maxim-s commented on #1426
looks like it's actor naming problem in the PersistentFSMSpec

[2015-11-17 12:36] alexpantyukhin commented on #1419
Hi! I think that it's possible way to use xslt transformation files to modify old .config files. This way we can just substitute type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka" with type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka.Hocon"

[2015-11-17 12:48] maxim-s commented on #1416
should I add `Receive<T>` instead of `ReceiveCommand<T>` ? I think `ReceiveCommand<T>`  more reasonable for `PersistentActor`and `AtLeastOnceDeliveryActor`

[2015-11-17 12:48] rogeralsing commented on #1419
Is it not possible to keep the `AkkaConfigurationSection` class  in core akka.net ?
(and not have it in the akka.hocon lib)

[2015-11-17 12:56] alexpantyukhin commented on #1419
It's okay if leave the `AkkaConfigurationSection` only in the core akka.net. But I worried that someone can use `AkkaConfigurationSection` class from the Akka.Hocon dll. (It seems that some people already downloaded from nuget.org and tried Akka.Hocon ).

[2015-11-17 18:06] Horusiath commented on #1416
@maxim-s as `AtLeastOnceDeliveryActor` is persistent actor, it's methods should reflect persistent actors behavior. Also I've checkout possibilities of decomposing `AtLeastOnceDeliverySemantic` from actors and these are some of my thoughts:

- This kind of semantic class needs basically only Context. There are two fields from persistent actor that are teoretically required. Usage of both can be op

[2015-11-17 18:44] alexpantyukhin commented on #1419
Also the `ConfigurationFactory` uses `AkkaConfigurationSection` for initialize Config from the .config file (method Load()). If we can remove this functionality then it's okay.

[2015-11-17 22:27] Aaronontheweb opened #1431 "Akka.IO TcpConnectionListener Racy Spec"
From http://petabridge-ci.cloudapp.net/viewLog.html?buildId=2720&tab=buildResultsDiv&buildTypeId=AkkaNet_AkkaNetPrBuild&guest=1

 TcpListenerSpec.A_TCP_Listner_must_continue_to_accept_connections_after_a_previous_accept

First failure:  	1429	#1498	No changes	17 Nov 15 22:11
Failed: Timeout 00:00:03 while waiting for a message of type Akka.IO.SelectionHandler+WorkerForCommand
Expected: True
Actual

[2015-11-18 08:09] Danthar commented on #1078
This issue is still open. No PR has been made for this. So if anyone feels like updating this. Go right ahead.

[2015-11-18 08:17] Danthar commented on #1057
I confirmed that in Akka 1.0.4 the system no longer crashes on unknown loglevel.
At least when used in combination with the serilog integration. Not sure if thats relevant or not though..

However regarding the unknown loglevel, im not seeing any warning or anything.
So whats the status on this one ?

[2015-11-18 17:10] #1428 closed

[2015-11-18 18:23] Aaronontheweb opened #1432 "PersistentFSMSpec.PersistentFSM_should_has_function_as_regular_fsm_on_state_timeout failure"
PersistentFSMSpec.PersistentFSM_should_has_function_as_regular_fsm_on_state_timeout

http://petabridge-ci.cloudapp.net/viewLog.html?buildId=2730&tab=buildResultsDiv&buildTypeId=AkkaNet_AkkaNetPrBuild&guest=1

[2015-11-18 18:23] Aaronontheweb commented on #1432
cc @maxim-s

[2015-11-18 19:15] Aaronontheweb opened #1433 "MultiNodeTestRunner hangs writing output to disk"
Seen multiple permanent hangs on this call

Step 1/1: Writing test state to: D:\BuildAgent\work\49b164d63843fb4\TestResults\Akka.Cluster.Tests.MultiNode-635834684240011612.html

And also the JSON output call.

No exceptions are thrown AFAIK - just never completes. Only seen it happen on our build agents, and they're writing to a temporary D:\ drive on the local VM, although the output they write i

[2015-11-18 20:58] schatekar commented on #1433
Is the actor that writes html output waiting for a message that it never receives?

[2015-11-18 21:11] Aaronontheweb opened #1435 "MultiNodeTestRunner design change: switch from standard I/O redirection to Akka.IO UDP for logging messages"
One of the more painful issues with the multi-node test runner right now is the fact that we often lose important parts of the stacktrace during failure cases, and this is due to a design limitation where we rely on standard I/O redirection from all of the child processes to report back to the central runner process.

This issue proposes that we remove the standard I/O redirection and replace it w

[2015-11-18 21:32] Aaronontheweb opened #1436 "Akka.Persistence.Sqlite spec failure SqliteJournalQuerySpec.Journal_queried_on_Manifest_returns_events_with_particular_manifest"
Failed: Timeout 00:00:03 while waiting for a message of type Akka.Persistence.WriteMessagesSuccessful
Expected: True
Actual:   False
   at Akka.TestKit.Xunit2.XunitAssertions.Fail(String format, Object[] args) in D:\BuildAgent\work\49b164d63843fb4\src\contrib\testkits\Akka.TestKit.Xunit2\XunitAssertions.cs:line 22
   at Akka.TestKit.TestKitBase.InternalExpectMsgEnvelope[T](Nullable`1 timeout, Acti

[2015-11-18 21:35] Aaronontheweb opened #1437 "Akka.Persistence Spec failure MemoryEndToEndAdapterSpec.EventAdapters_in_end_to_end_scenarios_should_allow_using_an_adapter_when_write_was_performed_without_an_adapter"
Akka.Actor.InvalidActorNameException : Actor name "p2" is not unique!
   at Akka.Actor.Internal.NormalChildrenContainer.Reserve(String name) in D:\BuildAgent\work\49b164d63843fb4\src\core\Akka\Actor\ChildrenContainer\Internal\NormalChildrenContainer.cs:line 50
   at Akka.Util.Internal.InterlockedSpin.Swap[T](T& reference, Func`2 updater) in D:\BuildAgent\work\49b164d63843fb4\src\core\Akka\Util\Int

[2015-11-18 22:19] Aaronontheweb opened #1438 "Akka.IO Spec Failure TcpListenerSpec.A_TCP_Listner_must_drop_an_incoming_connection_if_it_cannot_be_registered_with_a_selector"
Failed: Timeout 00:00:03 while waiting for a message of type Akka.IO.SelectionHandler+WorkerForCommand
Expected: True
Actual:   False
   at Akka.TestKit.Xunit2.XunitAssertions.Fail(String format, Object[] args) in D:\BuildAgent\work\49b164d63843fb4\src\contrib\testkits\Akka.TestKit.Xunit2\XunitAssertions.cs:line 22
   at Akka.TestKit.TestKitBase.InternalExpectMsgEnvelope[T](Nullable`1 timeout, Act

[2015-11-18 22:53] #1426 closed

[2015-11-19 03:41] akoshelev commented on #1428
@Aaronontheweb I've checked the whole Akka solution - here is the full list of unused files

[code]

All other files in Akka/Util folder seem to be used. Do we need to do anything with unused tests?

[2015-11-19 17:02] Zetanova commented on #1410
I created a Spec, but of couse it is failing.

There are multiple possible options for the ActorTaskScheduler
1) It creates only a detetched Thread on TaskCreationOptions.LongRunning
2) It uses the CompleteTask-Message only for a TaskCreationOptions.AttachedToParent

[2015-11-19 17:32] #1423 closed

[2015-11-19 17:45] Aaronontheweb opened #1442 "Need to add Akka.Remote multi-node spec for testing larger message sizes"
Need some integration testing for ensuring that larger message sizes are handled correctly at both the transport layer and Akka.Remote layer.

[2015-11-19 17:58] Aaronontheweb opened #1443 "System.AggregateException on Cluster Startup (Cluster.GetClusterCoreRef)"
https://github.com/akkadotnet/akka.net/blob/dev/src/core/Akka.Cluster/Cluster.cs#L84

[code]

[2015-11-19 18:22] Aaronontheweb commented on #1410
@Zetanova so your spec proves definitively that this is an issue.

What's the appropriate fix?

[2015-11-19 21:16] Aaronontheweb opened #1444 "MultiNodeTestRunner Deadlocks on output to disk"
This is affecting all builds at the moment - @GraemeBradbury and I are investigating

[2015-11-19 21:49] Aaronontheweb opened #1445 "MultiNodeTestRunner Visualizer Error"
[code]

[2015-11-19 23:11] Aaronontheweb opened #1447 "Akka.Remote.TestKit ConductorHandler error - The given key was not present in the dictionary."
[code]

[2015-11-19 23:12] Aaronontheweb commented on #1444
Whoops, duplicate - but this has been resolved by #1446

[2015-11-19 23:12] #1444 closed

[2015-11-19 23:13] Aaronontheweb commented on #1433
Resolved by #1446 - not sure what the issue is exactly but @GraemeBradbury suspects it has to do with his `CallContext` changes to support AppDomain MN test runners.

[2015-11-19 23:32] Aaronontheweb opened #1448 "Warning: TempContainer trying to remove non-child actor..."
I see this continuously inside the logging center for the multinode testrunner and I think it's related to `FutureActorRef` and `Ask`, but either way it's disconcerting and I want to understand the circumstances under which this warning is raised. Might not be a big deal, but we should investigate.

[code]

[2015-11-20 00:18] Aaronontheweb commented on #1433
Looks like this isn't finished yet - getting some hangs on spec failures now

[2015-11-20 03:16] #1399 closed

[2015-11-20 06:32] philiplaureano opened #1450 "Add ability to use flat JSON config files as an alternative format instead of HOCON"
Given that HOCON can be reduced to a set of key-value pairs, such as:

[code]

is equivalent to

akka.some-setting-name = "some-setting-value"

and the JSON would look like:

[code]

Wouldn't it be simpler just to use a well-known parser such as JSON.NET to parse an array of key-value pairs instead of having to use just a custom HOCON parser? The reason why I'm asking is that having the config set

[2015-11-20 07:27] rogeralsing commented on #1450
HOCON is tightly integrated with pretty much every component of Akka.NET (the same in Akka).
It would be a massive effort to change how the configurations are handled in the existing codebase.

Your best bet is to use `WithFallback` and just generate those parts that you need to change in the top level config and then provide the defaults in the fallback config.

[2015-11-20 07:32] rogeralsing commented on #1448
There are two scenarios where this could potentially happen.

1. Some code tries to unregister a non existing temp actorref. e.g. passing in the incorrect name
2. Some code for some reasons tries to remove the same child twice (or more than one time)

My guess would be that there is some code in the `Ask` mechanics that might do the latter, e.g. unregister temp in some combination of complete and

[2015-11-20 07:34] rogeralsing commented on #1448
The `VirtualPathContainer` which logs this is also used for hosting the remote deployed actors in Akka.Remote.
`class RemoteSystemDaemon : VirtualPathContainer`

[2015-11-20 08:46] Danthar commented on #1410
@Zetanova your right about the check on line 65. That should include the IsCanceled check.

However i'm not sure what you mean with the possible options for the ActorTaskScheduler. As in, how would that solve the problem?

[2015-11-20 10:24] Zetanova commented on #1410
Currently the ActorTaskScheduler is executing all task-types with the help of the CompleteTask-Message.
Some Libraries can have hidden side-effects that they are requesting a task internaly
for a long running process.
Like System.Reactive on the first call of OnNext() method.

if currently something is requesting a LongRunning Task it will probably lock the actor with it.

If something requires a

[2015-11-20 16:11] tru3d3v opened #1453 "send text file 133KB"
Hi, is it possible if i send text file (133KB) from akka server to client Akka ?. i have try but client is not respond
public class HelloActor : UntypedActor
{
public HelloActor()
{
}
protected override void OnReceive(object request)
{
var data = System.IO.File.ReadAllText(AppDomain.CurrentDomain.BaseDirectory+"myfile.txt");
Sender.Forward(data);
}
}
var actor = System.ActorSelection("HelloActor")

[2015-11-20 16:41] Aaronontheweb commented on #1448
I suspect that's what is happening

[2015-11-20 17:35] Aaronontheweb commented on #1410
@Zetanova got it - so this is possibly related to #1346 (see PR #1347) and also the use of `TaskCreationOptions.LongRunning`. Could you modify your PR to include a change for this on `ActorTaskScheduler`?

[2015-11-20 18:10] skotzko commented on #1450
@philiplaureano wondering if you could auto-generate config files and store them somewhere else in the cloud, and then have your new nodes fetch those files as part of booting their `ActorSystem`s. Then you could fetch the new version and use `WithFallback` to some solid default setting.

[2015-11-21 06:18] philiplaureano commented on #1450
@andrew: Having a centralized config would solve part of the problem, but
based on what we've encountered in AWS so far, the biggest pain point that
we've had is getting the right IP Address + Port configuration set up for
each machine that we dynamically spin up once an autoscale event occurs.
Having a static HOCON config per machine makes sense if the machines never
change, but in a cloud enviro

[2015-11-21 10:30] rogeralsing commented on #1450
I'm personally for replacing HOCON, as @philiplaureano points out, it is a pain to work with and we lack tooling around it in .NET land.
HOCON supports a lot of cool features like substitutions, imports and fallbacks. but in reality, it is pretty much only the fallback mechanism that is used in the real world.

But again, it is very tightly coupled with all parts of Akka.NET and also one of the th

[2015-11-21 10:40] rogeralsing commented on #1453
Could you please as this on stackoverflow.com?
It would get more exposure from other users there and we get a better overview of issues here.
Thanks

[2015-11-21 10:40] #1453 closed

[2015-11-21 10:41] rogeralsing commented on #1387
Could you please as this on stackoverflow.com?
It would get more exposure from other users there and we get a better overview of issues here.
Thanks

[2015-11-21 10:41] #1387 closed

[2015-11-21 10:42] #670 closed

[2015-11-21 11:05] michaelsync commented on #1387
yap. Thanks!

[2015-11-21 17:34] vedeja commented on #1409
I've had this problem too. In my case I was remote deploying from one cluster node to another, with the actors defined in a shared assembly, but had forgotten to add reference to the shared in the deploy target project.

[2015-11-22 08:54] maxim-s commented on #1248
PR https://github.com/akkadotnet/akka.net/pull/1415

[2015-11-22 08:54] #1248 closed

[2015-11-23 17:31] cgstevens opened #1458 "Member not being removed to allow new incarnation of that member to join."
I have a 2 websites that are part of my cluster. Sometimes one websites will become unreachable and my logic for all of the other members determine that after 120 seconds they should do a Cluster.Down(ThatWebsiteAddress). I can see that all of the members get a MemberRemoved for that website and then it is reported as Down.
My problem is that when my other service, Solarwinds, detects that this we

[2015-11-23 17:33] Aaronontheweb commented on #1458
Thanks @cgstevens - this is *extremely* detailed, which I appreciate. We'll be looking into this shortly!

[2015-11-23 17:52] Aaronontheweb opened #1459 "Akka.Remote - log message exceeding maximum frame size to Deadletters"

[2015-11-23 18:18] cgstevens commented on #1458
No problem for the details.  My cluster is still running and I want to see if I can find more detail when in debug mode.
I don't have DEBUG logging enabled in that environment and I am about to take a lighthouse and restart it with more logging so that I can see if it is reporting any issues.  I just hate doing that because it introduces a memory issue which I haven't pin pointed yet.

[2015-11-23 18:54] cgstevens commented on #1458
**I should note that I am running 1.0.4.12-beta.**

Here are the messages I am getting when I enabled DEBUG on a lighthouse; which I was obviously able to force it to Leave using my tool, update the config and start the service back up to have it rejoin the cluster.
First the website member is trying to join so lighthouse logged that action; InitJoin, then the lighthouse member saying that the web

[2015-11-24 20:38] Aaronontheweb commented on #1447
This might be fixed - going to keep it open for a bit to see if it occurs in any more areas.

[2015-11-24 20:38] Aaronontheweb commented on #1447
(Pretty sure @alexpantyukhin fixed it)

[2015-11-25 02:07] Aaronontheweb opened #1464 "Akka.Remote.Tests: Port RemoteConsistentHashingRouterSpec"
https://github.com/akka/akka/blob/master/akka-remote/src/test/scala/akka/remote/RemoteConsistentHashingRouterSpec.scala

[2015-11-25 03:05] ronnyek commented on #992
Now that api's are stabilizing with recent rc1 release, has anyone played with this any more? I'm very interested to see how much of akka is gonna run on core clr. I can run monoruntime for now, but I'd really be interested in real coreclr support.

[2015-11-25 03:09] Aaronontheweb commented on #992
Since there's still a lot of healthy discussion on here, going to re-open this up as part of an ongoing conversation

[2015-11-25 09:14] adamhathcock commented on #992
Just updated my branch again to RC1 and latest Dev: https://github.com/akkadotnet/akka.net/compare/dev...adamhathcock:coreclr?expand=1

Everything seems fine.  I haven't addressed the logging thing but I know Type.GetType() works now.  I'd like to use Wire but that's not NETCore'd yet.  I haven't attempted to target any of the "standard" targets introduced in RC1 (and will change names in RC2)

Ju

[2015-11-25 18:00] Aaronontheweb commented on #1087
After talking @rkuhn, shutdown messages should be logged as `DEBUG` - not `ERROR`

[2015-11-25 19:23] mithril52 commented on #957
+1 for needing signed assemblies

[2015-11-25 20:58] melcloud opened #1466 "Ability to add supervisor strategy to router through config or extension method"
Hello,

I would like to have the ability to add supervisor strategy to router through configuration file or at least expose it as an extension method on FromConfig like what Scala version did.

Thanks

[2015-11-26 02:59] huoxudong125 opened #1467 "NewtonSoftJsonSerializer.AkkaContractResolver.CreateProperty(MemberInfo, MemberSerialization)': no suitable method found to override"
![qq 20151126105356](https://cloud.githubusercontent.com/assets/3151596/11414130/89ab5f1e-942c-11e5-8c1a-21859d4c6ad0.png)

[2015-11-26 09:04] huoxudong125 commented on #1467
Is there a problem here in akka.project file?
[code]

[2015-11-26 11:50] Horusiath opened #1468 "Receivers list cleared when actor is created using Dependency Injection"
Given custom base actor A in example shape:

[code]

And inheriting actor B:

[code]

When we'll try to build actor `B` using dependency injection (confirmed on Castle Windsor), we may hit infinite restart loop inside an actor caused by `NullReferenceException` in actor's `AroundReceive` method:

   at Akka.Actor.ActorBase.AroundReceive(Receive receive, Object message)
   at Akka.Actor.ActorCell.R

[2015-11-26 18:06] maxim-s commented on #1432
PR #1457 has been merged

[2015-11-26 18:07] #1432 closed

[2015-11-27 01:16] huoxudong125 commented on #1467
I solve the problem as follow [here](https://github.com/huoxudong125/akka.net/commit/d59883472767478a2615dc642b33ba9f7c540819),I believe there must be a better solution.

[2015-11-27 05:06] melcloud opened #1472 "The comment of Delivery method on AtLeastOnceDeliveryActor is misleading"
.NET version: During recovery this method will not send out the message, __but it will be sent later until corresponding ConfirmDelivery will be invoked.__

java version: During recovery this method will not send out the message, __but it will be sent later if no matching confirmDelivery was performed.__

Java wins this time :smile:

[2015-11-27 07:39] huoxudong125 commented on #1467
@Aaronontheweb Is there a way to solve the problem about `Newtonsoft.Json.dll`? in the section <choose>(which is part of project file) how to auto change the path to right(real) path(nuget package file path). Is there a easy way?

[2015-11-27 08:05] Horusiath commented on #1400
I've marked this problem as critical since it's very serious issue in case of Akka.FSharp and Akka.Persistence.

The problem is not equality of envelopes themselfs - we need a way to recognize if the message has not been stashed twice during the same Receive scope. This is the problem, we need to solve.

[2015-11-27 08:09] Horusiath opened #1473 "Add HOCON self-referential substitutions"
Right now on the JVM side we have ability to reference another HOCON config node as value of the current one using `key = ${path.to.node}` syntax. We should port it.

[Read more](https://github.com/typesafehub/config/blob/master/HOCON.md#self-referential-substitutions)

[2015-11-27 09:45] rogeralsing commented on #1473
We already support that

[2015-11-27 12:08] rogeralsing opened #1475 "Create a Tcp Server/Clientfor the MultiNode Testkit"
As discussed on the last Core dev meeting, we should replace the current StdOut logging for MultiNode Testkit to instead log using a custom logger that sends all events over Tcp using Akka.IO.

So we need a Tcp server that aggregates all the events, and for each node we need a custom logger that can connect and talk  to the server.

@Aaronontheweb and @Horusiath has more details about this

[2015-11-28 20:34] #1464 closed

[2015-11-29 05:58] maxim-s commented on #1416
is it ready?

[2015-11-29 08:32] rogeralsing opened #1477 "Akka.NET Dev branch does not build"
Doing a full reset on dev results in 390+ compile errors, even after doing a commandline build.

[2015-11-29 08:34] annymsMthd commented on #1477
Someone broke the build
On Sun, Nov 29, 2015 at 12:32 AM Roger Johansson <notifications@github.com>
wrote:

[2015-11-29 08:58] rogeralsing commented on #1477
[code]

[2015-11-29 08:59] Aaronontheweb commented on #1477
Delete your packages folder and rebuild

[2015-11-29 09:08] Aaronontheweb commented on #1477
Nevermind - found the problem: https://github.com/akkadotnet/akka.net/blob/dev/src/core/Akka/Akka.csproj#L399

Paket introduced garbage like that `<Choose>` block everywhere. Delete them and send in a PR with those removed. If your system satisfies multiple of the `<When>` criteria within you'll get that issue, which is why builds still run fine on the build server and on my local machine from the

[2015-11-29 09:57] rogeralsing commented on #1477
Fixed and merged.

[2015-11-29 09:57] #1477 closed

[2015-11-29 11:18] manigandham commented on #1450
@philiplaureano

How are you setting the dynamic IP right now? And is it for the remoting public-hostname? We run on a few different cloud providers and just use a `WithFallback()` call to replace a specific key/value on startup:

[code]

For EC2, private ip is just a HTTP GET at the metadata api: `http://instance-data.ec2.internal/latest/meta-data/local-ipv4` but the startup replace method above

[2015-11-29 13:17] rogeralsing commented on #1467
We have updated the dev branch, please check if the issue you are seeing is fixed

[2015-11-29 13:59] JeffCyr opened #1481 "Multiple edge-case issues in ActorTaskScheduler"
I reviewed the ActorTaskScheduler and found multiple subtle issues:

##### The failing message is not set in ReceiveActor.PreRestart
see Actor_PreRestart_should_give_the_failing_message.

##### The actor can restart even if the exception is catched in an async receive
see Actor_should_not_restart_if_exception_is_catched.

##### ActorTaskScheduler can execute task concurrently
see ActorTaskSchedule

[2015-11-29 20:05] HakanL commented on #796
Would it make sense for public-hostname to accept a wildcard, so it can receive anything sent to it?

[2015-11-29 21:27] JeffCyr commented on #1410
I'm a bit confused by the comments and commits in this issue. ActorTaskScheduler's purpose is to execute a task in the Actor's context, it make sense to spin a thread when the flag LongRunning is set, but it does not make sense to execute a task outside the actor context ever.

See Issue #1481 and PR #1482, I implemented the LongRunning flag.

[2015-11-30 05:31] huoxudong125 commented on #1467
@rogeralsing There is still a same problem in the  `Akka.DI.Unity` project  as follow:

Error	CS0433	The type 'IUnityContainer' exists in both 'Microsoft.Practices.Unity, Version=1.2.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35' and 'Microsoft.Practices.Unity, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35'	Akka.DI.Unity	D:\TestProjects\GitHub\akka.net\src\contrib\depen

[2015-11-30 05:52] rogeralsing commented on #1467
Thanks, I'll take a look at that

[2015-11-30 08:26] rogeralsing commented on #1481
:+1: well spotted

[2015-11-30 13:38] alexpantyukhin commented on #1468
I will fix it.

[2015-11-30 20:59] #1445 closed

[2015-12-01 05:32] maxim-s commented on #1475
@Aaronontheweb  and @Horusiath could you describe a bit more?

[2015-12-01 09:19] maxim-s commented on #1416
PR #1469

[2015-12-01 13:31] maxim-s commented on #1365
I can try

[2015-12-01 21:23] Aaronontheweb commented on #1365
Thank you sir - check the JVM source to see if there are specs already. I've looked before but can't remember :(

[2015-12-01 21:27] Aaronontheweb opened #1485 "Remove all instances of giant `<Choose>` blocks from .csproj files"
Breaking builds for some contributors.

[2015-12-01 21:27] #1416 closed

[2015-12-02 00:48] #1485 closed

[2015-12-02 09:11] Horusiath opened #1488 "Fix Akka.Persistence.Sqlite default config entry"
This is easy, but I want to keep track on it. [Default HOCON config for sqlite](https://github.com/akkadotnet/akka.net/blob/dev/src/contrib/persistence/Akka.Persistence.Sqlite/sqlite.conf#L7) contains wrong type name for the journal. Fix it and make sure that all of the type names for journals and snaphot stores are correct.

[2015-12-02 09:25] rogeralsing opened #1489 "Research default message pipeline perfloss over time"
As discussed with @Horusiath, we have seen a drop of message throughput over time.
Pre 1.0 our machines maxed out at 35ish mil msg per sec. and now they peak at 27ish mil msg per sec.

We do more work in the default message pipeline, so it is expected that there should be a drop.
But it would be interesting to see what parts that have been introduced since 1.0 that has the highest cost.

I persona

[2015-12-02 09:28] Silv3rcircl3 commented on #1488
I can do this.
Do you mean the names of all other persistence plugins or just in the sql project?

[2015-12-02 09:39] Horusiath commented on #1488
Right now I've seen this problem in Sqlite, but I haven't check elsewhere. Note: Sqlite persistence plugin has been incorporated into akka core repo, so fix should be applied right here.

[2015-12-02 10:02] Horusiath opened #1490 "Create ask aggregation actor for akka.patterns"
Often we got question about how to distribute some collection of data through multiple actors and then collect all of the responses and send them aggregated once all of them have been collected (in efficient way). I think, that we could actually create a dedicated actor for this kind of general cases and add it as a part of Akka.Patterns namespace.

How do you think?

[2015-12-02 10:53] Silv3rcircl3 commented on #1488
I have checked the other persistence plugins and couldn't find any typos.
The only thing I found strange is the plugin name from the cassandra plugin
[code]
Is this correct ?

[2015-12-02 11:38] Horusiath commented on #1488
It's not following our convention, but actually it's correct in the context of the Akka.Persistence.Cassandra plugin.

[2015-12-02 13:47] krgn commented on #1332
Would it be possible to cut another prerelease that inlcudes this fix? I'd have to migrate my paket config to use github for all of Akka, which I'd prefer not to have to do. Thx!

[2015-12-02 13:59] Aaronontheweb commented on #1332
@krgn we're going to be doing another release today or tomorrow hopefully

[2015-12-02 14:00] krgn commented on #1332
@Aaronontheweb cool, thx!

[2015-12-02 15:26] sean-gilliam commented on #928
Closing due to a generator project being recently contributed.

Please refer to https://github.com/akkadotnet/generator-akkadotnet

[2015-12-02 15:26] #928 closed

[2015-12-02 16:45] #1447 closed

[2015-12-03 13:18] Danthar commented on #609
This was done. And we already migrated away from again. So Closed.

[2015-12-03 13:18] #609 closed

[2015-12-03 13:26] Danthar commented on #60
Is this still an active issue ?

[2015-12-03 15:06] Silv3rcircl3 commented on #839
Is this still an issue?
Seems to be working for the nightly builds except two times.

[2015-12-03 17:26] Aaronontheweb commented on #839
Still comes up every now and then - had this issue when pushing a DotNetty release a couple of weeks ago. So it's not specific to Akka.NET, but we should try to work around it with some more granular catch...retry logic inside our FAKE script.

[2015-12-03 17:46] #1488 closed

[2015-12-03 17:49] Aaronontheweb commented on #60
Our version should be updated to include all of the specs found in the Scala version. @alex-kondrashov or @Silv3rcircl3 or @Danthar, would any of you like to:

1. Verify that we've ported all of the specs and close out this issue or
2. Finish porting those specs and then close out the issue?

[2015-12-03 17:49] #839 closed

[2015-12-03 17:49] Aaronontheweb commented on #839
Closed via #1492

[2015-12-03 18:13] Aaronontheweb opened #1493 "Add pluggable "contributors since..." bash script to /tools folder"
Need to take this bash script that @Horusiath came up with:

[code]

And save it as a bash shell script to the `tools` folder, but with the following modifications

* the part that says `v1.0.4` needs to be a parameter

[2015-12-03 19:03] Silv3rcircl3 commented on #60
I will give it a try.

[2015-12-03 19:05] Aaronontheweb commented on #60
Ty sir

[2015-12-03 19:30] Aaronontheweb commented on #838
Still an issue - described it in detail on #1492

[2015-12-04 05:56] rogeralsing opened #1498 "TestKit memory leak"
When running the tests for the Akka.NET project, there are often a handful of tests that fail with out of memory exception.

I have investigated this a bit further and the problem is not in the failing tests, but rather somewhere in the ActorSystem or TestKit.

Each tests will leak a little bit of memory until the last tests eventually go OOM.
I have verified this by adding a memory check into the

[2015-12-04 08:26] Danthar opened #1499 "Supervisorstrategy does not preserve stacktrace"
As reported by @stevemesser.
When an unhandled exception gets sent to the Supervisor strategy the stacktrace is not preserved.

This has to do with the way the ActorCell handles faults. It simply rethrows errors.
This can be resolved using the ExceptionDispatchInfo system.

IMO its very annoying missing out on the stacktrace. Coincidently i've been bit by this yesterday. Ill pick this up myself an

[2015-12-04 10:24] Silv3rcircl3 commented on #60
I think I need some help here :)
This is what I found

Scala implementation | .Net implementation
------------ | -------------
[use scala.concurrent.Future's InternalCallbackEC](https://github.com/akka/akka/blob/master/akka-actor-tests/src/test/scala/akka/actor/ActorSystemSpec.scala#L158) | I'm not sure if [this](https://github.com/akkadotnet/akka.net/blob/dev/src/core/Akka.Tests/Actor/ActorSystem

[2015-12-04 13:37] #1481 closed

[2015-12-04 15:37] stevemesser opened #1501 "Stack trace not preserved when unhandled exception gets sent to a Supervisor strategy"
I did a quick look at the source and I found at least one exception throwing problem.

First I am not a JVM guy but with the little research I did I found out that the JVM and .NET handle the throwing and rethrowing of exceptions opposite of each other.

http://www.tkachenko.com/blog/archives/000352.html

    private void HandleFailed(Failed f) //Called handleFailure in Akka JVM
    {
         if

[2015-12-04 15:52] Danthar commented on #1501
Duplicate of #1499

[2015-12-04 15:52] #1501 closed

[2015-12-04 15:55] stevemesser commented on #1501
They should be combined  if possible. Mine has some background info
On Dec 4, 2015 8:52 AM, "Arjen Smits" <notifications@github.com> wrote:

[2015-12-05 03:05] easuter commented on #1409
@Levia- have you had any luck regarding your problem?

I just experienced the exact same thing, similar to @vedeja since it happened whenever a cluster-aware pool router tried to deploy actors remotely.

Here's what was happening:

- local instances of the actor deployed just fine
- creation of remote instances always failed with that same exception (`Unable to cast object of type 'Newtonsoft.Json

[2015-12-05 15:55] Horusiath commented on #1414
I'll start this one.

[2015-12-05 16:30] rogeralsing commented on #1414
There is a start for this in the new Wire PR

[2015-12-05 16:31] rogeralsing commented on #1414
See https://github.com/akkadotnet/akka.net/pull/1503/files#diff-4605a9d7ec982959b59efccc45c4e92bR14

[2015-12-05 18:04] Aaronontheweb commented on #1475
sure thing @maxim-s - this is one of the most important things we need done in order to ship Akka.NET 1.1.

TL;DR; - this is how the multi-node testkit communicates between processes right now:

[code]

We're using STD OUT redirection, which means each of the data we receive back from all of the individual child processes arrives in 80 character wide lines. So in order to rebuild these logs into s

[2015-12-06 06:40] HakanL opened #1506 "OOM when cluster can't connect to a seed node"
Unfortunately I don't have a clear test case yet, but I'm running a couple of Raspberry Pi in an akka.net cluster. If I have my "master" (seed-node) machine off for a few hours (it's a Windows PC, RPi connecting into it) then the process on the RPi starting to eat memory until it's used up all memory. If it's connected then it's fine, this only seems to happen when the cluster can't join, so it ke

[2015-12-06 06:42] maxim-s commented on #1475
@Aaronontheweb thank you, it's clear

[2015-12-06 07:56] rogeralsing commented on #1506
What version of Mono are you running on?

[2015-12-06 08:04] HakanL commented on #1506
Latest, 4.2.1

/Hakan

[2015-12-06 08:51] rogeralsing commented on #1506
Might be Mono only, I can't replicate this on .NET.
Steady memory consumption on .NET nodes when leader goes down.

[2015-12-06 09:29] Horusiath commented on #1400
Fixed by #1480

[2015-12-06 09:29] #1400 closed

[2015-12-06 11:34] rogeralsing commented on #1489
Something strange is going on here.
I will try running the old pre 1.0 code on this machine again and see if that still runs at 30+ mil msg/s.

I have done some benchmarking and disabled every feature that I think could affect the performance.
Schedulers, Receive timeout, mailbox suspension etc.

My machine still peaks at 27 mil msg/sec.
There really arent any special code left in the default mess

[2015-12-06 12:36] rogeralsing commented on #1489
Pre 1.0 code also runs with the degraded performance now.

Either my computer is slower now, or there have been some change to the .NET runtime that affects this. patches to threadpool or GC behavior or something.

cc @Horusiath can you try to download old code form the releases here and verify if you see the same ?

[2015-12-06 15:51] decius999 opened #1509 "Message limit on ActorSelection's Ask<T>()? Can't seem to receive large (>50KB) responses from Ask<T>()"
Hey Guys

I´ve the exact same issue like described here:
https://github.com/akkadotnet/akka.net/issues/252

But I´m using Akka.Net Cluster 1.05.15.Beta and Helios 1.4.2.
Maybe the same issue occurs because I´m using Akka.Net Cluster which is still in beta phase.

So it doesn´t matter what I try to set for "send-buffer-size", "receive-buffer-size" or "maximum-frame-size", it seems to fail when the

[2015-12-07 07:44] HakanL commented on #1506
Ah, ok. Let me see if I can set up a simpler test (on Mono) and go from
there, I just noticed it on my RPis, I didn't have a chance to do a good
isolated test yet.

On Sun, Dec 6, 2015 at 12:51 AM, Roger Johansson <notifications@github.com>
wrote:

[2015-12-07 08:40] Silv3rcircl3 opened #1510 "Test method naming format"
Currently there is not single convention about the naming format, some are written in [pascal case](https://github.com/akkadotnet/akka.net/blob/dev/src/core/Akka.Tests/Actor/ActorSystemSpec.cs#L29) and others with [underscores](https://github.com/akkadotnet/akka.net/blob/dev/src/core/Akka.Tests/Actor/ActorSystemSpec.cs#L65).

As discussed with @Horusiath and @rogeralsing, the underscore notation s

[2015-12-07 08:42] rogeralsing commented on #1510
Related to that, should we care about this?

Arrange Act Assert
Given When Then

[2015-12-07 13:42] marcpiechura commented on #1160
@MECLab do you still working on this one?

[2015-12-07 13:43] Silv3rcircl3 commented on #1160
@MECLab do you still working on this one?

[2015-12-07 20:20] Aaronontheweb opened #1512 "Akka.NET CI Structure Changes"
I can't take credit for this idea - it was something @schatekar suggested that we do in an Akka.Cluster contributor's meeting a while ago.

I would like to change the current build structure from an "all or nothing" build process to one that looks like this:

http://cloud.smartdraw.com/share.aspx/?pubDocShare=374D5BCD2206BDB3D23A4D1121F9D49F3F7

Idea is to improve the following:

1. **Make failure

[2015-12-07 23:42] easuter commented on #1458
@cgstevens have you had any luck with your problem? I experience the (maybe) same thing today (sorry for the SO post, too tired to write up something else here):

http://stackoverflow.com/questions/34145111/node-doesnt-rejoin-cluster-after-being-downed

Not sure if it's exactly the same thing, but its suspiciously similar...

[2015-12-07 23:54] Aaronontheweb commented on #1458
@cgstevens @easuter can both of you try this with 1.0.5? Just came out late last week.

[2015-12-07 23:59] Aaronontheweb commented on #1458
ah, you already are @easuter

[2015-12-08 00:06] Aaronontheweb commented on #1458
I'll take this one on - probably covered by a multi-node test we haven't ported yet.

[2015-12-08 00:31] #1493 closed

[2015-12-08 01:38] Aaronontheweb commented on #1512
Have an implementation of this up and running now.... Should have some samples soon :)

[2015-12-08 09:27] schatekar commented on #1512
+1

Wonderful.

And sorry, I could not get to finish this after proposing it.

Regards,
Suhas Chatekar
Skype - suhas.chatekar

On Tue, Dec 8, 2015 at 1:38 AM, Aaron Stannard <notifications@github.com>
wrote:

[2015-12-08 09:44] krgn opened #1517 "Cluster formation with seed nodes not working as expected"
Since upgrading to the 1.0.5 release my test cluster setup does not initially form a proper cluster. My test program can be found in the following gist:

https://gist.github.com/krgn/b2c4c382f54400393951

How to reproduce:

Start the first node:

[code]

Then start the second node:

[code]

When I type in into either Console to share messages between the two they do not get transported. There is a

[2015-12-08 10:08] krgn opened #1518 "Cluster router does not work as expected"
A `broadcast-router` with `cluster.enabled = on` and `cluster.allow-local-routees = on` should forward to both, local and remote routees. It does not do this currently according to my tests.

Here is an example:

https://gist.github.com/krgn/f9fb90dabfac3d46c722

How to reproduce:

Node 1:
[code]

Node 2:
[code]

After restarting Node 1 and the `Welcome` gossip message (see #1517 ) I should see th

[2015-12-08 10:26] easuter commented on #1458
@Aaronontheweb thanks! Please let me know if there is any more information I can provide.

[2015-12-08 13:56] marcpiechura opened #1519 "Implement RegisterOnTermination"
In the [scala](https://github.com/akka/akka/blob/master/akka-actor/src/main/scala/akka/actor/ActorSystem.scala#L376) version it's possible to register callbacks which will be executed after all actors have been terminated.
This is also referenced in the [Shutdown](https://github.com/akkadotnet/akka.net/blob/dev/src/core/Akka/Actor/ActorSystem.cs#L144) comment but not implemented.

See also ActorSy

[2015-12-08 14:23] krgn commented on #1517
I'm sorry, this is a conceptual error on my part. Closing

[2015-12-08 14:23] #1517 closed

[2015-12-08 16:53] Aaronontheweb commented on #1499
Resolved by #1500

[2015-12-08 16:53] #1499 closed

[2015-12-08 17:04] Aaronontheweb commented on #1518
@stefansedich Mono issue?

[2015-12-08 18:24] cgstevens commented on #1458
I have just completed the upgrade from 1.0.4 to 1.0.5.
Since I have logged this issue in great detail I have not had it happen to me.
We have been making progress on the rest of the app so the cluster itself really hasn't had an opportunity to run for any length of time.  I will post if I run across this again.  If I do I am hoping to get the debug build on the dev server so that I can debug it.

[2015-12-08 23:56] Aaronontheweb commented on #1475
@maxim-s hey Maxim, do you have any code on this yet?

[2015-12-09 04:49] akoshelev opened #1521 "PipeTo creates an invalid Status.Failure object if task is cancelled"
The following code cause problems if `tresult` is cancelled
https://github.com/akkadotnet/akka.net/blob/e724d600283862fe78293c46aa62533fcc3a46a6/src/core/Akka/Actor/PipeToSupport.cs#L29

[code]

If user does not handle this message in `recipient` actor and `akka.actor.debug.unhandled = true`, `NullReferenceException` is thrown, as `UnhandledMessageForwarder` calls `message.ToString()`
https://gith

[2015-12-09 07:51] rogeralsing commented on #1521
Do note that the `Failure` class could be passed between nodes, and thus needs to serialize well.
So if we give it an overload for failed `Task` then we need to extract the exception information from it so that we do not hold a reference to the task itself.
Maybe I'm stating the obvious here but whatever solution we go for, `Failure` needs to be serialization friendly.

[2015-12-09 12:00] maxim-s commented on #1475
@Aaronontheweb Hello, I've finished digging in #1365 , and  I'm going to start with this issue today, sorry for delay

[2015-12-09 12:38] MrTortoise opened #1522 "Multiple Persistence actors of same type, different names throw Actor name \"akka.persistence.journal.inmem\" is not unique!"
My scenario involves an AtLeastOnce delivery actor that i am using as a client for 2 different services.

So i have 2 instances of the same actor type but with 2 different names - they differ as the props passes in the address to use as a path.

In the actor prestart i set up a scheduler to snapshot every second - this causes a cant stash messages more than once error however on actor restart i th

[2015-12-09 13:02] alexpantyukhin commented on #1419
@rogeralsing @Aaronontheweb  I have removed `AkkaConfigurationSection` from the Akka.Hocon repo. Is it possible to publish it on nuget? When it will be done I can finish replacing.

[2015-12-09 13:14] Horusiath commented on #1522
Stashing problem has been fixed in #1480 and will be solved in the next release. Problem with journal initialization was supposed to be solved by adding `LazyThreadSafetyMode.ExecutionAndPublication` to lazily initialized journals, however it seems that it hadn't solved the problem.

[2015-12-09 16:46] Aaronontheweb commented on #1521
I've refactored to this method to do this like 3 times, but then I remember that the way it's designed currently is consistent with the JVM design and even enforced via unit test.

Frankly I think the JVM design here is pretty shitty - just throw an exception.

[2015-12-09 16:58] Aaronontheweb commented on #1475
@maxim-s no worries Maxim - would it be alright if I took this one on instead? This just moved up to the top of my "urgent" list

[2015-12-09 17:17] cgstevens commented on #1458
This is also happening on 1.0.5 for me as it just occurred when I tried to redeploy my 2 websites.
Both left and only was able to rejoin.

Taking a peek at the code finally... After logging the,  New incarnation of existing member [{0}] is trying to join... it should call the method Downing(localMember.Address);
To me it doesn't matter what code path is taken in the Downing method there should be

[2015-12-09 17:19] Aaronontheweb commented on #1458
Thanks guys - you've both been super detailed. Now that 1.0.5 is out and I've hit some of my other development goals for this quarter, my full focus is coming back to hardening Akka.Cluster and Akka.Remote and eliminating these bugs.

[2015-12-09 18:25] Aaronontheweb commented on #1475
Proposed design for this:

http://cloud.smartdraw.com/share.aspx/?pubDocShare=F42B9EE6FD6054DE5DD52CDA1A7E5DE01D0

Essentially we're going to implement a custom Akka.NET `Logger` that writes out to a configured Akka.IO UDP or TCP transport, and that destination address information will be passed into the arguments of each individual `NodeTestRunner.exe` process via their startup parameters.

[2015-12-09 18:30] Aaronontheweb commented on #1512
No worries @schatekar! This has been implemented, so closing it.

[2015-12-09 18:30] #1512 closed

[2015-12-09 20:40] maxim-s commented on #1475
@Aaronontheweb yes sure, but I want something instead :)

[2015-12-09 20:44] #1443 closed

[2015-12-09 20:45] Aaronontheweb commented on #1435
Duplicate of #1475

[2015-12-09 20:45] #1435 closed

[2015-12-09 20:46] Aaronontheweb commented on #1365
Do you expect to have a PR in for this soon @maxim-s ? Giving you some alternative issues per #1475 ;)

[2015-12-09 20:48] Aaronontheweb commented on #1475
You got it - if you're already done looking into #1465 (please add some comments on the thread).

Others that can use some love:
#1431
#1089
And any of these issues assigned to @willieferguson, whom I haven't heard from in a while: https://github.com/akkadotnet/akka.net/issues?q=assignee%3Awillieferguson+is%3Aopen

[2015-12-09 21:08] Aaronontheweb commented on #1509
@decius999 not sure offhand, but we'll look into this - hearing some similar reports to this one.

FYI - the issue in the cases I've reviewed so far had nothing to do with remoting. It was async / await issues with two things depending on each other waiting on an `Ask` that never comes.

[2015-12-09 21:08] Aaronontheweb commented on #1509
Could you please post some of the `Ask` code?

[2015-12-09 23:57] decius999 commented on #1509
Hi Aaron
Thx for having a look into it. Here is the Ask Code:

[code]

[2015-12-10 03:47] maxim-s commented on #1365
@Aaronontheweb yes, it will be done today

[2015-12-10 04:19] akoshelev opened #1524 "GuardianSupervisorStrategyConfigurator from Akka is not implemented"
At this time, Akka.NET does not support configuring guardian supervisor strategy: option ```akka.actor.guardian-supervisor-strategy``` is ignored and TODO sections left in the code.

https://github.com/akkadotnet/akka.net/blob/cf7cd6f274cd56af6403afc640a038564dc4d03b/src/core/Akka/Actor/ActorRefProvider.cs#L158

[2015-12-10 04:24] HakanL commented on #1458
I like that cluster status page, is that something that's available in Akka.Cluster, or something you built yourself?

[2015-12-10 04:33] akoshelev commented on #1521
What if we just create a TaskCancelledException there? It won't break current design, although looks a bit weird, and I see similar code in other modules
https://github.com/akkadotnet/akka.net/blob/cf7cd6f274cd56af6403afc640a038564dc4d03b/src/core/Akka/Actor/Inbox.Actor.cs#L127

[2015-12-10 08:19] Horusiath opened #1526 "Implement more cluster member life-cycle events"
Accordingly to Akka JVM docs, it supports following set of member events:

-  **ClusterEvent.MemberJoined** - A new member has joined the cluster and its status has been changed to Joining. *Missing in .NET implementation*
- **ClusterEvent.MemberUp** - A new member has joined the cluster and its status has been changed to Up.
- **ClusterEvent.MemberExited** - A member is leaving the cluster and it

[2015-12-10 13:19] easuter commented on #1458
So I've been doing a bit more digging trying to figure out why the my "worker" nodes stop logging anything new after a reboot.

I added a few more debug statements and it seems that the worker become stuck in `JoinSeenNodeProcess.OnReceive()` and is endlessly [sending new `JoinSeenNode` (to self)](https://github.com/akkadotnet/akka.net/blob/fcf07ec2ae02f00af8fd9fa7e87138f03044fd31/src/core/Akka.Cl

[2015-12-10 13:52] cgstevens commented on #1458
@HakanL it is something I built myself.  Turned out pretty cool though. I am using AngluarJS, SignalR (with SQL Backplane), MVC and then of course Akka!
I created a ClusterStatusActor so that each member can monitor itself and other members then put our business rules around it so I can have Solarwind pick up events. If a service becomes disassociated it will basically shut itself down and attempt

[2015-12-10 14:07] easuter commented on #1458
@HakanL I've only seen that error from Json.NET before when it is trying to serialize a collection which someone else is modifying at the same time. Odd this should happen in an actor...perhaps a `Task` running at the same time as the actor is processing new messages?

[2015-12-10 14:39] Silv3rcircl3 opened #1527 "RemoteWatcher throws ResendUnfulfillableException when a remote client tries to send messages to a remote server which restarts within 5 seconds"
I have created a [project](https://github.com/Silv3rcircl3/AkkaReconnectException) to show the behavior, the complete exception is available as [gist](https://gist.github.com/Silv3rcircl3/d63be628b412aaebc5fb).

Basically what I tried to build was a SignalR clone based on Akka.Remote, especially the information about a connection that got lost (via watching a remote actor) and the feature to autom

[2015-12-10 16:34] cgstevens commented on #1458
@easuter
Steal away... if it wasn't wrapped up in my business app right now I would share but it really shouldn't be hard for you do... it is just unwrapping that ClusterEvent.CurrentClusterState object and making it presentable.

The serialization error... I went as far as making the only 2 lists I have in that actor to be ConcurrentDictionary and then doing a .ToList when looping and then creati

[2015-12-10 18:07] #1519 closed

[2015-12-10 18:08] Aaronontheweb opened #1528 "Integrate RemotingTerminator with RegisterOnTermination?"
Related to the comments on https://github.com/akkadotnet/akka.net/pull/1523

Need to investigate if `RemotingTerminator` needs to be updated or not

[2015-12-10 18:11] Aaronontheweb commented on #1526
@Horusiath we appear to be missing `MemberJoined`, but the others are already implemented.

* [`ClusterEvent.ReachableMember`](http://api.getakka.net/docs/stable/html/4276CB55.htm)
* [`ClusterEvent.UnreachableMember`](http://api.getakka.net/docs/stable/html/B5AC71DB.htm)

[2015-12-10 18:50] Aaronontheweb commented on #1458
@easuter @cgstevens yep, that's definitely odd - super unlikely that it's something internal to Akka.Cluster doing that. We use immutable collections everywhere. Check to see if you have a user-defined message with a collection that is being modified.

[2015-12-10 18:53] Aaronontheweb commented on #1527
Related to #1360

[2015-12-10 19:14] HakanL commented on #1458
@cgstevens could you break it out and put it in a separate github repo, or you can't break it out (at some point)? It would be nice to have that as a starting point, including your UI.

[2015-12-10 19:17] HakanL commented on #1458
Btw, I also have issue with my cluster going berserk when a node drops out (unreachable) and trying to re-join. And if my cluster is in that state then I can't re-join any new nodes so I have to restart the whole cluster. I don't have it isolated as nicely as OP, but I'm reading these comments to see how I can best report/isolate it. I seem to have messages about the leader being unreachable as we

[2015-12-10 19:40] Aaronontheweb commented on #1458
sidebar here. I think there's a potential bug on this thread but I'm also hearing some conceptual whiffs.

@HakanL in that case, the issue is the `Unreachable` nodes aren't also being `Down`-ed from the cluster, which you have to do manually right now. Akka.Cluster's failure detection mechanism relies on a human being to intercede with a node goes permanently offline in an unexpected manner - Apac

[2015-12-10 20:31] cgstevens commented on #1458
@HakanL Yes I had the same issue with my cluster going berserk and that is why I ended up creating this monitor so that I can watch it.  This allows me to kick the members which goes through a process of logging it so that soloarwinds will restart it back up. I am trying to make sure that the services will recover if something happens to avoid human intervention.
I had bad luck with the  auto-down

[2015-12-10 20:49] rogeralsing commented on #1458
Any chance you can share something about the Solarwinds monitor?
We use solarwinds at work, so it might be useful :)

Skickat från min iPhone

[2015-12-10 21:07] HakanL commented on #1458
@cgstevens @Aaronontheweb good info, thank you. First I'm sorry if this is not the right spot to discuss this, and I realize I'm a noob when it comes to Akka/Akka.Net. In my cluster I have one "master" and 3-4 "slaves". The master has its own role, the salves the same role. I also tried to add a Lighthouse. The slaves run on RPi (not that it should matter too much). The master is actually running

[2015-12-10 22:32] cgstevens commented on #1458
@rogeralsing
This isn't in place yet and we are supposed to start working on that piece in the next week.
Basically my understanding, so correct me if I am wrong, but we want to have Solarwinds monitor the Eventlog and/or services and using powershell scripts start them backup based on type of events being logged.

@HakanL
If you are taking out your master, which sounds like it is your seed node a

[2015-12-10 22:39] HakanL commented on #1458
@cgstevens I have a lighthouse (just one though) which is the seed for all nodes. When I say master, it's just master in my own system, there's nothing "master-ery" about it as far as Akka.net-cluster is concerned. Maybe I'm wrong, but it seems that if that node becomes the leader when it runs then everything is going haywire when it's restarted (but I haven't actually determined that that is the

[2015-12-11 07:59] Silv3rcircl3 opened #1532 "Mark AwaitTermination and Shutdown as deprecated and implement WhenTerminated and Terminate as replacement"
In the scala version ```AwaitTermination``` and ```Shutdown``` are marked as deprecated for version 2.4, ```WhenTerminated``` and ```Terminate``` should be used instead.

I could implement this as far as I know which version I should use for the deprecated message.

[2015-12-11 13:43] cgstevens commented on #1458
@HakanL
No new members can join your cluster if you have any that are in a weird state because all members have to vote that member in.  Your cluster leader is elected and it can really be anyone.  I would love for my leader to always be one of my lighthouses but in the case last night I came in and I have 3 members that downed themselves due to UNREACHABLE.  So looking into that now.
[code]
This

[2015-12-12 02:09] BrainSlugs83 opened #1534 "Losing some type data when sending messages to remote actors via the cluster"
I have a class with a property of type `object` on it; it seems that if I set this property to `Guid.NewGuid()`, and send it to a remote actor system, it shows up as a `string` instead of as a `Guid`.

Even worse, if I set this property to the value of a custom object, the message just plain never arrives!

I'm guessing the serializer isn't outputting types for properties, and so the deserializer

[2015-12-12 06:25] maxim-s commented on #1365
PR #1535

[2015-12-12 10:48] rogeralsing commented on #1534
Json.NET have been giving us trouble for quite some time.
There is an alternative serializer in the contrib package here (not on Nuget yet).
https://github.com/akkadotnet/akka.net/tree/dev/src/contrib/serializers

Enable it using

[code]

That should do the trick

[2015-12-13 08:57] rogeralsing opened #1537 "Akka.Remote performance - ActorPath.TryParse + Address.TryParse"
After investigating the performance in Akka.Remote, We have found a few big hogs.

One of them is `ActorPath.TryParse` this is called multiple times for each remote message sent.
First to resolve what actor to talk to, and then to resolve who is the sender. and then possibly for other `ActorRefs` contained in the message sent.

We use `Uri.TryCreate` which is far too expensive for this.

So we hav

[2015-12-13 09:07] rogeralsing opened #1538 "Akka.Remote performance - ForkJoinDispatcher"
We have found the cause of the big perf loss on Akka.Remote. this turned out not to have anything to do with Helios at all, but rather the recent introduction of the ForkJoinDispatcher.

The ForkJoinDispatcher uses the Helios DedicatedThreadPool, which internally uses a BlockingQueue for buffering things to execute.
The blocking queue is just too expensive, it uses locking primitives that cause to

[2015-12-13 09:23] rogeralsing opened #1539 "Akka.Remote performance - unconditional String.Format logging"
![perf3](https://cloud.githubusercontent.com/assets/647031/11766353/68d1271a-a183-11e5-9c8c-96bf0d230ba3.png)

This little gem causes a huge perf impact on the remoting layer.
The row should be moved and inlined into the `if` statements that check if logging is enabled.

[2015-12-13 09:35] rogeralsing opened #1541 "Akka.Remote performance - WriteLoop Tail Recursion"
This is a minor issue in the Akka.Remote performance story.
The `WriteLoop` in Endpoint.cs is ported from Scala, which uses a tail recursive function.
C# does not have tail recursion and will have to pay the price for full function invocations, allocating stack frames and all that.

This can be transformed into an iterative loop instead.
Fixing this yields a little bit of performance gains, 1-2%is

[2015-12-13 13:58] JeffCyr commented on #1538
I created benchmarks some time ago to compare BlockingCollection vs ConcurrentQueue (combined with a single SemaphoreSlim).

ConcurrentQueue was ~2x faster than BlockingCollection, would that be enough?

On a side note, when reviewing the DedicatedThreadPool, I noticed that each worker have its own queue and there is no work stealing, the work items are distributed round-robin to each workers.

So

[2015-12-13 14:06] maxim-s commented on #1538
I can try to port fork join thread pool jvm and we can compare it

[2015-12-13 14:19] Horusiath commented on #1537
When it comes to caching actor paths - I think the best option here would be introducing circular buffer. TTL itself won't guarantee cache size limit.

[2015-12-13 14:58] #1472 closed

[2015-12-13 15:04] rogeralsing commented on #1538
@JeffCyr I think the real issue is not so much the throughput but rather the latency overhead of setting autoreset event or whatever blocking queue uses internally.
That is, once something arrives in the queue, there will be some delay before the worker notices that and starts processing it..

The throughput of a blocking queue should still be in the order of hundreds of thousands if not millions.

[2015-12-13 15:06] rogeralsing commented on #1537
A circular buffer sounds good, but how can we shape that so we can do hash lookups in it?
if we need to scan the entire buffer we will probably lose perf

[2015-12-13 18:20] rogeralsing commented on #1537
Please review this attempt at solving this:

https://gist.github.com/rogeralsing/be22e2572adebf8026e1

I have performance tested this and there is virtually 0 overhead of using this approach. absolutely no observable impact at all on lookup performance.

[2015-12-13 22:54] BrainSlugs83 commented on #1534
Thanks Roger, I figured it was something like that.

In JSON.NET there are several options in the SerializationSettings for turning on type emitting that I think would fix bugs like this, and also ways to register custom serialization handlers for specific types and such.

Is there a way to latch in to the SerializationSettings that akka.net is using and configure them?

[2015-12-14 03:27] JeffCyr commented on #1537
- Should use Task.Run instead of Task.Factory.StartNew.
- ToArray will create possibly large buffer and lock the whole dictionary while copying which could create latency. GetEnumerator could be used instead.

        reads and writes to the dictionary, however it does not represent a moment-in-time snapshot
        of the dictionary.  The contents exposed through the enumerator may contain modifi

[2015-12-14 09:59] Horusiath opened #1544 "ActorSelection fails for ActorPath from remotely deployed actors"
Right now `ActorSelection` doesn't work when combined with path taken from remotely deployed actor:

[code]

This operation will timeout - actor won't be find under provided path. Also any messages that will be send under actor selection specified that way will be send to dead letters on the remote node.

I don't know what is expected behavior on the JVM side for that.

[2015-12-14 10:26] rogeralsing commented on #1544
That would be me:

https://github.com/rogeralsing/akka.net/blob/master/src/core/Akka.Remote/RemoteDaemon.cs#L165

[2015-12-14 10:32] Horusiath commented on #1544
Scaka version for comparison:

[code]

[2015-12-14 10:40] alexpantyukhin commented on #1544
I will take it.

[2015-12-14 11:12] Horusiath commented on #1544
@alexpantyukhin would you also submit a test case to ensure that this won't reappear in the future?

[2015-12-14 11:18] alexpantyukhin commented on #1544
okay. I will

[2015-12-14 11:20] rogeralsing commented on #1544
Also, before starting this.
Try the `system.ActorSelection(remoteRef.Path).Ask<ActorIdentity>(new Identify(null)).Result;` and put a breakpoint in RemoteSystemDaemon.GetChild and see if you even get there.

If not, then the issue resides elsewhere.

[2015-12-14 12:04] maxim-s commented on #1544
Also would be great to port missing specs from https://github.com/akka/akka/blob/master/akka-remote/src/test/scala/akka/remote/RemotingSpec.scala

[2015-12-14 16:42] stefansedich commented on #1518
@Aaronontheweb at this stage I would say maybe, I didn't have all the cluster tests passing so it is entirely possible things are not 100%

[2015-12-14 19:08] Aaronontheweb commented on #1365
#1546 had to revert due to race failure in the spec - could you please review @maxim-s ?

[2015-12-14 19:09] Aaronontheweb commented on #1365
Reposting my comment from there, with links to the build log:

http://petabridge-ci.cloudapp.net/viewLog.html?buildId=3846&tab=buildResultsDiv&buildTypeId=AkkaNet_AkkaNetPrBuild&guest=1

[2015-12-14 20:43] Aaronontheweb opened #1547 "Race conditions within Akka.Remote.Transport.TestTransport"
[code]

Looks like an issue that maybe occurs on shutdown or disassociation. Need to determine if it's an issue with the `TestTransport` or with something more "important" inside the remoting stack.

[2015-12-14 22:52] Aaronontheweb opened #1549 "Investigate whether or not dispatchers, DedicatedThreadPools, and other resources are properly disposed on ActorSystem.Shutdown"
I strongly suspect that the `DedicatedThreadPool` and `ForkJoinDispatcher` instances used by any `ActorSystem` that creates them are not properly shutdown and disposed afterwards, resulting in gradual memory leaks and zombie threads. I would like to investigate this issue and determine if this and any other resources are being leaked after an `ActorSystem` has shut down.

Where this issue will mos

[2015-12-14 23:49] Aaronontheweb commented on #1547
Broadening this issue to cover race conditions within `TestTransport` in general - just found this gem inside `Akka.Remote.Tests.Performance`:

https://github.com/akkadotnet/akka.net/blob/dev/src/core/Akka.Remote.Tests.Performance/RemoteMessagingThroughputSpecBase.cs#L88

Fails with the following exception as reported by NBench:

[code]

[code]

[2015-12-14 23:50] Aaronontheweb commented on #1547
No way an in-memory association should take longer than 2s to complete without some sort of underlying bug in the code.

[2015-12-15 01:24] jtmueller opened #1551 "Akka.Remote with F# API: ICanTell.Ask() call can hang indefinitely"
Setup
1. Set up two actor systems in F# that communicate with Akka.Remote.
2. Make sure one system calls a remote actor with code similar to...

[code]

Repro
1. Verify that these calls are working, then shut down the host for the remote actor, and make the same call again.
2. The  `let! result =` call will hang indefinitely, and never return. An exception related to the absence of the remote acto

[2015-12-15 01:30] jtmueller commented on #1551
It is likely that a similar fix would need to be applied to the <? operator, but I haven't tested this.

[2015-12-15 01:36] jtmueller commented on #1551
Looking at the F# source code, Async.AwaitTask will eventually end up calling [TaskHelpers.contineWith on line 1472](https://github.com/fsharp/fsharp/blob/a62def585754e61e128f9e09a6f0e18e7e07084c/src/fsharp/FSharp.Core/control.fs). As you can see, if the task's IsFaulted property is false,  but the Result property throws an exception, that exception will happen on line 1479, with no try/catch bloc

[2015-12-15 06:39] HakanL commented on #1458
Thanks for the additional information. My cluster actually stays up if I leave it alone, but I picked akka.net cluster because I wanted to have flexibility on taking nodes up/down and not have to hard-code IP addresses. I wish I could see what it would take to help out with a fix, but there's a lot I'm not completely understanding in the cluster messages, like why does the log line say a node is u

[2015-12-15 08:27] Horusiath opened #1553 "Build interface hierarchy of persistent messages"
Idea is to use interfaces to build some hierarchy between persistent messages, just like in case of Akka.IO. Proposal:

All journal messages should indirectly implement `IJournalMessage` interface. Furthermore `IJournalMessage` should be implement by either `IJournalEvent` (for messages send **from** event journal) or `IJournalCommand` (for messages, that can be send **to* event journal). Then tho

[2015-12-15 09:24] decius999 commented on #1509
Do you have any hints for me?
Do you need more config files or Code samples? We want to use Akka.Net in production but we have to fix this issue first. Any help is appreciated. :)

Best Regards

[2015-12-15 11:07] Silv3rcircl3 commented on #1160
I have reorganized the examples in the following way (in VS and the filesystem)
![image](https://cloud.githubusercontent.com/assets/6583600/11808895/959dfc40-a323-11e5-98b9-a00c36696fae.png)

Let me know what you think.

@rogeralsing
Can you give me a little more information what you want to see in the readme?
Maybe a short description what every project does?

[2015-12-15 11:36] donmikel opened #1554 "Using "serialize-message" option causes hang starting node"
For example, you can change the configuration in WebCrawler sample, by adding:
[code]

And when we trying to start node, we hang on this point
[code]

[2015-12-15 12:09] JeffCyr commented on #1538
Still a work in progress, but I cloned the Clr ThreadPool from the coreclr repo to create an instantiable version of the ThreadPool.

Results look promising, roughly the same throughput/latency as the global ThreadPool.

[2015-12-15 12:57] JeffCyr commented on #1538
Here's the results:

##### Throughput test (Queue 10 000 000 items and wait completion)
Global ThreadPool: 00:00:01.1490560
LocalThreadPool  : 00:00:01.1072956
HeliosThreadPool : 00:00:04.0878420

##### Latency test (Sequencially queue 1 000 000 items)
Global ThreadPool: 00:00:01.4135339
LocalThreadPool  : 00:00:00.9904661
HeliosThreadPool : 00:00:23.3648739

[2015-12-15 15:55] rogeralsing commented on #1538
That looks amazing!!
Are there any non standard or native constructs in the code?

Skickat från min iPhone

[2015-12-15 16:17] cgstevens commented on #1458
@HakanL thanks for the love of my status page.  Honestly with all of the work I have put into this my manager wants me to do a Presentation on Akka.Net at CodeStock next year.
Once I get our business application done I plan on gutting it and making a smaller demo version which then anyone can grab my code.  It is cool to watch the members all change when you restart a service.  Though I have found

[2015-12-15 16:36] JeffCyr commented on #1538
@rogeralsing Its all managed code with standard construct and without "unsafe" keyword. There's a little nuance with QueueUserWorkItem because we can't capture the ExecutionContext without the SynchronizationContext like the real ThreadPool does, but I think I can work around that. Otherwise UnsafeQueueWorkItem is the same.

The LocalThreadPool is working with mostly the same code as the original

[2015-12-15 16:45] JeffCyr commented on #1538
I'll create a PR with an implementation of ForkJoinDispatcher using the LocalThreadPool when I'll have some free time this week.

When I'm finished implementing the starvation-detection and hill-climbing, I think it could potentially increase the overall performance of the Actor's Mailbox dispatching by enabling work stealing which the ThreadPoolDispatcher does not when using ThreadPool.UnsafeQueu

[2015-12-15 17:50] Aaronontheweb opened #1555 "Add Ask and ActorSelection throughput specs"
Need to add some specs for Ask that stress test it under the following conditions:

1. From outside an `IActorContext`, i.e. the way you'd ask an actor from within an ASP.NET MVC controller or something like this
2. From inside an `IActorContext` that **is not** using async / await
3. From inside an `IActorContext` that **is** using async / await
4. From inside another TPL task

[2015-12-15 17:50] cgstevens commented on #1458
@HakanL or anyone else... I do have the following as well which is my original one.  This is pretty simple and I can remove the other tabs and clean it up but this will give you the samething except this is done in WPF and not Angular/SignalR.  Has all the same features for it to force members to leave or be down including itself by just clicking on the row and click leave.  Pretty cool :+1:
Give

[2015-12-15 18:23] #1539 closed

[2015-12-15 18:25] easuter commented on #1458
@cgstevens ah, thats good to know! AFAIK IActorRefs should be serializable; my own cluster does have messages which include IActorRefs and I haven't run into this issue.

IIRC older versions of Json.NET could fail to serialize objects if their classes were decorated with those types of attributes you mentioned, didn't think it was still a problem now.

Regarding that monitoring tool, thanks for ta

[2015-12-15 18:32] HakanL commented on #1458
Very cool, yes please share! I'm with you, I want to be able to run a client like this, join the cluster and then later drop out without it causing any problems with the cluster. I'm ok that I have to force-remove that node if I want it out of lists, but it shouldn't mess up the cluster.

[2015-12-15 18:43] Aaronontheweb opened #1556 "Akka.Remote memory leak"
Been able to demonstrably reproduce it inside some of the NBench specifications where larger numbers of messages are being sent over the wire.

I believe this is the root cause behind #1498 and #1506

[2015-12-15 18:44] Aaronontheweb commented on #1556
BTW, was able to reproduce this leak using Akka.Remote 1.0 binaries - this problem has existed for a while then.

[2015-12-15 19:03] Aaronontheweb opened #1557 "MNTK TestConductor errors"
Saw this appear in the build log, and have been able to replicate this before:

[code]

This is responsible for some of the trouble in #1134

[2015-12-15 19:21] rogeralsing commented on #1555
I think it would be good to have some that run multiple Asks in parallel, Ask creates temp actors in the `VirtualPathContainer` how this behaves if there are high workloads are unexplored AFAIK.
That is, they are added and once done they are removed, I would guess that can cause some contention and potential lag, as expected, but we don't know where that limit is atm.

[2015-12-15 19:40] Aaronontheweb commented on #1555
@rogeralsing have some ideas on how we can benchmark the virtual path container independently? I'm thinking it might be interesting to test some things like how insertion speed changes as the number of concurrent Ask operations increases, which we can simulate by manually adding stuff to the container

[2015-12-15 19:41] Aaronontheweb commented on #1547
I have a reliable test that can reproduce this now - going to step into it

[2015-12-15 20:06] rogeralsing commented on #1537
I double checked and the Scala code does use their counterpart of Uri in the `ActorPathExtractor`.

It can probably be done with better performance by manual parsing, an ActorPath only consists of an address and then the Uri Segments. so we don't need full suppport to parse the URI.

[2015-12-15 20:33] rogeralsing commented on #1537
This one is tricky, it turns out that the Uri class is actually pretty fast compared to custom string parsing.
I'm running a test that parses 10 mil Uri's
Just splitting a string on `/` is just about 3.5 times faster than parsing the full URI.
Adding more logic to that brings it down to the same or worse perf.

If anyone feel confident that they can write a Uri parser that still brings significant

[2015-12-15 20:41] rogeralsing commented on #1555
Ah yes, we could easily just add and random named `ActorRef.NoSender` to an instance of VirtualPathContainer.
Arrange: Pre generate x random names using a Random with the same seed each run.
Assert: Then use those names in the perf test to add and remove.

That would probably give the most consistent results back.
The VirtualPathContainer is a super slim wrapper ontop of ConcurrentDictionary so we

[2015-12-15 22:38] Aaronontheweb commented on #1537
Try switching from `Uri.TryCreate` to `Uri.Create` and try...catch - might have worse worst case performance but probably better average case performance

[2015-12-15 23:39] Aaronontheweb commented on #1547
Looks like the issue may be user error - from the original source:

[code]

https://github.com/akka/akka/blob/master/akka-remote/src/main/scala/akka/remote/transport/TestTransport.scala#L440

Modifying our benchmarks and tests to generate a new key for each test instance...

[2015-12-15 23:53] Aaronontheweb commented on #1547
Yeah, looks like it - we were basically re-using the same `AssociationRegistry` for `TestTransport` between specs, which is static. Just need to use a random `Guid` for the `akka.remote.test-transport.registry-key` on each test run and we're good to go. Going to do some more work to verify but this looks resolved for now.

[2015-12-16 01:29] Aaronontheweb commented on #1556
Collecting some memory and heap dumps using DebugDiag: http://blogs.msdn.com/b/debugdiag/archive/2013/10/03/debugdiag-2-0-is-now-rtw.aspx

[2015-12-16 01:49] HakanL commented on #748
Maybe a little out of scope, but can a ClusterClient connect in to a cluster (via the seed nodes) and send/receive messages as if it was a full-blown node, or how does it differentiate from a regular node? I'm looking into how to handle a client who is very unreliable, but still want to send/receive (actually Tell/Ask) messages into the cluster, not caring who in the cluster responds.

[2015-12-16 02:53] Aaronontheweb commented on #1556
Alright, got this one solved. Turns out it was an issue with the `TestTransport` and simply not ejecting the logs between benchmark runs within 1 process. However, still need to get to the bottom of #1506.

[2015-12-16 05:44] rogeralsing commented on #1537
Done, that gives the same result.

[2015-12-16 15:24] rogeralsing opened #1563 "Solution does no longer build from Dev"
In `TestTransportRemoteMessagingThroughputSpec`

There is a line:

[code]

Which uses C#6 string interpolation, while the project itself is set to "Default" on language level.

[2015-12-16 16:39] cgstevens commented on #1458
@HakanL and @easuter
I put this together this morning.... Hopefully it works!  It contains the monitor app and a lighthouse service running topshelf for a demo.
https://github.com/cgstevens/Akka.Cluster.Monitor

[2015-12-16 17:17] Aaronontheweb commented on #1563
Doesn't build on `dev` on which environments? VS2013?

[2015-12-16 17:40] rogeralsing commented on #1563
I use VS2015 but the project is marked as .NET 4.5 and the language level is set to default, so I guess that means C#5 for a 4.5 project(?)

It didn't build and resharper asked if I wanted to turn on C#6 features for the project

[2015-12-16 18:20] HakanL commented on #1458
Cool, will check it out!

[2015-12-16 22:54] Aaronontheweb commented on #1528
I took a look at this today - nope, we're in good shape. the `TerminationHook` stuff exists separately from the `RegisterOnTermination` callbacks.

[2015-12-16 22:54] #1528 closed

[2015-12-16 23:29] Aaronontheweb opened #1567 "AssociationShutdownException - do not log it as an error"
`AssociationShutdownException` is raised when a transport is explicitly shutdown via a message. This should be logged as an "info" message and not necessarily a giant red, scary, error message. Going to change this so it stops bloating up the logs on our Akka.Remote benchmarks and tests.

[2015-12-17 08:32] Horusiath commented on #1510
@rogeralsing I think, that when it comes to Akka specs, this is not always possible, as the tests are not unit tests in nature.

Also after 3 sentence long gitter chat on that topic I think, that we all agreed to use underscore case.

[2015-12-17 13:24] cgstevens commented on #1458
@HakanL  @Aaronontheweb
You said;
But I'd love to help out with a fix so that
a) I can bounce a node any time I want and the cluster would not become unstable, it should just not deliver messages to that node until it's back up.

I will have to say that you need to make sure your members are cleaning leaving the cluster.
Example with the current lighthouse when running in interactive mode:
https:/

[2015-12-17 18:01] cgstevens commented on #1458
@HakanL and @easuter

Added a new project called Worker which has an WebApiEndpoint. Creating services similar to this will allow you to view that members current state. This will allow you to access the ClusterEvent.CurrentClusterState by hitting the endpoint http://localhost:8080/api/ClusterStatus/1 Opens the door to be able to send a Leave/Down message to that member through that api. With havi

[2015-12-17 18:56] easuter commented on #1458
@cgstevens this is awesome, thanks so much!

I'll probably drop this into my next project test-run :)

[2015-12-17 19:10] cgstevens commented on #1458
@easuter nice!  I updated the notes about the website project I will be adding in the next few days.

[2015-12-17 21:51] #1547 closed

[2015-12-17 21:51] #1556 closed

[2015-12-18 00:13] Aaronontheweb commented on #1498
FYI, memory leaks within Akka.Remote using the `TestTransport` can be solved using the same fix from #1556

[2015-12-18 00:16] Aaronontheweb commented on #1555
Bucketing 'ActorSelection` under this issue too

[2015-12-18 08:42] Horusiath opened #1572 "[Akka.Cluster.Tools] ClusterSingletonManagerSpec MNTK spec"
This is up for grabs task for making [ClusterSingletonManagerSpec](https://github.com/akkadotnet/akka.net/blob/dev/src/contrib/cluster/Akka.Cluster.Tools.Tests/Singleton/ClusterSingletonManagerSpec.cs) work on MultiNode TestKit Runner.

[2015-12-18 08:43] Horusiath opened #1573 "[Akka.Cluster.Tools] ClusterSingletonManagerStartupSpec MNTK spec"
This is up for grabs task for making [ClusterSingletonManagerStartupSpec](https://github.com/akkadotnet/akka.net/blob/dev/src/contrib/cluster/Akka.Cluster.Tools.Tests/Singleton/ClusterSingletonManagerStartupSpec.cs) work on MultiNode TestKit Runner.

[2015-12-18 08:44] Horusiath opened #1574 "[Akka.Cluster.Tools] ClusterSingletonManagerLeaveSpec MNTK spec"
This is up for grabs task for making [ClusterSingletonManagerLeaveSpec](https://github.com/akkadotnet/akka.net/blob/dev/src/contrib/cluster/Akka.Cluster.Tools.Tests/Singleton/ClusterSingletonManagerLeaveSpec.cs) work on MultiNode TestKit Runner.

[2015-12-18 08:45] Horusiath opened #1575 "[Akka.Cluster.Tools] ClusterSingletonManagerChaosSpec MNTK spec"
This is up for grabs task for making [ClusterSingletonManagerChaosSpec](https://github.com/akkadotnet/akka.net/blob/dev/src/contrib/cluster/Akka.Cluster.Tools.Tests/Singleton/ClusterSingletonManagerChaosSpec.cs) work on MultiNode TestKit Runner.

[2015-12-18 08:46] Horusiath opened #1576 "[Akka.Cluster.Tools] DistributedPubSubMediatorSpec MNTK spec"
This is up for grabs task for making [DistributedPubSubMediatorSpec](https://github.com/akkadotnet/akka.net/blob/dev/src/contrib/cluster/Akka.Cluster.Tools.Tests/PublishSubscribe/DistributedPubSubMediatorSpec.cs) work on MultiNode TestKit Runner.

[2015-12-18 08:47] Horusiath opened #1577 "[Akka.Cluster.Tools] ClusterClientSpec MNTK spec"
This is up for grabs task for making [ClusterClientSpec](https://github.com/akkadotnet/akka.net/blob/dev/src/contrib/cluster/Akka.Cluster.Tools.Tests/ClusterClient/ClusterClientSpec.cs) work on MultiNode TestKit Runner.

[2015-12-18 08:48] Horusiath opened #1578 "[Akka.Cluster.Sharding] ClusterShardingSpec MNTK spec"
This is up for grabs task for making [ClusterShardingSpec](https://github.com/akkadotnet/akka.net/blob/dev/src/contrib/cluster/Akka.Cluster.Sharding.Tests/ClusterShardingSpec.cs) work on MultiNode TestKit Runner.

[2015-12-18 08:49] Horusiath opened #1579 "[Akka.Cluster.Sharding] ClusterShardingSpec MNTK spec"
This is up for grabs task for making [ClusterShardingLeavingSpec](https://github.com/akkadotnet/akka.net/blob/dev/src/contrib/cluster/Akka.Cluster.Sharding.Tests/ClusterShardingLeavingSpec.cs) work on MultiNode TestKit Runner.

[2015-12-18 08:50] Horusiath opened #1580 "[Akka.Cluster.Sharding] ClusterShardingFailureSpec MNTK spec"
This is up for grabs task for making [ClusterShardingFailureSpec](https://github.com/akkadotnet/akka.net/blob/dev/src/contrib/cluster/Akka.Cluster.Sharding.Tests/ClusterShardingFailureSpec.cs) work on MultiNode TestKit Runner.

[2015-12-18 08:51] Horusiath opened #1581 "[Akka.Cluster.Sharding] ClusterShardingGracefulShutdownSpec MNTK spec"
This is up for grabs task for making [ClusterShardingGracefulShutdownSpec](https://github.com/akkadotnet/akka.net/blob/dev/src/contrib/cluster/Akka.Cluster.Sharding.Tests/ClusterShardingGracefulShutdownSpec.cs) work on MultiNode TestKit Runner.

[2015-12-18 10:16] rogeralsing commented on #499
This have been solved somehow somewhere. it is no longer an issue

[2015-12-18 10:16] #499 closed

[2015-12-18 17:07] rogeralsing commented on #1235
Is this still an issue? or did https://github.com/trbngr/akka.net/commit/3df119ff614c3298299f863e18efd6e0fa848858 fix it?

[2015-12-18 17:10] rogeralsing commented on #1563
It builds correctly in 2015, my Akka.NET solution opens in 2013 and 2013 requires you to enable C#6 features.

We also agreed to use C#6 on last contrib meeting, so I'm closing this

[2015-12-18 17:10] #1563 closed

[2015-12-18 22:27] Aaronontheweb opened #1586 "EndpointWriter buffers messages indefinitely"
Found the issue responsible for the race-y failures with the `RemoteMessageThroughputSpecs`:

https://gist.github.com/Aaronontheweb/4d19314abff6d8efa31f

It appears as though the `EndpointWriter` can get it itself into a state where it endlessly buffers messages on the outbound side of an association, depending on a race condition with the speed at which the association forms.

[2015-12-19 16:58] rogeralsing commented on #1498
![mem1](https://cloud.githubusercontent.com/assets/647031/11914208/f4ab59ae-a679-11e5-8da6-15bd33d2fe81.png)

It looks like there are different issues causing this.
For example `ReceivePersistentActorTests` gives a big spike and `ParsingSpec` gives a small spike.

[2015-12-19 17:05] rogeralsing commented on #1498
![mem2](https://cloud.githubusercontent.com/assets/647031/11914233/c5091e6a-a67a-11e5-8fb9-56a02b026307.png)

From another run.

Cluster tests are consistently leaking a small amount of memory.
Persistence tests are consistently leaking more memory.
And ParsingSpec also triggers a small spike again.

[2015-12-19 17:07] rogeralsing commented on #1498
cc @Horusiath any idea what can make the persistence tests leak?
Are there any in mem storage that is not cleared? non closed connections?

[2015-12-19 17:13] rogeralsing commented on #1498
![mem3](https://cloud.githubusercontent.com/assets/647031/11914270/3200803e-a67c-11e5-96e5-00cb786a5b77.png)

Run 3

[2015-12-19 17:15] rogeralsing commented on #1498
Same pattern.

ParsingSpec, small spike.
Persistene tests, big spike and leaks.

(tests does contain different tests as the test runner seems to chose randomly and the OOM error breaks the tests after different number of test runs.

[2015-12-19 17:41] rogeralsing commented on #1498
I would guess that the small spike in ParseSpec is the result from compiling regex . so that one is probably not an issue, more a fact that regex does eat memory

[2015-12-19 19:25] JeffCyr commented on #1549
PR #1569 should fix the issue about DedicatedThreadPool and ForkJoinDispatcher disposal.

[2015-12-19 21:33] Horusiath opened #1592 "Modify serialization process"
Currently our seialization/deserialization relies on `byte[]`. I think we could improve this overtime by starting to use managed buffer pools directly.

Right now we have many implementations of byte buffers (3 different ones in Akka.IO, Helios and Google.ProtocolBuffers + 1 incoming with DotNetty), but I've seen that MS is working on some common managed buffers package. And even without it we cou

[2015-12-20 06:38] maxim-s commented on #1544
Looks like problem with transport protocol matching here
https://github.com/akkadotnet/akka.net/blob/dev/src/core/Akka.Remote/Remoting.cs#L295

but scala version has the same issue for remote ActorSelection e.g.
http://stackoverflow.com/questions/23827275/akka-remote-remotetransportexception-no-transport-is-loaded-for-protocol

local and client systems has different protocols e.g. akka and akka.tc

[2015-12-20 11:32] rogeralsing commented on #1549
Hmmm this one could be tricky to deal with.
In theory, single actors could request their own dispatcher using configuration. so the dispatcher lifespan can be everything from that of a single actor, of a group of actors or for the entire actor system.

[2015-12-20 11:44] Scooletz commented on #1592
That's a cardinal sin of majority of .NET tooling. When you take a look at WCF buffer management which has been copied to the Azure library, it's again a pool of byte arrays, which is wrong as well. Can you link to the  MS version of it? So far, the most reasonable one was the one in EventStore.

[2015-12-20 12:03] rogeralsing commented on #1498
![mem4](https://cloud.githubusercontent.com/assets/647031/11917860/ae88900e-a719-11e5-846b-08dfbb3f4012.png)

The plot thickens...
When running using the command line build `build runtests`
We see a clear memory dump after each test assembly have been executed.
While we see the same memory retention build up for tests within the same assembly.

My guess is that when running the VS.NET runner, all

[2015-12-20 12:03] rogeralsing commented on #1498
cc @bradwilson, any idea why we are seeing different results in the vs runner and the console runner?

[2015-12-20 12:10] rogeralsing commented on #1498
![mem5](https://cloud.githubusercontent.com/assets/647031/11917905/e0b975c4-a71a-11e5-9966-434bb0401eb3.png)

Here is the same graph but plotting the memory delta between tests intead of total memory.
This might give some more insight of what tests are the worst offenders.

[2015-12-20 15:34] JeffCyr opened #1593 "DedicatedThreadScheduler performance review"
This issue is about analyzing the DedicatedThreadScheduler to discuss about how it could be improved.

https://github.com/akkadotnet/akka.net/blob/cf7cd6f274cd56af6403afc640a038564dc4d03b/src/core/Akka/Actor/Scheduler/DedicatedThreadScheduler.cs

#### Summary of the actual implementation
The scheduler is implemented by a background thread and a ConcurrentQueue. The ConcurrentQueue is used as a mes

[2015-12-20 16:12] rogeralsing commented on #1593
Some background on this:
We used a scheduler that did run on the threadpool earlier, but it turned out that under heavy load, things like scheduled heart beats in akka-cluster did not fire at the correct time due to thread pool saturation.
Thus we moved the workload inside its own dedicated thread.
Java Akka also uses a dedicated thread for executing scheduled jobs.

Maybe we could extend the API

[2015-12-20 18:30] rogeralsing opened #1594 "Examine the state of Mono Concurrent queue"
We currently have `Debug Mono` and `Release Mono` build configurations.
The only thing they do is to switch out the `ConcurrentQueue` implementation in the actor mailbox.

In earlier versions of Mono, the `ConcurrentQueue` were the subject of race conditions.
If that have since been fixed, e.g. in Mono 4.* we can safely remove the Mono conditional compilation directives and the two custom build co

[2015-12-20 20:36] bradwilson commented on #1498
This is https://github.com/xunit/xunit/issues/662

[2015-12-20 20:47] fjoppe opened #1595 "Ask problem with Akka.Remote and discriminated unions."
I am working with Akka.Net (1.0.5), Akka.Fsharp (1.0.4), Akka.Remote (1.0.5).

I have a stateful actor system which I will run as a service (currently a console app with TopShelf). From a webserver's backend-service, I want to contact the actor system using Akka.Remote. Currently, I am prototyping this connection using the F# interactive, just to make sure that the communication goes well. It does

[2015-12-20 21:55] JeffCyr commented on #1594
According to this:
http://www.mono-project.com/docs/about-mono/releases/4.0.0/

The following namespaces have been entirely, or almost entirely replaced with ReferenceSource code:

System.Collections
**System.Collections.Concurrent**
System.Collections.Generic
System.Collections.Specialized
System.ComponentModel
System.ComponentModel.Design
System.Diagnostic.Contracts
System.Linq
System.Linq.Paral

[2015-12-20 22:23] bradwilson commented on #1498
We just shipped 2.2 Beta 1, which should include the fix for this. Let me know if you see better results.

http://localhost:4000/release-notes/2015-12-20.html

[2015-12-20 22:28] Horusiath commented on #1595
@fjoppe This is a well known issue of default (JSON.NET based) serializer in Akka.NET. Unfortunately, as long as we use JSON.NET, problem is out of our reach. Currently the best option is to change default serializer to Akka.Serialization.Wire. Optionally you may use [Akkling](https://github.com/Horusiath/Akkling) (some auto promotion here), which already uses Wire as default serializer.

[2015-12-20 23:13] JeffCyr commented on #1593
https://github.com/akka/akka/blob/f1abaa1c5e327b961222fcf986547a7474484b94/akka-actor/src/main/scala/akka/actor/LightArrayRevolverScheduler.scala

Looks like I reinvented the "wheel" here and the "circular list of buckets" data structure I was describing is formally called "Hashed and Hierarchical Timing Wheels" and it's exactly what the scala implementation is using.
http://www.cs.columbia.edu/~n

[2015-12-21 05:47] rogeralsing commented on #1593
@JeffCyr

Cancellation is done using :

[code]

It's embedded in the action that is scheduled.

[2015-12-21 06:12] fjoppe commented on #1595
@Horusiath Thanks for reply. I did some research and I did find the known issue. So I was a little hesitating. Is the issue with data in a DU? I thought it could be different than the known issue, because ask and tell behave different, and I read it would be solved in Newtonsoft 7.x. Anyway, I will try your suggestions, thanks.