[2015-05-09 08:21] stefansedich commented on #957
I think that library just needs both options too. Signing is a legacy IMO
and I dont want to see us putting too much effort into it, hell async is
bad enough

My 3.5c
On 9 May 2015 6:16 pm, "Nikita Tsukanov" <notifications@github.com> wrote:

[2015-05-10 14:45] dittodhole opened #964 "Framework Version of akka.net"
Is there any possibility to make this library available for .net 4.0?

[2015-05-10 21:15] jtmueller commented on #952
I like number 3, myself. I would probably ignore the stable namespace and go straight for the experimental one, and just deal with breaking changes as they occur. But some people will appreciate having the choice, and a few extra kilobytes from having both API's in one assembly isn't going to kill anyone.

[2015-05-11 01:23] jcwrequests commented on #942
@nvivo @Danthar @akkadotnet/owners I have continued with project. Went through some strange issues with building the project with XUnit and the old Xunit test runner but got that resolved. I also started adding some test cases. Until I get more feedback I will at least implement all of the prop tests then move onto to some of the things @Aaronontheweb was saying. @rogeralsing I have not had a chan

[2015-05-11 01:36] jcwrequests commented on #942
I found something interesting and am not sure if it's worth extending DI for this case but I will leave it you guys. Here is the example:

            var strategy = new OneForOneStrategy(_ => Directive.Stop);
            using (var system = ActorSystem.Create("MySystem"))
            {
                var propsResolver =
                    new TestActorResolver(system);

                var prop

[2015-05-11 07:28] Neftedollar commented on #952
My choice 2

[2015-05-11 08:03] raymens commented on #952
The problem with choice number 3 is that for every changed/new experimental feature the projects using the stable API will have an update waiting too, that actually doesn't change/fix anything for the stable users.

[2015-05-11 12:37] rogeralsing commented on #952
I'd go for 3. even if there might be version increments that havent updated the main api. I think it's still an OK tradeoff to avoid too many packages and friction.

[2015-05-11 12:41] rogeralsing commented on #964
One thing that relies on 4.5 is the CallContext flowing async state for the async await support.
Other than that, I don't think there are any features that must have 4.5.
In theory it would be possible to downgrade. we just decided early on to go for 4.5 only

[2015-05-11 13:51] thomaslazar opened #965 "Making DI more accessible"
It's currently kinda "hard" to use DI with Akka.net.

You need need to either drag around an IDependencyResolver (as shown in the documentation) to create the Props for Actors or use actorSystem.GetExtension<DIExt>() (not documented) to get access to a Props Props(Type actorType) method that lets you create Props through the DI container.

There is an extension DI() for IActorContext shown in the

[2015-05-11 14:43] #964 closed

[2015-05-11 18:41] Danthar opened #967 "RoundRobinPool constructor API inconsistency"
I noticed the `RoundRobinPool`, when compared with Akka, has an extra constructor. This has been noticed before, and remarked by @Aaronontheweb that it probably should be removed.

akkadotnet reference:
https://github.com/akkadotnet/akka.net/blob/dev/src/core/Akka/Routing/RoundRobin.cs

scala reference:
https://github.com/akka/akka/blob/master/akka-actor/src/main/scala/akka/routing/RoundRobin.scal

[2015-05-11 22:13] stefansedich opened #968 "Scheduler configuration and aligning with JVM implementation"
Just want to open up a discussion into providing configuration for the scheduler implementation. At the moment we do not make use of the scheduler section in the config and hard code to always creating the TaskBasedScheduler.

If you look at the current scheduler configuration section which has carried over from the JVM:

      # Used to set the behavior of the scheduler.
      # Changing the defa

[2015-05-11 23:06] Aaronontheweb commented on #968
Have you thought at all about using the hashed wheel timer approach they use in the JVM? Any reason why that's better or worse than what we are using now?

[2015-05-11 23:57] Aaronontheweb commented on #849
Is this considered to be "fixed" now?

[2015-05-12 00:37] jcwrequests commented on #965
@thomaslazar Would you mind putting together an example on how your changes make it easier? Maybe take one of the examples from the DI contrib a rewrite it with your code extension. That way it makes comparing the two version much easier. Anything that can be done to make it easier is always welcome.

Thanks so much for taking the time and putting in the issue.

 I look forward to see your example

[2015-05-12 00:39] jcwrequests commented on #965
@thomaslazar Sorry I did not see your PR. Would you mine still putting together an example? Thanks.

[2015-05-12 00:42] annymsMthd commented on #849
The dlls with the nightly package are still marked 1.0.1 and I'm not seeing
the changed messages. I need to check this when I get home

On Mon, May 11, 2015 at 4:57 PM Aaron Stannard <notifications@github.com>
wrote:

[2015-05-12 00:45] jcwrequests commented on #942
@nvivo @Danthar @akkadotnet/owners Still looking for feedback. Also what you guys think about this PR https://github.com/akkadotnet/akka.net/pull/966? Since you guys know Akka best could someone explain the benefit and the particular problem it solves?

[2015-05-12 01:03] Aaronontheweb commented on #849
Argh! Damn TeamCity. I'm getting weird stuff from the feed too.
In that case, go to the build server and download the artifacts from there.

[2015-05-12 01:34] nvivo commented on #942
As we discussed previously, I don't like the current API of DI, it's one of those places where it would be a good idea to diverge from jvm, so I don't have much to say about which scenarios it should be tested against.

I see the benefit from that proposal in that currently its quite hard to use DI and add settings to props. The requirement of explicitly calling the PropsResolver sometimes makes i

[2015-05-12 01:52] annymsMthd commented on #849
I'm investigating

[2015-05-12 03:28] rodrigovidal commented on #952
I think that the correct way to handle this is the 4th option. Akka.FSharp already has its own package. Using semantic versioning the user can choose if wants to update or not.

[2015-05-12 04:01] Aaronontheweb commented on #942
I'll do a full review of this on Thursday / Friday. Don't have time to give this the attention it deserves until then.

[2015-05-12 04:06] annymsMthd commented on #849
This is working properly now in our cluster with the nightly build.

[2015-05-12 05:57] annymsMthd commented on #918
Running the nightly build in our cluster. This is fixed. The node will now be downed and allowed to rejoin.

[2015-05-12 06:07] annymsMthd commented on #743
Fixed

[2015-05-12 08:13] thomaslazar commented on #965
@jcwrequests I changed the castle windsor example to use the new extension. but the examples currently in the repository don't really show the problem that my changes try to solve. For that to be more apparent I'd have to whip up a ASP.NET example using DI and Akka.net. I will try to see if i can get something up on Thursday.

[2015-05-12 10:05] rogeralsing commented on #743
Can we close this one?

[2015-05-12 11:22] nvivo commented on #965
Should have seen this discussion before. Ended up with a long post on [#966](https://github.com/akkadotnet/akka.net/pull/966#issuecomment-101236649), sorry for that. Anyway, take a look there and let's see if we can come up with something better.

[2015-05-12 13:42] rogeralsing opened #970 "Integrate Akka.Persistence with Azure Service Fabric"
Claudio (@clca) from Microsoft is working on integrating Akka.Persistence with Azure Service Fabric.
This work will be done in a separate branch in this repo.
https://github.com/akkadotnet/akka.net/tree/azure-fabric

We have also allocated some developers from to help building this integration.

cc @r1sc, @nethousejela, @AndersSahlin

[2015-05-12 13:54] rogeralsing commented on #968
If I recall correctly, @Aaronontheweb we did dive into the impl details of scheduling way back in the early days. and came to the conclusion that the Threaded Timers, which are used by TPL in .NET do use a similar approach as the JVM impl.
And that there was little benefit to touching this.

I'm all for supporting other implementations, so I'm not dissing the effort.

[2015-05-12 14:26] #918 closed

[2015-05-12 14:26] #849 closed

[2015-05-12 14:27] #743 closed

[2015-05-12 15:41] runiner commented on #952
I'd go for @raymens 's idea of different numbering in F# API

[2015-05-12 19:58] annymsMthd commented on #893
This is fixed.

[2015-05-12 20:10] #893 closed

[2015-05-12 20:12] #794 closed

[2015-05-12 20:13] rogeralsing commented on #846
Can this be closed? we did merge the Monotonic clock PR

[2015-05-12 20:15] kekekeks commented on #846
Motonic clock is yet to be integrated into the code base.

[2015-05-12 23:32] davidflerlage commented on #944
I refactored my plugin to use the new Sql.Common project.  I am pretty much done with this plugin, but I am experiencing some random test failures.  I am trying to track the issue down.  The tests run fine when run individually and in small groups, but not when all of them are run together.

[2015-05-12 23:42] jordansjones commented on #967
The extra constructor was added to for unit testing purposes: 7ad8c505ae579efce07e15f405a37557a3d72224

[2015-05-13 01:19] LukeTillman opened #972 "Discussion: Differences with Akka TestKit when defining multiple tests in a spec"
I've been working on a persistence plugin for Akka.NET and when I went to implement the specs, the difference between what (I think) is going on in Akka and what's going on with Akka.NET really threw me. So I thought I'd ask about it. With the Akka TestKit, when there are multiple tests being run in a spec, it looks like the tests are defined in the constructor. For example:

https://github.com/ak

[2015-05-13 06:46] Danthar commented on #967
Sorry i should have been more specific.
@jordansjones You are referring to the constructor which accepts the nrOfInstances. That one is not the issue. That constructor is also in Akka.

Im referring to this one:

          /// <summary>
        /// Simple form of RoundRobin constructor
        /// </summary>
        /// <param name="nrOfInstances">The nr of instances.</param>
        /// <param na

[2015-05-13 12:58] Danthar commented on #965
@nvivo  I agree with your response on #966 . The DI api as it is now does feel 'awkward'. This is a direct result of using the existing plugin architecture of Akka to provide DI support.

Obviously therein lies the danger that the more you 'improve' (thus deviate) from the original project. You could reach a point where you can no longer call it a port of Akka.

I don't know how the @akkadotnet/ow

[2015-05-13 18:10] Horusiath opened #975 "Merge Akka.ClusterSharding and Akka.ClusterSingleton"
1. I think it isn't necessary to have separate projects/packages for cluster sharding and cluster singleton packages. Let's merge them together and publish as a single NuGet package, when they'll be ready.
2. As I've said I think that `Akka.ClusterSharding` namespace and `ClusterSharding` extension class inside it will be having conflicting names, which will be irritating for the end user. Therefo

[2015-05-13 18:51] Horusiath commented on #944
Merged

[2015-05-13 18:51] #944 closed

[2015-05-14 01:56] varghesep commented on #111
I'm experiencing an issue which I have posted on the Stack Overflow at http://stackoverflow.com/questions/30228024/akka-net-testkit-synchronous-behavior .

[2015-05-14 05:47] rogeralsing commented on #975
This works for me. anyone else have any objection to doing so?
cc @akkadotnet/developers

[2015-05-14 06:05] rogeralsing commented on #965
@Aaronontheweb had a meeting with Roland from Typesafe yesterday regarding DI. I dont know the outcome of that conversation yet

[2015-05-14 07:02] annymsMthd commented on #975
+1

[2015-05-14 12:49] jberzy commented on #975
+1 for the idea of merging the projects and renaming namespaces, but I think we should consider a neutral name for the project. There are a couple of other yet-to-be ported features that wouldn't really be suitable under the cluster sharding namespace/project. JVM akka recently moved client, pubsub and singleton into an akka-cluster-tools project and sharding into akka-cluster-sharding.

[2015-05-15 08:27] adamhathcock opened #981 "Wanted: BalancingDispatcher"
After reading through some patterns, it seems that the BalancingDispatcher is something I'd like in Akka.NET

http://letitcrash.com/post/29044669086/balancing-workload-across-nodes-with-akka-2
http://doc.akka.io/docs/akka/snapshot/scala/dispatchers.html#Types_of_dispatchers

Is this on anyone's radar?  I'd give it a stab myself but I still feel very green with Akka.NET.

[2015-05-15 08:43] adamhathcock commented on #981
Turns out this isn't what I wanted (and the link says so)

[2015-05-15 08:43] #981 closed

[2015-05-15 20:30] sean-gilliam commented on #928
the generator in that example is on github https://github.com/OmniSharp/generator-aspnet

[2015-05-16 00:20] Adron commented on #952
4th. I don't like the idea of having namespacing like in 3. That just pushes out more work in rewrites or updates. As for 1 and 2, I vote :-1:

[2015-05-16 06:58] #632 closed

[2015-05-16 06:59] #260 closed

[2015-05-16 07:00] #638 closed

[2015-05-16 07:01] rogeralsing commented on #968
Related to #982

[2015-05-16 07:05] rogeralsing commented on #234
Impelemented

[2015-05-16 07:05] #234 closed

[2015-05-16 07:07] #694 closed

[2015-05-16 07:08] #600 closed

[2015-05-16 07:09] #276 closed

[2015-05-16 07:10] #221 closed

[2015-05-16 07:10] #197 closed

[2015-05-16 07:11] #873 closed

[2015-05-17 00:52] neoeinstein commented on #952
I will also put in a vote for the Akka.FSharp package being versioned independently. So long as the dependency version ranges are appropriate and follow SemVer, I think we end up better off.

[2015-05-17 11:49] #902 closed

[2015-05-18 09:24] BenGale commented on #970
How do you guys see the integration with azure service fabric going forward?

[2015-05-18 10:46] rogeralsing commented on #970
We are waiting for Claudio's initial commit.
First task is to get Akka.Persistence working with Service Fabric.

After that we will start exploring how we can integrate Akka.Cluster

[2015-05-18 15:19] Danthar commented on #941
A fix for this issue has been merged several days ago. Ergo this can be closed.

[2015-05-18 17:47] clca commented on #970
I should be able to push the initial commit by tomorrow. The initial commit contains a barebone implementation of a Akka Persistence plug-in (that needs a lot of more work) and a Service Fabric service that can be used as Persistence storage so it should be a good starting point for building the real thing.
Will update this thread as soon as I'm able to push the code.

[2015-05-18 20:35] LukeTillman opened #987 "Plugin Proposal: Akka.Persistence.Cassandra"
I'm almost finished with an Akka.Persistence journal and snapshot store implementation for Cassandra and I wanted to open this issue for any discussion.  I'm hoping to squash things down to a single commit and send a PR in the next day or so. You can find the code in a branch here:

https://github.com/LukeTillman/akka.net/tree/akka-persistence-cassandra

A couple things of note:

- The plugin is m

[2015-05-18 20:39] skotzko commented on #987
my first thought: :+1:

[2015-05-18 20:47] Adron commented on #952
+1 SemVer

[2015-05-18 21:05] Horusiath commented on #987
@LukeTillman nice! Can't wait for your PR. Concerning your points:

- There shouldn't be any problems with async/await used from `AsyncWriteJournal` derivatives.
- Right now we only decided that each persistence tck plugin specs which needs non standard configuration should have it's own task in `build.fsx` file (sql server and postgres plugins already have their own). We should think, what better

[2015-05-19 08:45] rogeralsing opened #989 "Replace null actorrefs with ActorRefs.Nobody by default?"
The API is somewhat unclear in some areas.
e.g. if explicitly passing null to `Tell` an exception is thrown, which seems OK.

But consider this:

[code]

if the user pass `null` as the sender, as a new developer probably would if they dont want to pass a sender, the scheduler will after `SomeTime` invoke `receiver.Tell(someMessage,null)` which throws, causing an invisible exception in the schedule

[2015-05-19 09:05] stefansedich commented on #989
Roger,

I was bit by this the other day, I was meaning to post about it but got
completely swamped with my day to day, I agree that we should probably
handle this in case someone passes null through instead of throwing would
make the API less prickly.

Cheers
Stefan

On Tue, May 19, 2015 at 6:45 PM, Roger Johansson <notifications@github.com>
wrote:

--
Cheers
Stefan

[2015-05-19 12:28] Danthar commented on #965
For the people wondering what the status of this issue is: The discussion continued in #966

[2015-05-19 16:12] ehaskins opened #992 "Akka on .Net Core/PCL"
I'm interested in running Akka.net on .Net Core in ASP.net vNext. That currently isn't supported, but it doesn't look like it'd be insurmountable to make Akka's core a PCL.
- Using System.Configuration - Could this be extracted into a separate library?
- Using IClonable - Some precompiler statements should resolve that
- Using System.Runtime.Serialization namespace
- Using System.Runtime.Remoting

[2015-05-19 17:54] Aaronontheweb commented on #989
Yep, I think this is a great idea.

[2015-05-19 18:05] Aaronontheweb commented on #992
@ehaskins I haven't given this much thought - this is the second or third time it's come up though.

What we really use this for is automatically loading Akka.NET configuration automatically from App.config / Web.config. Removing this into its own separate library would be a major breaking change to today's API. Everyone's apps would still "run," but without their configuration baked into configur

[2015-05-19 18:11] Aaronontheweb commented on #975
Let's follow what the JVM does then.

Akka.Cluster.Sharding and Akka.Cluster.Tools - separate NuGet packages.

The reason for this makes a lot of sense too - ClusterSingleton doesn't depend on Akka.Persistence. ClusterSharding does.

Let's stick with that?

[2015-05-19 18:12] Aaronontheweb commented on #975
BTW, I think the namespaces should be

`Akka.Cluster.[X]`

That's how they're organized in the JVM too.

[2015-05-19 21:20] rogeralsing commented on #975
:+1:

[2015-05-19 21:26] rogeralsing commented on #992
`System.Runtime.Serialization` is used in our exception types, they have ctors using `SerializationInfo`
`System.Runtime.Remoting` is used in the async await task scheduler

`ICloneable` could probably be removed, only Address uses it

[2015-05-19 21:59] jberzy commented on #975
Sounds good to me

[2015-05-20 12:32] nvivo commented on #992
.NET Core needs to be considered a new "target" for compilation, and this will require some changes. If you look into the CoreFx repo, there is a lot of "#ifdefs" to compile things differently for .NET Core vs .NET. It's a similar but different API.

* System.Configuration - won't be required as .NET Core can load hocon files directly with an "UseHoconConfig()" extension

* System.Runtime.Remoting

[2015-05-20 14:26] adamhathcock commented on #992
Is there a feature branch started?  I'd like to look at it and help as this is of interest to me as well.

[2015-05-20 18:20] #807 closed

[2015-05-20 18:21] Aaronontheweb commented on #807
We've got a bunch we're in touch with; we're working on getting some stories from them ;) - takes a while for the pig to go through the snake.

[2015-05-20 20:00] stefansedich commented on #968
Cool thanks @rogeralsing I missed all of this progress, I will update my PR for using the implementation type name and send that through today.

[2015-05-20 20:59] Horusiath commented on #952
After discussion with the rest of the @akkadotnet/developers we decided, that `Akka.FSharp` will be versioned and released separately from the rest of akka packages. Since F# API is still evolving, we want to maintain a good pace of improvements and continuous feedback. For that, sticking hardly to Akka.NET core release cycle is not effective.

[2015-05-20 20:59] #952 closed

[2015-05-20 21:51] stefansedich commented on #989
This should have been fixed by #993 closing it off.

[2015-05-20 21:51] #989 closed

[2015-05-20 21:53] stefansedich commented on #968
Closing this off as I have submitted a PR (#994) that allows selecting the implementation.

[2015-05-20 21:53] #968 closed

[2015-05-20 23:52] kaju opened #996 "Routers seem ignore supervision strategy"
If I provide a supervision strategy to a router config it never gets called on an exception from a routee.

It seems that the strategy gets overwritten be the default strategy in ActorBase.

Failing test:

[code]

[2015-05-21 01:11] Aaronontheweb commented on #996
Good find! would you mind submitting this failing test as a PR?

[2015-05-21 03:54] kaju commented on #996
Done

[2015-05-21 08:13] rogeralsing opened #998 "Move persistence providers into their own repositories"
After discussing with @akkadotnet/developers, we decided to move the persistence providers into their own repositores so that they can have their own release cycles and project management.

[2015-05-21 13:02] Horusiath opened #999 "F# API - problem with discriminated union serialization"
@neoeinstein found a problem with DU serialization/deserialization:

Gist with message types: https://gist.github.com/neoeinstein/30a38229c368313b721d

[2015-05-21 13:15] nvivo commented on #992
@adamhathcock

I don't think there is a branch for that yet, otherwise @Aaronontheweb would have mentioned it. Right now, the best thing for you is to fork and create your own experimental branch to see where it goes.

Once you have something, create a PR for analysis. Since this is a new target, I guess it will take time and lots of feedback before it gets merged. But it needs to start somewhere.

[2015-05-21 13:29] adamhathcock commented on #992
I guess I was hoping @ehaskins had one or something.  I wouldn't be sure what to do about the multi-project setup as VS2015 has xproj now for targetting .NET Core.

I just haven't done enough reading about best practices for all the next gen project setup.  I got something attempting builds but it felt ugly.

[2015-05-21 14:25] rogeralsing commented on #992
We discussed this yesterday and we in the core team is not going to involve ourselves in this_right now_, as this is not where our main user base is focused and the effort will distract us from finishing more important tasks.

That being said, if anyone is willing to give this a try, please do so

[2015-05-21 14:49] LukeTillman commented on #987
Closing since the PR has been merged. Thanks!

[2015-05-21 14:49] #987 closed

[2015-05-21 15:20] Aaronontheweb commented on #992
@rogeralsing beat me to the punch!

One day in the future, this might make a lot of sense for our users - but that's not where they are today. Hell, judging from the volume of "do you support .NET 4.0?" questions we get we're still considered to be bleeding edge in some circles by being .NET 4.5-only.

That being said, I would love to see a prototype of this in someone's fork as I'm personally int

[2015-05-21 15:27] ehaskins commented on #992
@adamhathcock @adamhathcock All I've done so far, is convert the Akka project to a PCL to see how many compile errors I'd get. Feel free to take a look at it [in the PCL branch of my fork.](https://github.com/ehaskins/akka.net/tree/PCL) I hadn't decided if I'll have the time to tackle this.

[2015-05-21 16:16] rogeralsing commented on #996
I've found the reason for it.

[code]

[2015-05-21 16:30] rogeralsing commented on #996
I've made a PR for this #1000

[2015-05-21 17:23] Aaronontheweb commented on #998
I'd recommend leaving the SQL Core stuff that's shared by SQL Server and PostGRES either in this repository, or have it reside in its own.

[2015-05-21 17:37] Horusiath commented on #975
I'll take that and make PR soon.

[2015-05-21 18:17] #975 closed

[2015-05-21 18:25] #996 closed

[2015-05-21 22:57] Aaronontheweb opened #1004 "Akka.Persistence.SQLServer nuget package doesn't take dependency on Akka.Persistence package"
Need to update the FAKE script to make sure that all Akka.Persistence implementations take an explicit NuGet dependency on Akka.Persistence.

[2015-05-22 06:31] Ranmoro commented on #889
How, in this example subscribe to a `Disassociate` event and other similar warnings in the data transport? To be able to close the lost connection.

If you disable the client - `RemoteActorRef.IsTerminated` property on the server does not change.
How use this property?

I think that would be useful to complement the example

[2015-05-22 17:35] rogeralsing commented on #157
I'll close this one, we have ported the things we want to port IMO and even started to make additions to the JVM docs

[2015-05-22 17:35] #157 closed

[2015-05-22 17:38] rogeralsing commented on #270
Is this still a problem now that xUnit 2 is out?

[2015-05-22 17:39] rogeralsing commented on #289
Is this a pre Fake issue or is this still relevant?

[2015-05-22 17:41] rogeralsing commented on #147
Anyone? should we bring in @MAOliver's code or do we have some other impl we should use?

[2015-05-22 17:44] rogeralsing commented on #965
Im closing this as #966 have been merged

[2015-05-22 17:44] #965 closed

[2015-05-22 17:46] rogeralsing commented on #727
Closing this as most people seem to get irritated with start pages.

[2015-05-22 17:46] #727 closed

[2015-05-22 18:11] rogeralsing commented on #970
Any progress on this @clca ?

We wouldnt mind getting our hands on it even if things are not complete

[2015-05-22 20:34] 4deeptech commented on #668
Guys, I have put together an implementation for this and had not seen this proposal. If somebody wants to review it, there is one Journal implementation for Table storage and two Snapshot implementations, one for Table and one for Blob.  All tests pass using the TestKit.  It also supports sharding across storage accounts with up to 16 accounts.  Tests configure 16 all using the same string. Pretty

[2015-05-23 09:53] rogeralsing commented on #871
Done in #1008

[2015-05-23 09:53] #871 closed

[2015-05-23 17:09] clca commented on #970
Waiting for the final step in the approval process. I should be able to push the code out next week (Mon is Holiday in the US)

[2015-05-24 17:32] LukeTillman commented on #998
Random thought, but maybe the SQL plugins could just be condensed into a single "ADO.NET" plugin? Similar to how SQL support is done in the Scala version via a JDBC plugin:

https://github.com/dnvriend/akka-persistence-jdbc

That way you'd end up with the shared SQL stuff there too instead of in its own library.

[2015-05-26 01:04] Aaronontheweb opened #1011 "ActorCell.DeathWatch InvalidOperationException during AddressTerminated"
Had the following exception occur here: https://github.com/akkadotnet/akka.net/blob/dev/src/core/Akka/Actor/ActorCell.DeathWatch.cs#L213

Exception:

System.InvalidOperationException occurred
  _HResult=-2146233079
  _message=Collection was modified; enumeration operation may not execute.
  HResult=-2146233079
  IsTransient=false
  Message=Collection was modified; enumeration operation may not exe

[2015-05-26 23:03] kekekeks commented on #846
I think we can close this.

[2015-05-27 01:02] #846 closed

[2015-05-27 15:41] rogeralsing opened #1013 "WithRouter(FromConfig.Instance) blows up if no config is supplied"
[code]

This line throws if there is there is no deployment config specified for "myactor".
It should just assume that the config is empty and use defaults

[2015-05-27 19:26] erdeszt commented on #999
Having the same issue. Sending discriminated unions to remotes fail with ```NullReferenceException``` (even with a simple Option type). Works fine with local actors.
I'm running mono 4.1 and f# 3.0 on linux mint 17(x64 the build target is x86).
Example code: https://gist.github.com/erdeszt/aece58b48bc4ebfe7090

[2015-05-27 23:28] MAOliver commented on #147
After I finish up some side-work (another week or two), I can devote ~5 hours a week to updating this to the latest version from akka.io and writing up the new tests. Assuming no one has grabbed this one by then.

[2015-05-28 10:12] Horusiath commented on #789
As discussed on Akka JVM thread, this is not a bug. Akka.Persistence mechanism uses snapshotting only as optimization technique. It shouldn't be used solely without event's persistence as it's not a safe mechanism in environment when infrastructure is not error-proof (basically any non-academic case).

[2015-05-28 10:12] #789 closed

[2015-05-28 10:14] Horusiath commented on #774
Could this one be closed?

[2015-05-28 10:18] Horusiath commented on #788
@willieferguson would you consider a PR for this one? If it's not finished yet but it's close-to-complete point, I think we could make a separate branch for it and make able to contribute from rest of the community. How do you think @akkadotnet/developers ?

[2015-05-28 10:24] Horusiath commented on #668
@4deeptech I've taken a look at your plugin. It looks good, but my only problem is that it's cheating users trying to make permanent delete. As Akka.Persistence supports both soft and hard deletes I think, that users who explicitly requested for a permanent delete, did so because they really mean it ;) Implementing both of them as logical flag switch looks clearly like work against user's intentio

[2015-05-28 10:28] Horusiath commented on #542
I was thinking on it for some time, but in conclusion, without proper support of .NET for class loading/unloading, this would probably end as half-backed library. IMO this could be probably quite useful for some scenarios, but should be implemented rather as third party library and not a part of Akka.NET core.

[2015-05-28 10:28] #542 closed

[2015-05-28 10:30] Horusiath commented on #280
As Akka.NET 1.0 was already released I think it's no longer an issue.

[2015-05-28 10:30] #280 closed

[2015-05-28 15:57] Aaronontheweb commented on #774
Hasn't been implemented yet. Caused a bunch of side-effects. I'll have to take a closer look at @smalldave's code and give it another try.

[2015-05-28 18:10] 4deeptech commented on #668
@Horusiath Ha...yes, we had a discussion about that.  I modified it to perform the permanent delete and refactored a few things.  Interested to see about performance.  Any word on #754?  I guess I should go find the pingpong test referenced.

[2015-05-29 03:42] rogeralsing commented on #999
I suspect that the actual serialization works, but that when we put that into the remoting envelopes we might lack the type information to actually deserialize it on the other end.

I will look into it

[2015-05-29 06:15] Ranmoro commented on #889
`system.EventStream.Subscribe(actorServer, typeof(DisassociatedEvent));`

[2015-05-29 12:21] willieferguson commented on #788
@Horusiath - I'm currently travelling with limited internet connectivity. I will create a PR early next week when I get back home. I need to merge upstream and squash my commits before I do that.

I've looked at your Akka.Streams port and have some comments. Maybe we should start a new issue to discuss streams and align efforts on the port.

[2015-05-29 17:05] Aaronontheweb commented on #1013
I actually don't think this is a bug. Rather than fail silently, you should be told if your expected configuration wasn't found.

[2015-05-29 17:15] rogeralsing commented on #1013
We need to look this up.
Imo, akka is largely based on the idea that you should just have to change the config and not the code to change how the application behaves.
And in this case that doesnt work, you need to change both config and code.

And even if this is the intended behavior, the given error message is cryptic and not helpful.

[2015-05-29 17:18] Aaronontheweb opened #1016 "Akka.NET v1.0.2 release - scheduled for Monday"
meant to do this a lot sooner but got tied up with work :p

We're going to ship Akka.NET v1.0.2 primarily to push **major** bug fixes for the following modules:

1. Akka (async / await)
2. Akka.Cluster (leader election)
3. Akka.DI (edge cases)

Due date is Monday. Will be putting release notes together before then.

**Any reasons why we should delay?**

We're doing small releases regularly, so "bu

[2015-05-29 17:22] rogeralsing commented on #1016
4. TaskScheduler replaced with DedicatedThreadScheduler

[2015-05-29 18:49] Aaronontheweb commented on #1016
Ah, and the XUnit 2.0 TestKit also

[2015-05-29 18:50] Aaronontheweb commented on #1013
I agree with that, but this is a case where there's either an application error or a configuration error. You should be able to switch the router implementation solely through configuration, but not whether or not a particular deployment is a router or not. That has to be done through code with `FromConfig` too because the relationship between the actor implementation being created and the `IActor

[2015-05-29 19:22] rogeralsing commented on #1016
+ Configurable scheduler

Isnt there even more?

[2015-05-29 19:38] Aaronontheweb commented on #1016
Akka.Persistence.PostGREs and Akka.Persistence.Cassandra

Lots of new contributors stepped up this month!

[2015-05-30 07:38] rogeralsing opened #1017 "Alternative transports for Akka.Remote"
I would love to see some alternative transport layers for Akka.Remote.
Lately there have been a lot of questions regarding different network aspects, security, throughput etc.
And I do think it would be beneficial the more integrations we have.

For example,
- X-Sockets.NET
- Libuv (NodeJS socket layer)

Libuv is known for its high performance, it would be very interesting to see how that would wo

[2015-05-30 12:40] kekekeks commented on #1017
Not sure if it should be alternative *transports* rather than network layers. At least in case of `libuv` we should keep the wire protocol intact.

[2015-05-30 14:02] rogeralsing commented on #1017
Its the transports that are pluggable.

[code]

I see no real reason why you would go Libuv node talking to a Helios node. you could just use the same transport on both sides as any transport specific features would be useless in that case.

[2015-05-30 14:32] beatsm commented on #1017
This may be a good as part of an alternative

http://mechanical-sympathy.blogspot.co.uk/2014/05/simple-binary-encoding.html?m=1#comment-form

Regards
________________________________
From: Roger Johansson<mailto:notifications@github.com>
Sent: ‎30/‎05/‎2015 15:02
To: akkadotnet/akka.net<mailto:akka.net@noreply.github.com>
Subject: Re: [akka.net] Alternative transports for Akka.Remote (#1017)

Its

[2015-05-30 16:58] rogeralsing commented on #1013
Turns out that we throw the exact same excepton message as JVM Akka does. I guess we have to stick with that then :)

[2015-05-30 16:58] #1013 closed

[2015-05-30 19:06] Aaronontheweb commented on #1017
Ewww, X-Sockets :p (proprietary)

I'd like to see something way out there

* Google Quic protocol
* [RGP](http://ieeexplore.ieee.org/xpl/freeabs_all.jsp?arnumber=515693) / reliable multicast protocols
* Shared / named pipes (not sure if this is possible since it doesn't use the IP protocol)

[2015-05-31 15:06] kekekeks commented on #1017
Helios for node running on Windows, libuv for node running on *nix.

[2015-06-01 17:48] jeffdoolittle opened #1020 "Akka.DI.StructureMap"
I can build and contribute it if there's interest but don't want to duplicate effort if someone else is already working on it.

[2015-06-01 19:00] jeffdoolittle commented on #1020
I didn't see any other work being done on this so heres a completed PR that implements StructureMap DI for akka.net

[2015-06-02 12:11] varghesep opened #1024 "Getting started example with multiple threads"
There is a [getting started example](http://getakka.net/docs/Getting%20started) shows how akka.net can be used. At the end of the example, it says "your actor is now ready to consume messages sent from any number of calling threads".

My first question when I read that sentence is (1) 'how to call the actor from multiple threads', secondly (2) can't this application be run in a multi-threaded envi

[2015-06-02 14:46] #1020 closed

[2015-06-02 15:11] Aaronontheweb commented on #1024
1. You call the actor from multiple threads by passing an IActorRef around, fundamentally not any different than any other .NET object you'd want to share about threads.
2. I don't understand this question. This is just a "hello world" sample for actors?
3. That's a good point - we actually don't explain this very well elsewhere in the documentation.

If you need more of the low-level stuff, http:

[2015-06-02 16:58] serpentthegreen opened #1025 "Two actors are created by remote deploy using Props.WithDeploy"
I'm trying to use remote deploy using Props.WithDeploy.
Following code illustrates the behaviour (loading configuration etc is not shown )

[code]

conf1/2 is loaded from standard configuration (with port 42000 for server and 42001 for client)

akka
{
    actor {
        provider = "Akka.Remote.RemoteActorRefProvider, Akka.Remote"
    }
    remote {
        helios.tcp {
            port = 42001

[2015-06-02 18:28] rogeralsing commented on #1025
I've tested the example and can verify that this is going on.

I also debugged the actor hashcode and context hashcode that clearly shows that both the context and the actor are different instances in both cases.

Both contexts has the same Self path, so it seems like remote deploy in some way creates two instances and ignores one of them.
This is a critical bug because if the actor decides to sen

[2015-06-02 18:55] rogeralsing commented on #1025
Investigating.
There are two different actor cells both receiveing the exact same envelope (as in the same instance)

[2015-06-02 19:05] rogeralsing commented on #1025
This code is invoked twice in Endpoint.cs

cc @Aaronontheweb

Any ideas why?

[code]

[2015-06-02 19:27] rogeralsing commented on #1025
`actor.Start()` is called twice from different locations. resulting in a `DaemonMsgCreate` message being sent twice to the remote daemon.

![start1](https://cloud.githubusercontent.com/assets/647031/7944928/fd8a96ec-096d-11e5-9b4e-76634b60db92.png)
![start2](https://cloud.githubusercontent.com/assets/647031/7944930/002cd6a8-096e-11e5-97fa-678942be7ccf.png)

[2015-06-03 00:30] #1025 closed

[2015-06-03 01:31] #1004 closed

[2015-06-03 02:38] varghesep opened #1035 "Two phase commit during persisting and raising events"
The following code is taken from the file EventSourced.cs. As I understand from this code, the event (for example an event like ProductCostReduced) is persisted first and the handler is called. Take a case where the event is persisted but the handler that sets the state threw an exception. You can also assume the system crashed after the event is persisted. This will cause the event is stored and

[2015-06-03 08:03] Horusiath commented on #1035
In case when event is persisted, but handler invocation throws exception or system crashes, actor gets restarted anyway. In that case if will eventually recover from all events stored in event journal - including already stored one. This way or another it will update it's state based on that event.

[2015-06-03 09:35] Horusiath commented on #1016
Since Akka 1.0.2 has been released, I'm closing this one.

[2015-06-03 09:35] #1016 closed

[2015-06-03 10:04] ssoshchepkov opened #1036 "NoSender actor serialization problems"
`NoSender` actor has two serialization related bugs:

1. `Serialization.SerializedActorPath` for `NoSender` returns 'akka://all-systems' instead of 'akka://all-systems/NoSender' because `NoSender` actor's name is a part of `RootActorPath`.
2. When `RemoteActorRefProvider` is used as an actor provider, deserialization of `NoSender` causes `RemoteTransportException`. It happens because `public IActo

[2015-06-03 11:11] varghesep commented on #1035
I don't understand where else the logic needs to be put other than in the handler logic. In this [example](https://github.com/akkadotnet/akka.net/blob/dev/src/examples/PersistenceExample/ExamplePersistentActor.cs) it is handled in the UpdateState handler.

The events can be internal and external. The internals can be the ones which update it's state of that actor. They can be replayed and brought

[2015-06-03 11:33] Horusiath commented on #1035
I think, we misunderstand each other. First I think what you're calling internal/external events is usually named as events/commands by convention.

1. **Commands** are messages that describe a process to be performed. They are not replayed, they are not persisted and when handled they should not change an actor's persistent state. Process, which handles a command, may decide to emit one or more e

[2015-06-03 12:08] varghesep commented on #1035
Thanks for clarifying the command and events separation. The scenario that you described will work in an intra Aggregate scenario. For example, within an OrderManagement BC. It is highly possible that this BC raised an event (not command) which has impact on a different BC like Forecasting. Any event that OrderManagement raises which impacts Forecasting can be called external. If those events are

[2015-06-03 13:00] Horusiath commented on #1035
As I've said, commands are not data to be persisted. Don't mix the responsibilities of the commands and events. Using your example you can simply send a new command to concerned actor in `Persist` method callback like this:

[code]

[2015-06-03 16:09] Aaronontheweb opened #1038 "Need to move BasicStructureMapUses project into examples area"
https://github.com/akkadotnet/akka.net/tree/dev/src/BasicStructureMapUses

This folder needs to be moved into the same area where all of the other DI sample projects are

[2015-06-03 22:13] #1011 closed

[2015-06-04 00:37] varghesep commented on #1035
Thanks for that tip. What if the Forecasting is a BC and lives in a different process or machine? Directly accessing the entities from other Bounded Context is not a DDD principle.

[2015-06-04 08:04] rogeralsing commented on #1017
@kekekeks that's more like a special version of helios, it could still make sense to have different transports if the backing implementation supports features that are missing from Helios

[2015-06-04 08:07] kekekeks commented on #1017
I don't see anything that `libuv` can support and Helios can't. `libuv` is just an abstracted I/O event queue after all.

May be it would be better to add `libuv` support directly to Helios.

[2015-06-04 08:13] rogeralsing commented on #1017
Without testing, I would guess that Libuv is a lot faster than Helios. that alone is a reason to have a transport based on that.

[2015-06-04 08:24] kekekeks commented on #1017
Argh. `livuv` isn't some magic, its replacement for `System.Net.Sockets` and is more efficient for *nix systems, but not for windows (because `System.Net.Sockets` are designed to perform well on top of I/O Completion Ports with dedicated I/O thread pool and `libuv` uses the concept of main I/O event loop which works well with `epoll`/`kqueue`).

1) You will still need to implemented all that logic

[2015-06-04 08:48] rogeralsing commented on #1017
I dont know where this comes from?
I'm not talking about _replacing_ the default transport.
I'm talking about having more options. nothing that goes into the core project.

[2015-06-04 08:52] kekekeks commented on #1017
If one create a `libuv`-based transport with incompatible protocol we'll have exactly the described situation.

[2015-06-04 09:00] rogeralsing commented on #1017
OK, so we don't build that specific one then.

X-Sockets has a huge community and I see no reason why we should not try to bring our and their user base together.

[2015-06-04 09:11] beatsm commented on #889
I have noticed this with all the examples that use the remoting infrastructure. I have been playing about with the code and regardless of how I shutdown a client actor system this error appears.

@Aaronontheweb must be right in that the clean shutdown code is racy but I have not been able to produce a condition where it works.I have not been able to confirm if this is racy as there is a lot of cod

[2015-06-04 09:54] uffebjorklund commented on #1017
I am one of the core devs at XSockets.NET and I love the idea presented here.
I will have to do some homework, but I will be happy to contribute in any way I can.

First of all I will get familiar with Akka, then I will get back to you guys

[2015-06-04 13:29] Horusiath commented on #1035
My code sample was just to clarify the idea. Different processes and/or machines doesn't change a lot - this is what actor location transparency is all about. And as you attached some of the Martin Flower's writings, you probably already figured out that you can use another actor to serve the role of Coordinator or Gateway.

[2015-06-04 23:33] Aaronontheweb opened #1042 "Add timeout to F# Ask operator"
Feedback from one of our trainees

Sounds like we need to add the ability to pass a timeout to the F# Ask operator. What's the easiest way to do that?

[2015-06-04 23:42] Aaronontheweb opened #1043 "F# PipeTo operator argument order"
CC @Horusiath what's your take on this?

[2015-06-05 00:00] jtmueller commented on #1042
The problem is that custom operators can only have two arguments, and the `<?` operator already has two. The only way to add in a timeout argument would be to change one of the arguments to a compound value like a tuple. Something like...

`let! result = actor <? (SomeMessage, TimeSpan.FromSeconds(1.0))`

But that syntax means you're required to specify a timeout. Another option would be to keep t

[2015-06-05 00:06] jtmueller commented on #1043
The angle brackets kind of got butchered. To make it easier to read...

The arguments to the pipeTo function are not in a useful order. When I want to forward async code to an actor and I don't care about specifying the sender, I use the `|!>` operator, which is very nice.

    async {
        // do stuff...
        return SomeMessage
    } |!> mailbox.Self

However, the `|!>` operator specifies A

[2015-06-05 10:59] varghesep commented on #970
I don't understand the benefit of using Service Fabric in AKKA.net except it can be used to deploy actor systems to Azure. Is it to integrate two actor systems deployed in multiple machines so they can work together? For example, there are two Microservices having two different actor systems in it. They can work in a pub-sub way through Service Fabric?

[2015-06-05 19:00] patrickede opened #1044 "nuget/Akka.Persistence.Sql.Common"
Download of Akka.Persistence.SqlServer does not appear to include Akka.Persistence.Sql.Common, nor does it appear to be available separately.  SqlServerPersistence.Init fails, not finding Akka.Persistence.Sql.Common, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null'

[2015-06-05 21:38] rogeralsing commented on #1036
Closed with #1041

[2015-06-05 21:38] #1036 closed

[2015-06-06 08:14] rogeralsing opened #1045 "Migrate to semantic logging by default?"
The internal logging in Akka.NET is based on the standard approach of generating strings of text that are written to a log.
Pretty much `String.Format("My Template {0} - Other stuff {1}",arg1,arg2)`

This works fine when logging to loggers such as NLog. but it works less ideal when working with a semantic logger like Serilog, as you will end up with a lot of data bound to the term "{0}" where all

[2015-06-06 08:20] stefansedich commented on #1045
I like this! I am camping so cant respond much but I will reply next week
with my thoughts. Having done some work to get serilog to work nicely
previosuly I have some thoughts here.

Cheers
Stefan

On Sat, 6 Jun 2015 18:14 Roger Johansson <notifications@github.com> wrote:

[2015-06-06 09:16] Horusiath commented on #1042
We could actually introduce overload over `ICanTell` interface to use F#-style optional timeout parameter. But changing ask operator would be harder - it will break existing API.

Scala has a notion of implicit parameters. Once variable with *implicit* keyword is introduced, it gets applied implicitly to all `?` operators in the same scope. We could mock similar behavior in Akka.NET - however this

[2015-06-06 09:22] Horusiath commented on #1043
1. I think we should change sender in `|!>` and `<!|` to CurrentSelfOrNoSender instead of just NoSender.
2. Yes I agree, we should probably change the signature of the `pipeTo` - again it's a breaking change, but I think it's not a huge one. Need an opinion: @akkadotnet/developers ?

[2015-06-06 09:22] Horusiath commented on #1043
1. I think we should change sender in `|!>` and `<!|` to CurrentSelfOrNoSender instead of just NoSender.
2. Yes I agree, we should probably change the signature of the `pipeTo` - again it's a breaking change, but I think it's not a huge one. Need an opinion: @akkadotnet/developers ?

[2015-06-06 09:30] rogeralsing commented on #1043
1. Should we really add to the mess of implicit context and curret sender?

[2015-06-06 19:52] DamianReeves commented on #723
+1 for making HOCON its own library

[2015-06-07 06:38] rogeralsing commented on #723
HOCON as its own library or not is a hard question IMO.
Typesafe has HOCON as its own library, but its also baked into Akka.

Under what namespace should HOCON live if it is a separate library? Cant really be Akka IMO.

I have thought about doing this for a long time but Im not sure its the best way forward for Akka.NET as a project.

Thoughts?

[2015-06-07 06:42] rogeralsing commented on #1042
IMO we should have a global timeout setting in the config also.
Asking with unlimited timeout is just asking for problems (<- see what i did there :) )

[2015-06-07 06:44] stefansedich commented on #723
I like hocon. I feel it living on it's own makes sense.

Does an umbrella organisation that owns all of these projects also make
sense? Typesafe.NET :D

On Sun, 7 Jun 2015 16:38 Roger Johansson <notifications@github.com> wrote:

[2015-06-07 06:52] rogeralsing commented on #723
Do you guys think that HOCON would be used outside of Akka.NET if we extract it?
For 3rd party configurations?

[2015-06-07 07:04] stefansedich commented on #723
I would use it over web.config if I had the choice.

On Sun, 7 Jun 2015 16:52 Roger Johansson <notifications@github.com> wrote:

[2015-06-07 11:01] DamianReeves commented on #723
First of all HOCON has some solid features on its own as a configuration system. Secondly it would offer users the opportunity to use a familiar config system for non Akka development.

[2015-06-07 11:04] DamianReeves commented on #723
The fallback feature is actually pretty useful too. Being able to parse HOCON from various sources and setup this fallback hierarchy offers some benefits that are not offered in the tool chain until in Asp.net vNext whose config system still has some sour points.

[2015-06-07 20:21] nvivo commented on #723
I was wondering, is this project related to the current implementation in any way? https://github.com/4agenda/OGS.HOCON

Anyway, I think it would be great to be able to use HOCON in other projects. I thought about reimplementing the parser using antlr, as the current one doesn't give many clues about errors. With the new configuration system in asp.net vnext, HOCON has a great chance of success.

[2015-06-08 00:09] jeremychild commented on #970
Not to be nasty @varghesep but that comment isn't very constructive. You don't have to understand the benefit of using Azure Service Fabric because nobody asked for opinion in this thread. Lets all try to stick to topics and be positive to one another!

[2015-06-08 00:59] varghesep commented on #970
@jeremychild Sorry, you felt that my comment is not constructive and not positive. Sorry that I should not ask a question on the benefit of using Azure Service Fabric with AKKA.NET.

[2015-06-08 06:45] Horusiath commented on #1045
1. What about performance?
2. Could we support both?

[2015-06-08 07:08] rogeralsing commented on #723
@nvivo cool, hadnt seen that one before.
I'll have to dig deeper into that and see pros/cons over our implementation.

[2015-06-08 07:41] rogeralsing commented on #1045
One way to solve it for the internals, would to make the actual log message into a resource that can be swapped out.

e.g.

`log.Info("foo bar {0}",yadda);`
becomes
`log.Info(LogStrings.FooBar,yadda);`

Then each individual logger could provide their own set of templates for all the internal messages.
That would be a beast to maintain through. any new log message would have to be added to each log

[2015-06-08 13:20] Silv3rcircl3 opened #1047 "SqlServer plugin little typo in the setup part of the readme"
In [this](https://github.com/akkadotnet/akka.net/blob/dev/src/contrib/persistence/Akka.Persistence.SqlServer/README.md) readme

[code]

And no look at it for five minutes ;-)
snasphot should be snapshot... drove me crazy :smirk:

[2015-06-08 14:32] rogeralsing commented on #1047
Fixed :) thanks for reporrting

[2015-06-08 14:32] #1047 closed

[2015-06-08 16:49] Aaronontheweb commented on #1044
Doh! Thanks for pointing this out - we'll update our build script to take care of that

[2015-06-08 17:29] patrickede commented on #1044
Cool, happy to help

[2015-06-08 18:42] clca commented on #970
we have an opportunity to leverage some of service fabric features to provide a great runtime environment for Akka.net. For instance we can make akka.net cluster management easier on service fabric by leveraging some of the Application Lifecycle Management feature it provides. For persistence we can leverage SF stateful-ness to provide reliable/replicated and low latency storage option for Akka.ne

[2015-06-08 21:38] Aaronontheweb commented on #970
@varghesep I didn't interpret your comment that way - it's a good question! And @clca did a great job answering it.

[2015-06-08 22:24] stefansedich commented on #1045
@rogeralsing I agree that having to have logging strings per logger would be a nightmare to maintain.

I wonder if we move to semantic based logging by default, we could then remove the need for the Default/Serilog message formatters that I added a while ago.

We can then look at migrating to our own semantic based message formatter (or even bring in the one from Serilog which does a good job) for

[2015-06-08 22:43] nblumhardt commented on #1045
One way I've seen this work is to use a structured format for the internal implementation, e.g.:

[code]

which is passed directly to structured loggers like Serilog that support it. (The new ASP.NET 5 logging pipeline is also compatible with this format).

When a text logger is plugged in, either:

* the formatting is performed ahead of passing the string to the text logger, so essentially `"Foo

[2015-06-09 09:35] rogeralsing commented on #1045
@nblumhardt what would be the best approach to re-use the serilog template parser?
copy paste reuse from the Serilog code into the Akka logging infrastructure?
I'd like to avoid to take dependency directly to Serilog from Akka core if possible.

[2015-06-09 11:25] rogeralsing commented on #1045
IMO, the current API where we can use either standard index based format, _or_ semantic names in the same methods is not a good approach imo.

if some bit of code gets passed a logger instance. there is no way to determine what kind of format that logger expects.
pass in the wrong format and the logger might blow up.

also, by changing the akka config, the loggers might blow up as the new loggers

[2015-06-09 19:49] rogeralsing commented on #1045
I've written a PoC that transforms standard index based format tempates into semantic tempates.

e.g.
`Drained buffer with maxWriteCount: {0}, fullBackoffCount: {1},smallBackoffCount: {2}, noBackoffCount: {3},adaptiveBackoff: {4}`

Becomes

`Drained buffer with maxWriteCount: {DrainedBufferWithMaxWriteCount}, fullBackoffCount: {FullBackoffCount},smallBackoffCount: {SmallBackoffCount}, noBackoffCou

[2015-06-09 21:04] stefansedich commented on #1045
How does it handle things that are not prefixed with anything of value
"Starting {0}:{1}" where for example 0 is Host and 1 is Port, I worry that
if we don't get this right now from the get go that we will again end up
with sub-standard logging that we are not happy with.

Cheers
Stefan

On Wed, Jun 10, 2015 at 5:49 AM Roger Johansson <notifications@github.com>
wrote:

[2015-06-09 21:46] clca commented on #970
I pushed the code for the first very early prototype/PoC of the Service Fabric Persistence service. Only Journal is support for now, Snapshot is work in progress.

[2015-06-09 22:07] Aaronontheweb opened #1050 "Akka.Cluster min-nr-of-members per-role doesn't work"
[code]

This should enforce the "don't mark member of role as up until N is satisfied" rule on a per-role basis via HOCON config. Does not currently work.

[2015-06-10 13:26] DamianReeves commented on #485
Any chance of relooking at this. I can't reference the new System.Collections.Immutable in my project because of Akka.Cluster's dependency on the old package.

[2015-06-10 15:58] Aaronontheweb commented on #485
@DamianReeves yessir - looks like as of May 11th System.Collections.Immutable is out of pre-release so we can reference it.

Would you like to send a PR with the reference changed or should I do it?

[2015-06-10 17:49] varghesep commented on #970
Thanks to both for the efforts. I checked for the PoC in the link that @rogeralsing provided but could not find any code. I'm eager to see the implementation.

I'm excited about the integration of the AKKA.NET with SF. I'm exploring the possibility of using the Service Fabric Reliable service with AKKA.NET actors. The scenario is to use Service Fabric Reliable Service to queue up the requests in a

[2015-06-11 01:17] skotzko opened #1052 "Akka.Remote EndpointManager error"
In testing a refactor of an [Akka.Cluster demo](https://github.com/petabridge/akkadotnet-code-samples/tree/master/Cluster.WebCrawler), ran into the below issue w/ the EndpointManager. At the time it occurred, there was a lot of disconnecting/reconnecting.

### Stack trace
[code]

[2015-06-11 07:37] rogeralsing commented on #1045
@stefansedich I absolutely agree, and my vote here goes to change our code to use true semantic logging.
But I suspect that even if we all agree on this, it will take a while before we are actually there.

my PoC could be used in the Serilog adapter, or in a fork of it. to allow users to extract some value out of our existing logs.
So it was not intended as a final solution but rather an experimen

[2015-06-11 07:42] nblumhardt commented on #1045
@rogeralsing regarding the parser - yes, I think `Ctrl+C`, `Ctrl+V` would be the recommended approach - keeps dependencies etc. down :-)

[2015-06-11 20:06] jkodroff commented on #1038
I got this.

[2015-06-11 20:50] #1038 closed

[2015-06-12 08:41] adamhathcock commented on #992
I've made my own branch and I got HelloAkka to work:
https://github.com/akkadotnet/akka.net/compare/dev...adamhathcock:coreclr?expand=1

.NET Core is still very much in flux but we're trying to use it anyway.  I've used a pre-beta6 to get some more of the reflection classes in.  VS 2015 RC defaults to beta4.

I'd like people just to glance at some of the things I had to do just to see if there mig

[2015-06-12 09:14] rogeralsing commented on #1045
I have been playing some more with this.
The built in message types `Debug` `Info` `Warning` `Error` (not the methods, the actual messages) does not have any formatting capabilities, they just contain a dumb string that is then used in the `LogEvent` message base type to create a `ToString` representation.

For Semantic logging inside akka core to be truly useful, that would need to be redesigned.

[2015-06-12 10:09] rogeralsing commented on #992
@adamhathcock awesome! :)

[2015-06-12 10:11] rogeralsing commented on #1050
Broken or just not implamented at all?

[2015-06-12 11:39] rogeralsing opened #1057 "Using an unknown loglevel for logging kills the entire system"
If you supply a config like `loglevel = Debug` instead of `loglevel = DEBUG` the entire system dies.
There is a warning in the log on what levels are OK, so that is good, but killing the entire system seems somewhat too strong IMO.

if you use a console logger, you will have a hard time to see why everything crashed.
Should we default unknown levels to DEBUG?

I mean, an incorrect remote address d

[2015-06-12 12:42] adamhathcock commented on #992
Finally figured out how to execute unit tests.  I'll think I'll leave it at there for now and wait for more beta milestones.

Hopefully, the CallContext thing is just not exposed yet.  From my understanding, it's needed to move static state along with async/await and I don't know any other mechanism that would work.

[2015-06-12 12:59] adamhathcock commented on #992
By happenstance, I literally found in the answer just after typing my last comment.  AsyncLocal<T> in DNX replaces CallContext.  Just updated the branch.

Okay, really trying not to overwhelm the discussion here :)

[2015-06-12 13:13] nvivo commented on #992
Funny that AsyncLocal seems to be available from .net 4.5 (at least msdn says so) , and I didn't see it before.

I didn't look into it yet, but I wonder why @StephenCleary didn't mention it when we asked him about options to flow context. Is this new or is this also being deprecated?  If this is available in plain old .NET,  maybe it's an option for the current flow issues.

[2015-06-12 13:21] StephenCleary commented on #992
AsyncLocal is coming in 4.6 (it's not in 4.5). It's essentially a wrapper around the logical call context.

[2015-06-12 16:06] Aaronontheweb commented on #1050
Looks broken: https://github.com/akkadotnet/akka.net/blob/dev/src/core/Akka.Cluster/ClusterDaemon.cs#L1508

[2015-06-12 17:08] nvivo commented on #992
Thanks for the clarification @StephenCleary.

Right, at MSDN (https://msdn.microsoft.com/en-us/library/dn906268(v=vs.110).aspx), the top of the page says both 4.5 and 4.6, but at the bottom it says only 4.6. That's why I was confused, only looked at the top.

[2015-06-12 19:50] Aaronontheweb commented on #853
Friendly reminder - we still run into a lot of issues with the `RemoteRouterSpec` tests. Just failed my release build three times in a row. Would really appreciate it if someone could look into those!

[2015-06-12 19:52] Aaronontheweb commented on #1057
Yeah, this is an oversight. I would log a bright red "ERROR" message for having an unknown log level (so the end-user knows that they've goofed,) but then treat all of the logging calls as debug calls thereafter.

[2015-06-12 20:29] Aaronontheweb commented on #1044
Resolved as of Akka.NET v1.0.3.

[2015-06-14 02:53] irperez commented on #453
Guys, I've been looking into this one, but I'm kind of stuck on one particular spot while unit testing.  I'm new to akka, so please be gentle :)

In particular, I'm calling context.Props.Mailbox inside the AbstractStash class.  And this is always = empty string.  And this is causing me a lot of headache as I'm not able to find how to get this to be any other value than an empty string.

Now just s

[2015-06-15 07:58] rogeralsing commented on #453
There is a lot of mailbox related configuration settings missing in our implementation.
I'm not sure we even read the mailbox section of the configuration right now.

[2015-06-15 10:38] rogeralsing commented on #1045
From Roland:

[2015-06-15 11:39] rogeralsing commented on #788
@willieferguson can we make a detailed document/issue on what is missing from the current implementation?
(or is there already one?)

If anyone is going to contrib to this, we need to know where to start.

40% of the tests seems to fail on my machine _sometimes_ is that anything you have seen before?

[2015-06-15 13:19] rogeralsing opened #1061 "Akka HTTP in .NET land"
In .NET we do have both Web API, NancyFx and some built in support for Http in .NET itself.
if/when we start to port Akka.HTTP to .NET. should we really intorduce yet a new layer of Response / status codes etc? or is it possible to base our work ontop of one of the existing solutions out there?

Should we just blindly stick to the JVM implementation even if there are established libraries for some

[2015-06-15 13:53] irperez commented on #453
I did take a peak at how we load the configuration and I couldn't find anything which led to my confusion.  Ok, at least I understand that.  Maybe I can take a peek into at least reading and loading the configuration into the config object.  Let me see what I can do.

[2015-06-15 17:34] rogeralsing opened #1062 "Creating a cluster router before the creating node has joined the cluster results in a broken router"
If you try to create a cluster aware router before the node that is creating it have managed to join its seed node, the router will be permanently broken, even after the node manages to join the cluster.
This results in racy systems if all your nodes are started about the same time.

I'm marking this as a bug as I believe that the router is intended to adapt even under those conditions.
As it woul

[2015-06-15 20:15] willieferguson commented on #788
@rogeralsing, I have ported most of the outstanding classes and will create a PR for them tomorrow. I will then add a task list to this issue, detailing outstanding work.

What we need most is people willing use and test. @bobanco, are you still planning on using Akka IO? I will start work an a project next week that will use Akka IO extensively, and should get some result on quality and performan

[2015-06-15 20:54] Aaronontheweb commented on #1062
This is not a bug. It's an explicit design choice.

The router is meant to be a transparent message distribution point for other actors - it's inherently racy as a result of the high-throughput, mailbox-less design of routers themselves. If you create a clustered router and immediately send a message to it before it receives any gossip messages, it won't have any routees.

Clustered routers are fu

[2015-06-15 20:56] Aaronontheweb commented on #1061
What does the akka-http package add that Nancy et al do not? Is there just some custom API scheme on top of actors?

[2015-06-15 21:02] rogeralsing commented on #1062
That is not the behavior Im describing here.
The router is dead completely, even after the node has joined the cluster.

So even if you send it messages after it joins the cluster, nothing goes through

[2015-06-15 21:07] Aaronontheweb commented on #1062
Ah crap, I misread this

This results in racy systems if all your nodes are started about the same time.

Ok, if that's the case then that's a bug. Do you have some code that can reproduce that?  I've not seen this one in the wild.

[2015-06-15 21:10] Aaronontheweb commented on #1062
Yeah, I've had nodes start up at bunches of random times and never ran into this problem - and I don't see how that this can even happen given how clustered routers subscribe to gossip events. Can you re-produce this in one of the multi-node tests? We have had issues with those lately for routers.

[2015-06-15 21:11] rogeralsing commented on #1061
Akka HTTP is like an actor based NancyFx.

So instead of building a Nancy module which handles different incoming Http requests, you create an actor that gets Get/Post/Put messages and pattern match on the URL passed in those messages.

But as I see it, it would be almost as easy to just spin up a self hosting Nancy module and just pipe incoming requests into actors.

[2015-06-15 21:19] rogeralsing commented on #1062
Ok the problem is apparently not that the router is created before the node joins the cluster.
I've explicitly tried to start the failing node first and then wait and start the others, and it all recovers nicely under those conditions.

But when I start all the applications at the same time, about 1 in 10 times, the node creating the router gets an error message and is then unable to use the route

[2015-06-15 21:31] Aaronontheweb commented on #1062
@rogeralsing can you confirm that the failing node was able to join the cluster in the Sad Panda scenario?

[2015-06-15 21:33] rogeralsing commented on #1062
Yes, see the "Member Up" events in the console, that window is the node creating the router.

[2015-06-15 21:44] rogeralsing commented on #1062
Here with full logging on.
Everything looks fine imo, but no router messages going through to the worker.
I can only replicate this when starting all nodes at the same time

![broke2](https://cloud.githubusercontent.com/assets/647031/8171477/5f8bc7f4-13b8-11e5-9161-cdab520458b6.png)

[2015-06-15 21:50] Aaronontheweb commented on #1062
Could you try a `GetRoutees` message on the router and log the results?

[2015-06-15 22:04] rogeralsing commented on #1062
![getroutees](https://cloud.githubusercontent.com/assets/647031/8171805/49cda506-13bb-11e5-85f3-f70e0a57faf6.png)

[2015-06-15 22:05] rogeralsing commented on #1062
There are two routees, both pointing to the worker node (there i a 2 per node setting in the confg)
So that part looks correct

[2015-06-15 22:09] Aaronontheweb commented on #1062
Ok, so in that case the router has routees. Why else wouldn't the messages go through? Can you try sending an identify message to the router and see if any of the routees reply back? Or if a dead letter gets logged on the remote-deploy target?

[2015-06-15 22:17] rogeralsing commented on #1062
Hmm. on happy path, when sending a Identify to each routee, they reply back with a correct ActorIdentity.

On Sad Panda. I get the routers from GetRoutee, but none of them responds to Identify

[2015-06-15 22:20] Aaronontheweb commented on #1062
This could be an issue with the remote deployment in Akka.Cluster then - there's a chance that those remotely deployed actors weren't correctly reaped / restarted during the initial failed connection. Cluster Deathwatch does work a bit differently than Akka.Remote deathwatch. I would look there.

One thing you can do is have a local actor on the Worker node send a message to the other actors who'v

[2015-06-15 22:23] rogeralsing commented on #1062
Yepp.

I've just verified that the workers are not started on the worker node in the failing scenario.
I added a console writeline to the actor constructor.

In happy path, that message appears twice as there are two workers per node.
In sad panda, the messages does not show up, despite that the router does have two routees

[2015-06-15 22:26] Aaronontheweb commented on #1062
Awesome! Found the bug!

$5 says that it's actually an issue with the cluster deathwatch implementation and the deploying side not knowing that the deployment side killed off / never deployed those actors.

[2015-06-15 23:36] nblumhardt commented on #1045
I read that as _"when is someone going to port Serilog to Java?"_ ;-)

(Seriously though, I'd love to give this a shot if someone with some better Java chops was interested. I've considered going it alone, but it's such a rich platform that for an outsider it'd be impossible to make this feel "idiomatic".)

[2015-06-16 05:18] MAOliver commented on #147
Initial integration complete and all tests passing.

Still to complete:

- Proper XMLDocs for all new classes
- Proper Test Descriptions
- Verify awaited tasks that exceed the timeout are handled (thread should die)
- Look at thread execution context for this implementation and verify that there isn't any surprising behavior compared to scala implementation
- Look at the akka.io current version /

[2015-06-16 05:30] Horusiath commented on #147
@MAOliver I've seen that you removed atomic counters in your implementation. Any specific reason for this?

[2015-06-16 06:20] Horusiath commented on #1061
If I remember correctly, in scala, akka-http has it's own unique API over HTTP primitives that are designed to be type safe in mind. I'm big fan of that. Also this is only some boilerplate code (guess with R# support half of it could be generated), while API separation gives us much more freedom.

[2015-06-16 08:56] rogeralsing commented on #1062
To make things even more strange.
I forgot to terminate the systems over night.
See the logs timestamps.

Sometime **10ish** hours later, the routees did come alive, just to die soon after that.

![strange](https://cloud.githubusercontent.com/assets/647031/8179297/13915702-1416-11e5-996d-484b65486b35.png)

[2015-06-16 09:36] rogeralsing commented on #1062
I've localized the problem to the node creating the router.

If we are in Sad Panda mode.
And then spin up another worker node, no messages are passed onto that worker either.
Even though the creating node clearly sees the cluster events for the new worker.

If I then start yet another creating node, this node will be able to communicate with both worker nodes.

[2015-06-16 10:18] rogeralsing commented on #874
Possibly related to #1062  (?)

[2015-06-16 14:56] rogeralsing commented on #1062
There seems to be some sort of connection problem to and from the creator node here.
In Sad Panda, if the worker node tries to spin up an actor on the creator node, the deployment succeeds and the actor is started,  no messages are however going through from the worker to the first node.

This all seems weird since clearly heartbeats are going through..

[2015-06-16 15:54] bobanco commented on #788
@willieferguson i have started integrating Akka IO into my project, actually am building SMPP server and client but it's far away from testing phase so i couldn't say anything right now, as i have tested with some basic server and client it worked well.

[2015-06-17 01:43] MAOliver commented on #147
My original implementation used:

[code]

I saw that akka.net got rid of AtomicInteger in favor of AtomicCounter and AtomicCounterLong, so I changed my base "AtomicState" to:

[code]

The original scala code is (roughly) analagous to a nested static class extending AtomicInteger with State as a trait (https://github.com/akka/akka/blob/master/akka-actor/src/main/scala/akka/pattern/CircuitBreaker.sc

[2015-06-17 12:48] willieferguson commented on #1061
Look at the Akka HTTP stack on https://twitter.com/typesafe/status/610852728206659584/photo/1.

There are a lot of advantages of having the full stack in Akka. I also like the idea that I can go up/down the stack depending on my requirements, and get a similar API, e.g. I'm currently building a solution that multiplex several connections, using different higher level protocols, over a single TCP c

[2015-06-17 13:20] willieferguson commented on #788
@rogeralsing: I'm currently aware of the following outstanding items on the IO port (I will keep this list updated as they get implemented):

- [X] DNS: Port DNS cache
- [ ] TCP: Port File IO  (in progress by @willieferguson)
- [ ] TCP: Port missing tests in TcpConnectionSpec and port TcpIntegrationSpec
- [ ] ByteString: Port missing members
- [ ] ByteString: Port tests
- [ ] ByteIterator: Port mi

[2015-06-17 17:07] bobanco commented on #1061
@willieferguson i agree with you, there are a lot of benefits to have Akka HTTP in .NET land, it could help us building more scalable HTTP API services using the actor model from the base to the top of the service implementation.

[2015-06-18 09:34] willieferguson commented on #788
@rogeralsing, I've created a Akka Remote transport based on Akka IO. Should this go into the Akka.Remoting assembly?

[2015-06-18 09:37] rogeralsing commented on #788
@willieferguson nice! :)
I think we should make a contrib package of that first. e.g. Akka.Remote.AkkaIOTransport or something like that.
This way we can evaluate it for some time

cc @akkadotnet/developers  whats your thoughts on this?

[2015-06-18 09:55] Horusiath commented on #788
Regardless, separate contrib package is always possitive diversity :+1:

The questions I'd like to get an answer for are:

1. What about SSL support? (I don't see it pointed out)
2. It would be nice to see akka-oriented performance comparison of both Helios and Akka.IO (nr. of messages passed / sec, memory footprint etc.).
3. I always wanted to ask TypeSafe, if they have a plan for switching from

[2015-06-18 10:33] rogeralsing commented on #788
@Horusiath yes there have been plans on the JVM side for a long time to switch to Akka.IO AFAIK.

cc @rkuhn, what happened to that effort?

[2015-06-18 10:42] rogeralsing commented on #1017
Related to #788 - Akka.IO Transport

[2015-06-18 10:45] rkuhn commented on #788
Switching to the message-based Akka IO is a lot less attractive than switching to Akka Streams—which gives a rather rich toolset for dealing with the associated issues. The current solution is rather complex since it is not built upon a proper stream abstraction. This answers why we have not yet pursued this issue: first we need to finish Streams.

[2015-06-18 10:46] rogeralsing commented on #788
@rkuhn is that work eventually going to replace the base Netty transport?
Or will you build streams ontop of Netty?

[2015-06-18 10:56] rkuhn commented on #788
Streams have everything from the network up, so we’ll eventually replace Netty completely.

[2015-06-18 10:57] rogeralsing commented on #788
:+1:

[2015-06-18 11:46] rogeralsing commented on #788
@akkadotnet/developers how comfortable are we about migrating the Akka.IO branch into main?
It seems to be fairly complete, if its possible to build and run an Akka transport ontop of it.

The problem with feature branches is that they get very little attention.
Most bugs and contributions pop up when the bits are easy to access for other devs.

So I think we should migrate it over to the Dev bran

[2015-06-18 11:47] rogeralsing commented on #1061
OK, I'm closing this, I just wanted to get some overview of what others thought.
Just so we dont start an effort that is already solved by existing .NET tools.

[2015-06-18 11:47] #1061 closed

[2015-06-18 11:50] Horusiath commented on #788
:+1:

[2015-06-18 12:12] #1024 closed

[2015-06-18 12:36] garethbudden opened #1065 "NUnit tests fail if the fixture contains more than one test"
I've hit a problem when trying to use the NUnit test suite, given the following example...

[code]
When I run the tests the first succeeds but the second fails with ```Akka.Actor.InvalidActorNameException : Actor name "test" is not unique!```

If I instead run the same tests but with XUnit then they succeed, I believe this could be related to #972, which says that NUnit keeps the ActorSystem aroun

[2015-06-18 14:03] willieferguson commented on #788
I will add the IO Transport, port the missing TCP tests and look at the intermittent test failures ASAP.

@Horusiath: TLS is currently not supported. I will look at options for TLS support next week, as I require this.

The current Transport implementation API will not work well with streams, but once steams are implemented one can implement a generic stream transport, which could then be plugged

[2015-06-18 14:15] rogeralsing commented on #1065
This is definitely a bug in the NUnit TestKit, this package is pretty new and thus not very well tested in the field.
We use XUnit TestKit internally.

[2015-06-18 14:23] garethbudden commented on #1065
One option would be to wipe the ActorSystem after each test run, as was mentioned in #972 this may not be performant, on the other hand it would be more consistent with how XUnit works.  Or is there a better way to handle this entirely?

[2015-06-18 15:52] rogeralsing commented on #1065
Yes, imo, we should spin up a  new instance of the system and init all the defaults after each test.
This is after all what happens in the XUnit Testkit, each parallel test has its own system and infrastructure

[2015-06-18 16:15] Aaronontheweb commented on #1065
Is this really a bug? The current design seems right to me - the actor system should be shared across all of the tests in a fixture. Our multi-node tests would all break if this wasn't the case.

[2015-06-18 16:17] Aaronontheweb commented on #1065
Ah, I take that back about the multi-node tests - that's not the case there.

[2015-06-18 16:21] Aaronontheweb commented on #788
How's the test coverage thus far?

[2015-06-18 16:21] rogeralsing commented on #1065
If the system was shared between tests, we would end up with a gazillion racy tests with completely undeterministic behavior

[2015-06-18 16:22] Aaronontheweb commented on #1065
Where inside the XUnit testkit does the actor system get shut down after each test currently?

[2015-06-18 16:24] rogeralsing commented on #1065
Yes, there is one instance per test in XUnit, all isolated

[2015-06-18 16:25] rogeralsing commented on #788
There is like 35 tests all passing for it.

[2015-06-18 16:26] Aaronontheweb commented on #1065
Can you walk me through that inside the code of the XUnit fixture itself? Like what's the call chain that actually makes this happen per-test? Everything looks per-fixture to me.

[2015-06-18 16:28] Aaronontheweb commented on #788
Ok, can we add two PRs then:

1. A documentation PR to https://github.com/akkadotnet/getakka.net
2. A code PR to this one

cc @willieferguson would you be comfortable writing a small markdown document for Akka.IO that explains to someone who's never used it before how it works?

[2015-06-18 16:36] rogeralsing commented on #1065
[code]

Run that in a testkit test and you will see that the systems in the two tests get different hash codes.
XUnit does weird scheduling so you cant actually step from the test init to the test methods

[2015-06-18 17:05] Aaronontheweb commented on #1065
Ok, got it. In that case I guess we should add a cleanup attribute to a method inside the NUnit testkit?

[2015-06-18 17:47] Horusiath commented on #999
@erdeszt This is JSON.NET issue (to be exact it's < 7.0 version issue) - your example doesn't apply to Akka.NET, since it uses default settings (akka serializer uses custom configuration, which provokes the problem). To fix this you may upgrade Newtonsoft.Json to version >= 7 . Also I've created a custom fork of Akka.FSharp called [Akkling](https://www.nuget.org/packages/Akkling/0.1.0-beta), which

[2015-06-18 17:55] #851 closed

[2015-06-18 17:59] #1044 closed

[2015-06-18 18:42] erdeszt commented on #999
@Horusiath thanks for the info and sorry for my confusion, I didn't know about the custom configuration of Json.Net.
Is there a chance for a patch release with the upgraded Json.Net lib? I'm not that keen on using my own fork or experimental libs.
Not that I don't like your approach I was also playing around with the F# api to make it more typesafe, so I'd be happy to see your changes in the offic

[2015-06-18 18:53] Horusiath commented on #999
I don't suspect to merge it into Akka.FSharp any time soon, since it contains some breaking changes to the API, and we can't afford to make them since library is already officially 1.0. I've decided to make independent lib, which is not bound by core Akka tooling (we can use F# specific tools like i.e. Paket or Project Scaffold this way) and release cycle. It will be probably merged back at some p

[2015-06-18 21:43] Aaronontheweb commented on #999
Yes, if JSON.NET 7.0 is stable then we will upgrade Akka.NET to use it.

[2015-06-18 21:44] erdeszt commented on #999
@Horusiath @Aaronontheweb thanks for the answers!

[2015-06-19 07:25] rogeralsing opened #1067 "Akka.Persistence.TestKit"
These three tests will give a false positive on the test result

[code]

They all pass, even if there is no real snapshot implementation. e.g. you just throw not impemented exception and the tests will still pass.

[2015-06-19 07:26] rogeralsing commented on #1067
cc @Horusiath

[2015-06-19 08:05] willieferguson commented on #788
@Aaronontheweb, Sure, I will write a getting started guide and create a PR on getakka.net. Can we link to akka.io for more detail?

[2015-06-19 18:22] Horusiath opened #1070 "Akka.IO: StackOverflowException received when ByteString is send back to Sender"
Consider that we have a TCP listener actor having following logic (basic ECHO service):

[code]

I've found that this would result in error inside [TcpConnection.DoWrite](https://github.com/akkadotnet/akka.net/blob/akka-io/src/core/Akka/IO/TcpConnection.cs#L656) method. Basically recursive call turns into infinite loop, since first condition `_buffer.HasRemaining` (*data has been sent*) is always

[2015-06-20 00:23] aprooks commented on #401
I'm having exactly same issue. Starting akka system within Owin context.

here are the list of dependencies:
[code]
code example

[code]

[2015-06-20 00:34] Aaronontheweb commented on #401
@aprooks saw someone report an issue with WebAPI too. I'll take a look at this starting on Monday.

[2015-06-20 00:39] aprooks commented on #609
Just my 2 cents about Paket. I've got 1 project which is maintained by c# devs only, so it is not intimidating at all.

Though we've encountered some issues, like some nugets, that modify VS building process or vs itself could not work at all. E.g. xunit test runner https://github.com/fsprojects/Paket/issues/516 or octopack https://github.com/OctopusDeploy/OctoPack/pull/64

Paket simplifies depend

[2015-06-20 00:41] aprooks commented on #609
@Aaronontheweb yes it should not be an issue to migrate FAKE scripts as well as a whole project to Paket. Migration is pretty straightforward and well documented.

[2015-06-20 18:04] aprooks commented on #401
I am using  `ActorSystem.create` for now. Which is working fine. The exception is thrown somewhere from within expression serialization support https://github.com/akkadotnet/akka.net/blob/dev/src/core/Akka.FSharp/FsApi.fs#L344

[2015-06-20 22:15] rogeralsing opened #1071 "Remote deployed actors are not removed from RemoteDaemon when stopped"
If an remote deployed actor is stopped using `.Stop(actoref)`, the remote daemon does not remove the actor from its internal lookup.
Thus preventing an actor with the same name from beeing re-deployed.

fix available in #1068

[2015-06-20 22:20] rogeralsing opened #1072 "Serializing ActorRef's that are not real actors yields incorrect result"
When serializing actor refs that are not of type `ActorRefWithCell` the serialized path is incorrect and thus, fails to resolve on the receiving system.
For example the remote daemon is one such actorref that if passed to a remote system, it can not be deserialized as the path serialized lacks address and transport information,
This is fixed in #1068

[2015-06-20 22:28] rogeralsing commented on #998
The annoying thing with having it in the core repo s that if you run all tests, you will se a lot of failing tests, unless you have both sql server and postgres installed and configured correctly.

[2015-06-21 16:03] rogeralsing opened #1074 "Akka.Persistence + Akka.Remote/Cluster serializes port numbers in journal/snapshot"
When Akka.Remote (Or cluster) is active, Akka.Persistence will serialize all messages using the systems `DefaultAddress`, so any serialized `ActorRef` in any message or state will contain the host and port number.

This means that if you use Akka.Remote with dynamic port numbers, if you restart (as in reboot a new process) the system and the system now gets a different portnumber.
Any message read

[2015-06-21 19:36] Aaronontheweb commented on #1074
depending on a serialized `IActorRef` in any persisted message is a playing with fire to some extent - `IActorRef`s are guaranteed to have existed some time in the past; there's never any guarantee that they still exist upon rehydration of messages from a persistent store.

This is why the `AtLeastOnceDeliveryActor` uses an `ActorPath` as its persistent target instead - so it can recreate an `Acto

[2015-06-21 19:38] Aaronontheweb commented on #1062
Have we confirmed that this is actually caused by #1071?

[2015-06-21 19:40] rogeralsing commented on #1074
Yes, i know how to get a local path. But the akka persistence code explicitly makes it a remote path with address.
I would like to know the reason behind this.

[2015-06-21 20:03] rogeralsing commented on #1062
Months is unrelated to that PR.

[2015-06-21 20:04] rogeralsing commented on #1062
Autocorrection :P

No this is unrelated

[2015-06-22 06:27] rkuhn commented on #1074
Whether with or without host & port, the result will be the same: since an ActorRef points to a specific incarnation it will need to be invalid after an ActorSystem restart—if you keep the same Address the new ActorRef will still have a different UID. Storing the fully qualified ActorRef in the journal makes sense for replay on different nodes, which is not a far-fetched scenario.

What Aaron was

[2015-06-22 06:30] rogeralsing commented on #1074
So why was it implemented using explicit remote ref serialization on the JVM?
Can that code be removed?

[2015-06-22 06:33] rkuhn commented on #1074
As I said: having the full address in there makes a lot of sense in valid use-cases, and removing the remote information does not help anyone; or am I missing something?

[2015-06-22 07:14] rogeralsing commented on #1074
Its probably just me that is not seeing the bigger picture here.

Isn't the persistent state supposed to be idempotent, so that when you replay all your events, you get back to the exact same state that you had before restart?
If the journal contains actorrefs, that can be either valid or dead, that will not be possible, you will end up with state that is similar but not the same (e.g. if the repl

[2015-06-22 07:16] #1070 closed

[2015-06-22 09:19] rkuhn commented on #1074
/cc @patriknw

If the journal contains ActorRefs then the desired semantics are that they shall be invalid when the Actors they pointed to are terminated—this needs to be consistent with all other uses of ActorRefs. This has nothing to do with idempotence, I think you meant omnipotence ;-) Seriously, though, there is nothing undefined here, to the contrary, everything is quite well defined.

Anoth

[2015-06-22 09:52] garethbudden commented on #1065
I thought I may take a stab at this one.

I've had a quick look and I think the simplest thing to do may be to take all the private fields from [TestKitBase.cs](https://github.com/akkadotnet/akka.net/blob/dev/src/core/Akka.TestKit/TestKitBase.cs#L38) and put them into a new private class called TestKitBaseState.

The XUnit implementation would be able to create and dispose this class using the con

[2015-06-22 11:03] rogeralsing commented on #1074
Thanks for the clarification.
I was talking to @Horusiath the other day about this an none of us knew why the transport information was used in the way it was for persistence.
Closing this :)

[2015-06-22 11:03] #1074 closed

[2015-06-22 11:10] patriknw commented on #1074
One use case where the full address is needed is Cluster Sharding. It saves ActorRefs of the active regions and when the coordinator is restarted on another node it should restore its state to the same as before, i.e. the ActorRefs must contain full address. Otherwise the ActorRefs that were local (no host:port) at the first location are not valid any more at a different location.

[2015-06-22 14:56] nibblesnbits opened #1076 "Akka.Di.Core 1.0.3 changed DI?"
Unless I'm doing something wrong, it seems DI is now completely non-functional in Akka.Net 1.0.3.

When I try to create an actor the old way:

[code]

I get the `Obsolete` message from `DIActorContextAdapter`

[code]

And yet when I use the normal way as it suggests:

[code]

The context never creates the actor; it fails silently.

Is this a known bug?

I'm setting the resolver with this line...

[2015-06-22 15:09] nibblesnbits commented on #1076
Ok, so [this method](http://getakka.net/docs/Dependency%20injection#creating-child-actors-using-di) works:

[code]

So really it's a documentation and syntax problem.  The `Obsolete` message isn't clear on the correct way to do things, and the general syntax is just not very clear for any of this.

[2015-06-22 18:00] rogeralsing opened #1077 "Create a remote test base class for two systems"
There are some tests that do set up a remote system and tests the interaction between the two, but this involves some not completely obvious config string replacements to make system name and port number dynamic.

It would be nice to create a base class for this kind of tests so that we can test remote interaction w/o throwing too much effort on the test setup.
`RemoteRouterSpec` does this and I t

[2015-06-22 18:04] davejclausen opened #1078 "Please allow Akka.DI.StructureMap to depend on >= StructureMap v2.6.3."
Thanks for the Akka.DI.StructureMap NuGet!

One of our projects requires StructureMap dating back to v2.6.3.

I have tested StructureMapDependencyResolver on StructureMap v2.6.3 and it seems to work perfectly well.

Could the Akka.DI.StructureMap NuGet manifest allow >= StructureMap v2.6.3?

Would you prefer me to make a pull request for this?

Many thanks.

[2015-06-22 18:29] rogeralsing commented on #1078
As long as there are no API changes that prevents Akka.NET from using it then it should be fine.
A PR would be welcome :)

[2015-06-22 18:38] rogeralsing commented on #1077
Or is this exactly what the MultiNodeSpec does?

[2015-06-22 18:50] davejclausen commented on #1078
Will do!  StructureMapDependencyResolver works perfectly well (unchanged) with StructureMap v2.6.3.  Thanks.

[2015-06-22 19:44] Horusiath commented on #1067
I think, that this bug live long enough to become a feature :) . When you're implementing from `SnapshotStore` class, any exception thrown in `LoadAsync` method is equivalent of *snapshot not found*. This is actually an expected behavior.

[2015-06-22 20:01] rogeralsing commented on #1067
I _think_ this passes even if there is no snapshot provider at all, which seems a bit too optimistic :)

[2015-06-22 20:41] rogeralsing commented on #1067
Nice :)

[2015-06-22 20:41] #1067 closed

[2015-06-23 00:43] Aaronontheweb opened #1084 "Port Akka.Remote MultiNode Tests"
#1082 and #1083 have reminded me that we need to bring over the multi-node tests for Akka.Remote itself.

Given how fundamental Akka.Remote is to our HA toolkit, these are important.

[2015-06-23 00:43] Aaronontheweb commented on #1077
This is what `MultiNodeSpec` does - but as @Horusiath has ported out, it needs to be documented.

[2015-06-23 03:28] rogeralsing opened #1085 "Remove RemoteDeploySpec"
The Akka.Remote.Tests : RemoteDeploySpec contains two tests that are just copy pasted from Akka.RouterSpec for some reason.
This file can be removed

[2015-06-23 03:29] #1077 closed

[2015-06-23 07:50] Danthar commented on #1076
First: Your right. The current syntax for registering the DI extension is abit non-intuitive. The reason its like that is because its the same as in the JVM Akka. Which since this is a Port of that, is something the project needs to adhere to.

That said, even though the project needs to adhere to certain rules, there is some leeway. Not sure if this falls into that category. That depends on how t

[2015-06-23 08:19] Danthar commented on #1076
Did an PR for the site improve the docs on this issue. https://github.com/akkadotnet/getakka.net/pull/85

[2015-06-23 19:04] Aaronontheweb opened #1087 "Add concise, clear logging around disassociation messages"
Lack of good information around disassocations is making it very difficult to debug Akka.Remote and Akka.Cluster. We need to add more details around why a disassociation occurred as well as how endpoint policies are being applied.

[2015-06-23 19:15] #1085 closed

[2015-06-23 19:24] #1072 closed

[2015-06-23 19:24] #1071 closed

[2015-06-23 19:30] Aaronontheweb opened #1088 "`Skip` attribute on MultiNodeFact does not work"
Still ran the tests I wanted to skip :\

![image](https://cloud.githubusercontent.com/assets/326939/8315198/afe4bc6a-19a3-11e5-8b76-513ce94e40e7.png)

[2015-06-23 19:50] Aaronontheweb opened #1089 "ClusterConsistentHashingGroupSpec and ClusterConsistentHashingRouterSpecs both currently fail"
The tests can pass on my machine, but fail regularly on the build server - hence why I commented them out in #1083.

I wanted to be able to get the `MultiNodeSpec` toolchain running regularly as part of builds going forward just so we get into the habit of treating Akka.Cluster like a release module and not something in permanent beta, so I commented out the flakey tests for the time being.

Creat

[2015-06-23 20:08] rogeralsing opened #1090 "Remote watching is repeated"
If like 243 is uncommented in the RemoteSystemDaemon:
[code]

The system that trigger the watch will repeatedly send `Re-watching` to the remote system.
![remotewatch](https://cloud.githubusercontent.com/assets/647031/8315934/1b5c5250-19f4-11e5-9213-77a02f3c74d2.png)

I guess this is not expected(?)
What and why is the reason of a re-watch?

cc @Aaronontheweb

[2015-06-23 20:17] Aaronontheweb commented on #1090
Yep, that's a mystery. Might be a bug in the `ReliableDeliveryActor` responsible for guaranteed delivery of system messages inside Akka.Remote

[2015-06-23 20:19] rogeralsing commented on #1090
Or is this intended, I found this peice of code:

[code]

See inline comments

[2015-06-23 20:20] Aaronontheweb commented on #1090
Oh yeah, definitely looks intended. Which class is this from? I'd be interested to see if it's still done this way on the JVM.

[2015-06-23 20:20] rogeralsing commented on #1090
RemoteWatcher.cs

[2015-06-23 20:22] rogeralsing commented on #1090
In any case, the above code explans why the rewatch appears in sync with the heartbeats.
But it seems expensive to do this for each beat imo.

[2015-06-23 20:26] Aaronontheweb commented on #1090
@rogeralsing looks like they still do this on the JVM too https://github.com/akka/akka/blob/master/akka-remote/src/main/scala/akka/remote/RemoteWatcher.scala#L150

so is there something we need to uncomment in order to enable this?

As far as the overhead goes, these messages are pretty small - but I can see why they added them from a semantic standpoint (re-affirm upon heartbeat that the remotely

[2015-06-23 20:30] rogeralsing commented on #1090
I sent a new mini PR for this #1091

[2015-06-24 19:05] Aaronontheweb opened #1094 "F# projects fail to build on Mono due to .fsproj definitions"
[19:03:50][Step 1/1]   1) Building /opt/TeamCity/buildAgent/work/49b164d63843fb4/src/Akka.sln failed with exitcode 1.
    [19:03:50][Step 1/1]   2) : /opt/TeamCity/buildAgent/work/49b164d63843fb4/src/examples/FSharp.Api/FSharp.Api.fsproj(0,0): /opt/TeamCity/buildAgent/work/49b164d63843fb4/src/examples/FSharp.Api/FSharp.Api.fsproj: The required attribute "Project" in Import is empty
    [19:03:50][

[2015-06-24 19:06] Aaronontheweb commented on #1094
I take that back, it's the F# projects that are triggering this issue specifically.

[2015-06-25 08:18] Horusiath opened #1096 "Port Finite State Machine DSL to Akka.Persistence"
Port [FSM](https://github.com/akka/akka/tree/master/akka-persistence/src/main/scala/akka/persistence/fsm) to Akka.Persistence. Nice thing to consider is support for recovering mechanism to update not only actor's state, but also it's behavior at the end of recovery cycle.

[2015-06-25 10:41] willieferguson commented on #788
@akkadotnet/developers, I'm now reasonably comfortable with the quality of I/O and there is now a doc page on getakka.net. Should we merge into dev?

[2015-06-25 10:54] Horusiath commented on #788
It looks fine for me. At the moment I'd like to see only two things:

1. List of things not done/tested yet in Akka.IO. @willieferguson you've written it, but is it up to date?
2. Part of the process is to document all public API (so public components only) with .NET xml comments.

It's not so pleasant part of the work, but it should be done at some point. However it could also be completed after

[2015-06-25 15:42] Aaronontheweb commented on #788
I agree with @Horusiath - need to add some XML-DOC comments since that shows up in our API docs: http://api.getakka.net/docs/stable/html/5590F8C9.htm

[2015-06-26 03:15] Aaronontheweb commented on #1090
Closed by #1099

[2015-06-26 03:15] #1090 closed

[2015-06-26 03:16] Aaronontheweb commented on #1094
Fixed this today by upgrading the build image to include the following (credit to @stefansedich for figuring this out)

That fixed the problem.

[2015-06-26 03:16] #1094 closed

[2015-06-26 03:17] Aaronontheweb opened #1100 "Update mono build targets to exclude MSTest projects"
MSTest doesn't play nicely on Mono, so we're going to have to create a build configuration for Mono using the `AllTests` FAKE target that doesn't attempt to compile this binary or run any of its associated unit tests.

[2015-06-26 03:47] Aaronontheweb commented on #998
Working on executing this now.

[2015-06-26 03:48] Aaronontheweb opened #1101 "Akka.Persistence.TestKit needs to reference Akka.TestKit.XUnit2 NuGet package"
Working on #998 and discovered that I have to manually remember to include the Akka.TestKit.XUnit2 dependency that the Akka.Persistence.TestKit takes. Please clean this up such that the Akka.Persistence.TestKit only explicitly depends on Akka.Persistence and Akka.TestKit.XUnit2 and not all of the individual XUnit 2 packages.

[2015-06-26 05:39] Aaronontheweb commented on #998
Akka.Persistence.PostgreSql is now properly setup with CI and build system support. Need to add release-mode CI support for publishing updated NuGet packages as well as nightly integration builds for the latest changes to Akka.Persistence itself, but that will be trivial to add.

[2015-06-26 05:42] #1062 closed

[2015-06-27 04:35] varghesep opened #1104 "Silent failure"
I have a persistenceid in the format

string.Format(@"{0}@{1}\{2}.{3}", serviceId, partitionId, nameof(SamplePersistentActor), Self.Path.Name

The persistence fails, and I have found out that I can't use backward slash in the persistence id.

Is there a way I can enable logging and see the errors like this?

[2015-06-27 04:57] Horusiath commented on #1104
1. What persistence backend do you use?
2. What kind of PersistenceId has been generated? Could you provide any example?

You can set logging to DEBUG level using `akka.loglevel = DEBUG` in your HOCON configuration. Optionally you can create supervisor actor over failing actor and define custom SupervisorStrategy - this way you'll be able to catch exceptions incoming from dying persistent actor.

[2015-06-27 18:49] rogeralsing commented on #1076
docs updated

[2015-06-27 18:49] #1076 closed

[2015-06-27 18:51] rogeralsing commented on #1035
Status here? Close?

[2015-06-27 18:52] rogeralsing commented on #972
Closing this as a fix have been merged. let me know if this is still an issue

[2015-06-27 18:52] #972 closed

[2015-06-27 18:53] rogeralsing commented on #1078
Status on this one?

[2015-06-27 18:55] rogeralsing commented on #998
Are all of them moved or is this still work in progress?

[2015-06-27 19:23] #1035 closed

[2015-06-27 23:01] Aaronontheweb opened #1105 "Format MultiNodeTest failures to show up as test failures in TeamCity"
If we could format the failures of multi-node tests such that they show up as proper test failures in TeamCity, that would make it a lot easier to figure out what is and what isn't working.

Any ideas on how to do this?

CC @annymsMthd

[2015-06-27 23:33] Aaronontheweb commented on #998
Still a work in progress - need to get SQL tests to pass (working on config), rinse and repeat the entire process for Cassandra, and then I need to submit a PR that removes all of them.

[2015-06-28 20:16] annymsMthd commented on #1105
I had done this in the branch where I did the tests with the app domain
stuff. I modified the console writer sink. I'll see if the branch is still
on our fork.
On Sat, Jun 27, 2015 at 4:01 PM Aaron Stannard <notifications@github.com>
wrote:

[2015-06-29 05:08] #998 closed

[2015-06-29 05:53] rogeralsing commented on #1057
I'm looking at this right now.
The problem is that, when the exception occurs, there are no loggers, as they have not yet been set up.

Should we catch the exception, store it in a var, and then once loggers are set up, check if we have a stored exception and publish it?
It feels dirty, but we cant publish exceptions to loggers that are not yet existing :)

Or should we just close this issue and c

[2015-06-29 20:56] mmisztal1980 opened #1107 "Hocon Persistence Configuration : connection-string"
Please consider replacing this key with connection-string-name or something similar. so that We can keep connection strings where ther're supposed to be kept (between 'connectionStrings' tags)

[2015-06-30 06:34] Horusiath commented on #1107
I think we could give people choice, either they want to insert connection string directly in HOCON using `connection-string` or they want to specify name in the connection string section using `connection-string-name` key.

[2015-06-30 18:01] sean-gilliam opened #1108 "Merge the Akka.Actor.Internals namespace into Akka.Actor.Internal"
There are two files under the src/core/Akka/Actor/Internals folder that have the Akka.Actor.Internals namespace:
[code]
In gitter chat it was acknowledged as an oversight and should be changed. The other two files in that directory have the Akka.Actor.Internal namespace which follows the naming convention of the other projects that have an Internal namespace.

We should merge the Akka.Actor.Intern

[2015-06-30 20:12] sean-gilliam commented on #1108
Upon further investigation, some assemblies use the *.Internal nomenclature for namespaces while others use *.Internals.

A standard naming for the internal namespaces would be nice.

[2015-06-30 20:38] lepinay commented on #999
Is there a workaround for this ? I've tried a binding redirect to JSON.NET 7.0 but still got the issue.
(null reference @ Akka.Serialization.NewtonSoftJsonSerializer.FromBinary)

[2015-06-30 20:47] Horusiath commented on #999
@lepinay could you paste a stack trace?

[2015-06-30 20:50] lepinay commented on #999
à Akka.Serialization.NewtonSoftJsonSerializer.FromBinary(Byte[] bytes, Type type)
   à Akka.Remote.MessageSerializer.Deserialize(ActorSystem system, SerializedMessage messageProtocol)
   à Akka.Remote.DefaultMessageDispatcher.Dispatch(IInternalActorRef recipient, Address recipientAddress, SerializedMessage message, IActorRef senderOption)
   à Akka.Remote.EndpointReader.OnReceive(Object message)

[2015-06-30 21:00] Horusiath commented on #999
Could you paste also a type, you're trying to serialize? ;)

[2015-06-30 21:14] lepinay commented on #999
Yes sure :)

[code]

[2015-06-30 23:50] stefansedich commented on #1100
This is done as part of the #1103 PR but we are now experiencing further issues, I am closing off this item and creating a new issue realted to our mono issues and builds.

[2015-06-30 23:50] #1100 closed

[2015-06-30 23:52] stefansedich opened #1110 "Issues with builds under Mono"
So Mono is proving to be a real pain, as per #1103 we now know that there is an issue with xunit2 under mono, and I have verified that this works using the latest mono nightly (4.3.0), our builds would be dependent on this release of mono containing fixes to get xunit2 working or we would need to run a nightly mono build on our agents.

Now that we are one step further along and tests can actually

[2015-07-01 05:38] Horusiath commented on #999
Ok, the reason is [here](https://github.com/akkadotnet/akka.net/blob/dev/src/core/Akka/Serialization/NewtonSoftJsonSerializer.cs#L130). F# can compile discriminated union either to form of class hierarchy or enum, but our hack around JSON.NET doesn't check the second case. I don't know if we solve it as a hotfix, probably it would be better to upgrade JSON.NET version dependency in next release an

[2015-07-01 07:46] #1108 closed

[2015-07-01 08:25] rogeralsing commented on #999
This test should verify if things work correctly.
It wraps the DU in an object array.

In the current impl, we cannot see what type the DU is when it is stored in an object or object array as it doesnt carry any type information by itself.
So we resolve that from the containing property. but if the container property is object or object array, we have no information to use.

We should try this out

[2015-07-01 08:41] forki commented on #999
/cc @eiriktsarpalis any ideas?

[2015-07-01 08:54] rogeralsing commented on #681
Starting this thread again

We need to find a serializer that supports these features:

1. It should be an instance, so we can associate it with a specific actorsystem.. so no static api
2. It should support polymorphic serialization.. so Cat and Dog comes out as Cat and Dog and not as Animal on the other end
3. It should support surrogates, so we can surrogate ActorRefs and such objects when seri

[2015-07-01 08:57] Horusiath commented on #681
cc #999 @akkadotnet/developers

[2015-07-01 11:44] rogeralsing opened #1111 "Cluster does not recover after closing a few nodes"
I've started a cluster with some 20ish nodes, and if I kill off a few of those nodes, 5+ in about the same time. the cluster doesnt recover in a reasonable amount of time.
It took some 10 minutes for it to become stable again, which seems a lot for such a small cluster.

(But it did eventually remove the killed nodes and stopped spamming)

[2015-07-01 15:38] Aaronontheweb commented on #1111
I assume that you had auto-down disabled during this.

A node, if it's suddenly removed from a cluster without first attempting to exit, will be marked as Unreachable but not "down." So the leader won't mark those nodes as down until they rejoin and explicitly exit the cluster without autodown turned off.

[2015-07-01 21:25] stefansedich commented on #1110
I have found an issue where Sockets and ReuseAddress does not seem to be working as expected under Mono and have logged a bug to get to the bottom of it, this is also a symptom of the connections not being cleaned up when the actor system shuts down @Aaronontheweb can give a clearer description of the case here.

https://bugzilla.xamarin.com/show_bug.cgi?id=31557

[2015-07-01 21:32] mmisztal1980 commented on #1107
Yeah, I agree - mutually exclusive choice is good.

[2015-07-02 09:12] isurakka opened #1113 "Akka.IO ByteString1C indexer always returns first element"
The offending line: https://github.com/akkadotnet/akka.net/blob/akka-io/src/core/Akka/Util/ByteString.cs#L102

Should probably return the element based on idx instead.

[2015-07-02 11:14] Horusiath commented on #1113
fixed by #1115

[2015-07-02 11:14] #1113 closed

[2015-07-02 17:28] Schandlich commented on #1061
I will say this, after moving from .NET to Java and being thrown into Akka at the same time; akka http is nice but the syntax is awful after working with Nancy and SparkJava. It is nice how easily and well it integrates with Akka as a whole, but simple things like routing and parameter parsing are just a pain in the butt. I am honestly just using it now because Play makes me want to poke my eyes o

[2015-07-03 13:32] nicklanng commented on #928
What sort of options do you think should be included in the generator?
Eg:
- Language choice: C# / F#
- Target Framework: 3.0, 4.0, 4.5, Mono 4.0.2
- Project type: Solution, standalone project, project in existing solution
- Package manager: Nuget, Paket

[2015-07-03 14:17] rogeralsing commented on #928
Those are not supported

[2015-07-03 22:27] Rajivhost opened #1120 "LightInject Support"
Hi,
That will be also really great if we can have LightInject (http://www.lightinject.net/) support.

[2015-07-03 22:41] Caldas commented on #1120
:+1:

-----Mensagem Original-----
De: "Rajiv Mounguengue" <notifications@github.com>
Enviada em: ‎03/‎07/‎2015 19:27
Para: "akkadotnet/akka.net" <akka.net@noreply.github.com>
Assunto: [akka.net] LightInject Support (#1120)

Hi,
That will be also really great if we can have LightInject (http://www.lightinject.net/) support.
—
Reply to this email directly or view it on GitHub.

[2015-07-05 15:10] lepinay commented on #999
Now I'm torn between converting all my fsharp code to the csharp API or waiting for a fix (I wish I could help but I'm have no clue on how to fix this)...is there any kind of work around even a not efficient one ? Would .NET default binary or xml serializer work ?

[2015-07-05 16:11] Horusiath commented on #999
@lepinay One of the workarounds is to create a marker interface, attach it to those F# types, that have to be serialized - only top message types. Then create a custom message serializer and associate it with this marker interface.

Here is working example using FsPickler:

[code]

[2015-07-06 08:15] lepinay commented on #999
@Horusiath Thanks for showing the way ;)

[2015-07-06 21:29] rogeralsing commented on #1061
This is exactly what I was afraid of, that the Akka Http API would feel awkward and that we might have something more mature in .NET already.
I'm personally a fan of Nancy.
@Schandlich is it how you handle messages in Akka.Http that is the main problem? that you cant express things like routes with dynamic args?

Maybe a special type of actor with an API similar to Nancy would be better?
Thoughts?

[2015-07-06 23:21] Schandlich commented on #1061
@rogeralsing The lack of documentation may be skewing my thoughts on it right now, but it just feels like this is waaaaaaaaaaaay too much.

[code]

From what I can tell, I don't see anything really special that akka-http does that any framework that is hosted on top of Netty couldn't do. They can still join the cluster, they can still create an actor per request, they still use Asks.

I would rath

[2015-07-07 05:04] willieferguson commented on #1061
In terms of the OWIN actors (http://owin.org/spec/spec/owin-1.0.0.html) Nancy is a _Web Framework_. I see the role of Akka HTTP Core more as a low level library to implement a _Server_.

Having a low level HTTP API to build a _Server_ has many use cases, e.g.:
1. Implement the TLS SNI extension, which is not supported in HttpListener afaik
2. HTTP pipelining (support in HttpListener unknown)
3. Ha

[2015-07-07 06:29] rogeralsing opened #1124 "Foody for monitoring"
The JVM side of things uses a lot of Aspect Orientation for injecting monitoring code into actors.
We have looked a bit on PostSharp for this, but there is also **Foody** https://github.com/Fody which we could take a peek at.

Even if Typesafe is working on a monitoring API, this could still be useful for use specific monitoring scenarios.

Anyone here that have used it?

[2015-07-07 14:15] arcturius opened #1126 "bug in F# discriminated union serialization"
Hello,

I have decided to give akka.net a try and unfortunately I faced a bug in 30 minutes after my start. The following my unit test crashes on my PC with the latest source code:

[code]
Stack:

Test Outcome:	Failed
Test Duration:	0:00:00.471

Result Message:	System.NullReferenceException : Object reference not set to an instance of an object.

Trace:
at Akka.Serialization.NewtonSoftJsonSerializ

[2015-07-07 16:30] rogeralsing commented on #1126
Yes, this is a known issue, Json.NET does not play well with DU's in many cases.
We still have no good workaround for it as Json.NET does not emit type information for DU's.

Related to:
#999 #737

[2015-07-07 16:34] rogeralsing commented on #1126
So, what does this actually compile into?
cc @Horusiath

[code]

Other DU's contains nested types for each entry in the DU, which allows us to do duType.GetNestedTypes() to get the possible types for the DU.
But in this case, there are no nested types, and the DU type itself does not have any ctor, neither public or private.

So what is `V2` behind the scenes?

[2015-07-07 17:05] rogeralsing commented on #1126
NVM, I figured it out, I submitted a PR for this here #1127

[2015-07-07 17:23] arcturius commented on #1126
Sounds strange as Json.net 7.0 works well with F# types. I think this issue is not related to it. I tried to run e.g. this piece of code:

[code]
Works fine for me.

[2015-07-07 17:33] rogeralsing commented on #1126
We are not yet on 7.0

[2015-07-07 17:36] arcturius commented on #1126
Again strange.. I took your code today. Compiled. I see nuget have installed Newtonsoft.Json.7.0.1 on my PC.

[2015-07-07 17:45] arcturius commented on #1126
Sorry, I am wrong. Indeed it is ver 6.0. Can you please tell me what are the plans regarding the upgrade to version 7.0?

[2015-07-07 18:03] rogeralsing commented on #1126
Yes, we have talked about it, but not decided when it should be done.
Json.NET 7 solves some issues but not all, e.g. deserializing object arrays containing DU's.
And we have not tested how it plays with our own serializer logic as we do quite a bit of special handing for things like `ActorRef`'s and other special message types.

We need a bit of time to evaluate how it works out

[2015-07-07 18:28] arcturius commented on #1126
I see. Looking forward to your upgrade. Meanwhile I will serialize DU's myself using version 7.0 and try to send strings between actors.

[2015-07-07 18:34] rogeralsing commented on #1126
Im trying Json.NET right now. is there anything special one need to do when using v7 and DU's?
I'm not seeing the fix, even if I remove all our own custom settings to the serializer.

[2015-07-07 19:00] rogeralsing commented on #1126
This is super broken....
The Json.NET 7 fix only works if there are no special deserialization logic for the values contained in a DU.
So if the DU contains an ActorRef, an integer (as we preserve type on those) or an ActorSelection it all blows up.

If you deserialize using the overload that takes a string and a json settings, then you still get a JObject back.
And you have to call .ToObject(type

[2015-07-07 19:40] rogeralsing commented on #1126
I was wrong, and Json.net yet again handles everything we throw at it..
By creating a JsonSerializer from the JsonSerializationSettings, we could then pass that into ToObject and everything magically works..
All is good :)

[2015-07-08 06:30] jordansjones commented on #1017
I'd be curious to see if [NetMQ](https://github.com/zeromq/netmq)'s [Request / Response Socket](https://github.com/zeromq/netmq/blob/master/docs/request-response.md) was a feasible transport option.

There is also an [FSharp port](https://github.com/zeromq/fszmq)

[2015-07-08 07:10] rogeralsing commented on #681
I've been testing a bit using Json.NET 7 with Bson writer.
That works pretty good.
There is a small quirk that Bson does not allow primitives as the root object. eg. if you pass a single integer.
So root primitives needs to be stored in some sort of envelope. other than that, all serialization tests pass.

if that works out, I think we should switch from json to bson, as bson is more compact

[2015-07-08 07:52] arcturius commented on #1126
Yes, DU are not the type in usual OO sense, but a hierarchy of classes that implement this algebraic type.

[2015-07-08 12:23] cpx commented on #1124
From what I've seen, Fody is the most useful when you want to do low-level weaving over an entire codebase, e.g. as in Obsolete.Fody or Janitor.Fody. It doesn't do aspect-oriented weaving by itself; that has to be handled by an add-in. If what you want is high-level AOP for monitoring, I think PostSharp is a more natural fit. It also has the benefit of being actively developed and commercially bac

[2015-07-08 20:51] Aaronontheweb opened #1134 "Deadlocks inside Akka.Remote.TestKit"
The multi-node testkit is essential for the Akka.NET v1.1 release, and we've only just recently started running it on 100% of nightly and PR builds.

There appears to be a deadlock condition that occurs when a transition inside the `TestPlayer` or `Conductor` fails; see this build log from a recent deadlock:

http://petabridge-ci.cloudapp.net/viewLog.html?buildId=1514&buildTypeId=AkkaNet_AkkaNetPr

[2015-07-08 21:24] Aaronontheweb commented on #942
I'm starting work on this issue now, but I agree with @nvivo. The way DI is done in both projects right now poses some real issues when it comes to testability and some other stuff. If there's a way we can make DI more transparent and allow Props / ActorOf to determine when it should be used, I'm all for it.

Maybe a *marker interface* on actor implementations that depend on DI?

[2015-07-08 21:49] Aaronontheweb commented on #1134
Another set of logs from earlier today: http://petabridge-ci.cloudapp.net/viewLog.html?buildId=1524&buildTypeId=AkkaNet_AkkaNetPrBuild&tab=buildLog&guest=1

    [21:29:17][Step 1/1] [NODE4][7/8/2015 9:29:16 PM][DEBUG][Akka.MultiNodeTests.ConvergenceWithFailureDetectorPuppetMultiNode4]: Role [fourth] started with address [akka.tcp://MultiNodeClusterSpec@localhost:49991]
    [21:29:17][Step 1/1] [NO

[2015-07-08 23:01] stefansedich commented on #1110
Just an update for those interested, I have done some digging into the sockets stuffs in mono itself, and have found something that I think is interesting when it comes to ensuring SO_REUSEPORT is set correctly.

It seems to only set SO_REUSEPORT when you have set SO_REUSEADDR if your socket is UDP. I did some hacking to remove a check in the sockets implementation and compiled my own mono and can

[2015-07-09 06:18] rogeralsing commented on #1126
Merged

[2015-07-09 06:18] #1126 closed

[2015-07-09 12:54] lepinay commented on #999
Work around works, except for part of my system where I use routers, messages are not delivered to routees (dead letters).

Will https://github.com/akkadotnet/akka.net/issues/1128 fix this or is it a separeate issue with the fsharp api and remote routers deployment ?

[code]

If I get rid of router and talk to parser "1" directly, then things work normally.

[2015-07-09 13:11] Horusiath commented on #999
@lepinay Roger's update should fix this one.

[2015-07-09 15:24] nvivo commented on #942
@Aaronontheweb, what would be the benefit of mark actors saying they depend on DI?

Maybe what I'm missing is: **why is DI so dangerous to Akka.net that it requires all of this knowledge that it is being used?**

The idea that DI is "too magic" is very subjective. Without going into that, I'd like to understand what can we do to make it more transparent and at the same time not hurt Akka in any wa

[2015-07-09 15:35] Aaronontheweb commented on #942
@nvivo

Breaks remote deployment and location transparency, which is more important than DI. Most things that are DI-ed can't be serialized.

[2015-07-09 15:35] nvivo commented on #942
@Aaronontheweb This is exactly why I asked: "can't we solve this instead?"

[2015-07-09 15:43] Aaronontheweb commented on #942
Yep, but the attitude you have to take is that DI is the exception for creating actors, not the rule. It should be used rarely. Hence why I suggested using a marker interface.

If you're using DI everywhere with your actors, you're doing it wrong. Full stop.

I've talked with @rkuhn before about designing a system where we could DI a remotely deployed actor on the target machine and he was interes

[2015-07-09 16:36] nvivo commented on #942
@Aaronontheweb I completely agree. I don't think anyone proposed that.

Could you elaborate on what are the current issues to make DI to be used with remote deploy?

From my understanding, given an actor A with dependency B anc C, there are 2 ways to achieve this:

1) You could tell the remote node to create the Props for "A" and let it solve B and C there locally; or
2) You could create a Props l

[2015-07-09 17:30] Aaronontheweb commented on #942
@nvivo actually yeah, now that I think about it - this is just a detail of how the `Props` is created, isn't it? So there's no need for a marker interface.

In the remoting case... you'd need to serialize all of the "injectable" targets as well as some metadata about who the `ActorProducer` is (i.e. a `DIActorProducer`) on the other side. If the other system can't support all of the injectable tar

[2015-07-10 08:33] Danthar commented on #1057
I would much rather have the system to be well-behaved in this regard then have it die silently. So i would vote for storing the exception in a var and publish it later when the system has started.

[2015-07-10 12:05] nvivo commented on #942
You said 2 things here that caught my attention:

(...)

This only makes sense is if you don't want to use DI. When you use DI, you can't make it the exception and use it rarely, it just doesn't work that way. And this is the problem with the current API in my opinion, it's made by people that don't like DI in a way to make it painful to use.

The issue is not typing 4 extra characters, but the fa

[2015-07-10 14:26] rkuhn commented on #942
The impression I get from pondering this discussion is that we are conflating two things that should rather be kept separate: creating an Actor means spawning a new isolated and possibly distributed independent agent of computation, this act is about delegating responsibility. The parent Actor’s intention and responsibility is to define exactly the task that is to be delegated. If it so happens th

[2015-07-10 14:30] jcwrequests commented on #942
I agree with Natan. If my memory serves me correctly NServiceBus handled the problem the same way as Natan suggests. At least in the open source version. Still I would recommend talking to Mark Seemann if I had a twitter account I would do it myself. Sorry for being annoying about that but he did write the book. :)

https://github.com/Particular/NServiceBus/tree/develop/src/NServiceBus.Core/Object

[2015-07-10 17:37] nvivo commented on #942
@rkuhn, If I understand you correctly, you mean that since the only parameters in an actor constructor should be the ones related to the task it needs to accomplish, and the parent *MUST* know exactly which task the child should perform, then `Props` should always be explicitly declared. Is that right?

And in that case, there would be no place for DI to create Props. That raises the question on *

[2015-07-11 00:05] Aaronontheweb commented on #942
I agree with this in concept, but in practice I think this is more of an aspirational standard. When a parent provides constructor arguments to the `Props` of a child it's delegating some task to, what's the test for distinguishing whether or not those arguments are really independent of the actor's ability to carry out that task or not? Isn't that just an implementation detail that's ultimately u

[2015-07-11 01:03] jcwrequests commented on #942
That is basically the same conclusion I came to as well. Nothing is perfect and you will never be able to please everyone.The way it currently works is a very practical. Perhaps it might be interesting to create an experimental Akka for testing new ideas like having DI be a core principal. Again I know everyone is busy but it could be interesting.

[2015-07-12 23:33] stefansedich commented on #942
@jcwrequests one thing if we are making some changes that I really dislike at the moment and that confused me the other day.

In the constructor for say the AutofacDependencyResolver we wire up the DI extension, so my initial config looked like:

    var system = ActorSystem.Create("import", config);
    var resolver = new AutoFacDependencyResolver(container, system);
    system.AddDependencyResol

[2015-07-13 14:31] nvivo commented on #942
I think it's more than the syntax of creating the dependency resolver. Currently, the way to use DI is:

`ActorSystem.DI().Props<Foo>()` or
`Context.DI().Props<Foo>()`

The real issue to me is that the DI system has nothing to do with the ActorSystem or with the actor context, but is tied there for reasons that are no longer valid.

If Props can be created independently of actor systems and a Prop

[2015-07-13 18:18] skotzko opened #1146 "Test issue (ignore)"

[2015-07-13 18:18] #1146 closed

[2015-07-13 23:21] stefansedich commented on #942
Ok some updates,

I have pushed a bunch of PRs to @Aaronontheweb fork that fixes our issues, what was done for the various contianers:

1. Windsor by default registers dependencies using a Singleton lifetime, changed test setup to register as a transient instance.

2. NInject was changed to use a child container so that we could handle deterministic dispose of all resolved dependencies for that pa

[2015-07-13 23:27] jcwrequests commented on #942
@stefanedich Nice!

[2015-07-13 23:50] Aaronontheweb commented on #942
I'll leave this and #1139 open for a bit to entertain the discussion around getting DI as it is right now to work as expected and to get clear on what those expectations are for the next couple of days.

Spent some time with @nvivo today discussing some possible options for making DI more transparent in Akka.NET in the future, which would require something much more radical than what's currently b

[2015-07-14 04:38] Aaronontheweb opened #1148 "Replace SystemNanoTime calls with the MonotonicClock"
Replace all instances of using https://github.com/akkadotnet/akka.net/blob/dev/src/core/Akka.Remote/SystemNanoTime.cs

With https://github.com/akkadotnet/akka.net/blob/dev/src/core/Akka/Util/MonotonicClock.cs

ProTip: expose a method on the `MonotonicClock` class that implements the behavior of `SystemNanoTime.GetNanos()` - don't convert all of the nano calls into using `TimeSpan` objects.

[2015-07-14 10:44] BartAdv opened #1149 "LocalShapshotStore uses raw persistenceId as part of path"
This causes crash (FileNotFoundException) [here](https://github.com/akkadotnet/akka.net/blob/cluster-sharding/src/core/Akka.Persistence/Snapshot/LocalSnapshotStore.cs#L185) if the persistenceId contains slashes (which is the case for some system actors for example).

[2015-07-14 12:10] Horusiath commented on #1149
Ok, in order to fix this we should use `Uri.EscapeDataString(persistenceId)` whenever accessing OS file system from within LocalSnapshotStore.

[2015-07-14 21:58] Aaronontheweb opened #1153 "TcpConnectionSpec.An_Outgoing_Connection_Must_close_the_connection_when_connection_handler_dies_while_connected intermittent test failures"
See build log for details: http://petabridge-ci.cloudapp.net/viewLog.html?buildId=1591&buildTypeId=AkkaNet_AkkaNetPrBuild&guest=1

[2015-07-14 22:17] Aaronontheweb commented on #1052
Possibly related to #1147

[2015-07-14 22:21] #1101 closed

[2015-07-15 04:06] irperez commented on #1111
Could you explain this configuration option?  Like how to set this in the Hocon for us noobs?  I've seen this myself when working with the crawler sample.

[2015-07-15 06:59] Horusiath commented on #1149
Closed by #1150

[2015-07-15 06:59] #1149 closed

[2015-07-15 22:30] #1153 closed

[2015-07-16 18:44] rogeralsing opened #1160 "Reorganizing Examples in the core repo"
Our current example folder structure is sort of messy.

![examples](https://cloud.githubusercontent.com/assets/647031/8731863/595d2d64-2bfa-11e5-8c87-f2d20d5f58eb.png)

Chat, Stocks, TimeServer, those do not describe at all what features they are built for.

I would like to see the examples grouped by feature.

e.g.
1. GettingStarted
2. Routing
3. Remote
4. Persistence
5. Cluster
6. Cluster.Shardi

[2015-07-16 18:48] rogeralsing commented on #999
As this has been merged, I'm closing this

[2015-07-16 18:50] rogeralsing commented on #1057
I'll make a fix for this one

[2015-07-16 19:23] rogeralsing commented on #485
This could be worth a look https://t.co/LqznNv3VjQ apparently, it has better perf than BCL

[2015-07-16 19:33] rogeralsing opened #1161 "Can we run multinode testkits using different transports?"
As we now have two different transport, Helios and Akka.IO transport, would it be possible to run the remoting/cluster tests using both transports?
I think that would be very good for finding bugs,
e.g. if some test fail using both transports, its likely that either the test is wrong or the remoting/cluster code is wrong.
If only one of the transports fail, its likely that there is some issue in t

[2015-07-16 20:07] sean-gilliam commented on #1160
:+1:

[2015-07-16 23:07] stefansedich commented on #942
For those playing at home I just merged in the PR that gets all of @Aaronontheweb DI tests passing, my next goal is to update the DI documentation spelling out a few things for the various containers that require specific configuration when registering actors and add some more information to help anyone starting out with Akka.Net and DI have the smoothest possible experience.

[2015-07-16 23:52] Aaronontheweb commented on #1161
Sure, you can do this - just need to run the tests twice one with each transport and run them with different configurations.

[2015-07-17 01:15] Aaronontheweb commented on #788
So we've brought in most of Akka.IO into dev. What else needs to be done here?

[2015-07-17 04:51] willieferguson commented on #788
The checklist above is still accurate. I am almost done with File IO and missing members on ByteString/ ByteIterator and will send PR for them soon.

[2015-07-17 11:49] Horusiath opened #1163 "Add default Ask timeout to HOCON configuration"
In Scala, ask timeout can be set implicitly, while in C#/F# this is not possible, and therefore it may feel repetitive and not safe (when user decided not to set it at all, there is possibility to hang forever). The idea is to add HOCON config key for setting the default timeout on `IActorRef.Ask` method in case, when user didn't specified it explicitly.

Proposal is to create `akka.actor.ask-time

[2015-07-17 12:28] nvivo commented on #942
@Aaronontheweb, is there a specific issue you will create to discuss the DI stuff, or can I create one?

[2015-07-17 15:58] rogeralsing opened #1164 "How much of Hocon should we support"
I've been looking into the Hocon spec a bit more and some of the stuff in there are just crazy.

We do support substitutions already, but according to the Hocon spec, substitutions should be able to self reference

[code]

In the above case the result should be "some value  and some more  and even more"
There is some conflicting info in the spec saying that substitutions should be done at the end,

[2015-07-17 17:44] Aaronontheweb commented on #942
@nvivo I think we should have a discussion issue around how to make DI more transparent. including the stuff you and I talked about on Skype (maybe merging Akka.DI.Core into the main assembly.)

[2015-07-17 19:34] rogeralsing commented on #1164
I've actually got some progress on this, we can resolve includes, and fixup substitutions in includes.
Not sure what to do with the self ref substitutions though.

The include resolver is a `Func<string, HoconRoot>` which we can optionally pass to the `ConfiguratonFactory.ParseString`, we can use this to resolve external configs as long as we return a hocon object back.

I also realized that since

[2015-07-17 20:45] #1065 closed

[2015-07-17 20:55] Aaronontheweb opened #1165 "Add "debug" setting to Akka.Remote and Akka.Cluster config"
Had a great suggestion from a training attendee yesterday that we add a "debug = on" setting inside both Akka.Remote and Akka.Cluster that disables failure detectors, or gives them an indefinitely long "missed heartbeat" window for both Akka.Remote and Akka.Cluster.

The idea is to stop disassociations for happening if you need to set a breakpoint while debugging an Akka.Remote or Akka.Cluster app

[2015-07-17 21:00] #270 closed

[2015-07-18 07:12] rogeralsing commented on #770
Related to #1164

I have implemented true object merging semantics so it should be possible to merge configs soon.

[2015-07-18 07:57] rogeralsing opened #1167 "Racy tests fail with out of memory error"
Is anyone else seeing these failures?
![racyfails](https://cloud.githubusercontent.com/assets/647031/8760857/2435b02c-2d33-11e5-8150-1172161be27b.png)

I get them when I run all the tests, if I re-run them they pass.
I get this on a fresh dev sync so it looks like there is something in the public repo.

[2015-07-18 07:58] rogeralsing commented on #1167
There seems to be some code that use `ReflectionAbstractionExtensions` and its nothing in our code.
Is it XUnit? is it Json.NET?

[2015-07-18 11:13] #1163 closed

[2015-07-18 11:14] rogeralsing commented on #1163
Fxed by #1166

[2015-07-18 17:00] Aaronontheweb opened #1170 "TcpConnectionSpec.An_Outgoing_Connection_Must_Send_Only_One_ClosedEvent_To_The_Handler_If_The_Handler_Commanded_The_Close intermittent test failure"
Saw an intermittent failure on `TcpConnectionSpec.An_Outgoing_Connection_Must_Send_Only_One_ClosedEvent_To_The_Handler_If_The_Handler_Commanded_The_Close` in #1169.

Full build log is available here http://petabridge-ci.cloudapp.net/viewLog.html?buildId=1696&buildTypeId=AkkaNet_AkkaNetPrBuild&guest=1

[2015-07-18 17:00] Aaronontheweb commented on #1167
I've not seen this error occur before. Is there anything new in your fork?

[2015-07-18 17:01] Aaronontheweb commented on #1167
These are all of the tests that do remote deployment - if you're working on the `Config` stuff it's possible that there could be some sort of loop + copy going on, but I've not seen this before off of `dev`.

[2015-07-18 17:14] rogeralsing commented on #1167
I have the same problem in a fresh dev branch, so even if I reset the entire repo I get this.

[2015-07-19 17:29] rogeralsing commented on #1167
I'm closing this one, seems to be an xunit problem on my machine, running a different subset of tests make the same problem appear on other parts of the framework.

[2015-07-19 17:29] #1167 closed

[2015-07-20 04:27] willieferguson commented on #1170
I will spin up a couple of instances on AWS to try and reproduce this more reliably. Should I create PR to skip TcpConnectionSpec temporarily while I look into this?

[2015-07-20 04:45] Aaronontheweb commented on #1170
@willieferguson I think it'd be useful not to skip it for now - see how often it actually comes up in subsequent PRs built on the CI servers. Plus it's also possible that @rogeralsing's PR #1169 didn't have your latest racy spec fix pulled into it, which might explain this.

The CI server build agents run on Azure Standard M4 instances with 2 cores and 8 GB of RAM. They're designed to be semi-ligh

[2015-07-20 04:50] Aaronontheweb commented on #942
cc @stefansedich still planning on documenting all of the recommending scoping / config options for each DI container in our docs? Once that's done we can close this issue out.

[2015-07-20 17:16] Aaronontheweb opened #1171 "Remove Akka.DI Examples"
Now that #942 has been completed, it's no longer necessary to keep examples of how to work with each DI container inside the Akka.NET project itself.

We'll be posting examples of how to call each DI container on the http://getakka.net/ website.

So in order to cut the build time and size of the solution down, we should remove all of the DI samples.

[2015-07-20 17:17] Aaronontheweb commented on #1160
related: #1171

[2015-07-20 17:23] Aaronontheweb commented on #289
We moved to doing NuGet package restore inside FAKE on-build a while back.

[2015-07-20 17:24] #289 closed

[2015-07-20 17:24] Aaronontheweb commented on #1105
CC @annymsMthd any chance we could see a PR for this? Would help a lot with some of the Akka.Cluster stuff that we're doing :D

[2015-07-20 18:27] Aaronontheweb commented on #1087
Just spent some time in a new branch working on this. Cleaned up the `ProtocolStateActor` - it's not really responsible for any of the `disassociate` log messages so I thought I'd post that here and save others the trouble :p

[2015-07-20 21:04] #681 closed

[2015-07-21 07:07] #1148 closed

[2015-07-21 11:47] rogeralsing commented on #1164
This has been merged.
Will open up a separate issue if we ever think we need self referencing substitutions.

[2015-07-21 11:47] #1164 closed

[2015-07-21 13:27] #774 closed

[2015-07-21 13:28] rogeralsing commented on #797
I'm unable to find the cause for this.
Any help would be welcome :)

The problem is super easy to reproduce, just grab the PingPong benchmark code from the source repo and run on a Raspberry PI2, it will from time to time freeze up

[2015-07-22 07:39] Horusiath opened #1175 "Change immutable map implementation"
Right now our `IImmutableMap<TKey, TValue>` implementation is based on AVL trees. It's used i.e. in child actors containers. However it has some known perf issues when it comes to adding new child actors. Also current impl doesn't support range queries, which will be highly desirable i.e. in `Akka.Cluster.Tools` plugin.

The idea is to switch implementation to Red-Black trees (like the ones used i

[2015-07-22 16:59] rogeralsing commented on #1175
We should give this a try imo. the AVL tree is horribly slow when inserting a lot of children.

[2015-07-23 07:18] rogeralsing opened #1177 "Roslyn code analyzers"
At this point, the codebase is so large that it is hard to get a good overview of it by just reading the code.

Therefore I'm planning to build some Roslyn code analyzers to verify that our codebase does not contain any known anti patterns.
For example, we can find if there is any code that access the `Context` inside a continuation, or if there are any mutable types used in calls to `Tell`
- Fnd

[2015-07-23 07:51] Horusiath commented on #1177
Does this one applies to `Sender` property of an actor as well?

- Find any Tell/Ask calls in actor's recovery method. This is an anti-pattern.

[2015-07-23 09:07] rogeralsing commented on #1177
We could absolutely include that too.

[2015-07-23 10:32] rogeralsing commented on #1177
cc @Aaronontheweb if we make this as a commandline tool,would it be possible to run this as part of the build/PR process?

It would be nice to auto catch standard code mistakes in every PR

[2015-07-23 12:10] rogeralsing commented on #1177
I'm already finding a few problems :)

We should also scan for non used types

[2015-07-24 09:33] Horusiath opened #1181 "Plugin proposal: Akka.Persistence.Sqlite"
Since we already have `Akka.Persistence.Sql.Common`, making a SQLite backend for it should be fairly easy. But more important - since it doesn't require any heavy OS changes - it could be used as default plugin for all test projects, that must depend on some kind of shared/persistent journals for test purposes (i.e. Akka.Cluster.Sharding). It's also good point for possible integration with Akka on

[2015-07-24 20:06] Aaronontheweb commented on #1171
closed by #1180

[2015-07-24 20:06] #1171 closed

[2015-07-24 22:35] rogeralsing commented on #1177
We should probably check for sender/self/context in closures passed to the scheduler also.

[2015-07-25 00:24] Aaronontheweb commented on #1177
@rogeralsing yep, we could do that - we'd just need to stick the .exe somewhere and add a FAKE build step.

IMHO, best place to stick this type of functionality would be a visual studio extension though.

[2015-07-25 13:34] Horusiath opened #1184 "Add dedicated output logger for xUnit2 TestKit"
With xUnit2 console output has began to be ignored by test runner - authors explain this by parallel test runs messing with console output. Therefore idea is to use [output substitute for xUnit2](http://xunit.github.io/docs/capturing-output.html) and create a dedicated logger for it to be used within TestKit specs by default.

[2015-07-25 19:26] creepone opened #1185 "ReceiveTimeout messages not delivered after an async receive handler execution."
After execution of an async receive handler in an actor suspends the mailbox so that the `ReceiveTimeout` messages are not delivered, until the next message resumes the mailbox. In a following example:

[code]

after sending a string message to an actor initially, even though a receive timeout is configured, the `ReceiveTimeout` handler is never called.

Using a synchronous handler (replacing `awa

[2015-07-25 22:05] Horusiath commented on #1181
New [repository](https://github.com/akkadotnet/Akka.Persistence.Sqlite) has been made and initialized. Right now we only need to integrate our CI, make some reviews and publish NuGet package.

[2015-07-26 07:29] Horusiath commented on #1175
After short investigation it looks like `SortedDictionary` (both mutable and immutable versions) uses red-black trees under the hood. Is switching to `ImmutableSortedDictionary` a viable option?

[2015-07-26 15:51] rogeralsing commented on #1185
In ActorTaskScheduler.cs :
[code]

[2015-07-26 15:55] rogeralsing commented on #1177
@Aaronontheweb yepp, but it would still be nice to have it handled at build server level too, as we can't expect everyone to install such analyzer in VS. nor that they would comply with the warnings it raises.

[2015-07-27 19:55] SeanKilleen opened #1186 "127.0.0.1 and localhost cannot be used interchangeably."
Per gitter conversation with @rogeralsing and @Aaronontheweb.

This gist has a problem in that messages will be dropped:

https://gist.github.com/SeanKilleen/9789908587de09cfe0f9

The reason for this is that I mix the concepts of `localhost` and `127.0.0.1` within the code. In the configuration, we define 127.0.0.1, but in the `RemoteScope` definition we use localhost.

Theoretically, these should

[2015-07-27 20:15] Aaronontheweb commented on #1186
These values should not be interchangeable in Akka.NET - you bind an address to a hostname or IP, and that's how you address it. There are some reasons at the transport layer why this is a good idea, but the biggest reason is to enforce Akka.NET's concept of explicit choice.

However, from a DevOps perspective this is why the `public-hostname` config value exists in Akka.Remote:

[code]

The reaso

[2015-07-27 20:27] SeanKilleen commented on #1186
@Aaronontheweb fantastic explanation, thank you. Makes a lot of sense.

From the perspective of someone new to the framework, maybe we can include a note in the docs in the remoting section, a la "A quick note on hostnames vs IP Addresses". I think we could sum this up as "you may think that 127.0.0.1 and localhost are the same thing, but this is not a guarantee. Make sure these agree in your conf

[2015-07-27 23:25] Aaronontheweb commented on #1186
Yeah, this is an issue of understanding how low-level socket programming stuff impacts the way you use Akka.NET over TCP / UDP. I'd be **great** if you could add something to the docs about that. We have virtually nothing on Akka.Remote today. Would you mind adding a new page / folder for Akka.Remote configuration on http://getakka.net/ ?

[2015-07-27 23:29] SeanKilleen commented on #1186
Sure thing. I'll leave this here until I get an issue created in the appropriate repo that can refer to it.

[2015-07-28 07:12] #1181 closed

[2015-07-29 05:56] Aaronontheweb opened #1188 "Need to create JMX-style commandline tool for manually modifying Akka.Cluster membership"
So I had the realization this weekend that there's a massive piece missing to Akka.Cluster: http://doc.akka.io/docs/akka/snapshot/java/cluster-usage.html#cluster-command-line-java

if we don't have `auto-down` turned on inside Akka.Cluster (and it's risky to turn it on, for reasons I'll explain) then today there's no way to really "remove" a node from a cluster without writing code that does it in

[2015-07-29 06:12] Aaronontheweb commented on #1188
Ah, I just received an email from Viktor Klang about this - apparently the JMX endpoints and the commandline tool aren't used very much.

So one thing we should be encouraging Akka.NET developers to do instead if they use Akka.Cluster is run this code when a node needs to leave a cluster:

```Cluster.Get(system).Leave(address)```

That will gracefully remove a node, and that command can be execute

[2015-07-29 06:14] Aaronontheweb opened #1189 "Number of routees reported on Clustered Group routers doesn't reflect actual number of routees cluster-wide"
Issue was originally reported here: https://github.com/petabridge/akkadotnet-code-samples/issues/31

I've been able to verify that this is a bug inside Group routers. Looks like the number of routees correlates to the number of different `routees.paths`, when it should be `routees.paths` count X number of nodes.

[2015-07-29 09:56] OlegGavrilov opened #1190 "Add ConfigR support."
Hello everyone,

Is it a good idea to add support of [ConfigR](https://github.com/config-r/config-r) config files?

[2015-07-29 16:09] sean-gilliam commented on #1188
If we build such a tool, how would security be handled? Obviously you don't want every Tom, Dick and Jane developer downing a node because trololol.

[2015-07-29 18:58] Aaronontheweb opened #1191 "Create nightly + release build configurations for Akka.Persistence implementations on TeamCity"
Need to be able to do the following:

1. Each time there's a change on `dev` for this repo, kick off a new nightly integration build for every Akka.Persistence.Contrib implementation
2. Each time there is a release on `master` for this repo, kick off a similar release with the same version numbers for Akka.Persistence.Contrib

This will probably involve modifying the FAKE script for each of those

[2015-07-29 18:59] skotzko commented on #1191
*raises hand timidly to volunteer*

[2015-07-29 20:27] sean-gilliam opened #1192 "Exception naming inconsistencies"
I was going through the code about to further document what methods throw what exceptions and noticed a couple of things.

* in \src\core\Akka.Remote\Endpoint.cs these classes don't follow the .NET Exception naming convention, ```ShutDownAssociation```,  ```InvalidAssociation```, and ```HopelessAssociation```

* in \src\core\Akka.Remote.TestKit.BarrierCoordinator.cs these classes don't follow the

[2015-07-29 20:33] sean-gilliam commented on #1192
I also noted quite a few ```throw new Exception(...)``` instead of a more specific ```Exception``` being thrown.

[2015-07-29 22:05] Aaronontheweb commented on #1192
@sean-gilliam yeah, you're right - we should clean this up.

Might not be a big deal - depends on where it is. Are these inside the core modules?

yep, I like this idea. Go ahead and rename those - these exception types aren't propagated externally so there's no risk of breaking the API.

[2015-07-29 22:56] Aaronontheweb opened #1193 "Akka.NET v1.0.4 Release"
Held a contributor meeting today and I'm happy to announce that we will be doing a new stable release, v1.0.4, next Tuesday August 4th.

The release will consist of the following:

1. New Akka.Persistence implementations: SqlLite and MongoDB.
2. Bug fixes to Akka.Remote, Akka.Cluster
3. The introduction of Akka.IO - an exciting new way to communicate directly to Akka.NET processes via TCP and UDP.

[2015-07-30 00:41] skotzko commented on #1186
@Seankilleen great one to bring up. You are *definitely* not the only person who has thought this (*raises hand*)...

Also, @aaronontheweb and I are going to be writing a bunch of docs on remote/cluster over the next few days so let's sync up about that and make sure we aren't duplicating work.

[2015-07-30 00:42] skotzko commented on #1104
@varghesep any update on these questions?

[2015-07-30 02:06] Aaronontheweb opened #1194 "ThrottleTransportAdapter throws OverflowException if system up time is longer than a few days"
This bug was hilarious - never was able to find it on the build server because the system up time for each build agent is small (they're created on-demand,) but it's come up every time I've tried to run the Akka.Remote test suite on `dev` on my local machine since #1174 was merged in.

`ThrottlerTransportAdapter_must_maintain_average_message_rate` would fail, repeatedly, every time.

Here's the is

[2015-07-30 05:50] Horusiath commented on #1104
I think that this problem was related with #1149 .

[2015-07-30 07:06] wmeints commented on #1160
Looks like a fun job to start with. Mind if I go ahead and give this a shot?

[2015-07-30 08:01] rogeralsing commented on #1192
Ill add a Scan for "new Exception" to the analyzers too. We really should clean those up imo

[2015-07-30 12:47] varghesep commented on #1104
@skotzko It was a LocalSnapShotStore. I assume the **\** was generated from **Self.Path.Name**.

[2015-07-30 14:22] skotzko commented on #1160
@wmeints go for it, thanks!

[2015-07-30 14:23] skotzko commented on #1104
@Horusiath should we close this then?

[2015-07-30 14:46] sean-gilliam commented on #1192
There are quite a few bare exceptions being thrown in the core modules.

[code]

This doesn't include the ones in the examples, but since they're examples they can probably be ignored.

[2015-07-30 16:28] Horusiath commented on #1104
Yes, this problem has been already issued and fixed with #1150

[2015-07-30 16:28] #1104 closed

[2015-07-30 18:39] Aaronontheweb commented on #1188
That's a great question @sean-gilliam - in Java land they are able to set JMX permissions and even require things like authentication certificates, but we don't have the benefit of any of that infrastructure in .NET-land.

So what I would propose are a set of configuration options inside Akka.Cluster that for supporting this management interface that do one or all of the following:

1. Support TLS

[2015-07-30 21:27] Aaronontheweb commented on #754
Can this be closed then?

[2015-07-30 22:23] sean-gilliam commented on #1188
Those sound good.

What about authorization though? Do we roll with role-based, claims-based, or do we just say if they're authenticated they can administer the cluster?

Security is a bitch to get right, but we also don't want to read a headline like "MASSIVE AKKA.NET SECURITY HOLE FOUND!!!!!11111oneoneone" :)

[2015-07-31 00:49] ReubenBond commented on #970
Browsing GitHub for code using Service Fabric, I found this (hi everyone :smile:). I checked out the PoC code, nice work.

At least some people from the Akka.NET community and from the Orleans community are interested in hosting/persistence with Service Fabric. Maybe we can work together on the common parts.

The persistence mechanism currently used in https://github.com/akkadotnet/Akka.Persistenc

[2015-07-31 05:35] Horusiath commented on #754
I think so. Ping @4deeptech

[2015-07-31 05:35] #754 closed

[2015-07-31 06:25] Horusiath commented on #1193
Few additional keys in configuration:

- `akka.actor.ask-timeout` for setting the default timeout on Ask method.
- `connection-string-name` to be used by persistence plugins using Akka.Persistence.Sql.Common

[2015-07-31 06:33] Horusiath opened #1196 "Multi node test runner visualizer"
This was already mentioned during the contributors meeting. We noticed that it's quite hard to track/debug the behavior of cluster spec based only on console/file output. For this reason, we wanted to create an API for multi node test runner, that could be used to visualize events occurring on each node in form of a time line (one per each node) with some convenient player-like functionality.

It'

[2015-07-31 06:40] Horusiath opened #1197 "Plugin proposal: Akka.Persistence.Kafka"
This is proposal for the plugin using Apache Kafka as the persistence backend. While I haven't worked on Kafka on my daily basis, it looks like it's perfect fit for akka journal backend.

[2015-07-31 06:43] Horusiath opened #1198 "Plugin proposal: Akka.Cluster.Zookeeper"
This is the idea for the plugin, that could use Apache Zookeeper for bootstrapping akka cluster. There already exists a similar solution on the JVM space ([link](https://github.com/sclasen/akka-zk-cluster-seed)).

[2015-07-31 06:46] Horusiath commented on #1190
@OlegGavrilov the major problem here is that HOCON is quite heavily embedded inside akka. Right now the only way I think, this may work without rewriting massive part of the framework, would be to make ConfigR producing HOCON string as the result.

[2015-07-31 07:58] rogeralsing commented on #1190
Out of scope imo, If someone makes a contrib package that can produce hocon strings like @Horusiath said, that would be fine.
But changing core modules, no.

[2015-07-31 07:59] rogeralsing commented on #1198
:+1:

[2015-07-31 08:01] rogeralsing commented on #1193
And hocon include support for importing external config sections.

[2015-07-31 23:04] Telavian commented on #1087
I am running into a bunch of disassociation messages which are very sporadic at first and then constant after a few days of running. How would I go about troubleshooting this? I understand failed heartbeats should not be happening however when they do what does that really mean when both sides are running? A simple restart makes everything magically work again.

http://stackoverflow.com/questions/

[2015-08-01 07:55] Horusiath opened #1199 "Multi node test runner incorrectly parses env args passed"
When I'm calling Akka.MultiNodeTestRunner with additional params manually with configuration as specified bellow, program crashes:

    Akka.MultiNodeTestRunner.exe <test_assembly> -Dmultinode.enable-filesink=on

However, call it like following works perfectly fine:

    Akka.MultiNodeTestRunner.exe <test_assembly> "-Dmultinode.enable-filesink=on"

I've found, that `.` character is interpreted inc

[2015-08-03 00:56] MAOliver commented on #147
@Horusiath Ah looking at this again -- it occurs that you were asking why i removed the AtomicCounter.cs and AtomicCounterLong.cs files from Akka.Util.

They were identical to the ones in Akka.Util.Internal but they were excluded from the project files (but still checked into source). I'm just a habitual cleaner.

I reverted that change since it confuses what I'm actually working on.

[2015-08-03 10:17] rogeralsing commented on #999
Is this still an issue? @Horusiath

[2015-08-03 10:38] Horusiath commented on #999
After discussion with @lepinay over the gitter, it still seems to be an issue. However needs confirmation.

[2015-08-03 12:58] #1194 closed

[2015-08-03 15:49] Aaronontheweb commented on #999
@Horusiath even with JSON.NET 7? Latest off of dev?

[2015-08-03 15:58] kantora opened #1202 "NullReferenceException in Akka.Util.Internal.Collections.ImmutableAvlTreeBase`2.RotateLeft"
Hello.
We've got strange error in our application.
I'll just post StackTrace here.
[code]

GetOrCreateChild methods just creats child actor like this:
[code]

Nither this.OrderGenerator nor childName could be null in this case (I've checked this several times).
But this only happened once this far...

[2015-08-03 17:41] clca commented on #970
HI Reuben,

We can optimize the code in various areas as you suggested: ReadOnly attribute, .... On the scaling side: the structure is 'partitioned' per PersistentId so performance could become a problem is an actor have a very long tail of events that it wants to persist. And we are working on the Service Fabric side to allow 'delta' state management on actors so the replication will be a lot mor

[2015-08-03 17:50] Aaronontheweb commented on #1202
Putting some red labels on this one - smells like a potential bug to me.

Mind if I ask some additional questions?

* Is `GetOrCreateChild` being called from a continuation or `Task`?
* Does the actor who called this method already have children when this error occurs?
* Does it occur when you attempt to add the first child?

[2015-08-03 17:51] Aaronontheweb commented on #1175
Related? #1202

[2015-08-03 17:59] kekekeks commented on #1165
I think it should be automagically enabled if `System.Diagnostics.Debugger.IsAttached` is true

[2015-08-03 18:01] Aaronontheweb commented on #1165
@kekekeks yeah, I had that thought too. We could automatically inject that setting inside the `RemoteActorRefProvider` when it populates `RemotingSettings`

[2015-08-03 18:18] Aaronontheweb commented on #1196
To echo the idea I put down in Gitter for this, the MultiNodeTestRunner.Shared library includes a number of sinks for structuring the per-node log output into a time-ordered set of per-test / per-node structures. The entirety of this output gets saved to a .JSON file today.

We could write a HTML5 / JS static web app that could render this JSON file into a timeline for each test. Would that work?

[2015-08-03 18:38] Aaronontheweb commented on #1078
Guess we still need to move the needle back in time on the NuGet package for this.

[2015-08-03 19:41] kantora commented on #1202
Sure.

The receive method itself is synchronous, but we use `TaskDispatcher` for this kind of actors.

Yeah. Hundred or two. They are constantly adding and removing over time. Also they have there own children, that also can be added or removed.

No, definitely not. This system was functioning for relatively long time, and that was the first and only time we faced this exception.

[2015-08-04 06:24] Horusiath commented on #1196
I think so. The major concern is that it should be easy to use and IMO it shouldn't need any additional installation or configuration steps. Maybe a light HTTP server that can be embedded in multinode test runner and open with command line arg?

[2015-08-04 07:18] rogeralsing commented on #1196
The data we want to display, is it a stream or are we just aiming to show the end result when everything is done?

[2015-08-04 07:43] rogeralsing commented on #1202
Related to #1175 , we plan to replace the AVL tree to a Red/Black tree as the JVM impl

[2015-08-04 07:45] kantora commented on #1202
Ok, thanks.

[2015-08-04 17:00] Aaronontheweb commented on #1196
@rogeralsing it'd be a lot more work to make it streaming. I was thinking just something that would load the final output file (was gets updated incrementally with each test run.) That would be a lot easier to build. Doing a streaming version of this would require websocket support and an actual server.

[2015-08-04 17:01] Aaronontheweb commented on #1196
@Horusiath if we go with the static HTML approach, I can write the test output directly into the HTML and just pop open a web browser window immediately afterwards.

[2015-08-04 17:02] Aaronontheweb commented on #1196
A separate UX issue with the MultiNodeTestRunner... making it easy to run JUST ONE test versus having to run the entire suite. That'd save a lot of time... Not sure how to solve that issue without writing a visual studio plugin though :p

[2015-08-04 17:20] rogeralsing commented on #1196
I vote for AngularJS, would be easy to customize how the stuff is rendered and could give some nice interactivity too.

[2015-08-05 11:45] rdavisau opened #1206 "Outdated FsPickler version in Akka.FSharp can lead to runtime errors when other FsPickler-dependent packages are installed"
Hi!

The current version of FsPickler referenced by Akka.FSharp is a pre 1.0 release and the latest version is 1.2.21. Between these versions, there has been a rationalisation of the API surface, making the newer FsPickler incompatible with the version Akka.FSharp has been written against. If another package referencing FsPickler (e.g. [Vagabond](https://github.com/nessos/Vagabond)) is installed a

[2015-08-05 19:47] Aaronontheweb commented on #879
Note - this needs to be implemented here: https://github.com/akkadotnet/akka.net/blob/dev/src/core/Akka.Remote/Endpoint.cs#L1237

[2015-08-05 19:49] Aaronontheweb commented on #879
And here's part of the Scala implementation for this:

https://github.com/akka/akka/blob/master/akka-remote/src/main/scala/akka/remote/Endpoint.scala#L745

https://github.com/akka/akka/blob/master/akka-remote/src/main/scala/akka/remote/Endpoint.scala#L670

[2015-08-06 01:10] haighis commented on #723
I think it's a great idea to move HOCON to it's own library.

[2015-08-06 01:15] Aaronontheweb commented on #723
that's really cool @nvivo!

I think moving HOCON to its own library is a good idea too. I love the thought of coupling it with some better tooling for error validation and some intellisense.

[2015-08-06 01:25] haighis commented on #723
I would like to step up and implement this as it's own library.

[2015-08-06 01:56] Aaronontheweb commented on #723
cc @haighis I think that's awesome Paul. I want to support you in doing that.

https://github.com/akkadotnet/hocon - here's a repo I created for you.

Personally, I would love to see a lot more test coverage around implementing the HOCON spec when we have it as a stand-alone project. I think that would be awesome.

When you're ready to send in a pull request, ping me on Gitter and I'll make sure w

[2015-08-06 03:14] haighis commented on #723
And by Paul do you mean John (aka haighis)? or has someone else stepped up before me to take this on?

[2015-08-06 03:40] Aaronontheweb commented on #723
@haighis whoops, I meant you John - had a brainfart and got your first name wrong :p

[2015-08-06 09:25] Horusiath commented on #1206
Closed by #1207

[2015-08-06 09:25] #1206 closed

[2015-08-06 10:45] rogeralsing commented on #723
Listening to the beatles much? :P

Anyway, there are a few features in HOCON that we currently does not support:

* Self referencing substitutions. this will require some major rewrite of the hocon parser as each node needs to remember old values that has been set earlier. - **Hard**
* Fallback substitutions, the spec says that if a substitution is not found in the hocon document, it _could_ look

[2015-08-06 11:10] #1190 closed

[2015-08-06 11:10] rogeralsing commented on #1192
Can this be closed now?

[2015-08-06 14:56] sean-gilliam commented on #1192
Not just yet. There are a couple more exceptions that need to addressed. There's about nine "throw new Exception(...)"s and those 3 bullet points in the OP still need to be fixed.

[2015-08-06 15:58] rogeralsing opened #1211 "Extending the Serialization support?"
Would it make sense to extend the serialization lookup?
Currently, we use the same approach as Scala Akka does,that is, we pick a serializer based on the message type hierarchy.

The default Json serializer is assigned to System.Object, and we have a few others for specific message types.
We have however seen a lot of issues with other message types that might not share a common base type, e.g. F#

[2015-08-06 16:55] schatekar commented on #1088
Looking at the source for `MultiNodeFact` below.

This is returning `null` from skip if the test is run using MultiNodeTestRunner or NodeTestRunner. I am not sure if XUnit treats a null `Skip` value as test not to be skipped or not but if I assume that then clearly any test run using MultiNodeTestRunner would never be skipped, isn't it?

[code]

[2015-08-06 17:54] cpx commented on #1088
Just started looking at this as well :) @schatekar, a null value means test should be run, and non-null means it should be skipped.

[2015-08-06 17:58] schatekar commented on #1088
I think I know how to fix this. If you are not fixing it I can take a crack
at it in few hours.
On 6 Aug 2015 18:54, "Christian Palmstierna" <notifications@github.com>
wrote:

[2015-08-06 18:02] cpx commented on #1088
It's all yours :)

[2015-08-06 18:09] cpx commented on #879
This looks fun :) I'll have a look at it.

[2015-08-06 20:35] Aaronontheweb commented on #1088
You guys are awesome :)

[2015-08-06 22:36] schatekar commented on #1088
This is more involved than I had imagined. I would give it another try over the weekend.

[2015-08-07 00:30] Aaronontheweb commented on #1088
I know that feeling well, my friend.

[2015-08-07 01:06] Aaronontheweb opened #1212 "Fix Null Sender issue"
Per what we discussed on Gitter:

[code]

We need to make it so `Sender` can't be null. Solution is to do what JVM Akka does:

[code]

Coalesce the null into Deadletters.

[2015-08-07 10:51] #1212 closed

[2015-08-07 11:36] mvbaffa opened #1214 "How to wait synchronously for a message"
Hi, I have a WCF Service, when the service is called I need to send a message to actor and wait for the response message.

I am using the Ask patterns. Is there a better way to do this?

Thanks in advance

[2015-08-07 15:32] irperez commented on #436
This was a blocking issue for #453 when I took a look.

[2015-08-07 20:02] #999 closed

[2015-08-07 20:04] vchekan commented on #165
Documentation still provides example with Fluent, making new developers troubleshooting problem which does not exist:
http://getakka.net/docs/deployment-scenarios/Console

[2015-08-07 20:16] Aaronontheweb commented on #1165
@kekekeks would you be interested in submitting a PR for this feature? Otherwise I can mark it as "up for grabs"

[2015-08-07 20:40] rogeralsing opened #1215 "Auto add a web/app.config section for Akka.NET"
It would be nice if the web/app.config was modified in applications referencing the Akka nuget package, so that we get a default config.
currently, there is a lot of friction here, when referencing the akka nuget, one has to open up an old config and copy the configuration section header and the cdata tag containing the hocon.
(well, at least I do)..

[2015-08-07 20:43] Aaronontheweb opened #1216 "Intermittent test failure: StructureMapResolverSpec.DependencyResolver_should_dispose_IDisposable_instances_on_Actor_Termination"
StructureMap and CastleWindsor appear to be our two weaklings from the results of #1139, and we've had an issue with intermittnet failures with the following spec:

[StructureMapResolverSpec.DependencyResolver_should_dispose_IDisposable_instances_on_Actor_Termination](https://github.com/akkadotnet/akka.net/blob/dev/src/contrib/dependencyInjection/Akka.DI.StructureMap.Tests/StructureMapResolverSpec

[2015-08-08 02:05] barambani commented on #1088
I gave a try to this as well, I guess because is less intimidating than the others :), it looks like that removing the null is not enough. I could enable the runner to skip the multinode facts checking the attribute in the

[2015-08-08 07:41] rogeralsing commented on #1214
WCF supports task based services, which means you can do the same in a WCF service as in WebAPI:
See http://getakka.net/docs/deployment-scenarios/ASP%20NET#interaction-between-controllers-and-akka-net
that is an WebAPI example, but the idea is the same, make your service retur `Task<MyResult>` and then `await` the `Ask` operation of the actor

[2015-08-08 09:42] schatekar commented on #1088
@barambani  I did not get a message that you have worked on the issue as well. I just went ahead and submitted my fix without knowing that you too have submitted a fix.

[2015-08-08 10:59] barambani commented on #1088
@schatekar no problem, I will close mine.

[2015-08-08 11:14] schatekar commented on #1088
@barambani Don't close yours just yet. I would leave it to the project leads to accept the best PR

[2015-08-08 11:45] barambani commented on #1088
@schatekar I looked at your solution and passes all the tests, also brings the skip reason up to the top level to log it. I like it more than mine as well. Mine was a late night hack.

[2015-08-08 14:20] Horusiath opened #1223 "Port Event Adapters to Akka.Persistence"
[Link](http://doc.akka.io/docs/akka/2.4-M2/scala/persistence.html#Event_Adapters) to documentation. **tl;dr** Event adapters are a layer between journals and persistent actors, that allows to define custom mappings and interpretation of stored events, before they reach an actor. It's usefull:

- in cases then events need to be versioned
- when events may be mapped to data types understood by persi

[2015-08-08 18:53] DavidHoerster opened #1224 "Akka.DI.SimpleInjector"
I'd like to contribute a dependency resolver for SimpleInjector.  I use that DI container for my projects and would like to contribute to a dependency resolver for Akka if there's interest.

[2015-08-08 21:54] evertmulder opened #1225 "High CPU load using the Akka.IO TCP server"
The following simple program:
namespace Proto1.Client
{
    using Akka.Actor;
    using Akka.IO;
    using System;

    class Program
    {
        static void Main(string[] args)
        {
            var system = ActorSystem.Create("proto1");
            var manager = system.Tcp(); //this causes 100% CPU
            Console.ReadLine();
        }
    }
}

On my machine it uses around 25% CPU. Sta

[2015-08-08 22:14] rogeralsing commented on #1225
I'm seeing this too, it looks like an entire core is hogged.
dotTrace points me to `SingleThreadExecutionContext.Execute`

[2015-08-08 22:23] rogeralsing commented on #1225
Yepp, commenting out the following code makes the issue go away.

[code]

[2015-08-08 22:23] rogeralsing commented on #1225
cc @willieferguson

[2015-08-08 22:23] chris-ray commented on #1225
+1. Adding a thread sleep in Select() in selectionhandler.cs alleviates the load, indicating some kind of recursion or infinite loop

[2015-08-08 22:58] rogeralsing commented on #1225
Ok the `Select` method reschedules itself using the `SingleThreadExecutionContext´, so thats the loop.
The JVM impl also does this using the JVM ExecutionContext. so far so good.
The `SingleThreadExecutionContext` seems to be inefficient due to the blockingcollection.

Some questions:

* Does the Select method really need to run in such a tight interval?
* Do we really need it to run on a complete

[2015-08-09 20:36] #147 closed

[2015-08-09 20:41] schatekar commented on #1199
@Horusiath When I run the tests without the double quotes, there is no crash. Some tests fail due to `System.AggregateException` but I have a feeling that it is not related to this issue.

Do you have any log or a scree-grab?

[2015-08-09 20:53] rogeralsing opened #1226 "Rewrite SimpleDnsCache to be immutable"
For context, see the conversation here: #1222

The `SimpleDnsCache` is mutable, but shared globally in a system extension.
Thus, its open for race conditions.
I've labeled this confirmed bug, which might be a bit harsh as there is currently only one consumer, an actor of this class, so its not a visible bug atm.
but if anyone take dependency on the extension exposing this, it will be visble.

the

[2015-08-10 11:21] Horusiath opened #1227 "Add querying messages for Akka.Persistence.Sql.Common"
After talk with @nvivo , a some ideas arised there. One of them is extending existing sql-based journals API to allow to query the journal to receive stream of all events not partitioned by persistence Id, using some select criteria instead. This could be part of the solution for aggregating events from different persistent actors.

In akka google group [thread](https://groups.google.com/forum/#!t

[2015-08-10 12:18] nvivo commented on #1227
There is a lot of discussion on that thread, but the main point I think needs some thought is that currently there is no API to do projections.  As Roland said:

So, when using projections, the PersistenceID is pratically useless. On a real application, for basic projections you will at minimum listen for multiple event types from different aggregates instead. For example, imagine a forum and you

[2015-08-10 12:57] rogeralsing commented on #1189
What does the "ready" tag mean? it's not in the Done column on waffle and its not closed, so what does it mean?

[2015-08-11 06:11] Exef opened #1233 "Link developer guidelines from "Contribution to Akka.NET" document page."
[Contributing to Akka.NET](http://getakka.net/docs/Contributing%20to%20Akka) page has broken "Developer Guidelines" link. Should it link to `CONTRIBUTING.md` instead to [Contributor guidelines](http://getakka.net/docs/Contributor%20guidelines)?

![image](https://cloud.githubusercontent.com/assets/1412001/9191281/998c248a-3fff-11e5-8246-0e248021e286.png)

[2015-08-11 08:19] willieferguson commented on #1225
The Select need to run on the same thread - it was initially scheduled on the thread pool, but this caused issues - which is also mentioned in Akka JVM.

I see in Aeron they use an IdleStrategy which does Thread.Yield for a couple of nano-seconds.

I will try this and measure performance & CPU load.

[2015-08-11 13:43] LukeTillman opened #1235 "NullReferenceException in Akka.Persistence.Serialization.MessageSerializer.PersistentPayloadToProto"
I'm trying to run tests after Akka.Persistence.Cassandra was upgraded to use Akka 1.0.4 and I'm consistently getting a NRE like this:

[code]

Looks like it's coming from this line here:

https://github.com/akkadotnet/akka.net/blob/dev/src/core/Akka.Persistence/Serialization/MessageSerializer.cs#L140

When `TransportInformation` is null. I'm guessing https://github.com/akkadotnet/akka.net/commit/f

[2015-08-11 16:21] willieferguson commented on #1225
@evertmulder - please confirm that the PR resolve your issue. I couldn't replicate your high CPU utilization, but reduced load from 10-15% to 0% in my tests.

More details on the issue in #1236.

[2015-08-11 18:51] evertmulder commented on #1225
Tried the new code. This issue still exists and is not fixed. See comment in 4af2cfb

[2015-08-11 19:07] DavidHoerster commented on #1198
I'd like to help out on this one.

[2015-08-11 19:09] DavidHoerster commented on #485
Is this being worked on - I can help here.  Also, is the CodePlex project something to consider, or would that be a separate task since it's more of a breaking change?

[2015-08-11 19:37] willieferguson commented on #1225
Your right - I tested with an TCP listener. There is no point going into the select loop when there are no interested channels.  Will send another PR.

[2015-08-11 19:48] #1226 closed

[2015-08-12 02:10] Aaronontheweb opened #1238 "ReceiveActor behavior-switching + caching bug"
Akka.NET bootcamp attendee found a really strange bug with the `ReceiveActor`, which I believe to be an error with its caching and optimization system.

[code]

This code, when it runs as-is, produces the following output:

Coordinator stopped
Coordinator started
Prestart called!
Count = 1
Count = 2
Count = 3
PostStop called!
Coordinator stopped
Coordinator started
Prestart called!
Count = 1
Count

[2015-08-12 05:56] rogeralsing commented on #1238
I think there is something else going on, refactoring the code to:
[code]

I moved the stopping to a normal method so we are not executing inside one of the compiled receive closures, and the behavior is still the same.

[2015-08-12 06:05] Aaronontheweb commented on #1238
@rogeralsing I'd love to know what it is, because this one stumped me :\

[2015-08-12 06:19] rogeralsing commented on #1238
Hmmm. I rewrite the coordinator to an untyped actor and then it all works fine. super weird this one...

[2015-08-12 06:33] rogeralsing commented on #1238
Found the cause

This part:

[code]

can be changed to

[code]

There is no receive behavior inside "Stopped" its just an imperative func doing stuff. doing that makes it all work.
I _think_ that the problem is that this example does a "Become(stopped)" which in turn inside the stopped, does a "Become(started)" .
I suspect that the Become for receive actors does its magic and at the end of it all,

[2015-08-12 06:38] Aaronontheweb commented on #1238
Yeah, I found the same thing when I was working through this in the Akka.NET Bootcamp chat room.

I agree that this is a weird way to use behavior-switching... But that being said, the code inside the behavior-switched statements DID run. What was weird was it looked like the `IActorRef` being assigned to `_applicationActor` was cached somehow. Is that because we switched behaviors twice in the sa

[2015-08-12 07:47] rogeralsing commented on #1238
From Håkans ReceiveActor docs:
http://getakka.net/docs/ReceiveActor

In this case care must be taken to ensure that the number of Unbecome() matches the number of Become(..., discardOld: false) ones in the long run, otherwise this amounts to a memory leak (which is why this behavior is not the default).
Warning
**Do not add other statements than Receive in Become-declarations. The result of doing

[2015-08-12 08:43] GraemeBradbury opened #1241 "Upgrade Fake version to cope with VS 2015 only machines."
The version of Fake used means that machines with only 2015 can't run any VS tests

[2015-08-12 08:49] rogeralsing commented on #609
@sforkmann (the Paket author) has volunteered to make the PR for this if we give a go for this

[2015-08-12 08:51] rogeralsing commented on #1238
I vote for closing this as the example falls under invalid use imo.

[2015-08-12 09:20] forki commented on #609
I added a WIP pull request to see if this is possible. See #1243

[2015-08-12 09:27] #1225 closed

[2015-08-12 09:33] #1241 closed

[2015-08-12 21:15] evertmulder commented on #1225
Just tested the latest dev branch. This bug is fixed. The high CPU load, when no client is connected, is solved.

[2015-08-13 05:27] #1238 closed

[2015-08-13 05:27] Aaronontheweb commented on #1238
I agree

[2015-08-13 20:02] #1193 closed

[2015-08-14 00:45] Aaronontheweb opened #1244 "Port Akka.Remote MultiNodeSpec: AttemptSysMsgRedeliverySpec"
Need to port: https://github.com/akka/akka/blob/master/akka-remote-tests/src/multi-jvm/scala/akka/remote/AttemptSysMsgRedeliverySpec.scala

[2015-08-14 00:46] Aaronontheweb opened #1245 "Port Akka.Remote MultiNodeSpec: LookupRemoteActorSpec"
https://github.com/akka/akka/blob/master/akka-remote-tests/src/multi-jvm/scala/akka/remote/LookupRemoteActorSpec.scala

[2015-08-14 00:46] Aaronontheweb opened #1246 "Port Akka.Remote MultiNodeSpec: PiercingShouldKeepQuarantineSpec"
https://github.com/akka/akka/blob/master/akka-remote-tests/src/multi-jvm/scala/akka/remote/PiercingShouldKeepQuarantineSpec.scala

[2015-08-14 00:47] Aaronontheweb opened #1247 "Port Akka.Remote MultiNodeSpec: RemoteDeliverySpec"
https://github.com/akka/akka/blob/master/akka-remote-tests/src/multi-jvm/scala/akka/remote/RemoteDeliverySpec.scala

[2015-08-14 00:48] Aaronontheweb commented on #485
@DavidHoerster I ended up including this one in my latest PR - but I have some new issues i'm opening where I could use your help!

[2015-08-14 00:48] #485 closed

[2015-08-14 00:49] Aaronontheweb commented on #1189
@rogeralsing I think it means that this issue is queued up to be part of the next major release. @skotzko would know better than I would.

[2015-08-14 00:50] Aaronontheweb opened #1248 "Port Akka.Remote MultiNodeSpec: RemoteDeploymentDeathWatchSpec"
https://github.com/akka/akka/blob/master/akka-remote-tests/src/multi-jvm/scala/akka/remote/RemoteDeploymentDeathWatchSpec.scala

[2015-08-14 00:51] Aaronontheweb opened #1249 "Port Akka.Remote MultiNodeSpec: RemoteGatePiercingSpec"
https://github.com/akka/akka/blob/master/akka-remote-tests/src/multi-jvm/scala/akka/remote/RemoteGatePiercingSpec.scala

[2015-08-14 00:52] Aaronontheweb opened #1250 "Port Akka.Remote MultiNodeSpec: RemoteNodeDeathWatchSpec"
https://github.com/akka/akka/blob/master/akka-remote-tests/src/multi-jvm/scala/akka/remote/RemoteNodeDeathWatchSpec.scala

[2015-08-14 00:58] Aaronontheweb opened #1251 "Port Akka.Remote MultiNodeSpec: RemoteNodeRestartDeathWatchSpec"
https://github.com/akka/akka/blob/master/akka-remote-tests/src/multi-jvm/scala/akka/remote/RemoteNodeRestartDeathWatchSpec.scala

[2015-08-14 00:59] Aaronontheweb opened #1252 "Port Akka.Remote MultiNodeSpec: RemoteNodeRestartGateSpec"
https://github.com/akka/akka/blob/master/akka-remote-tests/src/multi-jvm/scala/akka/remote/RemoteNodeRestartGateSpec.scala

[2015-08-14 01:00] Aaronontheweb opened #1253 "Port Akka.Remote MultiNodeSpec: RemoteNodeShutdownAndComesBackSpec"
https://github.com/akka/akka/blob/master/akka-remote-tests/src/multi-jvm/scala/akka/remote/RemoteNodeShutdownAndComesBackSpec.scala

[2015-08-14 01:06] Aaronontheweb opened #1254 "Port Akka.Remote MultiNodeSpec: RemoteQuarantinePiercingSpec"
https://github.com/akka/akka/blob/master/akka-remote-tests/src/multi-jvm/scala/akka/remote/RemoteQuarantinePiercingSpec.scala

[2015-08-14 01:06] Aaronontheweb opened #1255 "Port Akka.Remote MultiNodeSpec: RemoteReDeploymentSpec"
https://github.com/akka/akka/blob/master/akka-remote-tests/src/multi-jvm/scala/akka/remote/RemoteReDeploymentSpec.scala

[2015-08-14 01:07] Aaronontheweb opened #1256 "Port Akka.Remote MultiNodeSpec: RemoteRestartedQuarantinedSpec"
https://github.com/akka/akka/blob/master/akka-remote-tests/src/multi-jvm/scala/akka/remote/RemoteRestartedQuarantinedSpec.scala

[2015-08-14 01:08] Aaronontheweb opened #1257 "Port Akka.Remote MultiNodeSpec: RemoteRandomSpec"
https://github.com/akka/akka/blob/master/akka-remote-tests/src/multi-jvm/scala/akka/remote/routing/RemoteRandomSpec.scala

[2015-08-14 01:08] Aaronontheweb opened #1258 "Port Akka.Remote MultiNodeSpec: RemoteRoundRobinSpec"
https://github.com/akka/akka/blob/master/akka-remote-tests/src/multi-jvm/scala/akka/remote/routing/RemoteRoundRobinSpec.scala

[2015-08-14 01:10] Aaronontheweb opened #1259 "Port Akka.Remote MultiNodeSpec: RemoteScatterGatherSpec"
https://github.com/akka/akka/blob/master/akka-remote-tests/src/multi-jvm/scala/akka/remote/routing/RemoteScatterGatherSpec.scala

[2015-08-14 19:26] GraemeBradbury commented on #1244
I'll give this one a go.

[2015-08-14 21:12] Aaronontheweb commented on #1244
@GraemeBradbury sent you an invite to be on the "contributor's" team so you can assign this issue to yourself

[2015-08-15 13:39] adamhathcock commented on #992
I've updated the DNX usage to beta6.  I haven't attempted anything hard like Remote.

Targets are now .NET 4.5, DNX .NET 4.5.1 and DNX .NET CORE 5.0.  Tests pass and the HelloWorld and FaultTolerance samples work.

[2015-08-15 15:36] rogeralsing commented on #992
Awesome! :+1:

[2015-08-15 17:12] adamhathcock commented on #992
I'd like to keep this up.  Have you guys considered moving to xproj?  You can still target net 4.5 as well as dnx.  The downsides are the you can't reference a xproj from a csproj (this will be fixed) nor build a non-dnx executable.  Just DLLs.

I guess those are two big downsides currently :)

[2015-08-17 16:07] #879 closed

[2015-08-17 16:08] Aaronontheweb commented on #1084
We have issues for each of the individual specs to be ported now, and all of the infrastructure to port them is available. So I'm going to mark this issue as closed for now.

[2015-08-17 16:08] #1084 closed

[2015-08-17 23:24] Aaronontheweb opened #1263 "Discussion: move to VS15 / DNX file format?"
Related to #992

.NET is going to be changing a lot over the next year or so; some changes are going to be massive, like the introduction of .NET Core. Others, like the changing of the Visual Studio project structure, will be more incremental.

I want to ask how the community feels about when we should move towards supporting the new VS15 project file format, and what some of the benefits are?

Ul

[2015-08-18 15:07] #1245 closed

[2015-08-18 20:48] Horusiath commented on #1223
Closed by #1262

[2015-08-18 20:48] #1223 closed

[2015-08-18 21:33] schatekar commented on #1259
I am working on this

[2015-08-18 22:44] Aaronontheweb commented on #1259
@schatekar assigned! Good hunting.

[2015-08-19 10:36] GraemeBradbury commented on #1247
I'll take this.

[2015-08-19 21:10] Aaronontheweb commented on #1247
Resolved via #1266

[2015-08-19 21:10] #1247 closed

[2015-08-19 21:23] Horusiath opened #1267 "Dependency injection for remote deployment"
At the present moment DI is not supported in remote deployment scenarios. This is a thread to discuss potential solution for such cases.

[2015-08-19 22:13] kbaldyga commented on #1175
Hi, I have been playing with the Red-Black tree implementation for the last few days. It's not complete yet, but you can check out the current code here: https://github.com/kbaldyga/Tree

Before (if) I start working on a pull-request integrating this with akka.net, I have few questions:
 - Is F# code acceptable?
 - I don't know much about akka.net. @rogeralsing, when you are saying "AVL tree is ho

[2015-08-19 22:21] Aaronontheweb commented on #1175
It'd need to be in C# so we can integrate it into the core library (C#)

[2015-08-20 11:25] #1214 closed

[2015-08-20 11:31] mvbaffa commented on #1214
It worked.
Thanks
Em 08/08/2015 04:41, "Roger Johansson" <notifications@github.com> escreveu:

[2015-08-20 16:26] GraemeBradbury commented on #1196
This looks good for our needs. http://visjs.org/examples/timeline/groups/groups.html
Should be a case of adapting `TestRunTree` and spitting out a html file.

[2015-08-20 16:56] Aaronontheweb commented on #1196
Some background on the data format that the multi-node test runner uses.

Attached is one of the sample logs it produces.

[code]

That log is just a JSON.NET-serialized instance of this object: https://github.com/akkadotnet/akka.net/blob/dev/src/core/Akka.MultiNodeTestRunner.Shared/Reporting/TestRunTree.cs

[2015-08-20 17:33] rogeralsing opened #1269 "Serialization semantics"
One thing that we have not discussed at all is how serialization is supposed to behave.

Some questions:

### Object references:
Do we need cyclic references in the serialized objects? - e.g. `objA.PropB = objB`, and `objB.PropA = objA`
Cyclic reference handling is extremely expensive in large object graphs.
Every object that is about to be serialized must first be looked up in a cache to see if i

[2015-08-20 17:41] rogeralsing commented on #1267
My impression was that it was supposed to work with remote deployment as it is based on `DIActorProducer : IndicrectActorProducer` IndirectActorProducers are supposed to be possible to pass over the wire with the Props.
So if the same DI plugin exists on the remote system, it should in theory work.
Is this not the case?

(never used the DI support myself, never been a fan of DI containers)

[2015-08-20 18:28] Aaronontheweb commented on #1267
No, that stuff doesn't get serialized (correctly?) today

[2015-08-20 18:39] creepone opened #1270 "Defined scope for Ninject dependencies ignored when actors are instantiated."
When using the Akka.DI.Ninject (with the new behavior introduced in v1.0.4) with dependencies defined in the `IKernel` container as having a certain scope (e.g. using `InSingletonScope()`), this scope is being ignored when instantiating an actor.

Every dependency is created within the activation block's scope and therefore always newly instantiated.

While in most cases this is a desirable thing

[2015-08-21 06:23] #1124 closed

[2015-08-21 06:24] #1185 closed

[2015-08-21 06:40] rogeralsing commented on #1267
The current design of DI is broken for remoting scenarios.

Each resolver have a constructor that takes a container and a system.
Thus, the resolver can not serialize. the resolver needs to be possible to pass just the resolver `Type` to the remote system and instantiate it there.
[code]

That being said, I think there might be some workarounds to make this work.
First, if we use surrogates on the

[2015-08-21 10:57] GeertVL commented on #1258
I will work on this one.

[2015-08-21 21:07] adamhathcock commented on #1263
The new format offers more flexibility when targeting versions and platforms.  Nuget package management and creation is simpler.

As for the work involved for Akka.NET, I can't say :)

[2015-08-21 23:31] Aaronontheweb commented on #1235
cc @Horusiath @rogeralsing any ideas why this was dependent on `TransportInformation` in the first place? Specific to this plugin to in general across Akka.Persistence?

[2015-08-21 23:47] KadekM commented on #1258
@GeertVL oh sorry man, I did most of work at cafe, and noone was assigned to it when I checked...

[2015-08-21 23:49] KadekM commented on #1257
I'd like to do this.

[2015-08-22 01:41] axefrog commented on #1263
+1 for DNX/Core support. The new project format, among other things, is very nice to work with I think. In fact, though it hasn't deterred me from getting started with akka.net, I admit I felt a pang of disappointment upon discovery that akka.net isn't quite up to date in this regard.

[2015-08-22 05:39] rogeralsing commented on #1263
I'm all for it, this would allow us to use some of the new language features too.
e.g. Getter only properties on our built in messages.

[2015-08-22 05:40] annymsMthd commented on #1263
+1 for the getter improvement
On Fri, Aug 21, 2015 at 10:39 PM Roger Johansson <notifications@github.com>
wrote:

[2015-08-22 06:45] Horusiath commented on #1235
As I remember, after a short discussion with Typesafe team they pointed us out, that things like actor refs and paths that are stored, may be recovered from persistence backend on the different machine, that they were saved on, so their base paths may be changed.

[2015-08-22 08:07] GeertVL commented on #1258
@KadekM no problem. I will take something else.

[2015-08-22 08:08] GeertVL commented on #1248
Can I have this one, as Marek took the other one.

[2015-08-22 10:23] rogeralsing opened #1275 "Serializing SupervisorStrategy containing LocalOnlyDecider silently ignores the decider"
When serializing SupervisorStrategy's with a LocalOnly decider, Json.NET simply ignores the decider and continues with its business.
That might seem fair, but it will result in a supervisorstrategy that uses the default strategy when deserializing.
So if the sender did not use the default strategy, the receiving end will have a strategy with an unintended behavor.

The simple solution is to make t

[2015-08-22 12:02] KadekM commented on #1246
Are there known issues with this?
I have written the test but it seems, that even though I speak to actor from system which I quarantineed, I am getting answers.

[2015-08-22 12:34] KadekM commented on #1246
I'd like to do this

[2015-08-22 13:04] KadekM commented on #1246
I wrote the test - can someone take a look at this please ?
https://github.com/KadekM/akka.net/blob/issue-1246/src/core/Akka.Remote.Tests.MultiNode/PiercingShouldKeepQuarantineSpec.cs#L94-L106

Are there some known issues in this regards or am I doing something stupid ? (expecting none ->failing that we received some  |  expecting some -> failing that none was received).

According to log messages

[2015-08-23 15:18] rogeralsing commented on #1275
I found more of this.
It turns out that we create Pool routers all over the place w/o specifying supervisor strategy, and thus, the LocalOnly default decider is ignored by json.net and we end up with an unspecified decider on the other end.

To clarify:

1. sender creates a pool router of some sort w/o specifying a supervisor strategy for that pool, which means the pool router gets the default loc

[2015-08-24 00:15] gblmarquez commented on #1263
+1 for DNX/Core support

[2015-08-24 06:16] rogeralsing commented on #1275
The following tests suffer from this issue

RemoteRouter_must_deploy_remote_routers_based_on_configuration
RemoteRouter_must_deploy_remote_routers_based_on_explicit_deployment
RemoteRouter_must_let_remote_deployment_be_overridden_by_remote_configuration
RemoteRouter_must_let_remote_deployment_router_be_overridden_by_local_configuration

[2015-08-24 06:28] rogeralsing commented on #1275
@Aaronontheweb @Horusiath we can easily fix these tests, should we just change the default decider to a deployable decider?
I mean, that stuff is in no way performance critical, it only runs when something fail, so the little overhead of the deployable decider should not affect anything.

This way, any router config will by default be deployable.

[2015-08-24 16:29] rogeralsing opened #1277 "C# 6 + Akka.???.DSL"
This is related to #1263

If we move to DNX and C# 6.
We would gain the ability to use the new "using static classes".(http://davefancher.com/2014/08/07/c-6-0-using-static/)

I propose that each namespace is extended with a static class called DSL, containing static methods relevant for that namespace.

For example.

[code]

This will allow users to write code like:

[code]

This takes us a lot cl

[2015-08-27 20:30] KadekM commented on #1277
Does it have any downsides ? I don't see one - At first I was thinking whether it's idiomatic NET but then there were no static imports before.

[2015-08-30 11:00] rogeralsing opened #1279 "Remote deployed actors fail with super unintuitive exception when remote system does not reference actor types"
Found this from an issue in https://github.com/IdleLands/IdleLandsRedux/tree/akka-refactor today.

The scenario was that the remote system did not reference the assembly holding the actor types.
Which made the `DaemonMsgCreateSerializer` create a `Props` object with no type, which in turn resulted in `DefaultProducer` being used, which in turn resulted in a exception, far far away from the actual

[2015-08-30 13:18] schatekar opened #1280 "Throw a useful error message when router.type-mapping is not configured in HOCON configuration"
The following code from `Deployer.cs` throws an `ArgumentNullException` when `routeTypeName` is not configured. There is no stack trace or other details which makes it difficult to understand what is causing the exception.

[code]

We should check for `routeTypeName` being not null and also that it holds a valid value. If `routeTypeName` is null or holds invalid value, a user friendly message shou

[2015-08-30 14:57] nfadmin commented on #1224
Very appreciated! We use SimpleInjector as well in our projects (BTW: a great DI container) and will start a new project based on Akka.NET soon. So we have exactly this demand, too.
Is there any implementation allready available?

[2015-08-30 15:32] alex-kondrashov commented on #60
I*d like to help out here. Is it ok if I work on this one?

[2015-08-30 15:41] rogeralsing commented on #60
Absolutely, go for it! :)

[2015-08-30 18:53] #1258 closed

[2015-08-30 20:07] Horusiath commented on #1280
This looks for a edge case for me. It basically occurs when for some reason cluster-aware router hasn't loaded cluster HOCON config (right now it seems to be possible only in cluster multinode tests) or defined type router type alias was not found among type-mappings.

[2015-08-31 03:57] michaelsync opened #1281 "DI - How to inject two actors thru DI?"
What I am trying to do is to pass the two actors (mummy actor and daddy actor) to kid actor. As it's the best practice to use the actor reference instead of actor, I used IActorRef for both mummy actor and daddy actor to be injected thru DI with named parameter. But I am getting "mummyActor is not unique" error. Any idea how to solve it?

[code]

[2015-08-31 06:56] rogeralsing opened #1282 "Odd cluster behavior, possible deadlock"
After playing around with my elasticsearch logger and visualizing the cluster events.
I noticed a behavior that looks odd.

Look at the graphs at 08.40.00
I started two new nodes at that time, which can be seen in the NodeCount graph, and also there are two new nodes showing up on the heartbeat graph.

However, for a few seconds, there are zero(!) debug events coming in from _any_ of the other nod

[2015-08-31 06:58] rogeralsing commented on #1282
NVM, I'm an idiot...

[2015-08-31 06:58] #1282 closed

[2015-08-31 08:14] rdavisau commented on #1279
Hi @rogeralsing, I can look at this one.

I think we can't perform the null check in the [main constructor](https://github.com/akkadotnet/akka.net/blob/dev/src/core/Akka/Actor/Props.cs#L238:L244), because the [parameterless constructor](https://github.com/akkadotnet/akka.net/blob/dev/src/core/Akka/Actor/Props.cs#L165:L168) passes `null` in the type parameter; I guess it's there to support deserial

[2015-08-31 08:40] rogeralsing commented on #1279
Yes that sounds like the correct way to go about it.

[2015-08-31 09:24] rogeralsing opened #1283 "Replace string concatenation log statements with format templates"
Currently, there are a few cases where we do things like:

`_log.Debug("Foo" + bar + "Baz" + yo);`
This is however incompatible with loggers that use special formatting. (e.g. Serilog)

This should be replaced with:
`_log.Debug("Foo {0} Baz {1}",bar,yo);`

That way, loggers can apply whatever logic they need to the formatting template.

[2015-08-31 14:17] michaelsync opened #1284 "Akka.TestKit.Xunit error with Xunit v2"
Hello,

I have the following packages in my test project.

[code]

I am getting this error below when I run the test. The method "ExpectMsg" is throwing this exception.  Is it because xunit v2 is not compatible Akka.TestKit.Xunit 1.4?

Result Message:	System.IO.FileNotFoundException : Could not load file or assembly 'xunit, Version=1.9.2.1705, Culture=neutral, PublicKeyToken=8d05b1bb7a6fdb6c' or o

[2015-08-31 14:30] raymens opened #1285 "1.0.4 breaks F# actors that send unit to actors that allow _ messages"
Actors that accept `_` in F# will not receive any messages send as a `()` *(unit)*. If the message is something else like a string, it does work. Or if the actor specifically accepts a `()` *(unit)* it also works.

Our codebase contains several pieces of code where this issue happens and as such we can't upgrade to 1.0.4 without altering our codebase.

Code sample that shows the issue:
[code]